# NAB unfolded
In this notebook we will explore the code fot Anomaly Detection, presented in [NAB](https://github.com/numenta/NAB), since is it seems to be the most reliable version.

[Here](https://www.youtube.com/watch?v=-N-2Cv-Q8h8) a presentation of the code `NAB/nab/detectors/numenta/numenta_detector.py`.

**PROCESS**: `input > create_model > encoder > SP > TM > AnomalyScore > AnomalyLH`

1. Everything is executed by **run.py**, which takes in a lot of information to start **runner.py**, which specifies the set of profiles, thresholds, and/or detectors --`numenta` in our case. 
1. To **LOAD the data .csv**, `runner.py` calls the script **corpus.py** which has two classes, *DataFile* followed by *Corpus*. *DataFile* loads the .csv which is called in the class *Corpus* in `#123`, `#135`. 
1. Afterwards, in **runner.py** `#93` calls the class *CorpusLaber* from **labeler.py**, which takes care af aggregating the groundtruth labels and saving to .json the timestamps for the anomaly.
1. **runner.py** executes the different detectors: *detect()* `#99` --> **numenta_detector.py** 
1. **numenta_detector.py** is more a wrapper that contains the childclass *NumentaDetector(AnomalyDetector)* `#42` which inherits methods from the parent class `AnomalyDetector` descripted in **base.py**, such `getAdditionalHeaders()` and `handleRecord()`
1. In **base.py**, *AnomalyDetector* takes as argument `dataSet` that is loaded using *Corpus* and among all, transforms our `pd.Dataframe`  into a `dict` *InputData*.
1. *handleRecord* in **anomaly-detector.py** calculates *Anomaly Score*, and *Anomaly LH*, called `rawScore` and `anomalyScore` respectively from `dict` *InputData* **????? #83**.
1. In **anomaly-detector.py**, the Model is initialized in `#113`, but it is not clear (to me), how is it feed with info. 
    ```
      def initialize(self):
        # Get config params, setting the RDSE resolution
        rangePadding = abs(self.inputMax - self.inputMin) * 0.2
        modelParams = getScalarMetricWithTimeOfDayAnomalyParams(
          metricData=[0],
          minVal=self.inputMin-rangePadding,
          maxVal=self.inputMax+rangePadding,
          minResolution=0.001,
          tmImplementation = "cpp"
        )["modelConfig"]
    ```
1. In **numenta_detector.py** `#116` Our first intuition is to get an overview of the fnc `from nupic.frameworks.opf.common_models.cluster_params import(getScalarMetricWithTimeOfDayAnomalyParams)`, 
[PATH](~/.local/share/virtualenvs/nupic-JMYHf7mp/lib/python2.7/site-packages/nupic/frameworks/opf/common_models/cluster_params.py`) since is the scripts that feeds the *Model*. 
1. **cluster_params.py**:
    - `#120`: **def _rangeGen(data, std=1)** calculates min/max values to use given the data and returns `minval, maxval` that are passed to `getScalarMetricWithTimeOfDayAnomalyParams` in `#29`
    - `#29`: **def getScalarMetricWithTimeOfDayAnomalyParams** returns a dict that will be the input of `nupic.frameworks.opf.model_factory.ModelFactory.create`.
    The dict contains `modelConfig` and `inferenceArgs` top-level properties. The value of the `modelConfig` property is for passing to `~nupic.frameworks.opf.model_factory.ModelFactory.create` method as the `modelConfig` parameter. The `inferenceArgs` property is for passing to the resulting model's `~nupic.frameworks.opf.model.Model.enableInference` method as the `inferenceArgs` parameter.
    
/ 1. In `numenta_detector.py #141` is defined the fnc `_setupEncoderParams(self, encoderParams)`, but some puzzle is missing.

### Load Data

**class Corpus** in courpus.py

In [1]:
import copy
import os
import pandas

from nab.util import (absoluteFilePaths,
                      createPath)

In [2]:
class Corpus(object):
  """
  Class for storing and manipulating a corpus of data where each datafile is
  stored as a DataFile object.
  """

  def __init__(self, srcRoot):
    """
    @param srcRoot    (string)    Source directory of corpus.
    """
    self.srcRoot = srcRoot
    self.dataFiles = self.getDataFiles()
    self.numDataFiles = len(self.dataFiles)


  def getDataFiles(self):
    """
    Collect all CSV data files from self.srcRoot directory.

    @return (dict)    Keys are relative paths (from self.srcRoot) and values are
                      the corresponding data files.
    """
    filePaths = absoluteFilePaths(self.srcRoot)
    dataSets = [DataFile(path) for path in filePaths if ".csv" in path]

    def getRelativePath(srcRoot, srcPath):
      return srcPath[srcPath.index(srcRoot)+len(srcRoot):]\
        .strip(os.path.sep).replace(os.path.sep, "/")

    return {getRelativePath(self.srcRoot, d.srcPath) : d for d in dataSets}


  def addColumn(self, columnName, data, write=False):
    """
    Add column to entire corpus given columnName and dictionary of data for each
    file in the corpus. If newRoot is given then corpus is copied and then
    modified.

    @param columnName   (string)  Name of the column in the datafile to add.

    @param data         (dict)    Dictionary containing key value pairs of a
                                  relative path and its corresponding
                                  datafile (as a pandas.Series).

    @param write        (boolean) Flag to decide whether to write corpus
                                  modificiations or not.
    """

    for relativePath in self.dataFiles.keys():
      self.dataFiles[relativePath].modifyData(
        columnName, data[relativePath], write=write)


  def removeColumn(self, columnName, write=False):
    """
    Remove column from entire corpus given columnName. If newRoot if given then
    corpus is copied and then modified.

    @param columnName   (string)  Name of the column in the datafile to add.

    @param write        (boolean) Flag to decide whether to write corpus
                                  modificiations or not.
    """
    for relativePath in self.dataFiles.keys():
      self.dataFiles[relativePath].modifyData(columnName, write=write)

  def copy(self, newRoot=None):
    """Copy corpus to a newRoot which cannot already exist.

    @param newRoot      (string)      Location of new directory to copy corpus
                                      to.
    """
    if newRoot[-1] != os.path.sep:
      newRoot += os.path.sep
    if os.path.isdir(newRoot):
      print "directory already exists"
      return None
    else:
      createPath(newRoot)

    newCorpus = Corpus(newRoot)
    for relativePath in self.dataFiles.keys():
      newCorpus.addDataSet(relativePath, self.dataFiles[relativePath])
    return newCorpus


  def addDataSet(self, relativePath, dataSet):
    """Add datafile to corpus given its realtivePath within the corpus.

    @param relativePath     (string)      Path of the new datafile relative to
                                          the corpus directory.

    @param datafile          (datafile)     Data set to be added to corpus.
    """
    self.dataFiles[relativePath] = copy.deepcopy(dataSet)
    newPath = self.srcRoot + relativePath
    createPath(newPath)
    self.dataFiles[relativePath].srcPath = newPath
    self.dataFiles[relativePath].write()
    self.numDataFiles = len(self.dataFiles)


  def getDataSubset(self, query):
    """
    Get subset of the corpus given a query to match the datafile filename or
    relative path.

    @param query        (string)      Search query for obtainin the subset of
                                      the corpus.

    @return             (dict)        Dictionary containing key value pairs of a
                                      relative path and its corresponding
                                      datafile.
    """
    ans = {}
    for relativePath in self.dataFiles.keys():
      if query in relativePath:
        ans[relativePath] = self.dataFiles[relativePath]
    return ans

class **DataFile** in corpus.py

In [3]:
class DataFile(object):
  """
  Class for storing and manipulating a single datafile.
  Data is stored in pandas.DataFrame
  """

  def __init__(self, srcPath):
    """
    @param srcPath (string)   Filename of datafile to read.
    """
    self.srcPath = srcPath  # path to file inclusive .csv

    self.fileName = os.path.split(srcPath)[1]  # select .csv name

    self.data = pandas.io.parsers.read_csv(self.srcPath,
                                           header=0, parse_dates=[0])  # header True, col[0] as date


  def write(self, newPath=None):
    """Write datafile to self.srcPath or newPath if given.

    @param newPath (string)   Path to write datafile to. If path is not given,
                              write to source path
    """

    path = newPath if newPath else self.srcPath
    self.data.to_csv(path, index=False)


  def modifyData(self, columnName, data=None, write=False):
    """Add columnName to datafile if data is given otherwise remove
    columnName.

    @param columnName (string)          Name of the column in the datafile to
                                        either add or remove.

    @param data       (pandas.Series)   Column data to be added to datafile.
                                        Data length should be as long as the
                                        length of other columns.

    @param write      (boolean) Flag to choose whether to write modifications to
                                source path.
    """
    if isinstance(data, pandas.Series):
      self.data[columnName] = data
    else:
      if columnName in self.data:
        del self.data[columnName]

    if write:
      self.write()


  def getTimestampRange(self, t1, t2):
    """Given timestamp range, get all records that are within that range.

    @param t1   (int)   Starting timestamp.

    @param t2   (int)   Ending timestamp.

    @return     (list)  Timestamp and value for each time stamp within the
                        timestamp range.
    """
    tmp = self.data[self.data["timestamp"] >= t1]
    ans = tmp[tmp["timestamp"] <= t2]["timestamp"].tolist()
    return ans


  def __str__(self):
    ans = ""
    ans += "path:                %s\n" % self.srcPath
    ans += "file name:           %s\n"% self.fileName
    ans += "data size:         ", self.data.shape()
    ans += "sample line: %s\n" % ", ".join(self.data[0])
    return ans

example of `DataFile` output

In [4]:
temp = DataFile("data/artificialNoAnomaly/art_daily_no_noise.csv")
vars(temp)

{'data':                timestamp     value
 0    2014-04-01 00:00:00  20.00000
 1    2014-04-01 00:05:00  20.00000
 2    2014-04-01 00:10:00  20.00000
 3    2014-04-01 00:15:00  20.00000
 4    2014-04-01 00:20:00  20.00000
 5    2014-04-01 00:25:00  20.00000
 6    2014-04-01 00:30:00  20.00000
 7    2014-04-01 00:35:00  20.00000
 8    2014-04-01 00:40:00  20.00000
 9    2014-04-01 00:45:00  20.00000
 10   2014-04-01 00:50:00  20.00000
 11   2014-04-01 00:55:00  20.00000
 12   2014-04-01 01:00:00  20.00000
 13   2014-04-01 01:05:00  20.00000
 14   2014-04-01 01:10:00  20.00000
 15   2014-04-01 01:15:00  20.00000
 16   2014-04-01 01:20:00  20.00000
 17   2014-04-01 01:25:00  20.00000
 18   2014-04-01 01:30:00  20.00000
 19   2014-04-01 01:35:00  20.00000
 20   2014-04-01 01:40:00  20.00000
 21   2014-04-01 01:45:00  20.00000
 22   2014-04-01 01:50:00  20.00000
 23   2014-04-01 01:55:00  20.00000
 24   2014-04-01 02:00:00  20.00000
 25   2014-04-01 02:05:00  20.00000
 26   2014-04-01 02:10:00  20.00000
 27   2014-04-01 02:15:00  20.00000
 28   2014-04-01 02:20:00  20.00000
 29   2014-04-01 02:25:00  20.00000
 ...                  ...       ...
 4002 2014-04-14 21:30:00  20.09600
 4003 2014-04-14 21:35:00  20.09600
 4004 2014-04-14 21:40:00  20.09600
 4005 2014-04-14 21:45:00  20.09600
 4006 2014-04-14 21:50:00  20.09600
 4007 2014-04-14 21:55:00  20.09600
 4008 2014-04-14 22:00:00  20.01920
 4009 2014-04-14 22:05:00  20.01920
 4010 2014-04-14 22:10:00  20.01920
 4011 2014-04-14 22:15:00  20.01920
 4012 2014-04-14 22:20:00  20.01920
 4013 2014-04-14 22:25:00  20.01920
 4014 2014-04-14 22:30:00  20.01920
 4015 2014-04-14 22:35:00  20.01920
 4016 2014-04-14 22:40:00  20.01920
 4017 2014-04-14 22:45:00  20.01920
 4018 2014-04-14 22:50:00  20.01920
 4019 2014-04-14 22:55:00  20.01920
 4020 2014-04-14 23:00:00  20.00384
 4021 2014-04-14 23:05:00  20.00384
 4022 2014-04-14 23:10:00  20.00384
 4023 2014-04-14 23:15:00  20.00384
 4024 2014-04-14 23:20:00  20.00384
 4025 2014-04-14 23:25:00  20.00384
 4026 2014-04-14 23:30:00  20.00384
 4027 2014-04-14 23:35:00  20.00384
 4028 2014-04-14 23:40:00  20.00384
 4029 2014-04-14 23:45:00  20.00384
 4030 2014-04-14 23:50:00  20.00384
 4031 2014-04-14 23:55:00  20.00384

 [4032 rows x 2 columns],
 'fileName': 'art_daily_no_noise.csv',
 'srcPath': 'data/artificialNoAnomaly/art_daily_no_noise.csv'}

exploring method **getDataFiles()**, in class Corpus, which calls the class **DataFile**

In [5]:
filePaths = absoluteFilePaths("data/")
dataSets = [DataFile(path) for path in filePaths if ".csv" in path] #DataFile loaded by DataFile class
dataSets[1].data  # access items in dataSets which is a list of DataFile objects

               timestamp      value
0    2014-04-01 00:00:00  18.622185
1    2014-04-01 00:05:00   8.163417
2    2014-04-01 00:10:00  13.292383
3    2014-04-01 00:15:00  11.667046
4    2014-04-01 00:20:00  12.940358
5    2014-04-01 00:25:00  14.277310
6    2014-04-01 00:30:00  12.791481
7    2014-04-01 00:35:00  12.563315
8    2014-04-01 00:40:00  16.059958
9    2014-04-01 00:45:00  15.544639
10   2014-04-01 00:50:00  17.165984
11   2014-04-01 00:55:00  10.749549
12   2014-04-01 01:00:00  14.704814
13   2014-04-01 01:05:00  14.437143
14   2014-04-01 01:10:00  12.067116
15   2014-04-01 01:15:00  13.346633
16   2014-04-01 01:20:00  11.451604
17   2014-04-01 01:25:00   9.560288
18   2014-04-01 01:30:00  10.351813
19   2014-04-01 01:35:00   9.160650
20   2014-04-01 01:40:00  15.513765
21   2014-04-01 01:45:00  15.268001
22   2014-04-01 01:50:00  18.456670
23   2014-04-01 01:55:00  16.026463
24   2014-04-01 02:00:00   8.572504
25   2014-04-01 02:05:00  17.726697
26   2014-04-01 02:10:00  17.489427
27   2014-04-01 02:15:00  12.876524
28   2014-04-01 02:20:00  14.444494
29   2014-04-01 02:25:00  18.736862
...                  ...        ...
4002 2014-04-14 21:30:00  11.645336
4003 2014-04-14 21:35:00  18.749657
4004 2014-04-14 21:40:00  17.497874
4005 2014-04-14 21:45:00  11.553479
4006 2014-04-14 21:50:00  13.101587
4007 2014-04-14 21:55:00  12.565859
4008 2014-04-14 22:00:00   9.640052
4009 2014-04-14 22:05:00  18.536013
4010 2014-04-14 22:10:00  12.447437
4011 2014-04-14 22:15:00  17.628620
4012 2014-04-14 22:20:00  10.082919
4013 2014-04-14 22:25:00  14.026579
4014 2014-04-14 22:30:00   8.263575
4015 2014-04-14 22:35:00  16.406425
4016 2014-04-14 22:40:00  14.390053
4017 2014-04-14 22:45:00  14.881485
4018 2014-04-14 22:50:00   8.568930
4019 2014-04-14 22:55:00  10.321422
4020 2014-04-14 23:00:00   8.817640
4021 2014-04-14 23:05:00  11.178057
4022 2014-04-14 23:10:00  14.901829
4023 2014-04-14 23:15:00  14.228046
4024 2014-04-14 23:20:00  14.733648
4025 2014-04-14 23:25:00  14.041764
4026 2014-04-14 23:30:00  11.003317
4027 2014-04-14 23:35:00  10.689582
4028 2014-04-14 23:40:00   9.507657
4029 2014-04-14 23:45:00  17.339780
4030 2014-04-14 23:50:00  14.781273
4031 2014-04-14 23:55:00  10.051621

[4032 rows x 2 columns]

In [6]:
#list(os.walk("data"))

In [7]:
len(dataSets)

58

class **AnomalyDetector** in base.py

In [8]:
import abc
import os
import pandas
import sys

from datetime import datetime
from nab.util import createPath, getProbationPeriod

class AnomalyDetector(object):
  """
  Base class for all anomaly detectors. When inheriting from this class please
  take note of which methods MUST be overridden, as documented below.
  """
  __metaclass__ = abc.ABCMeta

  def __init__( self,
                dataSet,
                probationaryPercent):

    self.dataSet = dataSet
    self.probationaryPeriod = getProbationPeriod(
      probationaryPercent, dataSet.data.shape[0])

    self.inputMin = self.dataSet.data["value"].min()
    self.inputMax = self.dataSet.data["value"].max()


  def initialize(self):
    """Do anything to initialize your detector in before calling run.

    Pooling across cores forces a pickling operation when moving objects from
    the main core to the pool and this may not always be possible. This function
    allows you to create objects within the pool itself to avoid this issue.
    """
    pass

  def getAdditionalHeaders(self):
    """
    Returns a list of strings. Subclasses can add in additional columns per
    record.

    This method MAY be overridden to provide the names for those
    columns.
    """
    return []


  @abc.abstractmethod
  def handleRecord(self, inputData):
    """
    Returns a list [anomalyScore, *]. It is required that the first
    element of the list is the anomalyScore. The other elements may
    be anything, but should correspond to the names returned by
    getAdditionalHeaders().

    This method MUST be overridden by subclasses
    """
    raise NotImplementedError


  def getHeader(self):
    """
    Gets the outputPath and all the headers needed to write the results files.
    """
    headers = ["timestamp",
                "value",
                "anomaly_score"]

    headers.extend(self.getAdditionalHeaders())

    return headers


  def run(self):
    """
    Main function that is called to collect anomaly scores for a given file.
    """

    headers = self.getHeader()

    rows = []
    for i, row in self.dataSet.data.iterrows():

      inputData = row.to_dict()

      detectorValues = self.handleRecord(inputData)

      outputRow = list(row) + list(detectorValues)

      rows.append(outputRow)

      # Progress report
      if (i % 1000) == 0:
        print ".",
        sys.stdout.flush()

    ans = pandas.DataFrame(rows, columns=headers)
    return ans

In [9]:
#AnomalyDetector(dataSets[0])

We can not simply call the class.

**run()** method in class AnomalyDetector which calls the class **Corpus** and outputs a dict

In [10]:
row = []

for i, row in dataSets[1].data.iterrows():
    inputData = row.to_dict()
    print i
    print row

0
timestamp    2014-04-01 00:00:00
value                    18.6222
Name: 0, dtype: object
1
timestamp    2014-04-01 00:05:00
value                    8.16342
Name: 1, dtype: object
2
timestamp    2014-04-01 00:10:00
value                    13.2924
Name: 2, dtype: object
3
timestamp    2014-04-01 00:15:00
value                     11.667
Name: 3, dtype: object
4
timestamp    2014-04-01 00:20:00
value                    12.9404
Name: 4, dtype: object
5
timestamp    2014-04-01 00:25:00
value                    14.2773
Name: 5, dtype: object
6
timestamp    2014-04-01 00:30:00
value                    12.7915
Name: 6, dtype: object
7
timestamp    2014-04-01 00:35:00
value                    12.5633
Name: 7, dtype: object
8
timestamp    2014-04-01 00:40:00
value                      16.06
Name: 8, dtype: object
9
timestamp    2014-04-01 00:45:00
value                    15.5446
Name: 9, dtype: object
10
timestamp    2014-04-01 00:50:00
value                     17.166
Name: 10, dtype: object
11
timestamp    2014-04-01 00:55:00
value                    10.7495
Name: 11, dtype: object
12
timestamp    2014-04-01 01:00:00
value                    14.7048
Name: 12, dtype: object
13
timestamp    2014-04-01 01:05:00
value                    14.4371
Name: 13, dtype: object
14
timestamp    2014-04-01 01:10:00
value                    12.0671
Name: 14, dtype: object
15
timestamp    2014-04-01 01:15:00
value                    13.3466
Name: 15, dtype: object
16
timestamp    2014-04-01 01:20:00
value                    11.4516
Name: 16, dtype: object
17
timestamp    2014-04-01 01:25:00
value                    9.56029
Name: 17, dtype: object
18
timestamp    2014-04-01 01:30:00
value                    10.3518
Name: 18, dtype: object
19
timestamp    2014-04-01 01:35:00
value                    9.16065
Name: 19, dtype: object
20
timestamp    2014-04-01 01:40:00
value                    15.5138
Name: 20, dtype: object
21
timestamp    2014-04-01 01:45:00
value                     15.268
Name: 21, dtype: object
22
timestamp    2014-04-01 01:50:00
value                    18.4567
Name: 22, dtype: object
23
timestamp    2014-04-01 01:55:00
value                    16.0265
Name: 23, dtype: object
24
timestamp    2014-04-01 02:00:00
value                     8.5725
Name: 24, dtype: object
25
timestamp    2014-04-01 02:05:00
value                    17.7267
Name: 25, dtype: object
26
timestamp    2014-04-01 02:10:00
value                    17.4894
Name: 26, dtype: object
27
timestamp    2014-04-01 02:15:00
value                    12.8765
Name: 27, dtype: object
28
timestamp    2014-04-01 02:20:00
value                    14.4445
Name: 28, dtype: object
29
timestamp    2014-04-01 02:25:00
value                    18.7369
Name: 29, dtype: object
30
timestamp    2014-04-01 02:30:00
value                    13.8553
Name: 30, dtype: object
31
timestamp    2014-04-01 02:35:00
value                    17.9585
Name: 31, dtype: object
32
timestamp    2014-04-01 02:40:00
value                    8.91343
Name: 32, dtype: object
33
timestamp    2014-04-01 02:45:00
value                    10.1016
Name: 33, dtype: object
34
timestamp    2014-04-01 02:50:00
value                    12.8483
Name: 34, dtype: object
35
timestamp    2014-04-01 02:55:00
value                    14.4323
Name: 35, dtype: object
36
timestamp    2014-04-01 03:00:00
value                    16.9785
Name: 36, dtype: object
37
timestamp    2014-04-01 03:05:00
value                    18.8709
Name: 37, dtype: object
38
timestamp    2014-04-01 03:10:00
value                    12.2774
Name: 38, dtype: object
39
timestamp    2014-04-01 03:15:00
value                    8.52157
Name: 39, dtype: object
40
timestamp    2014-04-01 03:20:00
value                    16.8129
Name: 40, dtype: object
41
timestamp    2014-04-01 03:25:00
value                    14.6482
Name: 41, dtype: object
42
timestamp    2014-04-01 03:30:00
value                     10.184
Name: 42, dtype: object
43
timestamp    2014-04-01 03:35:00
value                    13.4431
Name: 43, dtype: object
44
timestamp    2014-04-01 03:40:00
value                    16.1654
Name: 44, dtype: object
45
timestamp    2014-04-01 03:45:00
value                    16.4745
Name: 45, dtype: object
46
timestamp    2014-04-01 03:50:00
value                    13.4958
Name: 46, dtype: object
47
timestamp    2014-04-01 03:55:00
value                    11.3574
Name: 47, dtype: object
48
timestamp    2014-04-01 04:00:00
value                    18.7112
Name: 48, dtype: object
49
timestamp    2014-04-01 04:05:00
value                     15.297
Name: 49, dtype: object
50
timestamp    2014-04-01 04:10:00
value                    12.4906
Name: 50, dtype: object
51
timestamp    2014-04-01 04:15:00
value                    11.0851
Name: 51, dtype: object
52
timestamp    2014-04-01 04:20:00
value                    16.0421
Name: 52, dtype: object
53
timestamp    2014-04-01 04:25:00
value                     10.664
Name: 53, dtype: object
54
timestamp    2014-04-01 04:30:00
value                    9.88881
Name: 54, dtype: object
55
timestamp    2014-04-01 04:35:00
value                    13.8282
Name: 55, dtype: object
56
timestamp    2014-04-01 04:40:00
value                    11.1899
Name: 56, dtype: object
57
timestamp    2014-04-01 04:45:00
value                     14.918
Name: 57, dtype: object
58
timestamp    2014-04-01 04:50:00
value                    9.29733
Name: 58, dtype: object
59
timestamp    2014-04-01 04:55:00
value                    15.2044
Name: 59, dtype: object
60
timestamp    2014-04-01 05:00:00
value                    11.1163
Name: 60, dtype: object
61
timestamp    2014-04-01 05:05:00
value                    8.00267
Name: 61, dtype: object
62
timestamp    2014-04-01 05:10:00
value                     9.3963
Name: 62, dtype: object
63
timestamp    2014-04-01 05:15:00
value                    18.2698
Name: 63, dtype: object
64
timestamp    2014-04-01 05:20:00
value                    17.5409
Name: 64, dtype: object
65
timestamp    2014-04-01 05:25:00
value                    10.5697
Name: 65, dtype: object
66
timestamp    2014-04-01 05:30:00
value                    16.5621
Name: 66, dtype: object
67
timestamp    2014-04-01 05:35:00
value                    14.6943
Name: 67, dtype: object
68
timestamp    2014-04-01 05:40:00
value                      18.68
Name: 68, dtype: object
69
timestamp    2014-04-01 05:45:00
value                    12.1097
Name: 69, dtype: object
70
timestamp    2014-04-01 05:50:00
value                    15.4961
Name: 70, dtype: object
71
timestamp    2014-04-01 05:55:00
value                    8.69889
Name: 71, dtype: object
72
timestamp    2014-04-01 06:00:00
value                    12.3587
Name: 72, dtype: object
73
timestamp    2014-04-01 06:05:00
value                     18.602
Name: 73, dtype: object
74
timestamp    2014-04-01 06:10:00
value                    13.9288
Name: 74, dtype: object
75
timestamp    2014-04-01 06:15:00
value                    11.1667
Name: 75, dtype: object
76
timestamp    2014-04-01 06:20:00
value                    9.32298
Name: 76, dtype: object
77
timestamp    2014-04-01 06:25:00
value                    15.7388
Name: 77, dtype: object
78
timestamp    2014-04-01 06:30:00
value                    15.0934
Name: 78, dtype: object
79
timestamp    2014-04-01 06:35:00
value                    12.1133
Name: 79, dtype: object
80
timestamp    2014-04-01 06:40:00
value                    18.4604
Name: 80, dtype: object
81
timestamp    2014-04-01 06:45:00
value                    8.24423
Name: 81, dtype: object
82
timestamp    2014-04-01 06:50:00
value                     11.341
Name: 82, dtype: object
83
timestamp    2014-04-01 06:55:00
value                    18.1318
Name: 83, dtype: object
84
timestamp    2014-04-01 07:00:00
value                    11.5303
Name: 84, dtype: object
85
timestamp    2014-04-01 07:05:00
value                    10.7748
Name: 85, dtype: object
86
timestamp    2014-04-01 07:10:00
value                    13.8764
Name: 86, dtype: object
87
timestamp    2014-04-01 07:15:00
value                    17.0618
Name: 87, dtype: object
88
timestamp    2014-04-01 07:20:00
value                    9.13461
Name: 88, dtype: object
89
timestamp    2014-04-01 07:25:00
value                    18.3732
Name: 89, dtype: object
90
timestamp    2014-04-01 07:30:00
value                    16.7458
Name: 90, dtype: object
91
timestamp    2014-04-01 07:35:00
value                    9.99375
Name: 91, dtype: object
92
timestamp    2014-04-01 07:40:00
value                    15.8321
Name: 92, dtype: object
93
timestamp    2014-04-01 07:45:00
value                    12.2345
Name: 93, dtype: object
94
timestamp    2014-04-01 07:50:00
value                    12.4252
Name: 94, dtype: object
95
timestamp    2014-04-01 07:55:00
value                    16.6162
Name: 95, dtype: object
96
timestamp    2014-04-01 08:00:00
value                    18.5906
Name: 96, dtype: object
97
timestamp    2014-04-01 08:05:00
value                    9.39321
Name: 97, dtype: object
98
timestamp    2014-04-01 08:10:00
value                    12.6269
Name: 98, dtype: object
99
timestamp    2014-04-01 08:15:00
value                    13.2904
Name: 99, dtype: object
100
timestamp    2014-04-01 08:20:00
value                    12.1394
Name: 100, dtype: object
101
timestamp    2014-04-01 08:25:00
value                    11.9951
Name: 101, dtype: object
102
timestamp    2014-04-01 08:30:00
value                    8.57496
Name: 102, dtype: object
103
timestamp    2014-04-01 08:35:00
value                    15.5409
Name: 103, dtype: object
104
timestamp    2014-04-01 08:40:00
value                    12.7984
Name: 104, dtype: object
105
timestamp    2014-04-01 08:45:00
value                    10.1427
Name: 105, dtype: object
106
timestamp    2014-04-01 08:50:00
value                    16.9764
Name: 106, dtype: object
107
timestamp    2014-04-01 08:55:00
value                    16.8282
Name: 107, dtype: object

108
timestamp    2014-04-01 09:00:00
value                    13.3503
Name: 108, dtype: object
109
timestamp    2014-04-01 09:05:00
value                     11.283
Name: 109, dtype: object
110
timestamp    2014-04-01 09:10:00
value                     15.019
Name: 110, dtype: object
111
timestamp    2014-04-01 09:15:00
value                    11.1697
Name: 111, dtype: object
112
timestamp    2014-04-01 09:20:00
value                    10.5961
Name: 112, dtype: object
113
timestamp    2014-04-01 09:25:00
value                    16.0357
Name: 113, dtype: object
114
timestamp    2014-04-01 09:30:00
value                    8.44358
Name: 114, dtype: object
115
timestamp    2014-04-01 09:35:00
value                    9.04245
Name: 115, dtype: object
116
timestamp    2014-04-01 09:40:00
value                    8.07467
Name: 116, dtype: object
117
timestamp    2014-04-01 09:45:00
value                    9.68238
Name: 117, dtype: object
118
timestamp    2014-04-01 09:50:00
value                    8.75889
Name: 118, dtype: object
119
timestamp    2014-04-01 09:55:00
value                    18.9538
Name: 119, dtype: object
120
timestamp    2014-04-01 10:00:00
value                    11.1769
Name: 120, dtype: object
121
timestamp    2014-04-01 10:05:00
value                    9.64195
Name: 121, dtype: object
122
timestamp    2014-04-01 10:10:00
value                     10.651
Name: 122, dtype: object
123
timestamp    2014-04-01 10:15:00
value                    18.2974
Name: 123, dtype: object
124
timestamp    2014-04-01 10:20:00
value                    13.7218
Name: 124, dtype: object
125
timestamp    2014-04-01 10:25:00
value                     12.013
Name: 125, dtype: object
126
timestamp    2014-04-01 10:30:00
value                    17.6073
Name: 126, dtype: object
127
timestamp    2014-04-01 10:35:00
value                    12.3449
Name: 127, dtype: object
128
timestamp    2014-04-01 10:40:00
value                    11.6851
Name: 128, dtype: object
129
timestamp    2014-04-01 10:45:00
value                    10.2801
Name: 129, dtype: object
130
timestamp    2014-04-01 10:50:00
value                    12.1558
Name: 130, dtype: object
131
timestamp    2014-04-01 10:55:00
value                    11.4835
Name: 131, dtype: object
132
timestamp    2014-04-01 11:00:00
value                    15.4503
Name: 132, dtype: object
133
timestamp    2014-04-01 11:05:00
value                    11.1854
Name: 133, dtype: object
134
timestamp    2014-04-01 11:10:00
value                    14.3492
Name: 134, dtype: object
135
timestamp    2014-04-01 11:15:00
value                    8.72481
Name: 135, dtype: object
136
timestamp    2014-04-01 11:20:00
value                    10.1042
Name: 136, dtype: object
137
timestamp    2014-04-01 11:25:00
value                    12.4815
Name: 137, dtype: object
138
timestamp    2014-04-01 11:30:00
value                    18.3064
Name: 138, dtype: object
139
timestamp    2014-04-01 11:35:00
value                    12.1498
Name: 139, dtype: object
140
timestamp    2014-04-01 11:40:00
value                    15.3048
Name: 140, dtype: object
141
timestamp    2014-04-01 11:45:00
value                     10.806
Name: 141, dtype: object
142
timestamp    2014-04-01 11:50:00
value                    9.39737
Name: 142, dtype: object
143
timestamp    2014-04-01 11:55:00
value                     8.6439
Name: 143, dtype: object
144
timestamp    2014-04-01 12:00:00
value                    11.3595
Name: 144, dtype: object
145
timestamp    2014-04-01 12:05:00
value                    9.73427
Name: 145, dtype: object
146
timestamp    2014-04-01 12:10:00
value                    9.91411
Name: 146, dtype: object
147
timestamp    2014-04-01 12:15:00
value                    16.3684
Name: 147, dtype: object
148
timestamp    2014-04-01 12:20:00
value                    8.17422
Name: 148, dtype: object
149
timestamp    2014-04-01 12:25:00
value                    14.1359
Name: 149, dtype: object
150
timestamp    2014-04-01 12:30:00
value                    12.1741
Name: 150, dtype: object
151
timestamp    2014-04-01 12:35:00
value                     13.572
Name: 151, dtype: object
152
timestamp    2014-04-01 12:40:00
value                    14.1911
Name: 152, dtype: object
153
timestamp    2014-04-01 12:45:00
value                     11.447
Name: 153, dtype: object
154
timestamp    2014-04-01 12:50:00
value                    11.2462
Name: 154, dtype: object
155
timestamp    2014-04-01 12:55:00
value                    16.0674
Name: 155, dtype: object
156
timestamp    2014-04-01 13:00:00
value                     17.584
Name: 156, dtype: object
157
timestamp    2014-04-01 13:05:00
value                    10.1184
Name: 157, dtype: object
158
timestamp    2014-04-01 13:10:00
value                    9.07381
Name: 158, dtype: object
159
timestamp    2014-04-01 13:15:00
value                    17.8758
Name: 159, dtype: object
160
timestamp    2014-04-01 13:20:00
value                    11.8489
Name: 160, dtype: object
161
timestamp    2014-04-01 13:25:00
value                    14.0645
Name: 161, dtype: object
162
timestamp    2014-04-01 13:30:00
value                     11.955
Name: 162, dtype: object
163
timestamp    2014-04-01 13:35:00
value                    9.38383
Name: 163, dtype: object
164
timestamp    2014-04-01 13:40:00
value                    14.4826
Name: 164, dtype: object
165
timestamp    2014-04-01 13:45:00
value                    13.7765
Name: 165, dtype: object
166
timestamp    2014-04-01 13:50:00
value                    10.2329
Name: 166, dtype: object
167
timestamp    2014-04-01 13:55:00
value                    12.9706
Name: 167, dtype: object
168
timestamp    2014-04-01 14:00:00
value                    16.7664
Name: 168, dtype: object
169
timestamp    2014-04-01 14:05:00
value                    14.4947
Name: 169, dtype: object
170
timestamp    2014-04-01 14:10:00
value                    9.06609
Name: 170, dtype: object
171
timestamp    2014-04-01 14:15:00
value                    14.0282
Name: 171, dtype: object
172
timestamp    2014-04-01 14:20:00
value                    15.7301
Name: 172, dtype: object
173
timestamp    2014-04-01 14:25:00
value                    16.7197
Name: 173, dtype: object
174
timestamp    2014-04-01 14:30:00
value                    14.9203
Name: 174, dtype: object
175
timestamp    2014-04-01 14:35:00
value                    9.67924
Name: 175, dtype: object
176
timestamp    2014-04-01 14:40:00
value                    15.8119
Name: 176, dtype: object
177
timestamp    2014-04-01 14:45:00
value                    15.4508
Name: 177, dtype: object
178
timestamp    2014-04-01 14:50:00
value                     8.2687
Name: 178, dtype: object
179
timestamp    2014-04-01 14:55:00
value                    12.5292
Name: 179, dtype: object
180
timestamp    2014-04-01 15:00:00
value                    11.6625
Name: 180, dtype: object
181
timestamp    2014-04-01 15:05:00
value                    15.3635
Name: 181, dtype: object
182
timestamp    2014-04-01 15:10:00
value                    10.3775
Name: 182, dtype: object
183
timestamp    2014-04-01 15:15:00
value                    14.4996
Name: 183, dtype: object
184
timestamp    2014-04-01 15:20:00
value                    18.0453
Name: 184, dtype: object
185
timestamp    2014-04-01 15:25:00
value                    16.7758
Name: 185, dtype: object
186
timestamp    2014-04-01 15:30:00
value                     18.136
Name: 186, dtype: object
187
timestamp    2014-04-01 15:35:00
value                    18.7636
Name: 187, dtype: object
188
timestamp    2014-04-01 15:40:00
value                    8.11737
Name: 188, dtype: object
189
timestamp    2014-04-01 15:45:00
value                    14.8502
Name: 189, dtype: object
190
timestamp    2014-04-01 15:50:00
value                    12.5412
Name: 190, dtype: object
191
timestamp    2014-04-01 15:55:00
value                    17.4584
Name: 191, dtype: object
192
timestamp    2014-04-01 16:00:00
value                      10.77
Name: 192, dtype: object
193
timestamp    2014-04-01 16:05:00
value                    18.7913
Name: 193, dtype: object
194
timestamp    2014-04-01 16:10:00
value                    14.7508
Name: 194, dtype: object
195
timestamp    2014-04-01 16:15:00
value                    16.7289
Name: 195, dtype: object
196
timestamp    2014-04-01 16:20:00
value                     8.9416
Name: 196, dtype: object
197
timestamp    2014-04-01 16:25:00
value                     10.018
Name: 197, dtype: object
198
timestamp    2014-04-01 16:30:00
value                    16.3424
Name: 198, dtype: object
199
timestamp    2014-04-01 16:35:00
value                    8.24185
Name: 199, dtype: object
200
timestamp    2014-04-01 16:40:00
value                    16.9857
Name: 200, dtype: object
201
timestamp    2014-04-01 16:45:00
value                    8.15344
Name: 201, dtype: object
202
timestamp    2014-04-01 16:50:00
value                    15.2283
Name: 202, dtype: object
203
timestamp    2014-04-01 16:55:00
value                     12.016
Name: 203, dtype: object
204
timestamp    2014-04-01 17:00:00
value                    14.7264
Name: 204, dtype: object
205
timestamp    2014-04-01 17:05:00
value                    15.6563
Name: 205, dtype: object
206
timestamp    2014-04-01 17:10:00
value                    11.7672
Name: 206, dtype: object
207
timestamp    2014-04-01 17:15:00
value                    9.18759
Name: 207, dtype: object
208
timestamp    2014-04-01 17:20:00
value                     8.7661
Name: 208, dtype: object
209
timestamp    2014-04-01 17:25:00
value                    14.4783
Name: 209, dtype: object
210
timestamp    2014-04-01 17:30:00
value                    13.7272
Name: 210, dtype: object
211
timestamp    2014-04-01 17:35:00
value                    16.1642
Name: 211, dtype: object
212
timestamp    2014-04-01 17:40:00
value                    13.6071
Name: 212, dtype: object
213
timestamp    2014-04-01 17:45:00
value                    12.6469
Name: 213, dtype: object
214
timestamp    2014-04-01 17:50:00
value                     12.379
Name: 214, dtype: object
215
timestamp    2014-04-01 17:55:00
value                    8.29092
Name: 215, dtype: object
216
timestamp    2014-04-01 18:00:00
value                    11.6911
Name: 216, dtype: object
217
timestamp    2014-04-01 18:05:00
value                    18.7362
Name: 217, dtype: object
218
timestamp    2014-04-01 18:10:00
value                    17.6091
Name: 218, dtype: object
219
timestamp    2014-04-01 18:15:00
value                    11.6232
Name: 219, dtype: object
220
timestamp    2014-04-01 18:20:00
value                    14.4657
Name: 220, dtype: object
221
timestamp    2014-04-01 18:25:00
value                    17.3203
Name: 221, dtype: object
222
timestamp    2014-04-01 18:30:00
value                     12.854
Name: 222, dtype: object
223
timestamp    2014-04-01 18:35:00
value                    8.19754
Name: 223, dtype: object
224
timestamp    2014-04-01 18:40:00
value                    8.81962
Name: 224, dtype: object
225
timestamp    2014-04-01 18:45:00
value                    13.6143
Name: 225, dtype: object
226
timestamp    2014-04-01 18:50:00
value                    18.6638
Name: 226, dtype: object
227
timestamp    2014-04-01 18:55:00
value                    15.6253
Name: 227, dtype: object
228
timestamp    2014-04-01 19:00:00
value                    8.78008
Name: 228, dtype: object
229
timestamp    2014-04-01 19:05:00
value                     10.083
Name: 229, dtype: object
230
timestamp    2014-04-01 19:10:00
value                    16.4846
Name: 230, dtype: object
231
timestamp    2014-04-01 19:15:00
value                    17.2558
Name: 231, dtype: object
232
timestamp    2014-04-01 19:20:00
value                    14.7946
Name: 232, dtype: object
233
timestamp    2014-04-01 19:25:00
value                    15.0887

Name: 233, dtype: object
234
timestamp    2014-04-01 19:30:00
value                    8.31171
Name: 234, dtype: object
235
timestamp    2014-04-01 19:35:00
value                    17.1138
Name: 235, dtype: object
236
timestamp    2014-04-01 19:40:00
value                     16.671
Name: 236, dtype: object
237
timestamp    2014-04-01 19:45:00
value                    10.8494
Name: 237, dtype: object
238
timestamp    2014-04-01 19:50:00
value                    15.7954
Name: 238, dtype: object
239
timestamp    2014-04-01 19:55:00
value                    10.3634
Name: 239, dtype: object
240
timestamp    2014-04-01 20:00:00
value                    8.44363
Name: 240, dtype: object
241
timestamp    2014-04-01 20:05:00
value                    10.2125
Name: 241, dtype: object
242
timestamp    2014-04-01 20:10:00
value                    9.96492
Name: 242, dtype: object
243
timestamp    2014-04-01 20:15:00
value                    11.7152
Name: 243, dtype: object
244
timestamp    2014-04-01 20:20:00
value                    12.6029
Name: 244, dtype: object
245
timestamp    2014-04-01 20:25:00
value                    13.5939
Name: 245, dtype: object
246
timestamp    2014-04-01 20:30:00
value                    13.2443
Name: 246, dtype: object
247
timestamp    2014-04-01 20:35:00
value                    10.9774
Name: 247, dtype: object
248
timestamp    2014-04-01 20:40:00
value                    8.32088
Name: 248, dtype: object
249
timestamp    2014-04-01 20:45:00
value                    14.6561
Name: 249, dtype: object
250
timestamp    2014-04-01 20:50:00
value                    12.3532
Name: 250, dtype: object
251
timestamp    2014-04-01 20:55:00
value                    11.2854
Name: 251, dtype: object
252
timestamp    2014-04-01 21:00:00
value                    17.5364
Name: 252, dtype: object
253
timestamp    2014-04-01 21:05:00
value                    16.2142
Name: 253, dtype: object
254
timestamp    2014-04-01 21:10:00
value                    17.4354
Name: 254, dtype: object
255
timestamp    2014-04-01 21:15:00
value                    13.4448
Name: 255, dtype: object
256
timestamp    2014-04-01 21:20:00
value                    9.44024
Name: 256, dtype: object
257
timestamp    2014-04-01 21:25:00
value                    15.6584
Name: 257, dtype: object
258
timestamp    2014-04-01 21:30:00
value                    10.2668
Name: 258, dtype: object
259
timestamp    2014-04-01 21:35:00
value                    12.8535
Name: 259, dtype: object
260
timestamp    2014-04-01 21:40:00
value                    8.71501
Name: 260, dtype: object
261
timestamp    2014-04-01 21:45:00
value                    17.0784
Name: 261, dtype: object
262
timestamp    2014-04-01 21:50:00
value                    9.38535
Name: 262, dtype: object
263
timestamp    2014-04-01 21:55:00
value                    17.9341
Name: 263, dtype: object
264
timestamp    2014-04-01 22:00:00
value                    17.5065
Name: 264, dtype: object
265
timestamp    2014-04-01 22:05:00
value                    13.1104
Name: 265, dtype: object
266
timestamp    2014-04-01 22:10:00
value                    16.1881
Name: 266, dtype: object
267
timestamp    2014-04-01 22:15:00
value                    14.8139
Name: 267, dtype: object
268
timestamp    2014-04-01 22:20:00
value                    16.8338
Name: 268, dtype: object
269
timestamp    2014-04-01 22:25:00
value                    12.7499
Name: 269, dtype: object
270
timestamp    2014-04-01 22:30:00
value                    16.6439
Name: 270, dtype: object
271
timestamp    2014-04-01 22:35:00
value                     13.087
Name: 271, dtype: object
272
timestamp    2014-04-01 22:40:00
value                    18.3506
Name: 272, dtype: object
273
timestamp    2014-04-01 22:45:00
value                    13.3501
Name: 273, dtype: object
274
timestamp    2014-04-01 22:50:00
value                    13.0888
Name: 274, dtype: object
275
timestamp    2014-04-01 22:55:00
value                    16.6358
Name: 275, dtype: object
276
timestamp    2014-04-01 23:00:00
value                    17.0374
Name: 276, dtype: object
277
timestamp    2014-04-01 23:05:00
value                    14.0994
Name: 277, dtype: object
278
timestamp    2014-04-01 23:10:00
value                    9.97778
Name: 278, dtype: object
279
timestamp    2014-04-01 23:15:00
value                    13.1453
Name: 279, dtype: object
280
timestamp    2014-04-01 23:20:00
value                    18.6488
Name: 280, dtype: object
281
timestamp    2014-04-01 23:25:00
value                    16.2828
Name: 281, dtype: object
282
timestamp    2014-04-01 23:30:00
value                    16.9228
Name: 282, dtype: object
283
timestamp    2014-04-01 23:35:00
value                    8.36108
Name: 283, dtype: object
284
timestamp    2014-04-01 23:40:00
value                    13.1465
Name: 284, dtype: object
285
timestamp    2014-04-01 23:45:00
value                    15.1128
Name: 285, dtype: object
286
timestamp    2014-04-01 23:50:00
value                    17.1304
Name: 286, dtype: object
287
timestamp    2014-04-01 23:55:00
value                    8.54201
Name: 287, dtype: object
288
timestamp    2014-04-02 00:00:00
value                    17.3768
Name: 288, dtype: object
289
timestamp    2014-04-02 00:05:00
value                    14.0324
Name: 289, dtype: object
290
timestamp    2014-04-02 00:10:00
value                    10.1705
Name: 290, dtype: object
291
timestamp    2014-04-02 00:15:00
value                    11.4898
Name: 291, dtype: object
292
timestamp    2014-04-02 00:20:00
value                    11.1012
Name: 292, dtype: object
293
timestamp    2014-04-02 00:25:00
value                    13.8394
Name: 293, dtype: object
294
timestamp    2014-04-02 00:30:00
value                    8.56854
Name: 294, dtype: object
295
timestamp    2014-04-02 00:35:00
value                     9.7439
Name: 295, dtype: object
296
timestamp    2014-04-02 00:40:00
value                    16.9396
Name: 296, dtype: object
297
timestamp    2014-04-02 00:45:00
value                    9.45864
Name: 297, dtype: object
298
timestamp    2014-04-02 00:50:00
value                    10.5674
Name: 298, dtype: object
299
timestamp    2014-04-02 00:55:00
value                    12.9871
Name: 299, dtype: object
300
timestamp    2014-04-02 01:00:00
value                    13.6883
Name: 300, dtype: object
301
timestamp    2014-04-02 01:05:00
value                    16.3997
Name: 301, dtype: object
302
timestamp    2014-04-02 01:10:00
value                    12.9207
Name: 302, dtype: object
303
timestamp    2014-04-02 01:15:00
value                    16.6885
Name: 303, dtype: object
304
timestamp    2014-04-02 01:20:00
value                    14.8018
Name: 304, dtype: object
305
timestamp    2014-04-02 01:25:00
value                     9.2441
Name: 305, dtype: object
306
timestamp    2014-04-02 01:30:00
value                    9.71965
Name: 306, dtype: object
307
timestamp    2014-04-02 01:35:00
value                    12.8074
Name: 307, dtype: object
308
timestamp    2014-04-02 01:40:00
value                    12.3658
Name: 308, dtype: object
309
timestamp    2014-04-02 01:45:00
value                     16.179
Name: 309, dtype: object
310
timestamp    2014-04-02 01:50:00
value                    14.3881
Name: 310, dtype: object
311
timestamp    2014-04-02 01:55:00
value                    12.2695
Name: 311, dtype: object
312
timestamp    2014-04-02 02:00:00
value                    9.87836
Name: 312, dtype: object
313
timestamp    2014-04-02 02:05:00
value                    10.4952
Name: 313, dtype: object
314
timestamp    2014-04-02 02:10:00
value                    14.3305
Name: 314, dtype: object
315
timestamp    2014-04-02 02:15:00
value                    12.6578
Name: 315, dtype: object
316
timestamp    2014-04-02 02:20:00
value                    13.6642
Name: 316, dtype: object
317
timestamp    2014-04-02 02:25:00
value                    9.87745
Name: 317, dtype: object
318
timestamp    2014-04-02 02:30:00
value                     15.292
Name: 318, dtype: object
319
timestamp    2014-04-02 02:35:00
value                    17.3779
Name: 319, dtype: object
320
timestamp    2014-04-02 02:40:00
value                    10.8373
Name: 320, dtype: object
321
timestamp    2014-04-02 02:45:00
value                    13.4067
Name: 321, dtype: object
322
timestamp    2014-04-02 02:50:00
value                    18.7308
Name: 322, dtype: object
323
timestamp    2014-04-02 02:55:00
value                    11.6657
Name: 323, dtype: object
324
timestamp    2014-04-02 03:00:00
value                    14.5455
Name: 324, dtype: object
325
timestamp    2014-04-02 03:05:00
value                    8.99215
Name: 325, dtype: object
326
timestamp    2014-04-02 03:10:00
value                    14.6662
Name: 326, dtype: object
327
timestamp    2014-04-02 03:15:00
value                    8.98595
Name: 327, dtype: object
328
timestamp    2014-04-02 03:20:00
value                    18.5516
Name: 328, dtype: object
329
timestamp    2014-04-02 03:25:00
value                    15.8723
Name: 329, dtype: object
330
timestamp    2014-04-02 03:30:00
value                    16.6698
Name: 330, dtype: object
331
timestamp    2014-04-02 03:35:00
value                    15.7451
Name: 331, dtype: object
332
timestamp    2014-04-02 03:40:00
value                     14.487
Name: 332, dtype: object
333
timestamp    2014-04-02 03:45:00
value                     12.949
Name: 333, dtype: object
334
timestamp    2014-04-02 03:50:00
value                    17.4421
Name: 334, dtype: object
335
timestamp    2014-04-02 03:55:00
value                    18.5252
Name: 335, dtype: object
336
timestamp    2014-04-02 04:00:00
value                    13.4894
Name: 336, dtype: object
337
timestamp    2014-04-02 04:05:00
value                    18.2469
Name: 337, dtype: object
338
timestamp    2014-04-02 04:10:00
value                    14.4167
Name: 338, dtype: object
339
timestamp    2014-04-02 04:15:00
value                    13.9222
Name: 339, dtype: object
340
timestamp    2014-04-02 04:20:00
value                    12.9993
Name: 340, dtype: object
341
timestamp    2014-04-02 04:25:00
value                    10.3022
Name: 341, dtype: object
342
timestamp    2014-04-02 04:30:00
value                    8.04092
Name: 342, dtype: object
343
timestamp    2014-04-02 04:35:00
value                    10.6566
Name: 343, dtype: object
344
timestamp    2014-04-02 04:40:00
value                     13.607
Name: 344, dtype: object
345
timestamp    2014-04-02 04:45:00
value                    12.1796
Name: 345, dtype: object
346
timestamp    2014-04-02 04:50:00
value                    12.9333
Name: 346, dtype: object
347
timestamp    2014-04-02 04:55:00
value                    18.7871
Name: 347, dtype: object
348
timestamp    2014-04-02 05:00:00
value                     11.853
Name: 348, dtype: object
349
timestamp    2014-04-02 05:05:00
value                     12.974
Name: 349, dtype: object
350
timestamp    2014-04-02 05:10:00
value                    9.46867
Name: 350, dtype: object
351
timestamp    2014-04-02 05:15:00
value                    8.52754
Name: 351, dtype: object
352
timestamp    2014-04-02 05:20:00
value                    16.5295
Name: 352, dtype: object
353
timestamp    2014-04-02 05:25:00
value                    14.2775
Name: 353, dtype: object
354
timestamp    2014-04-02 05:30:00
value                    16.3678
Name: 354, dtype: object
355
timestamp    2014-04-02 05:35:00
value                    9.64849
Name: 355, dtype: object
356
timestamp    2014-04-02 05:40:00
value                    14.2901
Name: 356, dtype: object
357
timestamp    2014-04-02 05:45:00
value                    10.7901
Name: 357, dtype: object
358
timestamp    2014-04-02 05:50:00
value                    10.5087
Name: 358, dtype: object
359
timestamp    2014-04-02 05:55:00
value                    8.12679
Name: 359, dtype: object
360
timestamp    2014-04-02 06:00:00
value                    9.43375
Name: 360, dtype: object
361
timestamp    2014-04-02 06:05:00
value                    11.4019
Name: 361, dtype: object
362
timestamp    2014-04-02 06:10:00
value                    9.28567
Name: 362, dtype: object
363
timestamp    2014-04-02 06:15:00
value                    18.8444
Name: 363, dtype: object
364
timestamp    2014-04-02 06:20:00
value                     11.395
Name: 364, dtype: object
365
timestamp    2014-04-02 06:25:00
value                    9.43356
Name: 365, dtype: object
366
timestamp    2014-04-02 06:30:00
value                    10.1899

Name: 366, dtype: object
367
timestamp    2014-04-02 06:35:00
value                    14.4647
Name: 367, dtype: object
368
timestamp    2014-04-02 06:40:00
value                    8.70448
Name: 368, dtype: object
369
timestamp    2014-04-02 06:45:00
value                    17.4868
Name: 369, dtype: object
370
timestamp    2014-04-02 06:50:00
value                    18.5765
Name: 370, dtype: object
371
timestamp    2014-04-02 06:55:00
value                    10.7142
Name: 371, dtype: object
372
timestamp    2014-04-02 07:00:00
value                     12.951
Name: 372, dtype: object
373
timestamp    2014-04-02 07:05:00
value                    8.24348
Name: 373, dtype: object
374
timestamp    2014-04-02 07:10:00
value                    15.0478
Name: 374, dtype: object
375
timestamp    2014-04-02 07:15:00
value                    12.5532
Name: 375, dtype: object
376
timestamp    2014-04-02 07:20:00
value                    10.9706
Name: 376, dtype: object
377
timestamp    2014-04-02 07:25:00
value                    10.2752
Name: 377, dtype: object
378
timestamp    2014-04-02 07:30:00
value                    15.1943
Name: 378, dtype: object
379
timestamp    2014-04-02 07:35:00
value                    12.5784
Name: 379, dtype: object
380
timestamp    2014-04-02 07:40:00
value                    9.97625
Name: 380, dtype: object
381
timestamp    2014-04-02 07:45:00
value                    15.5802
Name: 381, dtype: object
382
timestamp    2014-04-02 07:50:00
value                    14.2158
Name: 382, dtype: object
383
timestamp    2014-04-02 07:55:00
value                    17.4454
Name: 383, dtype: object
384
timestamp    2014-04-02 08:00:00
value                    9.29223
Name: 384, dtype: object
385
timestamp    2014-04-02 08:05:00
value                    16.6423
Name: 385, dtype: object
386
timestamp    2014-04-02 08:10:00
value                    15.4087
Name: 386, dtype: object
387
timestamp    2014-04-02 08:15:00
value                    9.26512
Name: 387, dtype: object
388
timestamp    2014-04-02 08:20:00
value                     15.643
Name: 388, dtype: object
389
timestamp    2014-04-02 08:25:00
value                     12.857
Name: 389, dtype: object
390
timestamp    2014-04-02 08:30:00
value                    18.3948
Name: 390, dtype: object
391
timestamp    2014-04-02 08:35:00
value                    9.55772
Name: 391, dtype: object
392
timestamp    2014-04-02 08:40:00
value                    15.0712
Name: 392, dtype: object
393
timestamp    2014-04-02 08:45:00
value                    12.2018
Name: 393, dtype: object
394
timestamp    2014-04-02 08:50:00
value                     18.525
Name: 394, dtype: object
395
timestamp    2014-04-02 08:55:00
value                    11.6297
Name: 395, dtype: object
396
timestamp    2014-04-02 09:00:00
value                     18.584
Name: 396, dtype: object
397
timestamp    2014-04-02 09:05:00
value                    17.9163
Name: 397, dtype: object
398
timestamp    2014-04-02 09:10:00
value                    10.9742
Name: 398, dtype: object
399
timestamp    2014-04-02 09:15:00
value                     16.839
Name: 399, dtype: object
400
timestamp    2014-04-02 09:20:00
value                    18.9516
Name: 400, dtype: object
401
timestamp    2014-04-02 09:25:00
value                    10.7793
Name: 401, dtype: object
402
timestamp    2014-04-02 09:30:00
value                    12.8045
Name: 402, dtype: object
403
timestamp    2014-04-02 09:35:00
value                     13.722
Name: 403, dtype: object
404
timestamp    2014-04-02 09:40:00
value                    11.2442
Name: 404, dtype: object
405
timestamp    2014-04-02 09:45:00
value                    8.16791
Name: 405, dtype: object
406
timestamp    2014-04-02 09:50:00
value                    10.4214
Name: 406, dtype: object
407
timestamp    2014-04-02 09:55:00
value                    11.1013
Name: 407, dtype: object
408
timestamp    2014-04-02 10:00:00
value                    12.8796
Name: 408, dtype: object
409
timestamp    2014-04-02 10:05:00
value                    9.88213
Name: 409, dtype: object
410
timestamp    2014-04-02 10:10:00
value                    17.6058
Name: 410, dtype: object
411
timestamp    2014-04-02 10:15:00
value                     15.754
Name: 411, dtype: object
412
timestamp    2014-04-02 10:20:00
value                    8.93721
Name: 412, dtype: object
413
timestamp    2014-04-02 10:25:00
value                     15.151
Name: 413, dtype: object
414
timestamp    2014-04-02 10:30:00
value                    15.1902
Name: 414, dtype: object
415
timestamp    2014-04-02 10:35:00
value                    18.5184
Name: 415, dtype: object
416
timestamp    2014-04-02 10:40:00
value                    8.03323
Name: 416, dtype: object
417
timestamp    2014-04-02 10:45:00
value                    10.7273
Name: 417, dtype: object
418
timestamp    2014-04-02 10:50:00
value                    18.2057
Name: 418, dtype: object
419
timestamp    2014-04-02 10:55:00
value                    18.2535
Name: 419, dtype: object
420
timestamp    2014-04-02 11:00:00
value                    15.9265
Name: 420, dtype: object
421
timestamp    2014-04-02 11:05:00
value                    16.4234
Name: 421, dtype: object
422
timestamp    2014-04-02 11:10:00
value                    9.00631
Name: 422, dtype: object
423
timestamp    2014-04-02 11:15:00
value                    13.6526
Name: 423, dtype: object
424
timestamp    2014-04-02 11:20:00
value                    10.5474
Name: 424, dtype: object
425
timestamp    2014-04-02 11:25:00
value                     9.9934
Name: 425, dtype: object
426
timestamp    2014-04-02 11:30:00
value                    16.9133
Name: 426, dtype: object
427
timestamp    2014-04-02 11:35:00
value                    9.48542
Name: 427, dtype: object
428
timestamp    2014-04-02 11:40:00
value                    13.1552
Name: 428, dtype: object
429
timestamp    2014-04-02 11:45:00
value                    18.3244
Name: 429, dtype: object
430
timestamp    2014-04-02 11:50:00
value                    10.0442
Name: 430, dtype: object
431
timestamp    2014-04-02 11:55:00
value                    18.7579
Name: 431, dtype: object
432
timestamp    2014-04-02 12:00:00
value                    18.9372
Name: 432, dtype: object
433
timestamp    2014-04-02 12:05:00
value                    14.1118
Name: 433, dtype: object
434
timestamp    2014-04-02 12:10:00
value                    9.87157
Name: 434, dtype: object
435
timestamp    2014-04-02 12:15:00
value                    11.4772
Name: 435, dtype: object
436
timestamp    2014-04-02 12:20:00
value                    12.6694
Name: 436, dtype: object
437
timestamp    2014-04-02 12:25:00
value                    11.4026
Name: 437, dtype: object
438
timestamp    2014-04-02 12:30:00
value                     11.087
Name: 438, dtype: object
439
timestamp    2014-04-02 12:35:00
value                    18.6945
Name: 439, dtype: object
440
timestamp    2014-04-02 12:40:00
value                    9.68701
Name: 440, dtype: object
441
timestamp    2014-04-02 12:45:00
value                    16.0666
Name: 441, dtype: object
442
timestamp    2014-04-02 12:50:00
value                    8.00451
Name: 442, dtype: object
443
timestamp    2014-04-02 12:55:00
value                     14.558
Name: 443, dtype: object
444
timestamp    2014-04-02 13:00:00
value                    18.0754
Name: 444, dtype: object
445
timestamp    2014-04-02 13:05:00
value                    11.1673
Name: 445, dtype: object
446
timestamp    2014-04-02 13:10:00
value                    10.0408
Name: 446, dtype: object
447
timestamp    2014-04-02 13:15:00
value                    15.1685
Name: 447, dtype: object
448
timestamp    2014-04-02 13:20:00
value                    15.8386
Name: 448, dtype: object
449
timestamp    2014-04-02 13:25:00
value                    15.5683
Name: 449, dtype: object
450
timestamp    2014-04-02 13:30:00
value                    11.5125
Name: 450, dtype: object
451
timestamp    2014-04-02 13:35:00
value                    10.7742
Name: 451, dtype: object
452
timestamp    2014-04-02 13:40:00
value                    18.5151
Name: 452, dtype: object
453
timestamp    2014-04-02 13:45:00
value                    18.1563
Name: 453, dtype: object
454
timestamp    2014-04-02 13:50:00
value                    13.0305
Name: 454, dtype: object
455
timestamp    2014-04-02 13:55:00
value                    17.3081
Name: 455, dtype: object
456
timestamp    2014-04-02 14:00:00
value                    12.9756
Name: 456, dtype: object
457
timestamp    2014-04-02 14:05:00
value                    12.6683
Name: 457, dtype: object
458
timestamp    2014-04-02 14:10:00
value                    9.72439
Name: 458, dtype: object
459
timestamp    2014-04-02 14:15:00
value                    12.6905
Name: 459, dtype: object
460
timestamp    2014-04-02 14:20:00
value                    13.9116
Name: 460, dtype: object
461
timestamp    2014-04-02 14:25:00
value                    8.24755
Name: 461, dtype: object
462
timestamp    2014-04-02 14:30:00
value                    12.8852
Name: 462, dtype: object
463
timestamp    2014-04-02 14:35:00
value                    16.5949
Name: 463, dtype: object
464
timestamp    2014-04-02 14:40:00
value                    15.4805
Name: 464, dtype: object
465
timestamp    2014-04-02 14:45:00
value                    14.9867
Name: 465, dtype: object
466
timestamp    2014-04-02 14:50:00
value                    18.0051
Name: 466, dtype: object
467
timestamp    2014-04-02 14:55:00
value                    8.19835
Name: 467, dtype: object
468
timestamp    2014-04-02 15:00:00
value                    14.1275
Name: 468, dtype: object
469
timestamp    2014-04-02 15:05:00
value                    16.6608
Name: 469, dtype: object
470
timestamp    2014-04-02 15:10:00
value                    13.9547
Name: 470, dtype: object
471
timestamp    2014-04-02 15:15:00
value                    11.5629
Name: 471, dtype: object
472
timestamp    2014-04-02 15:20:00
value                    9.49876
Name: 472, dtype: object
473
timestamp    2014-04-02 15:25:00
value                    17.7632
Name: 473, dtype: object
474
timestamp    2014-04-02 15:30:00
value                    13.1784
Name: 474, dtype: object
475
timestamp    2014-04-02 15:35:00
value                    17.6593
Name: 475, dtype: object
476
timestamp    2014-04-02 15:40:00
value                    14.4444
Name: 476, dtype: object
477
timestamp    2014-04-02 15:45:00
value                    15.4161
Name: 477, dtype: object
478
timestamp    2014-04-02 15:50:00
value                    16.8469
Name: 478, dtype: object
479
timestamp    2014-04-02 15:55:00
value                    15.2507
Name: 479, dtype: object
480
timestamp    2014-04-02 16:00:00
value                    12.3786
Name: 480, dtype: object
481
timestamp    2014-04-02 16:05:00
value                      13.65
Name: 481, dtype: object
482
timestamp    2014-04-02 16:10:00
value                    16.8335
Name: 482, dtype: object
483
timestamp    2014-04-02 16:15:00
value                    12.1102
Name: 483, dtype: object
484
timestamp    2014-04-02 16:20:00
value                    12.2693
Name: 484, dtype: object
485
timestamp    2014-04-02 16:25:00
value                    9.05259
Name: 485, dtype: object
486
timestamp    2014-04-02 16:30:00
value                    18.0604
Name: 486, dtype: object
487
timestamp    2014-04-02 16:35:00
value                     9.0014
Name: 487, dtype: object
488
timestamp    2014-04-02 16:40:00
value                    15.1303
Name: 488, dtype: object
489
timestamp    2014-04-02 16:45:00
value                    12.5451
Name: 489, dtype: object
490
timestamp    2014-04-02 16:50:00
value                    12.4618
Name: 490, dtype: object
491
timestamp    2014-04-02 16:55:00
value                    15.4751
Name: 491, dtype: object
492
timestamp    2014-04-02 17:00:00
value                    8.73803
Name: 492, dtype: object
493
timestamp    2014-04-02 17:05:00
value                    14.5308
Name: 493, dtype: object
494
timestamp    2014-04-02 17:10:00
value                    16.4923
Name: 494, dtype: object
495
timestamp    2014-04-02 17:15:00
value                    17.1103
Name: 495, dtype: object
496
timestamp    2014-04-02 17:20:00
value                    9.87583
Name: 496, dtype: object
497
timestamp    2014-04-02 17:25:00
value                    17.8716
Name: 497, dtype: object
498
timestamp    2014-04-02 17:30:00
value                    15.2176
Name: 498, dtype: object
499
timestamp    2014-04-02 17:35:00
value                    17.7004
Name: 499, dtype: object
500
timestamp    2014-04-02 17:40:00
value                    13.3381
Name: 500, dtype: object
501
timestamp    2014-04-02 17:45:00
value                    13.9624
Name: 501, dtype: object
502
timestamp    2014-04-02 17:50:00
value                    18.1094
Name: 502, dtype: object
503
timestamp    2014-04-02 17:55:00
value                     17.899

Name: 503, dtype: object
504
timestamp    2014-04-02 18:00:00
value                    12.9298
Name: 504, dtype: object
505
timestamp    2014-04-02 18:05:00
value                    11.0185
Name: 505, dtype: object
506
timestamp    2014-04-02 18:10:00
value                    12.3249
Name: 506, dtype: object
507
timestamp    2014-04-02 18:15:00
value                    12.2654
Name: 507, dtype: object
508
timestamp    2014-04-02 18:20:00
value                    11.1555
Name: 508, dtype: object
509
timestamp    2014-04-02 18:25:00
value                    10.9544
Name: 509, dtype: object
510
timestamp    2014-04-02 18:30:00
value                    17.4717
Name: 510, dtype: object
511
timestamp    2014-04-02 18:35:00
value                    8.76848
Name: 511, dtype: object
512
timestamp    2014-04-02 18:40:00
value                    15.4537
Name: 512, dtype: object
513
timestamp    2014-04-02 18:45:00
value                    9.90102
Name: 513, dtype: object
514
timestamp    2014-04-02 18:50:00
value                    11.7896
Name: 514, dtype: object
515
timestamp    2014-04-02 18:55:00
value                    8.67697
Name: 515, dtype: object
516
timestamp    2014-04-02 19:00:00
value                    10.9697
Name: 516, dtype: object
517
timestamp    2014-04-02 19:05:00
value                    16.4526
Name: 517, dtype: object
518
timestamp    2014-04-02 19:10:00
value                    17.7352
Name: 518, dtype: object
519
timestamp    2014-04-02 19:15:00
value                    10.4368
Name: 519, dtype: object
520
timestamp    2014-04-02 19:20:00
value                     13.099
Name: 520, dtype: object
521
timestamp    2014-04-02 19:25:00
value                    13.1736
Name: 521, dtype: object
522
timestamp    2014-04-02 19:30:00
value                    17.6093
Name: 522, dtype: object
523
timestamp    2014-04-02 19:35:00
value                    16.3908
Name: 523, dtype: object
524
timestamp    2014-04-02 19:40:00
value                    13.6438
Name: 524, dtype: object
525
timestamp    2014-04-02 19:45:00
value                    15.3782
Name: 525, dtype: object
526
timestamp    2014-04-02 19:50:00
value                    17.3209
Name: 526, dtype: object
527
timestamp    2014-04-02 19:55:00
value                    8.10493
Name: 527, dtype: object
528
timestamp    2014-04-02 20:00:00
value                    12.4318
Name: 528, dtype: object
529
timestamp    2014-04-02 20:05:00
value                    17.9797
Name: 529, dtype: object
530
timestamp    2014-04-02 20:10:00
value                    16.1434
Name: 530, dtype: object
531
timestamp    2014-04-02 20:15:00
value                    13.9713
Name: 531, dtype: object
532
timestamp    2014-04-02 20:20:00
value                    13.8261
Name: 532, dtype: object
533
timestamp    2014-04-02 20:25:00
value                    11.8255
Name: 533, dtype: object
534
timestamp    2014-04-02 20:30:00
value                    13.7257
Name: 534, dtype: object
535
timestamp    2014-04-02 20:35:00
value                    15.2092
Name: 535, dtype: object
536
timestamp    2014-04-02 20:40:00
value                     12.602
Name: 536, dtype: object
537
timestamp    2014-04-02 20:45:00
value                    15.8557
Name: 537, dtype: object
538
timestamp    2014-04-02 20:50:00
value                    17.4736
Name: 538, dtype: object
539
timestamp    2014-04-02 20:55:00
value                    9.70153
Name: 539, dtype: object
540
timestamp    2014-04-02 21:00:00
value                     12.967
Name: 540, dtype: object
541
timestamp    2014-04-02 21:05:00
value                    12.4882
Name: 541, dtype: object
542
timestamp    2014-04-02 21:10:00
value                    15.5621
Name: 542, dtype: object
543
timestamp    2014-04-02 21:15:00
value                    10.7485
Name: 543, dtype: object
544
timestamp    2014-04-02 21:20:00
value                    15.0428
Name: 544, dtype: object
545
timestamp    2014-04-02 21:25:00
value                    17.6524
Name: 545, dtype: object
546
timestamp    2014-04-02 21:30:00
value                    12.5994
Name: 546, dtype: object
547
timestamp    2014-04-02 21:35:00
value                    18.0212
Name: 547, dtype: object
548
timestamp    2014-04-02 21:40:00
value                    18.9248
Name: 548, dtype: object
549
timestamp    2014-04-02 21:45:00
value                    9.16701
Name: 549, dtype: object
550
timestamp    2014-04-02 21:50:00
value                    10.5636
Name: 550, dtype: object
551
timestamp    2014-04-02 21:55:00
value                    18.4542
Name: 551, dtype: object
552
timestamp    2014-04-02 22:00:00
value                    18.5416
Name: 552, dtype: object
553
timestamp    2014-04-02 22:05:00
value                    9.07478
Name: 553, dtype: object
554
timestamp    2014-04-02 22:10:00
value                    8.16498
Name: 554, dtype: object
555
timestamp    2014-04-02 22:15:00
value                     9.7721
Name: 555, dtype: object
556
timestamp    2014-04-02 22:20:00
value                    18.9561
Name: 556, dtype: object
557
timestamp    2014-04-02 22:25:00
value                       9.98
Name: 557, dtype: object
558
timestamp    2014-04-02 22:30:00
value                     13.528
Name: 558, dtype: object
559
timestamp    2014-04-02 22:35:00
value                    17.3326
Name: 559, dtype: object
560
timestamp    2014-04-02 22:40:00
value                    8.22442
Name: 560, dtype: object
561
timestamp    2014-04-02 22:45:00
value                    14.6494
Name: 561, dtype: object
562
timestamp    2014-04-02 22:50:00
value                    11.0473
Name: 562, dtype: object
563
timestamp    2014-04-02 22:55:00
value                    17.4857
Name: 563, dtype: object
564
timestamp    2014-04-02 23:00:00
value                    11.1181
Name: 564, dtype: object
565
timestamp    2014-04-02 23:05:00
value                    15.5543
Name: 565, dtype: object
566
timestamp    2014-04-02 23:10:00
value                    15.4164
Name: 566, dtype: object
567
timestamp    2014-04-02 23:15:00
value                    10.4364
Name: 567, dtype: object
568
timestamp    2014-04-02 23:20:00
value                    8.38279
Name: 568, dtype: object
569
timestamp    2014-04-02 23:25:00
value                    12.5017
Name: 569, dtype: object
570
timestamp    2014-04-02 23:30:00
value                    11.1811
Name: 570, dtype: object
571
timestamp    2014-04-02 23:35:00
value                    16.8988
Name: 571, dtype: object
572
timestamp    2014-04-02 23:40:00
value                     16.804
Name: 572, dtype: object
573
timestamp    2014-04-02 23:45:00
value                    13.0273
Name: 573, dtype: object
574
timestamp    2014-04-02 23:50:00
value                    14.6716
Name: 574, dtype: object
575
timestamp    2014-04-02 23:55:00
value                    14.6469
Name: 575, dtype: object
576
timestamp    2014-04-03 00:00:00
value                    17.0987
Name: 576, dtype: object
577
timestamp    2014-04-03 00:05:00
value                     12.675
Name: 577, dtype: object
578
timestamp    2014-04-03 00:10:00
value                    11.0299
Name: 578, dtype: object
579
timestamp    2014-04-03 00:15:00
value                    10.9154
Name: 579, dtype: object
580
timestamp    2014-04-03 00:20:00
value                    13.8981
Name: 580, dtype: object
581
timestamp    2014-04-03 00:25:00
value                    12.9406
Name: 581, dtype: object
582
timestamp    2014-04-03 00:30:00
value                    12.8413
Name: 582, dtype: object
583
timestamp    2014-04-03 00:35:00
value                    9.00251
Name: 583, dtype: object
584
timestamp    2014-04-03 00:40:00
value                    15.9046
Name: 584, dtype: object
585
timestamp    2014-04-03 00:45:00
value                    10.3511
Name: 585, dtype: object
586
timestamp    2014-04-03 00:50:00
value                    10.1665
Name: 586, dtype: object
587
timestamp    2014-04-03 00:55:00
value                    12.5403
Name: 587, dtype: object
588
timestamp    2014-04-03 01:00:00
value                    10.5056
Name: 588, dtype: object
589
timestamp    2014-04-03 01:05:00
value                    14.4224
Name: 589, dtype: object
590
timestamp    2014-04-03 01:10:00
value                    12.0861
Name: 590, dtype: object
591
timestamp    2014-04-03 01:15:00
value                     12.938
Name: 591, dtype: object
592
timestamp    2014-04-03 01:20:00
value                    13.9089
Name: 592, dtype: object
593
timestamp    2014-04-03 01:25:00
value                    10.2389
Name: 593, dtype: object
594
timestamp    2014-04-03 01:30:00
value                    9.71327
Name: 594, dtype: object
595
timestamp    2014-04-03 01:35:00
value                    17.6846
Name: 595, dtype: object
596
timestamp    2014-04-03 01:40:00
value                     12.771
Name: 596, dtype: object
597
timestamp    2014-04-03 01:45:00
value                     12.533
Name: 597, dtype: object
598
timestamp    2014-04-03 01:50:00
value                    8.39173
Name: 598, dtype: object
599
timestamp    2014-04-03 01:55:00
value                    13.4777
Name: 599, dtype: object
600
timestamp    2014-04-03 02:00:00
value                    14.0959
Name: 600, dtype: object
601
timestamp    2014-04-03 02:05:00
value                    14.1472
Name: 601, dtype: object
602
timestamp    2014-04-03 02:10:00
value                    15.7773
Name: 602, dtype: object
603
timestamp    2014-04-03 02:15:00
value                     9.9523
Name: 603, dtype: object
604
timestamp    2014-04-03 02:20:00
value                    10.7745
Name: 604, dtype: object
605
timestamp    2014-04-03 02:25:00
value                     16.918
Name: 605, dtype: object
606
timestamp    2014-04-03 02:30:00
value                    18.4189
Name: 606, dtype: object
607
timestamp    2014-04-03 02:35:00
value                    9.49526
Name: 607, dtype: object
608
timestamp    2014-04-03 02:40:00
value                    13.4741
Name: 608, dtype: object
609
timestamp    2014-04-03 02:45:00
value                    10.3559
Name: 609, dtype: object
610
timestamp    2014-04-03 02:50:00
value                     8.6608
Name: 610, dtype: object
611
timestamp    2014-04-03 02:55:00
value                    11.5805
Name: 611, dtype: object
612
timestamp    2014-04-03 03:00:00
value                    9.58056
Name: 612, dtype: object
613
timestamp    2014-04-03 03:05:00
value                    15.8093
Name: 613, dtype: object
614
timestamp    2014-04-03 03:10:00
value                     13.871
Name: 614, dtype: object
615
timestamp    2014-04-03 03:15:00
value                    9.58218
Name: 615, dtype: object
616
timestamp    2014-04-03 03:20:00
value                    8.10166
Name: 616, dtype: object
617
timestamp    2014-04-03 03:25:00
value                    16.8897
Name: 617, dtype: object
618
timestamp    2014-04-03 03:30:00
value                    9.93814
Name: 618, dtype: object
619
timestamp    2014-04-03 03:35:00
value                    14.6684
Name: 619, dtype: object
620
timestamp    2014-04-03 03:40:00
value                    11.7061
Name: 620, dtype: object
621
timestamp    2014-04-03 03:45:00
value                    14.4403

Name: 621, dtype: object
622
timestamp    2014-04-03 03:50:00
value                    11.4722
Name: 622, dtype: object
623
timestamp    2014-04-03 03:55:00
value                    8.95634
Name: 623, dtype: object
624
timestamp    2014-04-03 04:00:00
value                    10.4525
Name: 624, dtype: object
625
timestamp    2014-04-03 04:05:00
value                    10.0686
Name: 625, dtype: object
626
timestamp    2014-04-03 04:10:00
value                    12.7082
Name: 626, dtype: object
627
timestamp    2014-04-03 04:15:00
value                    15.2411
Name: 627, dtype: object
628
timestamp    2014-04-03 04:20:00
value                    10.9019
Name: 628, dtype: object
629
timestamp    2014-04-03 04:25:00
value                    8.13277
Name: 629, dtype: object
630
timestamp    2014-04-03 04:30:00
value                    13.7083
Name: 630, dtype: object
631
timestamp    2014-04-03 04:35:00
value                    14.6634
Name: 631, dtype: object
632
timestamp    2014-04-03 04:40:00
value                    18.5916
Name: 632, dtype: object
633
timestamp    2014-04-03 04:45:00
value                    14.4842
Name: 633, dtype: object
634
timestamp    2014-04-03 04:50:00
value                    13.1829
Name: 634, dtype: object
635
timestamp    2014-04-03 04:55:00
value                    14.3074
Name: 635, dtype: object
636
timestamp    2014-04-03 05:00:00
value                    18.2069
Name: 636, dtype: object
637
timestamp    2014-04-03 05:05:00
value                    17.1122
Name: 637, dtype: object
638
timestamp    2014-04-03 05:10:00
value                    11.5528
Name: 638, dtype: object
639
timestamp    2014-04-03 05:15:00
value                    10.6098
Name: 639, dtype: object
640
timestamp    2014-04-03 05:20:00
value                     10.889
Name: 640, dtype: object
641
timestamp    2014-04-03 05:25:00
value                    13.5486
Name: 641, dtype: object
642
timestamp    2014-04-03 05:30:00
value                    16.1845
Name: 642, dtype: object
643
timestamp    2014-04-03 05:35:00
value                    13.5354
Name: 643, dtype: object
644
timestamp    2014-04-03 05:40:00
value                    8.74576
Name: 644, dtype: object
645
timestamp    2014-04-03 05:45:00
value                    15.9594
Name: 645, dtype: object
646
timestamp    2014-04-03 05:50:00
value                    16.8657
Name: 646, dtype: object
647
timestamp    2014-04-03 05:55:00
value                    11.1845
Name: 647, dtype: object
648
timestamp    2014-04-03 06:00:00
value                    15.3054
Name: 648, dtype: object
649
timestamp    2014-04-03 06:05:00
value                    12.6925
Name: 649, dtype: object
650
timestamp    2014-04-03 06:10:00
value                    17.7803
Name: 650, dtype: object
651
timestamp    2014-04-03 06:15:00
value                    17.2975
Name: 651, dtype: object
652
timestamp    2014-04-03 06:20:00
value                    13.7798
Name: 652, dtype: object
653
timestamp    2014-04-03 06:25:00
value                    15.6066
Name: 653, dtype: object
654
timestamp    2014-04-03 06:30:00
value                    17.7168
Name: 654, dtype: object
655
timestamp    2014-04-03 06:35:00
value                    13.4529
Name: 655, dtype: object
656
timestamp    2014-04-03 06:40:00
value                    11.4458
Name: 656, dtype: object
657
timestamp    2014-04-03 06:45:00
value                    16.2903
Name: 657, dtype: object
658
timestamp    2014-04-03 06:50:00
value                    10.4207
Name: 658, dtype: object
659
timestamp    2014-04-03 06:55:00
value                    12.2738
Name: 659, dtype: object
660
timestamp    2014-04-03 07:00:00
value                     17.523
Name: 660, dtype: object
661
timestamp    2014-04-03 07:05:00
value                    15.9686
Name: 661, dtype: object
662
timestamp    2014-04-03 07:10:00
value                    12.4419
Name: 662, dtype: object
663
timestamp    2014-04-03 07:15:00
value                    10.3622
Name: 663, dtype: object
664
timestamp    2014-04-03 07:20:00
value                    11.9157
Name: 664, dtype: object
665
timestamp    2014-04-03 07:25:00
value                    11.1251
Name: 665, dtype: object
666
timestamp    2014-04-03 07:30:00
value                    9.93698
Name: 666, dtype: object
667
timestamp    2014-04-03 07:35:00
value                    16.1767
Name: 667, dtype: object
668
timestamp    2014-04-03 07:40:00
value                    10.7728
Name: 668, dtype: object
669
timestamp    2014-04-03 07:45:00
value                    12.9958
Name: 669, dtype: object
670
timestamp    2014-04-03 07:50:00
value                    12.2445
Name: 670, dtype: object
671
timestamp    2014-04-03 07:55:00
value                    18.8029
Name: 671, dtype: object
672
timestamp    2014-04-03 08:00:00
value                     12.302
Name: 672, dtype: object
673
timestamp    2014-04-03 08:05:00
value                    8.87981
Name: 673, dtype: object
674
timestamp    2014-04-03 08:10:00
value                    8.98808
Name: 674, dtype: object
675
timestamp    2014-04-03 08:15:00
value                    14.4983
Name: 675, dtype: object
676
timestamp    2014-04-03 08:20:00
value                     14.593
Name: 676, dtype: object
677
timestamp    2014-04-03 08:25:00
value                    12.6063
Name: 677, dtype: object
678
timestamp    2014-04-03 08:30:00
value                    12.7503
Name: 678, dtype: object
679
timestamp    2014-04-03 08:35:00
value                    8.59326
Name: 679, dtype: object
680
timestamp    2014-04-03 08:40:00
value                     13.682
Name: 680, dtype: object
681
timestamp    2014-04-03 08:45:00
value                    13.5521
Name: 681, dtype: object
682
timestamp    2014-04-03 08:50:00
value                    9.64504
Name: 682, dtype: object
683
timestamp    2014-04-03 08:55:00
value                    9.14223
Name: 683, dtype: object
684
timestamp    2014-04-03 09:00:00
value                     9.3593
Name: 684, dtype: object
685
timestamp    2014-04-03 09:05:00
value                    9.11131
Name: 685, dtype: object
686
timestamp    2014-04-03 09:10:00
value                    14.7068
Name: 686, dtype: object
687
timestamp    2014-04-03 09:15:00
value                    10.1613
Name: 687, dtype: object
688
timestamp    2014-04-03 09:20:00
value                    10.7657
Name: 688, dtype: object
689
timestamp    2014-04-03 09:25:00
value                    9.90929
Name: 689, dtype: object
690
timestamp    2014-04-03 09:30:00
value                    18.5362
Name: 690, dtype: object
691
timestamp    2014-04-03 09:35:00
value                    17.4008
Name: 691, dtype: object
692
timestamp    2014-04-03 09:40:00
value                    10.5354
Name: 692, dtype: object
693
timestamp    2014-04-03 09:45:00
value                    11.6032
Name: 693, dtype: object
694
timestamp    2014-04-03 09:50:00
value                    10.3088
Name: 694, dtype: object
695
timestamp    2014-04-03 09:55:00
value                    13.4106
Name: 695, dtype: object
696
timestamp    2014-04-03 10:00:00
value                    8.21572
Name: 696, dtype: object
697
timestamp    2014-04-03 10:05:00
value                     15.385
Name: 697, dtype: object
698
timestamp    2014-04-03 10:10:00
value                    13.7547
Name: 698, dtype: object
699
timestamp    2014-04-03 10:15:00
value                     17.885
Name: 699, dtype: object
700
timestamp    2014-04-03 10:20:00
value                    9.80832
Name: 700, dtype: object
701
timestamp    2014-04-03 10:25:00
value                    16.8452
Name: 701, dtype: object
702
timestamp    2014-04-03 10:30:00
value                    16.7116
Name: 702, dtype: object
703
timestamp    2014-04-03 10:35:00
value                    9.39899
Name: 703, dtype: object
704
timestamp    2014-04-03 10:40:00
value                    12.3842
Name: 704, dtype: object
705
timestamp    2014-04-03 10:45:00
value                    9.87168
Name: 705, dtype: object
706
timestamp    2014-04-03 10:50:00
value                    10.8019
Name: 706, dtype: object
707
timestamp    2014-04-03 10:55:00
value                    10.8957
Name: 707, dtype: object
708
timestamp    2014-04-03 11:00:00
value                    14.1186
Name: 708, dtype: object
709
timestamp    2014-04-03 11:05:00
value                    12.5255
Name: 709, dtype: object
710
timestamp    2014-04-03 11:10:00
value                    18.4251
Name: 710, dtype: object
711
timestamp    2014-04-03 11:15:00
value                    9.39007
Name: 711, dtype: object
712
timestamp    2014-04-03 11:20:00
value                    18.7106
Name: 712, dtype: object
713
timestamp    2014-04-03 11:25:00
value                     10.537
Name: 713, dtype: object
714
timestamp    2014-04-03 11:30:00
value                    16.5016
Name: 714, dtype: object
715
timestamp    2014-04-03 11:35:00
value                    11.7287
Name: 715, dtype: object
716
timestamp    2014-04-03 11:40:00
value                     9.5739
Name: 716, dtype: object
717
timestamp    2014-04-03 11:45:00
value                    17.4368
Name: 717, dtype: object
718
timestamp    2014-04-03 11:50:00
value                    11.3975
Name: 718, dtype: object
719
timestamp    2014-04-03 11:55:00
value                    15.2474
Name: 719, dtype: object
720
timestamp    2014-04-03 12:00:00
value                    14.2309
Name: 720, dtype: object
721
timestamp    2014-04-03 12:05:00
value                    13.1893
Name: 721, dtype: object
722
timestamp    2014-04-03 12:10:00
value                     13.454
Name: 722, dtype: object
723
timestamp    2014-04-03 12:15:00
value                    16.0546
Name: 723, dtype: object
724
timestamp    2014-04-03 12:20:00
value                     8.9655
Name: 724, dtype: object
725
timestamp    2014-04-03 12:25:00
value                      15.35
Name: 725, dtype: object
726
timestamp    2014-04-03 12:30:00
value                    17.8539
Name: 726, dtype: object
727
timestamp    2014-04-03 12:35:00
value                    8.63567
Name: 727, dtype: object
728
timestamp    2014-04-03 12:40:00
value                    9.54719
Name: 728, dtype: object
729
timestamp    2014-04-03 12:45:00
value                     15.883
Name: 729, dtype: object
730
timestamp    2014-04-03 12:50:00
value                    12.8101
Name: 730, dtype: object
731
timestamp    2014-04-03 12:55:00
value                     12.439
Name: 731, dtype: object
732
timestamp    2014-04-03 13:00:00
value                    9.50663
Name: 732, dtype: object
733
timestamp    2014-04-03 13:05:00
value                    13.5745
Name: 733, dtype: object
734
timestamp    2014-04-03 13:10:00
value                      9.392
Name: 734, dtype: object
735
timestamp    2014-04-03 13:15:00
value                    13.2428
Name: 735, dtype: object
736
timestamp    2014-04-03 13:20:00
value                    16.3998
Name: 736, dtype: object
737
timestamp    2014-04-03 13:25:00
value                    10.8409
Name: 737, dtype: object
738
timestamp    2014-04-03 13:30:00
value                    13.2886
Name: 738, dtype: object

739
timestamp    2014-04-03 13:35:00
value                    18.9122
Name: 739, dtype: object
740
timestamp    2014-04-03 13:40:00
value                    15.5532
Name: 740, dtype: object
741
timestamp    2014-04-03 13:45:00
value                    17.2549
Name: 741, dtype: object
742
timestamp    2014-04-03 13:50:00
value                    12.5633
Name: 742, dtype: object
743
timestamp    2014-04-03 13:55:00
value                    16.4465
Name: 743, dtype: object
744
timestamp    2014-04-03 14:00:00
value                     8.4456
Name: 744, dtype: object
745
timestamp    2014-04-03 14:05:00
value                    9.35202
Name: 745, dtype: object
746
timestamp    2014-04-03 14:10:00
value                    10.2338
Name: 746, dtype: object
747
timestamp    2014-04-03 14:15:00
value                    12.4215
Name: 747, dtype: object
748
timestamp    2014-04-03 14:20:00
value                    17.3032
Name: 748, dtype: object
749
timestamp    2014-04-03 14:25:00
value                    11.8089
Name: 749, dtype: object
750
timestamp    2014-04-03 14:30:00
value                    15.2008
Name: 750, dtype: object
751
timestamp    2014-04-03 14:35:00
value                    15.8025
Name: 751, dtype: object
752
timestamp    2014-04-03 14:40:00
value                     14.448
Name: 752, dtype: object
753
timestamp    2014-04-03 14:45:00
value                    11.9297
Name: 753, dtype: object
754
timestamp    2014-04-03 14:50:00
value                    14.3476
Name: 754, dtype: object
755
timestamp    2014-04-03 14:55:00
value                    11.7649
Name: 755, dtype: object
756
timestamp    2014-04-03 15:00:00
value                    8.92261
Name: 756, dtype: object
757
timestamp    2014-04-03 15:05:00
value                    18.9208
Name: 757, dtype: object
758
timestamp    2014-04-03 15:10:00
value                    9.39901
Name: 758, dtype: object
759
timestamp    2014-04-03 15:15:00
value                    8.79583
Name: 759, dtype: object
760
timestamp    2014-04-03 15:20:00
value                    17.6638
Name: 760, dtype: object
761
timestamp    2014-04-03 15:25:00
value                    11.3202
Name: 761, dtype: object
762
timestamp    2014-04-03 15:30:00
value                    15.1533
Name: 762, dtype: object
763
timestamp    2014-04-03 15:35:00
value                    11.6191
Name: 763, dtype: object
764
timestamp    2014-04-03 15:40:00
value                     12.306
Name: 764, dtype: object
765
timestamp    2014-04-03 15:45:00
value                    10.8832
Name: 765, dtype: object
766
timestamp    2014-04-03 15:50:00
value                    11.7735
Name: 766, dtype: object
767
timestamp    2014-04-03 15:55:00
value                    12.5177
Name: 767, dtype: object
768
timestamp    2014-04-03 16:00:00
value                    15.9246
Name: 768, dtype: object
769
timestamp    2014-04-03 16:05:00
value                    13.6269
Name: 769, dtype: object
770
timestamp    2014-04-03 16:10:00
value                    18.3792
Name: 770, dtype: object
771
timestamp    2014-04-03 16:15:00
value                    8.46068
Name: 771, dtype: object
772
timestamp    2014-04-03 16:20:00
value                    13.5338
Name: 772, dtype: object
773
timestamp    2014-04-03 16:25:00
value                    14.4265
Name: 773, dtype: object
774
timestamp    2014-04-03 16:30:00
value                    18.1222
Name: 774, dtype: object
775
timestamp    2014-04-03 16:35:00
value                    8.54074
Name: 775, dtype: object
776
timestamp    2014-04-03 16:40:00
value                    14.3085
Name: 776, dtype: object
777
timestamp    2014-04-03 16:45:00
value                    17.3899
Name: 777, dtype: object
778
timestamp    2014-04-03 16:50:00
value                    10.6612
Name: 778, dtype: object
779
timestamp    2014-04-03 16:55:00
value                    17.6392
Name: 779, dtype: object
780
timestamp    2014-04-03 17:00:00
value                    8.20948
Name: 780, dtype: object
781
timestamp    2014-04-03 17:05:00
value                     16.057
Name: 781, dtype: object
782
timestamp    2014-04-03 17:10:00
value                    18.2642
Name: 782, dtype: object
783
timestamp    2014-04-03 17:15:00
value                    15.2292
Name: 783, dtype: object
784
timestamp    2014-04-03 17:20:00
value                    12.8293
Name: 784, dtype: object
785
timestamp    2014-04-03 17:25:00
value                    8.49369
Name: 785, dtype: object
786
timestamp    2014-04-03 17:30:00
value                    18.1213
Name: 786, dtype: object
787
timestamp    2014-04-03 17:35:00
value                    13.1733
Name: 787, dtype: object
788
timestamp    2014-04-03 17:40:00
value                    8.31896
Name: 788, dtype: object
789
timestamp    2014-04-03 17:45:00
value                     15.588
Name: 789, dtype: object
790
timestamp    2014-04-03 17:50:00
value                    13.3002
Name: 790, dtype: object
791
timestamp    2014-04-03 17:55:00
value                     9.3678
Name: 791, dtype: object
792
timestamp    2014-04-03 18:00:00
value                     10.357
Name: 792, dtype: object
793
timestamp    2014-04-03 18:05:00
value                     8.7094
Name: 793, dtype: object
794
timestamp    2014-04-03 18:10:00
value                    14.3172
Name: 794, dtype: object
795
timestamp    2014-04-03 18:15:00
value                    14.8423
Name: 795, dtype: object
796
timestamp    2014-04-03 18:20:00
value                    13.5632
Name: 796, dtype: object
797
timestamp    2014-04-03 18:25:00
value                    16.9881
Name: 797, dtype: object
798
timestamp    2014-04-03 18:30:00
value                    17.4711
Name: 798, dtype: object
799
timestamp    2014-04-03 18:35:00
value                    14.7719
Name: 799, dtype: object
800
timestamp    2014-04-03 18:40:00
value                    8.14032
Name: 800, dtype: object
801
timestamp    2014-04-03 18:45:00
value                    15.6475
Name: 801, dtype: object
802
timestamp    2014-04-03 18:50:00
value                     12.598
Name: 802, dtype: object
803
timestamp    2014-04-03 18:55:00
value                    14.2211
Name: 803, dtype: object
804
timestamp    2014-04-03 19:00:00
value                    15.1399
Name: 804, dtype: object
805
timestamp    2014-04-03 19:05:00
value                    11.8526
Name: 805, dtype: object
806
timestamp    2014-04-03 19:10:00
value                    18.0881
Name: 806, dtype: object
807
timestamp    2014-04-03 19:15:00
value                    9.47372
Name: 807, dtype: object
808
timestamp    2014-04-03 19:20:00
value                    15.3866
Name: 808, dtype: object
809
timestamp    2014-04-03 19:25:00
value                    8.04796
Name: 809, dtype: object
810
timestamp    2014-04-03 19:30:00
value                    18.1712
Name: 810, dtype: object
811
timestamp    2014-04-03 19:35:00
value                    9.23755
Name: 811, dtype: object
812
timestamp    2014-04-03 19:40:00
value                    9.04373
Name: 812, dtype: object
813
timestamp    2014-04-03 19:45:00
value                    11.6631
Name: 813, dtype: object
814
timestamp    2014-04-03 19:50:00
value                    12.1092
Name: 814, dtype: object
815
timestamp    2014-04-03 19:55:00
value                    10.3573
Name: 815, dtype: object
816
timestamp    2014-04-03 20:00:00
value                    14.4363
Name: 816, dtype: object
817
timestamp    2014-04-03 20:05:00
value                    12.8721
Name: 817, dtype: object
818
timestamp    2014-04-03 20:10:00
value                    8.37593
Name: 818, dtype: object
819
timestamp    2014-04-03 20:15:00
value                    11.5162
Name: 819, dtype: object
820
timestamp    2014-04-03 20:20:00
value                    16.9148
Name: 820, dtype: object
821
timestamp    2014-04-03 20:25:00
value                    15.5867
Name: 821, dtype: object
822
timestamp    2014-04-03 20:30:00
value                    15.9736
Name: 822, dtype: object
823
timestamp    2014-04-03 20:35:00
value                    15.6793
Name: 823, dtype: object
824
timestamp    2014-04-03 20:40:00
value                    11.4207
Name: 824, dtype: object
825
timestamp    2014-04-03 20:45:00
value                     9.0963
Name: 825, dtype: object
826
timestamp    2014-04-03 20:50:00
value                    10.9971
Name: 826, dtype: object
827
timestamp    2014-04-03 20:55:00
value                    17.1496
Name: 827, dtype: object
828
timestamp    2014-04-03 21:00:00
value                    18.7852
Name: 828, dtype: object
829
timestamp    2014-04-03 21:05:00
value                    13.4323
Name: 829, dtype: object
830
timestamp    2014-04-03 21:10:00
value                     8.1067
Name: 830, dtype: object
831
timestamp    2014-04-03 21:15:00
value                    9.54049
Name: 831, dtype: object
832
timestamp    2014-04-03 21:20:00
value                    11.5429
Name: 832, dtype: object
833
timestamp    2014-04-03 21:25:00
value                    14.3644
Name: 833, dtype: object
834
timestamp    2014-04-03 21:30:00
value                    8.82603
Name: 834, dtype: object
835
timestamp    2014-04-03 21:35:00
value                    18.3769
Name: 835, dtype: object
836
timestamp    2014-04-03 21:40:00
value                    12.0159
Name: 836, dtype: object
837
timestamp    2014-04-03 21:45:00
value                    18.0384
Name: 837, dtype: object
838
timestamp    2014-04-03 21:50:00
value                    16.5857
Name: 838, dtype: object
839
timestamp    2014-04-03 21:55:00
value                    16.3098
Name: 839, dtype: object
840
timestamp    2014-04-03 22:00:00
value                    14.6739
Name: 840, dtype: object
841
timestamp    2014-04-03 22:05:00
value                    14.8946
Name: 841, dtype: object
842
timestamp    2014-04-03 22:10:00
value                     15.018
Name: 842, dtype: object
843
timestamp    2014-04-03 22:15:00
value                    14.9159
Name: 843, dtype: object
844
timestamp    2014-04-03 22:20:00
value                     14.091
Name: 844, dtype: object
845
timestamp    2014-04-03 22:25:00
value                    18.8506
Name: 845, dtype: object
846
timestamp    2014-04-03 22:30:00
value                    16.0552
Name: 846, dtype: object
847
timestamp    2014-04-03 22:35:00
value                    16.5464
Name: 847, dtype: object
848
timestamp    2014-04-03 22:40:00
value                    17.5971
Name: 848, dtype: object
849
timestamp    2014-04-03 22:45:00
value                     10.372
Name: 849, dtype: object
850
timestamp    2014-04-03 22:50:00
value                    8.92185
Name: 850, dtype: object
851
timestamp    2014-04-03 22:55:00
value                    13.3118
Name: 851, dtype: object
852
timestamp    2014-04-03 23:00:00
value                    13.6549
Name: 852, dtype: object
853
timestamp    2014-04-03 23:05:00
value                     17.121
Name: 853, dtype: object
854
timestamp    2014-04-03 23:10:00
value                    12.8816
Name: 854, dtype: object
855
timestamp    2014-04-03 23:15:00
value                    14.2794
Name: 855, dtype: object
856
timestamp    2014-04-03 23:20:00
value                    13.7978
Name: 856, dtype: object
857
timestamp    2014-04-03 23:25:00
value                    8.42023
Name: 857, dtype: object
858
timestamp    2014-04-03 23:30:00
value                    14.7674
Name: 858, dtype: object
859
timestamp    2014-04-03 23:35:00
value                    17.1085
Name: 859, dtype: object
860
timestamp    2014-04-03 23:40:00
value                    9.73251
Name: 860, dtype: object
861
timestamp    2014-04-03 23:45:00
value                    14.5376
Name: 861, dtype: object
862
timestamp    2014-04-03 23:50:00
value                    14.5297
Name: 862, dtype: object
863
timestamp    2014-04-03 23:55:00
value                    9.80603
Name: 863, dtype: object
864
timestamp    2014-04-04 00:00:00
value                     9.3581
Name: 864, dtype: object
865
timestamp    2014-04-04 00:05:00
value                    18.7806
Name: 865, dtype: object
866
timestamp    2014-04-04 00:10:00
value                    12.3309
Name: 866, dtype: object
867
timestamp    2014-04-04 00:15:00
value                    10.5016
Name: 867, dtype: object
868
timestamp    2014-04-04 00:20:00
value                    9.88457
Name: 868, dtype: object
869
timestamp    2014-04-04 00:25:00
value                    15.3436
Name: 869, dtype: object
870
timestamp    2014-04-04 00:30:00
value                    14.7039
Name: 870, dtype: object
871
timestamp    2014-04-04 00:35:00
value                    15.0791
Name: 871, dtype: object
872
timestamp    2014-04-04 00:40:00
value                    8.96807
Name: 872, dtype: object
873
timestamp    2014-04-04 00:45:00
value                    17.8289
Name: 873, dtype: object
874
timestamp    2014-04-04 00:50:00
value                    12.2819
Name: 874, dtype: object
875
timestamp    2014-04-04 00:55:00
value                    11.4471
Name: 875, dtype: object
876
timestamp    2014-04-04 01:00:00
value                     13.086
Name: 876, dtype: object
877
timestamp    2014-04-04 01:05:00
value                    12.2907
Name: 877, dtype: object
878
timestamp    2014-04-04 01:10:00
value                    17.4993
Name: 878, dtype: object
879
timestamp    2014-04-04 01:15:00
value                    18.2219

Name: 879, dtype: object
880
timestamp    2014-04-04 01:20:00
value                     11.338
Name: 880, dtype: object
881
timestamp    2014-04-04 01:25:00
value                    17.5033
Name: 881, dtype: object
882
timestamp    2014-04-04 01:30:00
value                    16.5968
Name: 882, dtype: object
883
timestamp    2014-04-04 01:35:00
value                    18.2389
Name: 883, dtype: object
884
timestamp    2014-04-04 01:40:00
value                    10.7033
Name: 884, dtype: object
885
timestamp    2014-04-04 01:45:00
value                    14.3466
Name: 885, dtype: object
886
timestamp    2014-04-04 01:50:00
value                      11.02
Name: 886, dtype: object
887
timestamp    2014-04-04 01:55:00
value                     17.065
Name: 887, dtype: object
888
timestamp    2014-04-04 02:00:00
value                    8.05857
Name: 888, dtype: object
889
timestamp    2014-04-04 02:05:00
value                     14.213
Name: 889, dtype: object
890
timestamp    2014-04-04 02:10:00
value                    11.7312
Name: 890, dtype: object
891
timestamp    2014-04-04 02:15:00
value                    11.5495
Name: 891, dtype: object
892
timestamp    2014-04-04 02:20:00
value                     15.094
Name: 892, dtype: object
893
timestamp    2014-04-04 02:25:00
value                    17.3663
Name: 893, dtype: object
894
timestamp    2014-04-04 02:30:00
value                    14.7011
Name: 894, dtype: object
895
timestamp    2014-04-04 02:35:00
value                    17.3849
Name: 895, dtype: object
896
timestamp    2014-04-04 02:40:00
value                    10.9106
Name: 896, dtype: object
897
timestamp    2014-04-04 02:45:00
value                    13.7145
Name: 897, dtype: object
898
timestamp    2014-04-04 02:50:00
value                    12.9559
Name: 898, dtype: object
899
timestamp    2014-04-04 02:55:00
value                    8.12809
Name: 899, dtype: object
900
timestamp    2014-04-04 03:00:00
value                    14.1249
Name: 900, dtype: object
901
timestamp    2014-04-04 03:05:00
value                    15.2768
Name: 901, dtype: object
902
timestamp    2014-04-04 03:10:00
value                    14.5111
Name: 902, dtype: object
903
timestamp    2014-04-04 03:15:00
value                    16.0991
Name: 903, dtype: object
904
timestamp    2014-04-04 03:20:00
value                    14.2847
Name: 904, dtype: object
905
timestamp    2014-04-04 03:25:00
value                    8.73425
Name: 905, dtype: object
906
timestamp    2014-04-04 03:30:00
value                     9.2809
Name: 906, dtype: object
907
timestamp    2014-04-04 03:35:00
value                    14.5612
Name: 907, dtype: object
908
timestamp    2014-04-04 03:40:00
value                    11.0248
Name: 908, dtype: object
909
timestamp    2014-04-04 03:45:00
value                     8.8761
Name: 909, dtype: object
910
timestamp    2014-04-04 03:50:00
value                    12.7256
Name: 910, dtype: object
911
timestamp    2014-04-04 03:55:00
value                    14.0975
Name: 911, dtype: object
912
timestamp    2014-04-04 04:00:00
value                    11.6162
Name: 912, dtype: object
913
timestamp    2014-04-04 04:05:00
value                    15.9248
Name: 913, dtype: object
914
timestamp    2014-04-04 04:10:00
value                    15.0815
Name: 914, dtype: object
915
timestamp    2014-04-04 04:15:00
value                     11.661
Name: 915, dtype: object
916
timestamp    2014-04-04 04:20:00
value                    16.3036
Name: 916, dtype: object
917
timestamp    2014-04-04 04:25:00
value                    15.1356
Name: 917, dtype: object
918
timestamp    2014-04-04 04:30:00
value                    15.0119
Name: 918, dtype: object
919
timestamp    2014-04-04 04:35:00
value                    14.0877
Name: 919, dtype: object
920
timestamp    2014-04-04 04:40:00
value                    8.12529
Name: 920, dtype: object
921
timestamp    2014-04-04 04:45:00
value                    15.6616
Name: 921, dtype: object
922
timestamp    2014-04-04 04:50:00
value                    12.1365
Name: 922, dtype: object
923
timestamp    2014-04-04 04:55:00
value                    18.3687
Name: 923, dtype: object
924
timestamp    2014-04-04 05:00:00
value                    16.9978
Name: 924, dtype: object
925
timestamp    2014-04-04 05:05:00
value                    14.4646
Name: 925, dtype: object
926
timestamp    2014-04-04 05:10:00
value                     10.774
Name: 926, dtype: object
927
timestamp    2014-04-04 05:15:00
value                    10.2409
Name: 927, dtype: object
928
timestamp    2014-04-04 05:20:00
value                    11.7442
Name: 928, dtype: object
929
timestamp    2014-04-04 05:25:00
value                    13.2422
Name: 929, dtype: object
930
timestamp    2014-04-04 05:30:00
value                    11.2567
Name: 930, dtype: object
931
timestamp    2014-04-04 05:35:00
value                    13.6642
Name: 931, dtype: object
932
timestamp    2014-04-04 05:40:00
value                    9.81907
Name: 932, dtype: object
933
timestamp    2014-04-04 05:45:00
value                    18.7548
Name: 933, dtype: object
934
timestamp    2014-04-04 05:50:00
value                    9.18717
Name: 934, dtype: object
935
timestamp    2014-04-04 05:55:00
value                    18.2514
Name: 935, dtype: object
936
timestamp    2014-04-04 06:00:00
value                    18.0494
Name: 936, dtype: object
937
timestamp    2014-04-04 06:05:00
value                     13.779
Name: 937, dtype: object
938
timestamp    2014-04-04 06:10:00
value                     15.974
Name: 938, dtype: object
939
timestamp    2014-04-04 06:15:00
value                    12.7965
Name: 939, dtype: object
940
timestamp    2014-04-04 06:20:00
value                    14.9304
Name: 940, dtype: object
941
timestamp    2014-04-04 06:25:00
value                    11.7463
Name: 941, dtype: object
942
timestamp    2014-04-04 06:30:00
value                    11.3127
Name: 942, dtype: object
943
timestamp    2014-04-04 06:35:00
value                    14.3605
Name: 943, dtype: object
944
timestamp    2014-04-04 06:40:00
value                    13.4794
Name: 944, dtype: object
945
timestamp    2014-04-04 06:45:00
value                    14.3749
Name: 945, dtype: object
946
timestamp    2014-04-04 06:50:00
value                    11.1533
Name: 946, dtype: object
947
timestamp    2014-04-04 06:55:00
value                    12.0365
Name: 947, dtype: object
948
timestamp    2014-04-04 07:00:00
value                    8.92288
Name: 948, dtype: object
949
timestamp    2014-04-04 07:05:00
value                    8.57504
Name: 949, dtype: object
950
timestamp    2014-04-04 07:10:00
value                     10.788
Name: 950, dtype: object
951
timestamp    2014-04-04 07:15:00
value                    8.81672
Name: 951, dtype: object
952
timestamp    2014-04-04 07:20:00
value                    9.14152
Name: 952, dtype: object
953
timestamp    2014-04-04 07:25:00
value                    16.9422
Name: 953, dtype: object
954
timestamp    2014-04-04 07:30:00
value                    8.42761
Name: 954, dtype: object
955
timestamp    2014-04-04 07:35:00
value                    15.2484
Name: 955, dtype: object
956
timestamp    2014-04-04 07:40:00
value                    10.9981
Name: 956, dtype: object
957
timestamp    2014-04-04 07:45:00
value                     17.587
Name: 957, dtype: object
958
timestamp    2014-04-04 07:50:00
value                    13.3349
Name: 958, dtype: object
959
timestamp    2014-04-04 07:55:00
value                    11.3613
Name: 959, dtype: object
960
timestamp    2014-04-04 08:00:00
value                     13.694
Name: 960, dtype: object
961
timestamp    2014-04-04 08:05:00
value                    12.2015
Name: 961, dtype: object
962
timestamp    2014-04-04 08:10:00
value                    14.2073
Name: 962, dtype: object
963
timestamp    2014-04-04 08:15:00
value                    9.25986
Name: 963, dtype: object
964
timestamp    2014-04-04 08:20:00
value                    18.9669
Name: 964, dtype: object
965
timestamp    2014-04-04 08:25:00
value                    12.6811
Name: 965, dtype: object
966
timestamp    2014-04-04 08:30:00
value                    11.8305
Name: 966, dtype: object
967
timestamp    2014-04-04 08:35:00
value                    15.8123
Name: 967, dtype: object
968
timestamp    2014-04-04 08:40:00
value                    12.0029
Name: 968, dtype: object
969
timestamp    2014-04-04 08:45:00
value                     17.166
Name: 969, dtype: object
970
timestamp    2014-04-04 08:50:00
value                     12.997
Name: 970, dtype: object
971
timestamp    2014-04-04 08:55:00
value                    15.9151
Name: 971, dtype: object
972
timestamp    2014-04-04 09:00:00
value                    9.18199
Name: 972, dtype: object
973
timestamp    2014-04-04 09:05:00
value                    17.3073
Name: 973, dtype: object
974
timestamp    2014-04-04 09:10:00
value                    16.0929
Name: 974, dtype: object
975
timestamp    2014-04-04 09:15:00
value                    10.3289
Name: 975, dtype: object
976
timestamp    2014-04-04 09:20:00
value                    9.59815
Name: 976, dtype: object
977
timestamp    2014-04-04 09:25:00
value                    11.4792
Name: 977, dtype: object
978
timestamp    2014-04-04 09:30:00
value                    18.7368
Name: 978, dtype: object
979
timestamp    2014-04-04 09:35:00
value                    10.8251
Name: 979, dtype: object
980
timestamp    2014-04-04 09:40:00
value                    13.0174
Name: 980, dtype: object
981
timestamp    2014-04-04 09:45:00
value                    8.33022
Name: 981, dtype: object
982
timestamp    2014-04-04 09:50:00
value                    12.3695
Name: 982, dtype: object
983
timestamp    2014-04-04 09:55:00
value                    14.2845
Name: 983, dtype: object
984
timestamp    2014-04-04 10:00:00
value                    18.4844
Name: 984, dtype: object
985
timestamp    2014-04-04 10:05:00
value                    13.6841
Name: 985, dtype: object
986
timestamp    2014-04-04 10:10:00
value                    17.0102
Name: 986, dtype: object
987
timestamp    2014-04-04 10:15:00
value                    14.0184
Name: 987, dtype: object
988
timestamp    2014-04-04 10:20:00
value                    8.44864
Name: 988, dtype: object
989
timestamp    2014-04-04 10:25:00
value                    11.4651
Name: 989, dtype: object
990
timestamp    2014-04-04 10:30:00
value                     14.331
Name: 990, dtype: object
991
timestamp    2014-04-04 10:35:00
value                    18.4565
Name: 991, dtype: object
992
timestamp    2014-04-04 10:40:00
value                    17.4504
Name: 992, dtype: object
993
timestamp    2014-04-04 10:45:00
value                    10.5119
Name: 993, dtype: object
994
timestamp    2014-04-04 10:50:00
value                    10.4212
Name: 994, dtype: object
995
timestamp    2014-04-04 10:55:00
value                    10.2129
Name: 995, dtype: object
996
timestamp    2014-04-04 11:00:00
value                    18.1475
Name: 996, dtype: object
997
timestamp    2014-04-04 11:05:00
value                    17.3793
Name: 997, dtype: object
998
timestamp    2014-04-04 11:10:00
value                    16.5237
Name: 998, dtype: object
999
timestamp    2014-04-04 11:15:00
value                    12.3201
Name: 999, dtype: object
1000
timestamp    2014-04-04 11:20:00
value                    13.5482
Name: 1000, dtype: object
1001
timestamp    2014-04-04 11:25:00
value                    13.1076
Name: 1001, dtype: object
1002
timestamp    2014-04-04 11:30:00
value                    10.7874
Name: 1002, dtype: object
1003
timestamp    2014-04-04 11:35:00
value                    13.5553
Name: 1003, dtype: object
1004
timestamp    2014-04-04 11:40:00
value                    8.33546
Name: 1004, dtype: object
1005
timestamp    2014-04-04 11:45:00
value                    9.44991
Name: 1005, dtype: object
1006
timestamp    2014-04-04 11:50:00
value                    17.7525
Name: 1006, dtype: object
1007
timestamp    2014-04-04 11:55:00
value                    16.2685
Name: 1007, dtype: object
1008
timestamp    2014-04-04 12:00:00
value                    12.6516
Name: 1008, dtype: object
1009
timestamp    2014-04-04 12:05:00
value                    13.6887
Name: 1009, dtype: object
1010

timestamp    2014-04-04 12:10:00
value                      12.07
Name: 1010, dtype: object
1011
timestamp    2014-04-04 12:15:00
value                    16.1486
Name: 1011, dtype: object
1012
timestamp    2014-04-04 12:20:00
value                    16.6261
Name: 1012, dtype: object
1013
timestamp    2014-04-04 12:25:00
value                    16.3961
Name: 1013, dtype: object
1014
timestamp    2014-04-04 12:30:00
value                    15.9487
Name: 1014, dtype: object
1015
timestamp    2014-04-04 12:35:00
value                    10.2495
Name: 1015, dtype: object
1016
timestamp    2014-04-04 12:40:00
value                    11.7177
Name: 1016, dtype: object
1017
timestamp    2014-04-04 12:45:00
value                    13.1683
Name: 1017, dtype: object
1018
timestamp    2014-04-04 12:50:00
value                    11.6387
Name: 1018, dtype: object
1019
timestamp    2014-04-04 12:55:00
value                    16.3043
Name: 1019, dtype: object
1020
timestamp    2014-04-04 13:00:00
value                    11.6229
Name: 1020, dtype: object
1021
timestamp    2014-04-04 13:05:00
value                    9.52055
Name: 1021, dtype: object
1022
timestamp    2014-04-04 13:10:00
value                    12.3894
Name: 1022, dtype: object
1023
timestamp    2014-04-04 13:15:00
value                    18.7791
Name: 1023, dtype: object
1024
timestamp    2014-04-04 13:20:00
value                    10.4847
Name: 1024, dtype: object
1025
timestamp    2014-04-04 13:25:00
value                    14.7337
Name: 1025, dtype: object
1026
timestamp    2014-04-04 13:30:00
value                    12.7627
Name: 1026, dtype: object
1027
timestamp    2014-04-04 13:35:00
value                    8.78127
Name: 1027, dtype: object
1028
timestamp    2014-04-04 13:40:00
value                    13.3666
Name: 1028, dtype: object
1029
timestamp    2014-04-04 13:45:00
value                    15.7238
Name: 1029, dtype: object
1030
timestamp    2014-04-04 13:50:00
value                    13.6454
Name: 1030, dtype: object
1031
timestamp    2014-04-04 13:55:00
value                    17.5932
Name: 1031, dtype: object
1032
timestamp    2014-04-04 14:00:00
value                    11.1783
Name: 1032, dtype: object
1033
timestamp    2014-04-04 14:05:00
value                    8.94874
Name: 1033, dtype: object
1034
timestamp    2014-04-04 14:10:00
value                    18.3022
Name: 1034, dtype: object
1035
timestamp    2014-04-04 14:15:00
value                    12.1602
Name: 1035, dtype: object
1036
timestamp    2014-04-04 14:20:00
value                    14.3405
Name: 1036, dtype: object
1037
timestamp    2014-04-04 14:25:00
value                     16.712
Name: 1037, dtype: object
1038
timestamp    2014-04-04 14:30:00
value                    11.5675
Name: 1038, dtype: object
1039
timestamp    2014-04-04 14:35:00
value                    15.8778
Name: 1039, dtype: object
1040
timestamp    2014-04-04 14:40:00
value                    9.48961
Name: 1040, dtype: object
1041
timestamp    2014-04-04 14:45:00
value                    11.2042
Name: 1041, dtype: object
1042
timestamp    2014-04-04 14:50:00
value                    9.59182
Name: 1042, dtype: object
1043
timestamp    2014-04-04 14:55:00
value                    16.9235
Name: 1043, dtype: object
1044
timestamp    2014-04-04 15:00:00
value                    10.4491
Name: 1044, dtype: object
1045
timestamp    2014-04-04 15:05:00
value                    15.8914
Name: 1045, dtype: object
1046
timestamp    2014-04-04 15:10:00
value                    18.3763
Name: 1046, dtype: object
1047
timestamp    2014-04-04 15:15:00
value                    13.8055
Name: 1047, dtype: object
1048
timestamp    2014-04-04 15:20:00
value                    13.9403
Name: 1048, dtype: object
1049
timestamp    2014-04-04 15:25:00
value                    13.0714
Name: 1049, dtype: object
1050
timestamp    2014-04-04 15:30:00
value                    11.5848
Name: 1050, dtype: object
1051
timestamp    2014-04-04 15:35:00
value                    13.2322
Name: 1051, dtype: object
1052
timestamp    2014-04-04 15:40:00
value                    14.6309
Name: 1052, dtype: object
1053
timestamp    2014-04-04 15:45:00
value                    18.8459
Name: 1053, dtype: object
1054
timestamp    2014-04-04 15:50:00
value                    18.3154
Name: 1054, dtype: object
1055
timestamp    2014-04-04 15:55:00
value                    17.4837
Name: 1055, dtype: object
1056
timestamp    2014-04-04 16:00:00
value                    17.7804
Name: 1056, dtype: object
1057
timestamp    2014-04-04 16:05:00
value                    13.1463
Name: 1057, dtype: object
1058
timestamp    2014-04-04 16:10:00
value                    15.2319
Name: 1058, dtype: object
1059
timestamp    2014-04-04 16:15:00
value                    17.8457
Name: 1059, dtype: object
1060
timestamp    2014-04-04 16:20:00
value                    12.3225
Name: 1060, dtype: object
1061
timestamp    2014-04-04 16:25:00
value                    18.5794
Name: 1061, dtype: object
1062
timestamp    2014-04-04 16:30:00
value                    12.5736
Name: 1062, dtype: object
1063
timestamp    2014-04-04 16:35:00
value                    14.6119
Name: 1063, dtype: object
1064
timestamp    2014-04-04 16:40:00
value                    15.8079
Name: 1064, dtype: object
1065
timestamp    2014-04-04 16:45:00
value                    18.4565
Name: 1065, dtype: object
1066
timestamp    2014-04-04 16:50:00
value                    10.6908
Name: 1066, dtype: object
1067
timestamp    2014-04-04 16:55:00
value                    16.2074
Name: 1067, dtype: object
1068
timestamp    2014-04-04 17:00:00
value                     13.729
Name: 1068, dtype: object
1069
timestamp    2014-04-04 17:05:00
value                    10.9541
Name: 1069, dtype: object
1070
timestamp    2014-04-04 17:10:00
value                    16.5427
Name: 1070, dtype: object
1071
timestamp    2014-04-04 17:15:00
value                    14.0744
Name: 1071, dtype: object
1072
timestamp    2014-04-04 17:20:00
value                    15.2707
Name: 1072, dtype: object
1073
timestamp    2014-04-04 17:25:00
value                    11.5519
Name: 1073, dtype: object
1074
timestamp    2014-04-04 17:30:00
value                     13.294
Name: 1074, dtype: object
1075
timestamp    2014-04-04 17:35:00
value                    14.7909
Name: 1075, dtype: object
1076
timestamp    2014-04-04 17:40:00
value                     12.454
Name: 1076, dtype: object
1077
timestamp    2014-04-04 17:45:00
value                    10.1821
Name: 1077, dtype: object
1078
timestamp    2014-04-04 17:50:00
value                     18.578
Name: 1078, dtype: object
1079
timestamp    2014-04-04 17:55:00
value                    13.6261
Name: 1079, dtype: object
1080
timestamp    2014-04-04 18:00:00
value                    16.0731
Name: 1080, dtype: object
1081
timestamp    2014-04-04 18:05:00
value                    12.5215
Name: 1081, dtype: object
1082
timestamp    2014-04-04 18:10:00
value                    11.9064
Name: 1082, dtype: object
1083
timestamp    2014-04-04 18:15:00
value                    12.4788
Name: 1083, dtype: object
1084
timestamp    2014-04-04 18:20:00
value                    12.5012
Name: 1084, dtype: object
1085
timestamp    2014-04-04 18:25:00
value                     13.986
Name: 1085, dtype: object
1086
timestamp    2014-04-04 18:30:00
value                    13.9782
Name: 1086, dtype: object
1087
timestamp    2014-04-04 18:35:00
value                    13.4687
Name: 1087, dtype: object
1088
timestamp    2014-04-04 18:40:00
value                    9.48264
Name: 1088, dtype: object
1089
timestamp    2014-04-04 18:45:00
value                    13.4568
Name: 1089, dtype: object
1090
timestamp    2014-04-04 18:50:00
value                    9.86014
Name: 1090, dtype: object
1091
timestamp    2014-04-04 18:55:00
value                    9.38749
Name: 1091, dtype: object
1092
timestamp    2014-04-04 19:00:00
value                    18.2591
Name: 1092, dtype: object
1093
timestamp    2014-04-04 19:05:00
value                    14.6545
Name: 1093, dtype: object
1094
timestamp    2014-04-04 19:10:00
value                    15.2544
Name: 1094, dtype: object
1095
timestamp    2014-04-04 19:15:00
value                    12.4197
Name: 1095, dtype: object
1096
timestamp    2014-04-04 19:20:00
value                    17.9988
Name: 1096, dtype: object
1097
timestamp    2014-04-04 19:25:00
value                    15.0172
Name: 1097, dtype: object
1098
timestamp    2014-04-04 19:30:00
value                    16.4609
Name: 1098, dtype: object
1099
timestamp    2014-04-04 19:35:00
value                    12.0542
Name: 1099, dtype: object
1100
timestamp    2014-04-04 19:40:00
value                    18.5601
Name: 1100, dtype: object
1101
timestamp    2014-04-04 19:45:00
value                    17.0251
Name: 1101, dtype: object
1102
timestamp    2014-04-04 19:50:00
value                    17.3934
Name: 1102, dtype: object
1103
timestamp    2014-04-04 19:55:00
value                    9.89414
Name: 1103, dtype: object
1104
timestamp    2014-04-04 20:00:00
value                    10.9806
Name: 1104, dtype: object
1105
timestamp    2014-04-04 20:05:00
value                    11.1419
Name: 1105, dtype: object
1106
timestamp    2014-04-04 20:10:00
value                      10.98
Name: 1106, dtype: object
1107
timestamp    2014-04-04 20:15:00
value                    17.4095
Name: 1107, dtype: object
1108
timestamp    2014-04-04 20:20:00
value                    8.35073
Name: 1108, dtype: object
1109
timestamp    2014-04-04 20:25:00
value                     8.8371
Name: 1109, dtype: object
1110
timestamp    2014-04-04 20:30:00
value                    11.0131
Name: 1110, dtype: object
1111
timestamp    2014-04-04 20:35:00
value                    10.1986
Name: 1111, dtype: object
1112
timestamp    2014-04-04 20:40:00
value                    10.5505
Name: 1112, dtype: object
1113
timestamp    2014-04-04 20:45:00
value                    16.7774
Name: 1113, dtype: object
1114
timestamp    2014-04-04 20:50:00
value                    14.1944
Name: 1114, dtype: object
1115
timestamp    2014-04-04 20:55:00
value                    8.06348
Name: 1115, dtype: object
1116
timestamp    2014-04-04 21:00:00
value                    12.7226
Name: 1116, dtype: object
1117
timestamp    2014-04-04 21:05:00
value                    12.4867
Name: 1117, dtype: object
1118
timestamp    2014-04-04 21:10:00
value                     9.2534
Name: 1118, dtype: object
1119
timestamp    2014-04-04 21:15:00
value                    15.4376
Name: 1119, dtype: object
1120
timestamp    2014-04-04 21:20:00
value                    15.7231
Name: 1120, dtype: object
1121
timestamp    2014-04-04 21:25:00
value                    15.9298
Name: 1121, dtype: object
1122
timestamp    2014-04-04 21:30:00
value                    16.0132
Name: 1122, dtype: object
1123
timestamp    2014-04-04 21:35:00
value                    8.00058
Name: 1123, dtype: object
1124
timestamp    2014-04-04 21:40:00
value                    18.4931
Name: 1124, dtype: object
1125
timestamp    2014-04-04 21:45:00
value                    16.9563
Name: 1125, dtype: object
1126
timestamp    2014-04-04 21:50:00
value                    17.9438
Name: 1126, dtype: object
1127
timestamp    2014-04-04 21:55:00
value                    8.17208
Name: 1127, dtype: object
1128
timestamp    2014-04-04 22:00:00
value                    18.2724
Name: 1128, dtype: object
1129
timestamp    2014-04-04 22:05:00
value                    16.9077
Name: 1129, dtype: object
1130
timestamp    2014-04-04 22:10:00
value                    17.2094
Name: 1130, dtype: object

1131
timestamp    2014-04-04 22:15:00
value                    9.02616
Name: 1131, dtype: object
1132
timestamp    2014-04-04 22:20:00
value                    16.1266
Name: 1132, dtype: object
1133
timestamp    2014-04-04 22:25:00
value                    18.5591
Name: 1133, dtype: object
1134
timestamp    2014-04-04 22:30:00
value                     15.464
Name: 1134, dtype: object
1135
timestamp    2014-04-04 22:35:00
value                    14.2762
Name: 1135, dtype: object
1136
timestamp    2014-04-04 22:40:00
value                    18.4019
Name: 1136, dtype: object
1137
timestamp    2014-04-04 22:45:00
value                    12.8723
Name: 1137, dtype: object
1138
timestamp    2014-04-04 22:50:00
value                    14.5922
Name: 1138, dtype: object
1139
timestamp    2014-04-04 22:55:00
value                    13.2397
Name: 1139, dtype: object
1140
timestamp    2014-04-04 23:00:00
value                    18.2613
Name: 1140, dtype: object
1141
timestamp    2014-04-04 23:05:00
value                    8.83693
Name: 1141, dtype: object
1142
timestamp    2014-04-04 23:10:00
value                    13.5123
Name: 1142, dtype: object
1143
timestamp    2014-04-04 23:15:00
value                    15.5565
Name: 1143, dtype: object
1144
timestamp    2014-04-04 23:20:00
value                     16.711
Name: 1144, dtype: object
1145
timestamp    2014-04-04 23:25:00
value                    14.4132
Name: 1145, dtype: object
1146
timestamp    2014-04-04 23:30:00
value                    17.9981
Name: 1146, dtype: object
1147
timestamp    2014-04-04 23:35:00
value                    18.3619
Name: 1147, dtype: object
1148
timestamp    2014-04-04 23:40:00
value                    8.70751
Name: 1148, dtype: object
1149
timestamp    2014-04-04 23:45:00
value                    12.4261
Name: 1149, dtype: object
1150
timestamp    2014-04-04 23:50:00
value                    8.25805
Name: 1150, dtype: object
1151
timestamp    2014-04-04 23:55:00
value                    11.6236
Name: 1151, dtype: object
1152
timestamp    2014-04-05 00:00:00
value                    13.9056
Name: 1152, dtype: object
1153
timestamp    2014-04-05 00:05:00
value                    18.0187
Name: 1153, dtype: object
1154
timestamp    2014-04-05 00:10:00
value                    17.3121
Name: 1154, dtype: object
1155
timestamp    2014-04-05 00:15:00
value                     9.4025
Name: 1155, dtype: object
1156
timestamp    2014-04-05 00:20:00
value                    9.02333
Name: 1156, dtype: object
1157
timestamp    2014-04-05 00:25:00
value                    14.4819
Name: 1157, dtype: object
1158
timestamp    2014-04-05 00:30:00
value                    13.8533
Name: 1158, dtype: object
1159
timestamp    2014-04-05 00:35:00
value                    10.9302
Name: 1159, dtype: object
1160
timestamp    2014-04-05 00:40:00
value                     17.894
Name: 1160, dtype: object
1161
timestamp    2014-04-05 00:45:00
value                     18.201
Name: 1161, dtype: object
1162
timestamp    2014-04-05 00:50:00
value                    12.4287
Name: 1162, dtype: object
1163
timestamp    2014-04-05 00:55:00
value                    17.7933
Name: 1163, dtype: object
1164
timestamp    2014-04-05 01:00:00
value                    12.2234
Name: 1164, dtype: object
1165
timestamp    2014-04-05 01:05:00
value                     16.105
Name: 1165, dtype: object
1166
timestamp    2014-04-05 01:10:00
value                    13.2354
Name: 1166, dtype: object
1167
timestamp    2014-04-05 01:15:00
value                    9.34841
Name: 1167, dtype: object
1168
timestamp    2014-04-05 01:20:00
value                    18.2073
Name: 1168, dtype: object
1169
timestamp    2014-04-05 01:25:00
value                    12.9951
Name: 1169, dtype: object
1170
timestamp    2014-04-05 01:30:00
value                    16.0794
Name: 1170, dtype: object
1171
timestamp    2014-04-05 01:35:00
value                    12.0389
Name: 1171, dtype: object
1172
timestamp    2014-04-05 01:40:00
value                    8.20769
Name: 1172, dtype: object
1173
timestamp    2014-04-05 01:45:00
value                    9.10583
Name: 1173, dtype: object
1174
timestamp    2014-04-05 01:50:00
value                    13.4584
Name: 1174, dtype: object
1175
timestamp    2014-04-05 01:55:00
value                    15.5896
Name: 1175, dtype: object
1176
timestamp    2014-04-05 02:00:00
value                    11.6821
Name: 1176, dtype: object
1177
timestamp    2014-04-05 02:05:00
value                    15.6504
Name: 1177, dtype: object
1178
timestamp    2014-04-05 02:10:00
value                     15.685
Name: 1178, dtype: object
1179
timestamp    2014-04-05 02:15:00
value                    15.7433
Name: 1179, dtype: object
1180
timestamp    2014-04-05 02:20:00
value                    13.4177
Name: 1180, dtype: object
1181
timestamp    2014-04-05 02:25:00
value                    18.0637
Name: 1181, dtype: object
1182
timestamp    2014-04-05 02:30:00
value                    13.3812
Name: 1182, dtype: object
1183
timestamp    2014-04-05 02:35:00
value                    12.9529
Name: 1183, dtype: object
1184
timestamp    2014-04-05 02:40:00
value                    10.1932
Name: 1184, dtype: object
1185
timestamp    2014-04-05 02:45:00
value                    11.3842
Name: 1185, dtype: object
1186
timestamp    2014-04-05 02:50:00
value                    8.46568
Name: 1186, dtype: object
1187
timestamp    2014-04-05 02:55:00
value                    14.9689
Name: 1187, dtype: object
1188
timestamp    2014-04-05 03:00:00
value                    10.7339
Name: 1188, dtype: object
1189
timestamp    2014-04-05 03:05:00
value                    11.3457
Name: 1189, dtype: object
1190
timestamp    2014-04-05 03:10:00
value                     16.479
Name: 1190, dtype: object
1191
timestamp    2014-04-05 03:15:00
value                    11.5994
Name: 1191, dtype: object
1192
timestamp    2014-04-05 03:20:00
value                    10.6642
Name: 1192, dtype: object
1193
timestamp    2014-04-05 03:25:00
value                    9.85964
Name: 1193, dtype: object
1194
timestamp    2014-04-05 03:30:00
value                    16.5234
Name: 1194, dtype: object
1195
timestamp    2014-04-05 03:35:00
value                    9.42677
Name: 1195, dtype: object
1196
timestamp    2014-04-05 03:40:00
value                    12.9913
Name: 1196, dtype: object
1197
timestamp    2014-04-05 03:45:00
value                    13.5762
Name: 1197, dtype: object
1198
timestamp    2014-04-05 03:50:00
value                    15.5613
Name: 1198, dtype: object
1199
timestamp    2014-04-05 03:55:00
value                    14.9661
Name: 1199, dtype: object
1200
timestamp    2014-04-05 04:00:00
value                    16.9179
Name: 1200, dtype: object
1201
timestamp    2014-04-05 04:05:00
value                    8.49227
Name: 1201, dtype: object
1202
timestamp    2014-04-05 04:10:00
value                    11.2608
Name: 1202, dtype: object
1203
timestamp    2014-04-05 04:15:00
value                    11.0815
Name: 1203, dtype: object
1204
timestamp    2014-04-05 04:20:00
value                    9.60619
Name: 1204, dtype: object
1205
timestamp    2014-04-05 04:25:00
value                     11.181
Name: 1205, dtype: object
1206
timestamp    2014-04-05 04:30:00
value                    11.4074
Name: 1206, dtype: object
1207
timestamp    2014-04-05 04:35:00
value                    13.7407
Name: 1207, dtype: object
1208
timestamp    2014-04-05 04:40:00
value                    15.3007
Name: 1208, dtype: object
1209
timestamp    2014-04-05 04:45:00
value                    12.1921
Name: 1209, dtype: object
1210
timestamp    2014-04-05 04:50:00
value                    15.9142
Name: 1210, dtype: object
1211
timestamp    2014-04-05 04:55:00
value                    11.6978
Name: 1211, dtype: object
1212
timestamp    2014-04-05 05:00:00
value                    11.1931
Name: 1212, dtype: object
1213
timestamp    2014-04-05 05:05:00
value                    13.9531
Name: 1213, dtype: object
1214
timestamp    2014-04-05 05:10:00
value                    8.26088
Name: 1214, dtype: object
1215
timestamp    2014-04-05 05:15:00
value                    8.87768
Name: 1215, dtype: object
1216
timestamp    2014-04-05 05:20:00
value                    12.5977
Name: 1216, dtype: object
1217
timestamp    2014-04-05 05:25:00
value                     18.372
Name: 1217, dtype: object
1218
timestamp    2014-04-05 05:30:00
value                    15.9366
Name: 1218, dtype: object
1219
timestamp    2014-04-05 05:35:00
value                    8.96939
Name: 1219, dtype: object
1220
timestamp    2014-04-05 05:40:00
value                    17.3095
Name: 1220, dtype: object
1221
timestamp    2014-04-05 05:45:00
value                    16.0553
Name: 1221, dtype: object
1222
timestamp    2014-04-05 05:50:00
value                    14.7204
Name: 1222, dtype: object
1223
timestamp    2014-04-05 05:55:00
value                    17.0232
Name: 1223, dtype: object
1224
timestamp    2014-04-05 06:00:00
value                    12.4452
Name: 1224, dtype: object
1225
timestamp    2014-04-05 06:05:00
value                    10.4365
Name: 1225, dtype: object
1226
timestamp    2014-04-05 06:10:00
value                    13.6323
Name: 1226, dtype: object
1227
timestamp    2014-04-05 06:15:00
value                    14.0373
Name: 1227, dtype: object
1228
timestamp    2014-04-05 06:20:00
value                    13.9216
Name: 1228, dtype: object
1229
timestamp    2014-04-05 06:25:00
value                    14.2158
Name: 1229, dtype: object
1230
timestamp    2014-04-05 06:30:00
value                    18.4358
Name: 1230, dtype: object
1231
timestamp    2014-04-05 06:35:00
value                    17.9247
Name: 1231, dtype: object
1232
timestamp    2014-04-05 06:40:00
value                    17.6329
Name: 1232, dtype: object
1233
timestamp    2014-04-05 06:45:00
value                    16.8156
Name: 1233, dtype: object
1234
timestamp    2014-04-05 06:50:00
value                    18.3777
Name: 1234, dtype: object
1235
timestamp    2014-04-05 06:55:00
value                    9.08344
Name: 1235, dtype: object
1236
timestamp    2014-04-05 07:00:00
value                    10.9164
Name: 1236, dtype: object
1237
timestamp    2014-04-05 07:05:00
value                    13.4456
Name: 1237, dtype: object
1238
timestamp    2014-04-05 07:10:00
value                    17.3119
Name: 1238, dtype: object
1239
timestamp    2014-04-05 07:15:00
value                    13.5568
Name: 1239, dtype: object
1240
timestamp    2014-04-05 07:20:00
value                    16.2284
Name: 1240, dtype: object
1241
timestamp    2014-04-05 07:25:00
value                    9.52856
Name: 1241, dtype: object
1242
timestamp    2014-04-05 07:30:00
value                    10.7766
Name: 1242, dtype: object
1243
timestamp    2014-04-05 07:35:00
value                    16.0495
Name: 1243, dtype: object
1244
timestamp    2014-04-05 07:40:00
value                    9.81207
Name: 1244, dtype: object
1245
timestamp    2014-04-05 07:45:00
value                    11.8649
Name: 1245, dtype: object
1246
timestamp    2014-04-05 07:50:00
value                    10.9135
Name: 1246, dtype: object
1247
timestamp    2014-04-05 07:55:00
value                    11.8485
Name: 1247, dtype: object
1248
timestamp    2014-04-05 08:00:00
value                    15.7916
Name: 1248, dtype: object
1249
timestamp    2014-04-05 08:05:00
value                    12.0463
Name: 1249, dtype: object
1250
timestamp    2014-04-05 08:10:00
value                    14.1079
Name: 1250, dtype: object
1251

timestamp    2014-04-05 08:15:00
value                    9.09925
Name: 1251, dtype: object
1252
timestamp    2014-04-05 08:20:00
value                    16.8552
Name: 1252, dtype: object
1253
timestamp    2014-04-05 08:25:00
value                    12.0688
Name: 1253, dtype: object
1254
timestamp    2014-04-05 08:30:00
value                    15.1339
Name: 1254, dtype: object
1255
timestamp    2014-04-05 08:35:00
value                    15.9793
Name: 1255, dtype: object
1256
timestamp    2014-04-05 08:40:00
value                    10.3063
Name: 1256, dtype: object
1257
timestamp    2014-04-05 08:45:00
value                    17.7314
Name: 1257, dtype: object
1258
timestamp    2014-04-05 08:50:00
value                    14.7785
Name: 1258, dtype: object
1259
timestamp    2014-04-05 08:55:00
value                     12.716
Name: 1259, dtype: object
1260
timestamp    2014-04-05 09:00:00
value                    10.0057
Name: 1260, dtype: object
1261
timestamp    2014-04-05 09:05:00
value                    18.3653
Name: 1261, dtype: object
1262
timestamp    2014-04-05 09:10:00
value                    16.3058
Name: 1262, dtype: object
1263
timestamp    2014-04-05 09:15:00
value                    10.2883
Name: 1263, dtype: object
1264
timestamp    2014-04-05 09:20:00
value                    11.7148
Name: 1264, dtype: object
1265
timestamp    2014-04-05 09:25:00
value                    16.9064
Name: 1265, dtype: object
1266
timestamp    2014-04-05 09:30:00
value                    15.6525
Name: 1266, dtype: object
1267
timestamp    2014-04-05 09:35:00
value                    16.4236
Name: 1267, dtype: object
1268
timestamp    2014-04-05 09:40:00
value                    12.8532
Name: 1268, dtype: object
1269
timestamp    2014-04-05 09:45:00
value                    15.8812
Name: 1269, dtype: object
1270
timestamp    2014-04-05 09:50:00
value                    12.2514
Name: 1270, dtype: object
1271
timestamp    2014-04-05 09:55:00
value                    10.3239
Name: 1271, dtype: object
1272
timestamp    2014-04-05 10:00:00
value                    14.9594
Name: 1272, dtype: object
1273
timestamp    2014-04-05 10:05:00
value                    18.7362
Name: 1273, dtype: object
1274
timestamp    2014-04-05 10:10:00
value                    11.4166
Name: 1274, dtype: object
1275
timestamp    2014-04-05 10:15:00
value                    13.0707
Name: 1275, dtype: object
1276
timestamp    2014-04-05 10:20:00
value                     15.414
Name: 1276, dtype: object
1277
timestamp    2014-04-05 10:25:00
value                    13.9566
Name: 1277, dtype: object
1278
timestamp    2014-04-05 10:30:00
value                    17.2777
Name: 1278, dtype: object
1279
timestamp    2014-04-05 10:35:00
value                    16.3792
Name: 1279, dtype: object
1280
timestamp    2014-04-05 10:40:00
value                    8.64127
Name: 1280, dtype: object
1281
timestamp    2014-04-05 10:45:00
value                    18.9826
Name: 1281, dtype: object
1282
timestamp    2014-04-05 10:50:00
value                    16.2764
Name: 1282, dtype: object
1283
timestamp    2014-04-05 10:55:00
value                    17.5029
Name: 1283, dtype: object
1284
timestamp    2014-04-05 11:00:00
value                    15.1632
Name: 1284, dtype: object
1285
timestamp    2014-04-05 11:05:00
value                    17.4191
Name: 1285, dtype: object
1286
timestamp    2014-04-05 11:10:00
value                    9.23621
Name: 1286, dtype: object
1287
timestamp    2014-04-05 11:15:00
value                    11.8251
Name: 1287, dtype: object
1288
timestamp    2014-04-05 11:20:00
value                    17.6406
Name: 1288, dtype: object
1289
timestamp    2014-04-05 11:25:00
value                    10.2182
Name: 1289, dtype: object
1290
timestamp    2014-04-05 11:30:00
value                    8.86066
Name: 1290, dtype: object
1291
timestamp    2014-04-05 11:35:00
value                    16.6693
Name: 1291, dtype: object
1292
timestamp    2014-04-05 11:40:00
value                    17.1903
Name: 1292, dtype: object
1293
timestamp    2014-04-05 11:45:00
value                    9.78917
Name: 1293, dtype: object
1294
timestamp    2014-04-05 11:50:00
value                    17.3978
Name: 1294, dtype: object
1295
timestamp    2014-04-05 11:55:00
value                    15.5544
Name: 1295, dtype: object
1296
timestamp    2014-04-05 12:00:00
value                    13.7209
Name: 1296, dtype: object
1297
timestamp    2014-04-05 12:05:00
value                    17.1328
Name: 1297, dtype: object
1298
timestamp    2014-04-05 12:10:00
value                    12.6117
Name: 1298, dtype: object
1299
timestamp    2014-04-05 12:15:00
value                    10.1339
Name: 1299, dtype: object
1300
timestamp    2014-04-05 12:20:00
value                    11.1334
Name: 1300, dtype: object
1301
timestamp    2014-04-05 12:25:00
value                    13.5568
Name: 1301, dtype: object
1302
timestamp    2014-04-05 12:30:00
value                    13.8446
Name: 1302, dtype: object
1303
timestamp    2014-04-05 12:35:00
value                    16.8614
Name: 1303, dtype: object
1304
timestamp    2014-04-05 12:40:00
value                    16.7049
Name: 1304, dtype: object
1305
timestamp    2014-04-05 12:45:00
value                     14.395
Name: 1305, dtype: object
1306
timestamp    2014-04-05 12:50:00
value                    16.5886
Name: 1306, dtype: object
1307
timestamp    2014-04-05 12:55:00
value                    10.1095
Name: 1307, dtype: object
1308
timestamp    2014-04-05 13:00:00
value                    8.55071
Name: 1308, dtype: object
1309
timestamp    2014-04-05 13:05:00
value                      17.61
Name: 1309, dtype: object
1310
timestamp    2014-04-05 13:10:00
value                     8.8311
Name: 1310, dtype: object
1311
timestamp    2014-04-05 13:15:00
value                    10.7136
Name: 1311, dtype: object
1312
timestamp    2014-04-05 13:20:00
value                    15.6485
Name: 1312, dtype: object
1313
timestamp    2014-04-05 13:25:00
value                    12.5039
Name: 1313, dtype: object
1314
timestamp    2014-04-05 13:30:00
value                    17.6395
Name: 1314, dtype: object
1315
timestamp    2014-04-05 13:35:00
value                    11.2778
Name: 1315, dtype: object
1316
timestamp    2014-04-05 13:40:00
value                    8.13058
Name: 1316, dtype: object
1317
timestamp    2014-04-05 13:45:00
value                    11.3072
Name: 1317, dtype: object
1318
timestamp    2014-04-05 13:50:00
value                    14.3588
Name: 1318, dtype: object
1319
timestamp    2014-04-05 13:55:00
value                    12.1353
Name: 1319, dtype: object
1320
timestamp    2014-04-05 14:00:00
value                    13.8836
Name: 1320, dtype: object
1321
timestamp    2014-04-05 14:05:00
value                    17.6426
Name: 1321, dtype: object
1322
timestamp    2014-04-05 14:10:00
value                    18.0373
Name: 1322, dtype: object
1323
timestamp    2014-04-05 14:15:00
value                    10.9257
Name: 1323, dtype: object
1324
timestamp    2014-04-05 14:20:00
value                    13.0835
Name: 1324, dtype: object
1325
timestamp    2014-04-05 14:25:00
value                    14.0406
Name: 1325, dtype: object
1326
timestamp    2014-04-05 14:30:00
value                    18.4402
Name: 1326, dtype: object
1327
timestamp    2014-04-05 14:35:00
value                    18.9848
Name: 1327, dtype: object
1328
timestamp    2014-04-05 14:40:00
value                    10.5895
Name: 1328, dtype: object
1329
timestamp    2014-04-05 14:45:00
value                    15.9968
Name: 1329, dtype: object
1330
timestamp    2014-04-05 14:50:00
value                    12.1583
Name: 1330, dtype: object
1331
timestamp    2014-04-05 14:55:00
value                    8.08919
Name: 1331, dtype: object
1332
timestamp    2014-04-05 15:00:00
value                    8.10178
Name: 1332, dtype: object
1333
timestamp    2014-04-05 15:05:00
value                    13.0662
Name: 1333, dtype: object
1334
timestamp    2014-04-05 15:10:00
value                    13.3717
Name: 1334, dtype: object
1335
timestamp    2014-04-05 15:15:00
value                    8.24827
Name: 1335, dtype: object
1336
timestamp    2014-04-05 15:20:00
value                    15.5562
Name: 1336, dtype: object
1337
timestamp    2014-04-05 15:25:00
value                     11.234
Name: 1337, dtype: object
1338
timestamp    2014-04-05 15:30:00
value                    14.1588
Name: 1338, dtype: object
1339
timestamp    2014-04-05 15:35:00
value                    11.3101
Name: 1339, dtype: object
1340
timestamp    2014-04-05 15:40:00
value                    9.83848
Name: 1340, dtype: object
1341
timestamp    2014-04-05 15:45:00
value                    12.4789
Name: 1341, dtype: object
1342
timestamp    2014-04-05 15:50:00
value                     10.555
Name: 1342, dtype: object
1343
timestamp    2014-04-05 15:55:00
value                    13.8828
Name: 1343, dtype: object
1344
timestamp    2014-04-05 16:00:00
value                    10.1871
Name: 1344, dtype: object
1345
timestamp    2014-04-05 16:05:00
value                    13.5925
Name: 1345, dtype: object
1346
timestamp    2014-04-05 16:10:00
value                    9.73116
Name: 1346, dtype: object
1347
timestamp    2014-04-05 16:15:00
value                    15.3807
Name: 1347, dtype: object
1348
timestamp    2014-04-05 16:20:00
value                    16.2933
Name: 1348, dtype: object
1349
timestamp    2014-04-05 16:25:00
value                    9.21434
Name: 1349, dtype: object
1350
timestamp    2014-04-05 16:30:00
value                    13.1458
Name: 1350, dtype: object
1351
timestamp    2014-04-05 16:35:00
value                    8.77959
Name: 1351, dtype: object
1352
timestamp    2014-04-05 16:40:00
value                      14.58
Name: 1352, dtype: object
1353
timestamp    2014-04-05 16:45:00
value                    10.9084
Name: 1353, dtype: object
1354
timestamp    2014-04-05 16:50:00
value                    13.8039
Name: 1354, dtype: object
1355
timestamp    2014-04-05 16:55:00
value                    13.6921
Name: 1355, dtype: object
1356
timestamp    2014-04-05 17:00:00
value                    18.1679
Name: 1356, dtype: object
1357
timestamp    2014-04-05 17:05:00
value                    14.0399
Name: 1357, dtype: object
1358
timestamp    2014-04-05 17:10:00
value                     14.413
Name: 1358, dtype: object
1359
timestamp    2014-04-05 17:15:00
value                    12.4182
Name: 1359, dtype: object
1360
timestamp    2014-04-05 17:20:00
value                    18.4399
Name: 1360, dtype: object
1361
timestamp    2014-04-05 17:25:00
value                     16.549
Name: 1361, dtype: object
1362
timestamp    2014-04-05 17:30:00
value                    11.1395
Name: 1362, dtype: object
1363
timestamp    2014-04-05 17:35:00
value                    17.2863
Name: 1363, dtype: object
1364
timestamp    2014-04-05 17:40:00
value                    12.7564
Name: 1364, dtype: object

1365
timestamp    2014-04-05 17:45:00
value                    17.1153
Name: 1365, dtype: object
1366
timestamp    2014-04-05 17:50:00
value                    17.0518
Name: 1366, dtype: object
1367
timestamp    2014-04-05 17:55:00
value                    10.0776
Name: 1367, dtype: object
1368
timestamp    2014-04-05 18:00:00
value                    15.7126
Name: 1368, dtype: object
1369
timestamp    2014-04-05 18:05:00
value                    11.1971
Name: 1369, dtype: object
1370
timestamp    2014-04-05 18:10:00
value                    11.2724
Name: 1370, dtype: object
1371
timestamp    2014-04-05 18:15:00
value                    11.2598
Name: 1371, dtype: object
1372
timestamp    2014-04-05 18:20:00
value                    15.9813
Name: 1372, dtype: object
1373
timestamp    2014-04-05 18:25:00
value                    10.5281
Name: 1373, dtype: object
1374
timestamp    2014-04-05 18:30:00
value                    8.00996
Name: 1374, dtype: object
1375
timestamp    2014-04-05 18:35:00
value                    15.8676
Name: 1375, dtype: object
1376
timestamp    2014-04-05 18:40:00
value                    9.88303
Name: 1376, dtype: object
1377
timestamp    2014-04-05 18:45:00
value                    9.14931
Name: 1377, dtype: object
1378
timestamp    2014-04-05 18:50:00
value                    10.6127
Name: 1378, dtype: object
1379
timestamp    2014-04-05 18:55:00
value                    12.1789
Name: 1379, dtype: object
1380
timestamp    2014-04-05 19:00:00
value                     13.235
Name: 1380, dtype: object
1381
timestamp    2014-04-05 19:05:00
value                    8.49027
Name: 1381, dtype: object
1382
timestamp    2014-04-05 19:10:00
value                    18.6763
Name: 1382, dtype: object
1383
timestamp    2014-04-05 19:15:00
value                    15.8767
Name: 1383, dtype: object
1384
timestamp    2014-04-05 19:20:00
value                    11.5551
Name: 1384, dtype: object
1385
timestamp    2014-04-05 19:25:00
value                    11.5057
Name: 1385, dtype: object
1386
timestamp    2014-04-05 19:30:00
value                     12.934
Name: 1386, dtype: object
1387
timestamp    2014-04-05 19:35:00
value                    14.8887
Name: 1387, dtype: object
1388
timestamp    2014-04-05 19:40:00
value                     9.6101
Name: 1388, dtype: object
1389
timestamp    2014-04-05 19:45:00
value                    10.0782
Name: 1389, dtype: object
1390
timestamp    2014-04-05 19:50:00
value                    17.4538
Name: 1390, dtype: object
1391
timestamp    2014-04-05 19:55:00
value                    10.8188
Name: 1391, dtype: object
1392
timestamp    2014-04-05 20:00:00
value                    12.1821
Name: 1392, dtype: object
1393
timestamp    2014-04-05 20:05:00
value                     17.584
Name: 1393, dtype: object
1394
timestamp    2014-04-05 20:10:00
value                    15.2946
Name: 1394, dtype: object
1395
timestamp    2014-04-05 20:15:00
value                    11.7588
Name: 1395, dtype: object
1396
timestamp    2014-04-05 20:20:00
value                    15.5207
Name: 1396, dtype: object
1397
timestamp    2014-04-05 20:25:00
value                    8.21652
Name: 1397, dtype: object
1398
timestamp    2014-04-05 20:30:00
value                    16.0921
Name: 1398, dtype: object
1399
timestamp    2014-04-05 20:35:00
value                    13.3572
Name: 1399, dtype: object
1400
timestamp    2014-04-05 20:40:00
value                     16.945
Name: 1400, dtype: object
1401
timestamp    2014-04-05 20:45:00
value                     18.501
Name: 1401, dtype: object
1402
timestamp    2014-04-05 20:50:00
value                    18.1837
Name: 1402, dtype: object
1403
timestamp    2014-04-05 20:55:00
value                    18.0019
Name: 1403, dtype: object
1404
timestamp    2014-04-05 21:00:00
value                    13.6339
Name: 1404, dtype: object
1405
timestamp    2014-04-05 21:05:00
value                    11.9616
Name: 1405, dtype: object
1406
timestamp    2014-04-05 21:10:00
value                    13.1154
Name: 1406, dtype: object
1407
timestamp    2014-04-05 21:15:00
value                    15.5889
Name: 1407, dtype: object
1408
timestamp    2014-04-05 21:20:00
value                     17.724
Name: 1408, dtype: object
1409
timestamp    2014-04-05 21:25:00
value                    10.2768
Name: 1409, dtype: object
1410
timestamp    2014-04-05 21:30:00
value                    18.1001
Name: 1410, dtype: object
1411
timestamp    2014-04-05 21:35:00
value                     16.967
Name: 1411, dtype: object
1412
timestamp    2014-04-05 21:40:00
value                    18.7674
Name: 1412, dtype: object
1413
timestamp    2014-04-05 21:45:00
value                    17.6828
Name: 1413, dtype: object
1414
timestamp    2014-04-05 21:50:00
value                    11.0793
Name: 1414, dtype: object
1415
timestamp    2014-04-05 21:55:00
value                    9.16552
Name: 1415, dtype: object
1416
timestamp    2014-04-05 22:00:00
value                    9.23465
Name: 1416, dtype: object
1417
timestamp    2014-04-05 22:05:00
value                    11.2035
Name: 1417, dtype: object
1418
timestamp    2014-04-05 22:10:00
value                     14.756
Name: 1418, dtype: object
1419
timestamp    2014-04-05 22:15:00
value                    16.8475
Name: 1419, dtype: object
1420
timestamp    2014-04-05 22:20:00
value                    17.8918
Name: 1420, dtype: object
1421
timestamp    2014-04-05 22:25:00
value                    14.8613
Name: 1421, dtype: object
1422
timestamp    2014-04-05 22:30:00
value                    8.06194
Name: 1422, dtype: object
1423
timestamp    2014-04-05 22:35:00
value                    10.0495
Name: 1423, dtype: object
1424
timestamp    2014-04-05 22:40:00
value                    9.09699
Name: 1424, dtype: object
1425
timestamp    2014-04-05 22:45:00
value                    11.9966
Name: 1425, dtype: object
1426
timestamp    2014-04-05 22:50:00
value                    13.5149
Name: 1426, dtype: object
1427
timestamp    2014-04-05 22:55:00
value                    8.47737
Name: 1427, dtype: object
1428
timestamp    2014-04-05 23:00:00
value                    11.8333
Name: 1428, dtype: object
1429
timestamp    2014-04-05 23:05:00
value                    9.97098
Name: 1429, dtype: object
1430
timestamp    2014-04-05 23:10:00
value                    15.1178
Name: 1430, dtype: object
1431
timestamp    2014-04-05 23:15:00
value                     13.107
Name: 1431, dtype: object
1432
timestamp    2014-04-05 23:20:00
value                    13.4485
Name: 1432, dtype: object
1433
timestamp    2014-04-05 23:25:00
value                    12.7046
Name: 1433, dtype: object
1434
timestamp    2014-04-05 23:30:00
value                    18.5162
Name: 1434, dtype: object
1435
timestamp    2014-04-05 23:35:00
value                    10.3621
Name: 1435, dtype: object
1436
timestamp    2014-04-05 23:40:00
value                    13.6833
Name: 1436, dtype: object
1437
timestamp    2014-04-05 23:45:00
value                    16.0962
Name: 1437, dtype: object
1438
timestamp    2014-04-05 23:50:00
value                    14.1253
Name: 1438, dtype: object
1439
timestamp    2014-04-05 23:55:00
value                    18.2192
Name: 1439, dtype: object
1440
timestamp    2014-04-06 00:00:00
value                    12.1577
Name: 1440, dtype: object
1441
timestamp    2014-04-06 00:05:00
value                    13.1004
Name: 1441, dtype: object
1442
timestamp    2014-04-06 00:10:00
value                    8.97375
Name: 1442, dtype: object
1443
timestamp    2014-04-06 00:15:00
value                     14.699
Name: 1443, dtype: object
1444
timestamp    2014-04-06 00:20:00
value                    11.1703
Name: 1444, dtype: object
1445
timestamp    2014-04-06 00:25:00
value                     9.7634
Name: 1445, dtype: object
1446
timestamp    2014-04-06 00:30:00
value                    13.9898
Name: 1446, dtype: object
1447
timestamp    2014-04-06 00:35:00
value                    13.8554
Name: 1447, dtype: object
1448
timestamp    2014-04-06 00:40:00
value                    8.83459
Name: 1448, dtype: object
1449
timestamp    2014-04-06 00:45:00
value                    15.6804
Name: 1449, dtype: object
1450
timestamp    2014-04-06 00:50:00
value                    14.8615
Name: 1450, dtype: object
1451
timestamp    2014-04-06 00:55:00
value                    10.0792
Name: 1451, dtype: object
1452
timestamp    2014-04-06 01:00:00
value                    13.1638
Name: 1452, dtype: object
1453
timestamp    2014-04-06 01:05:00
value                    15.9236
Name: 1453, dtype: object
1454
timestamp    2014-04-06 01:10:00
value                    13.8238
Name: 1454, dtype: object
1455
timestamp    2014-04-06 01:15:00
value                    12.3504
Name: 1455, dtype: object
1456
timestamp    2014-04-06 01:20:00
value                    11.5457
Name: 1456, dtype: object
1457
timestamp    2014-04-06 01:25:00
value                    14.7143
Name: 1457, dtype: object
1458
timestamp    2014-04-06 01:30:00
value                    18.3302
Name: 1458, dtype: object
1459
timestamp    2014-04-06 01:35:00
value                    15.3892
Name: 1459, dtype: object
1460
timestamp    2014-04-06 01:40:00
value                     8.8222
Name: 1460, dtype: object
1461
timestamp    2014-04-06 01:45:00
value                    13.0675
Name: 1461, dtype: object
1462
timestamp    2014-04-06 01:50:00
value                    17.7991
Name: 1462, dtype: object
1463
timestamp    2014-04-06 01:55:00
value                    9.03909
Name: 1463, dtype: object
1464
timestamp    2014-04-06 02:00:00
value                    18.8776
Name: 1464, dtype: object
1465
timestamp    2014-04-06 02:05:00
value                    18.4398
Name: 1465, dtype: object
1466
timestamp    2014-04-06 02:10:00
value                    8.86102
Name: 1466, dtype: object
1467
timestamp    2014-04-06 02:15:00
value                    18.2675
Name: 1467, dtype: object
1468
timestamp    2014-04-06 02:20:00
value                    11.9945
Name: 1468, dtype: object
1469
timestamp    2014-04-06 02:25:00
value                    17.2918
Name: 1469, dtype: object
1470
timestamp    2014-04-06 02:30:00
value                    12.6022
Name: 1470, dtype: object
1471
timestamp    2014-04-06 02:35:00
value                    12.8494
Name: 1471, dtype: object
1472
timestamp    2014-04-06 02:40:00
value                    14.9767
Name: 1472, dtype: object
1473
timestamp    2014-04-06 02:45:00
value                    16.5193
Name: 1473, dtype: object
1474
timestamp    2014-04-06 02:50:00
value                    8.37168
Name: 1474, dtype: object
1475
timestamp    2014-04-06 02:55:00
value                    14.5247
Name: 1475, dtype: object
1476
timestamp    2014-04-06 03:00:00
value                    10.0541
Name: 1476, dtype: object
1477
timestamp    2014-04-06 03:05:00
value                    11.8054
Name: 1477, dtype: object
1478
timestamp    2014-04-06 03:10:00
value                    11.8277
Name: 1478, dtype: object
1479
timestamp    2014-04-06 03:15:00
value                    13.1597
Name: 1479, dtype: object
1480
timestamp    2014-04-06 03:20:00
value                    11.6755
Name: 1480, dtype: object
1481
timestamp    2014-04-06 03:25:00
value                    9.18097
Name: 1481, dtype: object
1482
timestamp    2014-04-06 03:30:00
value                    9.60192
Name: 1482, dtype: object
1483
timestamp    2014-04-06 03:35:00
value                    8.36782
Name: 1483, dtype: object
1484
timestamp    2014-04-06 03:40:00
value                    13.1727
Name: 1484, dtype: object
1485
timestamp    2014-04-06 03:45:00
value                    18.4989
Name: 1485, dtype: object
1486
timestamp    2014-04-06 03:50:00
value                    9.27243
Name: 1486, dtype: object
1487
timestamp    2014-04-06 03:55:00
value                    18.4089
Name: 1487, dtype: object
1488
timestamp    2014-04-06 04:00:00
value                     16.067
Name: 1488, dtype: object
1489
timestamp    2014-04-06 04:05:00
value                    15.0125
Name: 1489, dtype: object
1490
timestamp    2014-04-06 04:10:00
value                    15.0981
Name: 1490, dtype: object
1491
timestamp    2014-04-06 04:15:00
value                     17.094
Name: 1491, dtype: object
1492
timestamp    2014-04-06 04:20:00
value                    9.17612
Name: 1492, dtype: object
1493
timestamp    2014-04-06 04:25:00
value                    13.5523
Name: 1493, dtype: object
1494

timestamp    2014-04-06 04:30:00
value                     15.668
Name: 1494, dtype: object
1495
timestamp    2014-04-06 04:35:00
value                     14.455
Name: 1495, dtype: object
1496
timestamp    2014-04-06 04:40:00
value                    17.1606
Name: 1496, dtype: object
1497
timestamp    2014-04-06 04:45:00
value                    8.79499
Name: 1497, dtype: object
1498
timestamp    2014-04-06 04:50:00
value                    15.5977
Name: 1498, dtype: object
1499
timestamp    2014-04-06 04:55:00
value                    13.8743
Name: 1499, dtype: object
1500
timestamp    2014-04-06 05:00:00
value                    12.1708
Name: 1500, dtype: object
1501
timestamp    2014-04-06 05:05:00
value                     11.743
Name: 1501, dtype: object
1502
timestamp    2014-04-06 05:10:00
value                    14.8292
Name: 1502, dtype: object
1503
timestamp    2014-04-06 05:15:00
value                    17.8009
Name: 1503, dtype: object
1504
timestamp    2014-04-06 05:20:00
value                    13.4579
Name: 1504, dtype: object
1505
timestamp    2014-04-06 05:25:00
value                     17.072
Name: 1505, dtype: object
1506
timestamp    2014-04-06 05:30:00
value                    12.4237
Name: 1506, dtype: object
1507
timestamp    2014-04-06 05:35:00
value                    9.12634
Name: 1507, dtype: object
1508
timestamp    2014-04-06 05:40:00
value                    8.67656
Name: 1508, dtype: object
1509
timestamp    2014-04-06 05:45:00
value                    8.56468
Name: 1509, dtype: object
1510
timestamp    2014-04-06 05:50:00
value                    12.1817
Name: 1510, dtype: object
1511
timestamp    2014-04-06 05:55:00
value                    11.7096
Name: 1511, dtype: object
1512
timestamp    2014-04-06 06:00:00
value                    15.8973
Name: 1512, dtype: object
1513
timestamp    2014-04-06 06:05:00
value                     16.171
Name: 1513, dtype: object
1514
timestamp    2014-04-06 06:10:00
value                    8.55939
Name: 1514, dtype: object
1515
timestamp    2014-04-06 06:15:00
value                    10.4324
Name: 1515, dtype: object
1516
timestamp    2014-04-06 06:20:00
value                    11.0169
Name: 1516, dtype: object
1517
timestamp    2014-04-06 06:25:00
value                    14.0237
Name: 1517, dtype: object
1518
timestamp    2014-04-06 06:30:00
value                    9.58967
Name: 1518, dtype: object
1519
timestamp    2014-04-06 06:35:00
value                    9.47335
Name: 1519, dtype: object
1520
timestamp    2014-04-06 06:40:00
value                    18.3817
Name: 1520, dtype: object
1521
timestamp    2014-04-06 06:45:00
value                    16.8462
Name: 1521, dtype: object
1522
timestamp    2014-04-06 06:50:00
value                     9.9872
Name: 1522, dtype: object
1523
timestamp    2014-04-06 06:55:00
value                    12.4722
Name: 1523, dtype: object
1524
timestamp    2014-04-06 07:00:00
value                    11.9118
Name: 1524, dtype: object
1525
timestamp    2014-04-06 07:05:00
value                     16.701
Name: 1525, dtype: object
1526
timestamp    2014-04-06 07:10:00
value                    13.6123
Name: 1526, dtype: object
1527
timestamp    2014-04-06 07:15:00
value                    9.40635
Name: 1527, dtype: object
1528
timestamp    2014-04-06 07:20:00
value                    16.1289
Name: 1528, dtype: object
1529
timestamp    2014-04-06 07:25:00
value                    12.3658
Name: 1529, dtype: object
1530
timestamp    2014-04-06 07:30:00
value                    10.8922
Name: 1530, dtype: object
1531
timestamp    2014-04-06 07:35:00
value                    12.1305
Name: 1531, dtype: object
1532
timestamp    2014-04-06 07:40:00
value                    13.4753
Name: 1532, dtype: object
1533
timestamp    2014-04-06 07:45:00
value                    11.7743
Name: 1533, dtype: object
1534
timestamp    2014-04-06 07:50:00
value                     10.661
Name: 1534, dtype: object
1535
timestamp    2014-04-06 07:55:00
value                    12.3835
Name: 1535, dtype: object
1536
timestamp    2014-04-06 08:00:00
value                     8.2109
Name: 1536, dtype: object
1537
timestamp    2014-04-06 08:05:00
value                    16.4975
Name: 1537, dtype: object
1538
timestamp    2014-04-06 08:10:00
value                    9.88039
Name: 1538, dtype: object
1539
timestamp    2014-04-06 08:15:00
value                    8.48295
Name: 1539, dtype: object
1540
timestamp    2014-04-06 08:20:00
value                    15.1907
Name: 1540, dtype: object
1541
timestamp    2014-04-06 08:25:00
value                    16.5133
Name: 1541, dtype: object
1542
timestamp    2014-04-06 08:30:00
value                    16.9521
Name: 1542, dtype: object
1543
timestamp    2014-04-06 08:35:00
value                    13.4286
Name: 1543, dtype: object
1544
timestamp    2014-04-06 08:40:00
value                    10.2591
Name: 1544, dtype: object
1545
timestamp    2014-04-06 08:45:00
value                    16.1095
Name: 1545, dtype: object
1546
timestamp    2014-04-06 08:50:00
value                    15.6968
Name: 1546, dtype: object
1547
timestamp    2014-04-06 08:55:00
value                     10.709
Name: 1547, dtype: object
1548
timestamp    2014-04-06 09:00:00
value                    17.9375
Name: 1548, dtype: object
1549
timestamp    2014-04-06 09:05:00
value                    9.14809
Name: 1549, dtype: object
1550
timestamp    2014-04-06 09:10:00
value                    18.8096
Name: 1550, dtype: object
1551
timestamp    2014-04-06 09:15:00
value                    17.4627
Name: 1551, dtype: object
1552
timestamp    2014-04-06 09:20:00
value                    15.5669
Name: 1552, dtype: object
1553
timestamp    2014-04-06 09:25:00
value                    18.3262
Name: 1553, dtype: object
1554
timestamp    2014-04-06 09:30:00
value                    15.9454
Name: 1554, dtype: object
1555
timestamp    2014-04-06 09:35:00
value                     10.095
Name: 1555, dtype: object
1556
timestamp    2014-04-06 09:40:00
value                    12.8637
Name: 1556, dtype: object
1557
timestamp    2014-04-06 09:45:00
value                    8.78653
Name: 1557, dtype: object
1558
timestamp    2014-04-06 09:50:00
value                    12.2862
Name: 1558, dtype: object
1559
timestamp    2014-04-06 09:55:00
value                    16.1576
Name: 1559, dtype: object
1560
timestamp    2014-04-06 10:00:00
value                    12.2509
Name: 1560, dtype: object
1561
timestamp    2014-04-06 10:05:00
value                    11.6332
Name: 1561, dtype: object
1562
timestamp    2014-04-06 10:10:00
value                    14.5489
Name: 1562, dtype: object
1563
timestamp    2014-04-06 10:15:00
value                    17.5942
Name: 1563, dtype: object
1564
timestamp    2014-04-06 10:20:00
value                    8.52342
Name: 1564, dtype: object
1565
timestamp    2014-04-06 10:25:00
value                    12.2402
Name: 1565, dtype: object
1566
timestamp    2014-04-06 10:30:00
value                    9.74065
Name: 1566, dtype: object
1567
timestamp    2014-04-06 10:35:00
value                    15.6489
Name: 1567, dtype: object
1568
timestamp    2014-04-06 10:40:00
value                    9.16297
Name: 1568, dtype: object
1569
timestamp    2014-04-06 10:45:00
value                    15.3129
Name: 1569, dtype: object
1570
timestamp    2014-04-06 10:50:00
value                     11.148
Name: 1570, dtype: object
1571
timestamp    2014-04-06 10:55:00
value                    10.1881
Name: 1571, dtype: object
1572
timestamp    2014-04-06 11:00:00
value                    18.2999
Name: 1572, dtype: object
1573
timestamp    2014-04-06 11:05:00
value                    8.20377
Name: 1573, dtype: object
1574
timestamp    2014-04-06 11:10:00
value                    12.8155
Name: 1574, dtype: object
1575
timestamp    2014-04-06 11:15:00
value                     8.2379
Name: 1575, dtype: object
1576
timestamp    2014-04-06 11:20:00
value                    13.3195
Name: 1576, dtype: object
1577
timestamp    2014-04-06 11:25:00
value                    13.5115
Name: 1577, dtype: object
1578
timestamp    2014-04-06 11:30:00
value                    11.5383
Name: 1578, dtype: object
1579
timestamp    2014-04-06 11:35:00
value                    9.45378
Name: 1579, dtype: object
1580
timestamp    2014-04-06 11:40:00
value                    12.1403
Name: 1580, dtype: object
1581
timestamp    2014-04-06 11:45:00
value                    15.3949
Name: 1581, dtype: object
1582
timestamp    2014-04-06 11:50:00
value                    16.6064
Name: 1582, dtype: object
1583
timestamp    2014-04-06 11:55:00
value                    13.8383
Name: 1583, dtype: object
1584
timestamp    2014-04-06 12:00:00
value                    14.4882
Name: 1584, dtype: object
1585
timestamp    2014-04-06 12:05:00
value                    10.2068
Name: 1585, dtype: object
1586
timestamp    2014-04-06 12:10:00
value                    11.1606
Name: 1586, dtype: object
1587
timestamp    2014-04-06 12:15:00
value                    9.78085
Name: 1587, dtype: object
1588
timestamp    2014-04-06 12:20:00
value                    10.7422
Name: 1588, dtype: object
1589
timestamp    2014-04-06 12:25:00
value                    10.4738
Name: 1589, dtype: object
1590
timestamp    2014-04-06 12:30:00
value                    13.7139
Name: 1590, dtype: object
1591
timestamp    2014-04-06 12:35:00
value                    14.1896
Name: 1591, dtype: object
1592
timestamp    2014-04-06 12:40:00
value                    18.3944
Name: 1592, dtype: object
1593
timestamp    2014-04-06 12:45:00
value                    10.1513
Name: 1593, dtype: object
1594
timestamp    2014-04-06 12:50:00
value                    15.0584
Name: 1594, dtype: object
1595
timestamp    2014-04-06 12:55:00
value                    16.9899
Name: 1595, dtype: object
1596
timestamp    2014-04-06 13:00:00
value                    14.1627
Name: 1596, dtype: object
1597
timestamp    2014-04-06 13:05:00
value                     10.805
Name: 1597, dtype: object
1598
timestamp    2014-04-06 13:10:00
value                    10.8881
Name: 1598, dtype: object
1599
timestamp    2014-04-06 13:15:00
value                    8.43178
Name: 1599, dtype: object
1600
timestamp    2014-04-06 13:20:00
value                    11.3599
Name: 1600, dtype: object
1601
timestamp    2014-04-06 13:25:00
value                    16.1906
Name: 1601, dtype: object
1602
timestamp    2014-04-06 13:30:00
value                     8.5227
Name: 1602, dtype: object
1603
timestamp    2014-04-06 13:35:00
value                    10.4122
Name: 1603, dtype: object
1604
timestamp    2014-04-06 13:40:00
value                    15.7686
Name: 1604, dtype: object
1605
timestamp    2014-04-06 13:45:00
value                    16.6092
Name: 1605, dtype: object
1606
timestamp    2014-04-06 13:50:00
value                    13.0085
Name: 1606, dtype: object
1607
timestamp    2014-04-06 13:55:00
value                    15.6788
Name: 1607, dtype: object
1608
timestamp    2014-04-06 14:00:00
value                    12.2675
Name: 1608, dtype: object
1609
timestamp    2014-04-06 14:05:00
value                    9.75905
Name: 1609, dtype: object
1610
timestamp    2014-04-06 14:10:00
value                    12.3796
Name: 1610, dtype: object
1611
timestamp    2014-04-06 14:15:00
value                    14.3796
Name: 1611, dtype: object
1612
timestamp    2014-04-06 14:20:00
value                    18.4286
Name: 1612, dtype: object
1613
timestamp    2014-04-06 14:25:00
value                    8.75626
Name: 1613, dtype: object
1614
timestamp    2014-04-06 14:30:00
value                    13.5813
Name: 1614, dtype: object
1615
timestamp    2014-04-06 14:35:00
value                    11.6181
Name: 1615, dtype: object
1616
timestamp    2014-04-06 14:40:00
value                    13.5914
Name: 1616, dtype: object
1617
timestamp    2014-04-06 14:45:00
value                    8.26373
Name: 1617, dtype: object
1618
timestamp    2014-04-06 14:50:00
value                    11.4433
Name: 1618, dtype: object
1619

timestamp    2014-04-06 14:55:00
value                    17.0185
Name: 1619, dtype: object
1620
timestamp    2014-04-06 15:00:00
value                    14.0934
Name: 1620, dtype: object
1621
timestamp    2014-04-06 15:05:00
value                    12.9564
Name: 1621, dtype: object
1622
timestamp    2014-04-06 15:10:00
value                    11.1408
Name: 1622, dtype: object
1623
timestamp    2014-04-06 15:15:00
value                    11.2785
Name: 1623, dtype: object
1624
timestamp    2014-04-06 15:20:00
value                    12.2141
Name: 1624, dtype: object
1625
timestamp    2014-04-06 15:25:00
value                    17.1913
Name: 1625, dtype: object
1626
timestamp    2014-04-06 15:30:00
value                    18.6393
Name: 1626, dtype: object
1627
timestamp    2014-04-06 15:35:00
value                    12.8252
Name: 1627, dtype: object
1628
timestamp    2014-04-06 15:40:00
value                    12.3269
Name: 1628, dtype: object
1629
timestamp    2014-04-06 15:45:00
value                    17.3121
Name: 1629, dtype: object
1630
timestamp    2014-04-06 15:50:00
value                     12.696
Name: 1630, dtype: object
1631
timestamp    2014-04-06 15:55:00
value                    14.0722
Name: 1631, dtype: object
1632
timestamp    2014-04-06 16:00:00
value                    10.5404
Name: 1632, dtype: object
1633
timestamp    2014-04-06 16:05:00
value                    16.1785
Name: 1633, dtype: object
1634
timestamp    2014-04-06 16:10:00
value                    13.8519
Name: 1634, dtype: object
1635
timestamp    2014-04-06 16:15:00
value                    16.8994
Name: 1635, dtype: object
1636
timestamp    2014-04-06 16:20:00
value                    16.5881
Name: 1636, dtype: object
1637
timestamp    2014-04-06 16:25:00
value                    10.3651
Name: 1637, dtype: object
1638
timestamp    2014-04-06 16:30:00
value                     15.872
Name: 1638, dtype: object
1639
timestamp    2014-04-06 16:35:00
value                    16.8006
Name: 1639, dtype: object
1640
timestamp    2014-04-06 16:40:00
value                    11.8072
Name: 1640, dtype: object
1641
timestamp    2014-04-06 16:45:00
value                     9.8987
Name: 1641, dtype: object
1642
timestamp    2014-04-06 16:50:00
value                    8.02895
Name: 1642, dtype: object
1643
timestamp    2014-04-06 16:55:00
value                    12.9599
Name: 1643, dtype: object
1644
timestamp    2014-04-06 17:00:00
value                    11.8768
Name: 1644, dtype: object
1645
timestamp    2014-04-06 17:05:00
value                     14.104
Name: 1645, dtype: object
1646
timestamp    2014-04-06 17:10:00
value                    10.0685
Name: 1646, dtype: object
1647
timestamp    2014-04-06 17:15:00
value                    17.4563
Name: 1647, dtype: object
1648
timestamp    2014-04-06 17:20:00
value                    10.8353
Name: 1648, dtype: object
1649
timestamp    2014-04-06 17:25:00
value                    10.4907
Name: 1649, dtype: object
1650
timestamp    2014-04-06 17:30:00
value                    13.2879
Name: 1650, dtype: object
1651
timestamp    2014-04-06 17:35:00
value                    13.4874
Name: 1651, dtype: object
1652
timestamp    2014-04-06 17:40:00
value                    10.3659
Name: 1652, dtype: object
1653
timestamp    2014-04-06 17:45:00
value                    10.9905
Name: 1653, dtype: object
1654
timestamp    2014-04-06 17:50:00
value                    9.86676
Name: 1654, dtype: object
1655
timestamp    2014-04-06 17:55:00
value                    15.9031
Name: 1655, dtype: object
1656
timestamp    2014-04-06 18:00:00
value                     16.471
Name: 1656, dtype: object
1657
timestamp    2014-04-06 18:05:00
value                    13.0856
Name: 1657, dtype: object
1658
timestamp    2014-04-06 18:10:00
value                     15.855
Name: 1658, dtype: object
1659
timestamp    2014-04-06 18:15:00
value                    16.0953
Name: 1659, dtype: object
1660
timestamp    2014-04-06 18:20:00
value                    9.52103
Name: 1660, dtype: object
1661
timestamp    2014-04-06 18:25:00
value                     18.628
Name: 1661, dtype: object
1662
timestamp    2014-04-06 18:30:00
value                    17.0314
Name: 1662, dtype: object
1663
timestamp    2014-04-06 18:35:00
value                    10.2493
Name: 1663, dtype: object
1664
timestamp    2014-04-06 18:40:00
value                    10.0478
Name: 1664, dtype: object
1665
timestamp    2014-04-06 18:45:00
value                    9.38227
Name: 1665, dtype: object
1666
timestamp    2014-04-06 18:50:00
value                    9.52216
Name: 1666, dtype: object
1667
timestamp    2014-04-06 18:55:00
value                    16.2298
Name: 1667, dtype: object
1668
timestamp    2014-04-06 19:00:00
value                    13.1662
Name: 1668, dtype: object
1669
timestamp    2014-04-06 19:05:00
value                    16.6123
Name: 1669, dtype: object
1670
timestamp    2014-04-06 19:10:00
value                    16.2088
Name: 1670, dtype: object
1671
timestamp    2014-04-06 19:15:00
value                    14.6507
Name: 1671, dtype: object
1672
timestamp    2014-04-06 19:20:00
value                      15.55
Name: 1672, dtype: object
1673
timestamp    2014-04-06 19:25:00
value                    8.20191
Name: 1673, dtype: object
1674
timestamp    2014-04-06 19:30:00
value                    11.4296
Name: 1674, dtype: object
1675
timestamp    2014-04-06 19:35:00
value                     15.016
Name: 1675, dtype: object
1676
timestamp    2014-04-06 19:40:00
value                    8.10279
Name: 1676, dtype: object
1677
timestamp    2014-04-06 19:45:00
value                    8.36275
Name: 1677, dtype: object
1678
timestamp    2014-04-06 19:50:00
value                    17.3708
Name: 1678, dtype: object
1679
timestamp    2014-04-06 19:55:00
value                    15.5243
Name: 1679, dtype: object
1680
timestamp    2014-04-06 20:00:00
value                    10.9191
Name: 1680, dtype: object
1681
timestamp    2014-04-06 20:05:00
value                    15.5676
Name: 1681, dtype: object
1682
timestamp    2014-04-06 20:10:00
value                     16.717
Name: 1682, dtype: object
1683
timestamp    2014-04-06 20:15:00
value                    11.3747
Name: 1683, dtype: object
1684
timestamp    2014-04-06 20:20:00
value                    8.39641
Name: 1684, dtype: object
1685
timestamp    2014-04-06 20:25:00
value                    18.2606
Name: 1685, dtype: object
1686
timestamp    2014-04-06 20:30:00
value                     11.797
Name: 1686, dtype: object
1687
timestamp    2014-04-06 20:35:00
value                     9.1713
Name: 1687, dtype: object
1688
timestamp    2014-04-06 20:40:00
value                    13.4104
Name: 1688, dtype: object
1689
timestamp    2014-04-06 20:45:00
value                    16.4531
Name: 1689, dtype: object
1690
timestamp    2014-04-06 20:50:00
value                    10.4381
Name: 1690, dtype: object
1691
timestamp    2014-04-06 20:55:00
value                    10.9644
Name: 1691, dtype: object
1692
timestamp    2014-04-06 21:00:00
value                    10.6699
Name: 1692, dtype: object
1693
timestamp    2014-04-06 21:05:00
value                    18.9084
Name: 1693, dtype: object
1694
timestamp    2014-04-06 21:10:00
value                    10.1714
Name: 1694, dtype: object
1695
timestamp    2014-04-06 21:15:00
value                    14.3307
Name: 1695, dtype: object
1696
timestamp    2014-04-06 21:20:00
value                    18.1779
Name: 1696, dtype: object
1697
timestamp    2014-04-06 21:25:00
value                    9.61586
Name: 1697, dtype: object
1698
timestamp    2014-04-06 21:30:00
value                    18.6794
Name: 1698, dtype: object
1699
timestamp    2014-04-06 21:35:00
value                    18.4222
Name: 1699, dtype: object
1700
timestamp    2014-04-06 21:40:00
value                    17.7303
Name: 1700, dtype: object
1701
timestamp    2014-04-06 21:45:00
value                    10.3601
Name: 1701, dtype: object
1702
timestamp    2014-04-06 21:50:00
value                    14.9746
Name: 1702, dtype: object
1703
timestamp    2014-04-06 21:55:00
value                    16.3698
Name: 1703, dtype: object
1704
timestamp    2014-04-06 22:00:00
value                    18.8463
Name: 1704, dtype: object
1705
timestamp    2014-04-06 22:05:00
value                    9.98466
Name: 1705, dtype: object
1706
timestamp    2014-04-06 22:10:00
value                    16.4263
Name: 1706, dtype: object
1707
timestamp    2014-04-06 22:15:00
value                    11.7268
Name: 1707, dtype: object
1708
timestamp    2014-04-06 22:20:00
value                    9.93189
Name: 1708, dtype: object
1709
timestamp    2014-04-06 22:25:00
value                    12.6351
Name: 1709, dtype: object
1710
timestamp    2014-04-06 22:30:00
value                    16.7322
Name: 1710, dtype: object
1711
timestamp    2014-04-06 22:35:00
value                    13.1133
Name: 1711, dtype: object
1712
timestamp    2014-04-06 22:40:00
value                    13.9128
Name: 1712, dtype: object
1713
timestamp    2014-04-06 22:45:00
value                    18.9468
Name: 1713, dtype: object
1714
timestamp    2014-04-06 22:50:00
value                    12.3902
Name: 1714, dtype: object
1715
timestamp    2014-04-06 22:55:00
value                    14.7694
Name: 1715, dtype: object
1716
timestamp    2014-04-06 23:00:00
value                    12.0177
Name: 1716, dtype: object
1717
timestamp    2014-04-06 23:05:00
value                    12.3206
Name: 1717, dtype: object
1718
timestamp    2014-04-06 23:10:00
value                     15.652
Name: 1718, dtype: object
1719
timestamp    2014-04-06 23:15:00
value                    18.3168
Name: 1719, dtype: object
1720
timestamp    2014-04-06 23:20:00
value                    13.9659
Name: 1720, dtype: object
1721
timestamp    2014-04-06 23:25:00
value                    16.4524
Name: 1721, dtype: object
1722
timestamp    2014-04-06 23:30:00
value                    8.98127
Name: 1722, dtype: object
1723
timestamp    2014-04-06 23:35:00
value                    10.3227
Name: 1723, dtype: object
1724
timestamp    2014-04-06 23:40:00
value                    13.5234
Name: 1724, dtype: object
1725
timestamp    2014-04-06 23:45:00
value                    8.22013
Name: 1725, dtype: object
1726
timestamp    2014-04-06 23:50:00
value                    10.7814
Name: 1726, dtype: object
1727
timestamp    2014-04-06 23:55:00
value                    13.6914
Name: 1727, dtype: object
1728
timestamp    2014-04-07 00:00:00
value                    8.16457
Name: 1728, dtype: object
1729
timestamp    2014-04-07 00:05:00
value                      10.91
Name: 1729, dtype: object
1730
timestamp    2014-04-07 00:10:00
value                    13.6543
Name: 1730, dtype: object
1731
timestamp    2014-04-07 00:15:00
value                    14.3046
Name: 1731, dtype: object
1732
timestamp    2014-04-07 00:20:00
value                    18.1833
Name: 1732, dtype: object
1733
timestamp    2014-04-07 00:25:00
value                    15.0988
Name: 1733, dtype: object
1734
timestamp    2014-04-07 00:30:00
value                    12.5621
Name: 1734, dtype: object
1735
timestamp    2014-04-07 00:35:00
value                    18.2339
Name: 1735, dtype: object
1736
timestamp    2014-04-07 00:40:00
value                    16.6337
Name: 1736, dtype: object
1737
timestamp    2014-04-07 00:45:00
value                    10.2001
Name: 1737, dtype: object
1738
timestamp    2014-04-07 00:50:00
value                    9.43927
Name: 1738, dtype: object
1739
timestamp    2014-04-07 00:55:00
value                    15.4339
Name: 1739, dtype: object
1740
timestamp    2014-04-07 01:00:00
value                    14.1587
Name: 1740, dtype: object
1741
timestamp    2014-04-07 01:05:00
value                    16.6864
Name: 1741, dtype: object
1742
timestamp    2014-04-07 01:10:00
value                    16.1269

Name: 1742, dtype: object
1743
timestamp    2014-04-07 01:15:00
value                    14.8773
Name: 1743, dtype: object
1744
timestamp    2014-04-07 01:20:00
value                    18.8502
Name: 1744, dtype: object
1745
timestamp    2014-04-07 01:25:00
value                    13.8695
Name: 1745, dtype: object
1746
timestamp    2014-04-07 01:30:00
value                    9.24416
Name: 1746, dtype: object
1747
timestamp    2014-04-07 01:35:00
value                     17.111
Name: 1747, dtype: object
1748
timestamp    2014-04-07 01:40:00
value                    10.7704
Name: 1748, dtype: object
1749
timestamp    2014-04-07 01:45:00
value                    16.5503
Name: 1749, dtype: object
1750
timestamp    2014-04-07 01:50:00
value                    18.5282
Name: 1750, dtype: object
1751
timestamp    2014-04-07 01:55:00
value                    15.6648
Name: 1751, dtype: object
1752
timestamp    2014-04-07 02:00:00
value                    14.5563
Name: 1752, dtype: object
1753
timestamp    2014-04-07 02:05:00
value                    13.0642
Name: 1753, dtype: object
1754
timestamp    2014-04-07 02:10:00
value                    12.0085
Name: 1754, dtype: object
1755
timestamp    2014-04-07 02:15:00
value                    11.8831
Name: 1755, dtype: object
1756
timestamp    2014-04-07 02:20:00
value                    15.0001
Name: 1756, dtype: object
1757
timestamp    2014-04-07 02:25:00
value                     16.264
Name: 1757, dtype: object
1758
timestamp    2014-04-07 02:30:00
value                    15.4637
Name: 1758, dtype: object
1759
timestamp    2014-04-07 02:35:00
value                    10.1825
Name: 1759, dtype: object
1760
timestamp    2014-04-07 02:40:00
value                    13.4339
Name: 1760, dtype: object
1761
timestamp    2014-04-07 02:45:00
value                     16.708
Name: 1761, dtype: object
1762
timestamp    2014-04-07 02:50:00
value                    13.2327
Name: 1762, dtype: object
1763
timestamp    2014-04-07 02:55:00
value                    13.9029
Name: 1763, dtype: object
1764
timestamp    2014-04-07 03:00:00
value                    16.4825
Name: 1764, dtype: object
1765
timestamp    2014-04-07 03:05:00
value                    15.2739
Name: 1765, dtype: object
1766
timestamp    2014-04-07 03:10:00
value                    12.5028
Name: 1766, dtype: object
1767
timestamp    2014-04-07 03:15:00
value                    17.8495
Name: 1767, dtype: object
1768
timestamp    2014-04-07 03:20:00
value                    9.78824
Name: 1768, dtype: object
1769
timestamp    2014-04-07 03:25:00
value                    18.9507
Name: 1769, dtype: object
1770
timestamp    2014-04-07 03:30:00
value                    9.30738
Name: 1770, dtype: object
1771
timestamp    2014-04-07 03:35:00
value                    8.16445
Name: 1771, dtype: object
1772
timestamp    2014-04-07 03:40:00
value                    17.7902
Name: 1772, dtype: object
1773
timestamp    2014-04-07 03:45:00
value                    10.6945
Name: 1773, dtype: object
1774
timestamp    2014-04-07 03:50:00
value                    16.0267
Name: 1774, dtype: object
1775
timestamp    2014-04-07 03:55:00
value                    16.9212
Name: 1775, dtype: object
1776
timestamp    2014-04-07 04:00:00
value                    17.4489
Name: 1776, dtype: object
1777
timestamp    2014-04-07 04:05:00
value                    18.9075
Name: 1777, dtype: object
1778
timestamp    2014-04-07 04:10:00
value                    11.2344
Name: 1778, dtype: object
1779
timestamp    2014-04-07 04:15:00
value                    15.8127
Name: 1779, dtype: object
1780
timestamp    2014-04-07 04:20:00
value                     9.2694
Name: 1780, dtype: object
1781
timestamp    2014-04-07 04:25:00
value                    12.4749
Name: 1781, dtype: object
1782
timestamp    2014-04-07 04:30:00
value                    17.3277
Name: 1782, dtype: object
1783
timestamp    2014-04-07 04:35:00
value                    12.0442
Name: 1783, dtype: object
1784
timestamp    2014-04-07 04:40:00
value                     14.502
Name: 1784, dtype: object
1785
timestamp    2014-04-07 04:45:00
value                    13.5415
Name: 1785, dtype: object
1786
timestamp    2014-04-07 04:50:00
value                    15.1055
Name: 1786, dtype: object
1787
timestamp    2014-04-07 04:55:00
value                    18.7018
Name: 1787, dtype: object
1788
timestamp    2014-04-07 05:00:00
value                    8.61309
Name: 1788, dtype: object
1789
timestamp    2014-04-07 05:05:00
value                    14.3136
Name: 1789, dtype: object
1790
timestamp    2014-04-07 05:10:00
value                    17.4933
Name: 1790, dtype: object
1791
timestamp    2014-04-07 05:15:00
value                    13.2952
Name: 1791, dtype: object
1792
timestamp    2014-04-07 05:20:00
value                     8.8638
Name: 1792, dtype: object
1793
timestamp    2014-04-07 05:25:00
value                    14.1659
Name: 1793, dtype: object
1794
timestamp    2014-04-07 05:30:00
value                    11.6528
Name: 1794, dtype: object
1795
timestamp    2014-04-07 05:35:00
value                    9.70436
Name: 1795, dtype: object
1796
timestamp    2014-04-07 05:40:00
value                    17.3394
Name: 1796, dtype: object
1797
timestamp    2014-04-07 05:45:00
value                    13.7376
Name: 1797, dtype: object
1798
timestamp    2014-04-07 05:50:00
value                     18.266
Name: 1798, dtype: object
1799
timestamp    2014-04-07 05:55:00
value                    16.8662
Name: 1799, dtype: object
1800
timestamp    2014-04-07 06:00:00
value                    15.6227
Name: 1800, dtype: object
1801
timestamp    2014-04-07 06:05:00
value                    8.05528
Name: 1801, dtype: object
1802
timestamp    2014-04-07 06:10:00
value                    12.7061
Name: 1802, dtype: object
1803
timestamp    2014-04-07 06:15:00
value                    10.1723
Name: 1803, dtype: object
1804
timestamp    2014-04-07 06:20:00
value                    18.0188
Name: 1804, dtype: object
1805
timestamp    2014-04-07 06:25:00
value                    9.92042
Name: 1805, dtype: object
1806
timestamp    2014-04-07 06:30:00
value                    11.1467
Name: 1806, dtype: object
1807
timestamp    2014-04-07 06:35:00
value                    13.6852
Name: 1807, dtype: object
1808
timestamp    2014-04-07 06:40:00
value                     10.897
Name: 1808, dtype: object
1809
timestamp    2014-04-07 06:45:00
value                    10.3085
Name: 1809, dtype: object
1810
timestamp    2014-04-07 06:50:00
value                    14.5901
Name: 1810, dtype: object
1811
timestamp    2014-04-07 06:55:00
value                    8.97822
Name: 1811, dtype: object
1812
timestamp    2014-04-07 07:00:00
value                    8.63985
Name: 1812, dtype: object
1813
timestamp    2014-04-07 07:05:00
value                    12.0947
Name: 1813, dtype: object
1814
timestamp    2014-04-07 07:10:00
value                    15.9273
Name: 1814, dtype: object
1815
timestamp    2014-04-07 07:15:00
value                    14.1029
Name: 1815, dtype: object
1816
timestamp    2014-04-07 07:20:00
value                    12.6516
Name: 1816, dtype: object
1817
timestamp    2014-04-07 07:25:00
value                    14.2233
Name: 1817, dtype: object
1818
timestamp    2014-04-07 07:30:00
value                      12.02
Name: 1818, dtype: object
1819
timestamp    2014-04-07 07:35:00
value                    18.2976
Name: 1819, dtype: object
1820
timestamp    2014-04-07 07:40:00
value                    8.60395
Name: 1820, dtype: object
1821
timestamp    2014-04-07 07:45:00
value                    15.4073
Name: 1821, dtype: object
1822
timestamp    2014-04-07 07:50:00
value                    17.8041
Name: 1822, dtype: object
1823
timestamp    2014-04-07 07:55:00
value                    16.8427
Name: 1823, dtype: object
1824
timestamp    2014-04-07 08:00:00
value                    10.0245
Name: 1824, dtype: object
1825
timestamp    2014-04-07 08:05:00
value                    11.2552
Name: 1825, dtype: object
1826
timestamp    2014-04-07 08:10:00
value                    15.8875
Name: 1826, dtype: object
1827
timestamp    2014-04-07 08:15:00
value                    8.92698
Name: 1827, dtype: object
1828
timestamp    2014-04-07 08:20:00
value                    16.9305
Name: 1828, dtype: object
1829
timestamp    2014-04-07 08:25:00
value                     15.908
Name: 1829, dtype: object
1830
timestamp    2014-04-07 08:30:00
value                    16.0257
Name: 1830, dtype: object
1831
timestamp    2014-04-07 08:35:00
value                    9.10266
Name: 1831, dtype: object
1832
timestamp    2014-04-07 08:40:00
value                    15.8954
Name: 1832, dtype: object
1833
timestamp    2014-04-07 08:45:00
value                     15.478
Name: 1833, dtype: object
1834
timestamp    2014-04-07 08:50:00
value                    17.1401
Name: 1834, dtype: object
1835
timestamp    2014-04-07 08:55:00
value                    8.45756
Name: 1835, dtype: object
1836
timestamp    2014-04-07 09:00:00
value                    8.25422
Name: 1836, dtype: object
1837
timestamp    2014-04-07 09:05:00
value                    12.1031
Name: 1837, dtype: object
1838
timestamp    2014-04-07 09:10:00
value                    9.63667
Name: 1838, dtype: object
1839
timestamp    2014-04-07 09:15:00
value                    14.1422
Name: 1839, dtype: object
1840
timestamp    2014-04-07 09:20:00
value                    18.0908
Name: 1840, dtype: object
1841
timestamp    2014-04-07 09:25:00
value                    12.3063
Name: 1841, dtype: object
1842
timestamp    2014-04-07 09:30:00
value                    17.2945
Name: 1842, dtype: object
1843
timestamp    2014-04-07 09:35:00
value                    8.00265
Name: 1843, dtype: object
1844
timestamp    2014-04-07 09:40:00
value                    9.85366
Name: 1844, dtype: object
1845
timestamp    2014-04-07 09:45:00
value                    8.33466
Name: 1845, dtype: object
1846
timestamp    2014-04-07 09:50:00
value                    11.6096
Name: 1846, dtype: object
1847
timestamp    2014-04-07 09:55:00
value                    17.9901
Name: 1847, dtype: object
1848
timestamp    2014-04-07 10:00:00
value                    9.06647
Name: 1848, dtype: object
1849
timestamp    2014-04-07 10:05:00
value                    14.6705
Name: 1849, dtype: object
1850
timestamp    2014-04-07 10:10:00
value                    12.9665
Name: 1850, dtype: object
1851
timestamp    2014-04-07 10:15:00
value                    18.3232
Name: 1851, dtype: object
1852
timestamp    2014-04-07 10:20:00
value                    9.34771
Name: 1852, dtype: object
1853
timestamp    2014-04-07 10:25:00
value                    10.3323
Name: 1853, dtype: object
1854
timestamp    2014-04-07 10:30:00
value                    8.32496
Name: 1854, dtype: object
1855
timestamp    2014-04-07 10:35:00
value                    12.7733
Name: 1855, dtype: object
1856
timestamp    2014-04-07 10:40:00
value                    11.0562
Name: 1856, dtype: object
1857
timestamp    2014-04-07 10:45:00
value                     17.569
Name: 1857, dtype: object
1858
timestamp    2014-04-07 10:50:00
value                    14.6543
Name: 1858, dtype: object
1859
timestamp    2014-04-07 10:55:00
value                     14.755
Name: 1859, dtype: object
1860
timestamp    2014-04-07 11:00:00
value                     13.851
Name: 1860, dtype: object
1861
timestamp    2014-04-07 11:05:00
value                    9.01035
Name: 1861, dtype: object
1862
timestamp    2014-04-07 11:10:00
value                    12.8952
Name: 1862, dtype: object
1863
timestamp    2014-04-07 11:15:00
value                    18.9946
Name: 1863, dtype: object
1864
timestamp    2014-04-07 11:20:00
value                    17.1875
Name: 1864, dtype: object
1865
timestamp    2014-04-07 11:25:00
value                     17.828
Name: 1865, dtype: object
1866
timestamp    2014-04-07 11:30:00
value                    17.0555
Name: 1866, dtype: object
1867
timestamp    2014-04-07 11:35:00
value                    9.13346
Name: 1867, dtype: object
1868
timestamp    2014-04-07 11:40:00
value                    10.5019
Name: 1868, dtype: object
1869
timestamp    2014-04-07 11:45:00
value                    8.03434
Name: 1869, dtype: object
1870
timestamp    2014-04-07 11:50:00
value                    11.3386
Name: 1870, dtype: object
1871
timestamp    2014-04-07 11:55:00
value                    9.19468
Name: 1871, dtype: object
1872
timestamp    2014-04-07 12:00:00
value                    13.2007
Name: 1872, dtype: object
1873
timestamp    2014-04-07 12:05:00
value                    15.4484
Name: 1873, dtype: object
1874
timestamp    2014-04-07 12:10:00
value                    17.6196
Name: 1874, dtype: object
1875
timestamp    2014-04-07 12:15:00
value                    16.2414
Name: 1875, dtype: object
1876
timestamp    2014-04-07 12:20:00
value                    18.3244
Name: 1876, dtype: object
1877
timestamp    2014-04-07 12:25:00
value                    8.59288
Name: 1877, dtype: object
1878
timestamp    2014-04-07 12:30:00
value                    8.13398
Name: 1878, dtype: object
1879
timestamp    2014-04-07 12:35:00
value                    15.2747
Name: 1879, dtype: object
1880

timestamp    2014-04-07 12:40:00
value                    11.1829
Name: 1880, dtype: object
1881
timestamp    2014-04-07 12:45:00
value                    10.7885
Name: 1881, dtype: object
1882
timestamp    2014-04-07 12:50:00
value                    11.6398
Name: 1882, dtype: object
1883
timestamp    2014-04-07 12:55:00
value                    10.9678
Name: 1883, dtype: object
1884
timestamp    2014-04-07 13:00:00
value                    13.6258
Name: 1884, dtype: object
1885
timestamp    2014-04-07 13:05:00
value                    12.8416
Name: 1885, dtype: object
1886
timestamp    2014-04-07 13:10:00
value                    13.6367
Name: 1886, dtype: object
1887
timestamp    2014-04-07 13:15:00
value                    15.3998
Name: 1887, dtype: object
1888
timestamp    2014-04-07 13:20:00
value                    12.2584
Name: 1888, dtype: object
1889
timestamp    2014-04-07 13:25:00
value                    10.7644
Name: 1889, dtype: object
1890
timestamp    2014-04-07 13:30:00
value                    9.82821
Name: 1890, dtype: object
1891
timestamp    2014-04-07 13:35:00
value                    11.8442
Name: 1891, dtype: object
1892
timestamp    2014-04-07 13:40:00
value                    16.1599
Name: 1892, dtype: object
1893
timestamp    2014-04-07 13:45:00
value                    16.3238
Name: 1893, dtype: object
1894
timestamp    2014-04-07 13:50:00
value                     15.336
Name: 1894, dtype: object
1895
timestamp    2014-04-07 13:55:00
value                    10.5743
Name: 1895, dtype: object
1896
timestamp    2014-04-07 14:00:00
value                    14.4689
Name: 1896, dtype: object
1897
timestamp    2014-04-07 14:05:00
value                    14.2776
Name: 1897, dtype: object
1898
timestamp    2014-04-07 14:10:00
value                    13.3269
Name: 1898, dtype: object
1899
timestamp    2014-04-07 14:15:00
value                    14.0498
Name: 1899, dtype: object
1900
timestamp    2014-04-07 14:20:00
value                    13.4097
Name: 1900, dtype: object
1901
timestamp    2014-04-07 14:25:00
value                      14.22
Name: 1901, dtype: object
1902
timestamp    2014-04-07 14:30:00
value                    15.8706
Name: 1902, dtype: object
1903
timestamp    2014-04-07 14:35:00
value                    9.20591
Name: 1903, dtype: object
1904
timestamp    2014-04-07 14:40:00
value                    16.2459
Name: 1904, dtype: object
1905
timestamp    2014-04-07 14:45:00
value                    9.49475
Name: 1905, dtype: object
1906
timestamp    2014-04-07 14:50:00
value                    8.73291
Name: 1906, dtype: object
1907
timestamp    2014-04-07 14:55:00
value                    18.7369
Name: 1907, dtype: object
1908
timestamp    2014-04-07 15:00:00
value                    18.5269
Name: 1908, dtype: object
1909
timestamp    2014-04-07 15:05:00
value                     8.6648
Name: 1909, dtype: object
1910
timestamp    2014-04-07 15:10:00
value                    12.8758
Name: 1910, dtype: object
1911
timestamp    2014-04-07 15:15:00
value                    10.0487
Name: 1911, dtype: object
1912
timestamp    2014-04-07 15:20:00
value                    13.3388
Name: 1912, dtype: object
1913
timestamp    2014-04-07 15:25:00
value                    17.1319
Name: 1913, dtype: object
1914
timestamp    2014-04-07 15:30:00
value                    18.4567
Name: 1914, dtype: object
1915
timestamp    2014-04-07 15:35:00
value                    14.9768
Name: 1915, dtype: object
1916
timestamp    2014-04-07 15:40:00
value                     11.893
Name: 1916, dtype: object
1917
timestamp    2014-04-07 15:45:00
value                    14.6366
Name: 1917, dtype: object
1918
timestamp    2014-04-07 15:50:00
value                     11.432
Name: 1918, dtype: object
1919
timestamp    2014-04-07 15:55:00
value                    18.0081
Name: 1919, dtype: object
1920
timestamp    2014-04-07 16:00:00
value                    17.5744
Name: 1920, dtype: object
1921
timestamp    2014-04-07 16:05:00
value                    14.1405
Name: 1921, dtype: object
1922
timestamp    2014-04-07 16:10:00
value                    11.5728
Name: 1922, dtype: object
1923
timestamp    2014-04-07 16:15:00
value                    11.2273
Name: 1923, dtype: object
1924
timestamp    2014-04-07 16:20:00
value                     8.3676
Name: 1924, dtype: object
1925
timestamp    2014-04-07 16:25:00
value                     16.974
Name: 1925, dtype: object
1926
timestamp    2014-04-07 16:30:00
value                    12.9542
Name: 1926, dtype: object
1927
timestamp    2014-04-07 16:35:00
value                    11.5765
Name: 1927, dtype: object
1928
timestamp    2014-04-07 16:40:00
value                    13.1822
Name: 1928, dtype: object
1929
timestamp    2014-04-07 16:45:00
value                    17.0061
Name: 1929, dtype: object
1930
timestamp    2014-04-07 16:50:00
value                    9.37076
Name: 1930, dtype: object
1931
timestamp    2014-04-07 16:55:00
value                    17.4342
Name: 1931, dtype: object
1932
timestamp    2014-04-07 17:00:00
value                    17.8726
Name: 1932, dtype: object
1933
timestamp    2014-04-07 17:05:00
value                    18.4138
Name: 1933, dtype: object
1934
timestamp    2014-04-07 17:10:00
value                    12.3724
Name: 1934, dtype: object
1935
timestamp    2014-04-07 17:15:00
value                    10.3885
Name: 1935, dtype: object
1936
timestamp    2014-04-07 17:20:00
value                      12.11
Name: 1936, dtype: object
1937
timestamp    2014-04-07 17:25:00
value                     11.662
Name: 1937, dtype: object
1938
timestamp    2014-04-07 17:30:00
value                    9.93769
Name: 1938, dtype: object
1939
timestamp    2014-04-07 17:35:00
value                    14.6799
Name: 1939, dtype: object
1940
timestamp    2014-04-07 17:40:00
value                    13.2429
Name: 1940, dtype: object
1941
timestamp    2014-04-07 17:45:00
value                    17.5227
Name: 1941, dtype: object
1942
timestamp    2014-04-07 17:50:00
value                    8.35321
Name: 1942, dtype: object
1943
timestamp    2014-04-07 17:55:00
value                    15.0825
Name: 1943, dtype: object
1944
timestamp    2014-04-07 18:00:00
value                    16.3924
Name: 1944, dtype: object
1945
timestamp    2014-04-07 18:05:00
value                    16.3544
Name: 1945, dtype: object
1946
timestamp    2014-04-07 18:10:00
value                    17.7468
Name: 1946, dtype: object
1947
timestamp    2014-04-07 18:15:00
value                    16.0194
Name: 1947, dtype: object
1948
timestamp    2014-04-07 18:20:00
value                    18.2059
Name: 1948, dtype: object
1949
timestamp    2014-04-07 18:25:00
value                    11.6592
Name: 1949, dtype: object
1950
timestamp    2014-04-07 18:30:00
value                    13.5353
Name: 1950, dtype: object
1951
timestamp    2014-04-07 18:35:00
value                    8.15488
Name: 1951, dtype: object
1952
timestamp    2014-04-07 18:40:00
value                    8.07653
Name: 1952, dtype: object
1953
timestamp    2014-04-07 18:45:00
value                    10.6414
Name: 1953, dtype: object
1954
timestamp    2014-04-07 18:50:00
value                    9.10888
Name: 1954, dtype: object
1955
timestamp    2014-04-07 18:55:00
value                    10.8623
Name: 1955, dtype: object
1956
timestamp    2014-04-07 19:00:00
value                    9.94748
Name: 1956, dtype: object
1957
timestamp    2014-04-07 19:05:00
value                    8.31372
Name: 1957, dtype: object
1958
timestamp    2014-04-07 19:10:00
value                    18.0023
Name: 1958, dtype: object
1959
timestamp    2014-04-07 19:15:00
value                    8.09045
Name: 1959, dtype: object
1960
timestamp    2014-04-07 19:20:00
value                    16.0969
Name: 1960, dtype: object
1961
timestamp    2014-04-07 19:25:00
value                    9.67363
Name: 1961, dtype: object
1962
timestamp    2014-04-07 19:30:00
value                    18.0345
Name: 1962, dtype: object
1963
timestamp    2014-04-07 19:35:00
value                    17.8208
Name: 1963, dtype: object
1964
timestamp    2014-04-07 19:40:00
value                    15.1929
Name: 1964, dtype: object
1965
timestamp    2014-04-07 19:45:00
value                    15.3946
Name: 1965, dtype: object
1966
timestamp    2014-04-07 19:50:00
value                    8.05873
Name: 1966, dtype: object
1967
timestamp    2014-04-07 19:55:00
value                    18.8336
Name: 1967, dtype: object
1968
timestamp    2014-04-07 20:00:00
value                    17.6562
Name: 1968, dtype: object
1969
timestamp    2014-04-07 20:05:00
value                    17.8462
Name: 1969, dtype: object
1970
timestamp    2014-04-07 20:10:00
value                    15.2517
Name: 1970, dtype: object
1971
timestamp    2014-04-07 20:15:00
value                    11.7927
Name: 1971, dtype: object
1972
timestamp    2014-04-07 20:20:00
value                    17.8301
Name: 1972, dtype: object
1973
timestamp    2014-04-07 20:25:00
value                    11.2067
Name: 1973, dtype: object
1974
timestamp    2014-04-07 20:30:00
value                    14.1898
Name: 1974, dtype: object
1975
timestamp    2014-04-07 20:35:00
value                    9.09704
Name: 1975, dtype: object
1976
timestamp    2014-04-07 20:40:00
value                    18.1415
Name: 1976, dtype: object
1977
timestamp    2014-04-07 20:45:00
value                    9.54848
Name: 1977, dtype: object
1978
timestamp    2014-04-07 20:50:00
value                    10.4739
Name: 1978, dtype: object
1979
timestamp    2014-04-07 20:55:00
value                    14.1395
Name: 1979, dtype: object
1980
timestamp    2014-04-07 21:00:00
value                     16.405
Name: 1980, dtype: object
1981
timestamp    2014-04-07 21:05:00
value                    14.8129
Name: 1981, dtype: object
1982
timestamp    2014-04-07 21:10:00
value                    10.5535
Name: 1982, dtype: object
1983
timestamp    2014-04-07 21:15:00
value                    8.01037
Name: 1983, dtype: object
1984
timestamp    2014-04-07 21:20:00
value                    16.3287
Name: 1984, dtype: object
1985
timestamp    2014-04-07 21:25:00
value                    18.8373
Name: 1985, dtype: object
1986
timestamp    2014-04-07 21:30:00
value                     16.909
Name: 1986, dtype: object
1987
timestamp    2014-04-07 21:35:00
value                    13.0623
Name: 1987, dtype: object
1988
timestamp    2014-04-07 21:40:00
value                    17.9414
Name: 1988, dtype: object
1989
timestamp    2014-04-07 21:45:00
value                    12.5083
Name: 1989, dtype: object
1990
timestamp    2014-04-07 21:50:00
value                    13.7743
Name: 1990, dtype: object
1991
timestamp    2014-04-07 21:55:00
value                    13.2484
Name: 1991, dtype: object
1992
timestamp    2014-04-07 22:00:00
value                    12.9239
Name: 1992, dtype: object
1993
timestamp    2014-04-07 22:05:00
value                    16.5271
Name: 1993, dtype: object
1994
timestamp    2014-04-07 22:10:00
value                    13.7945
Name: 1994, dtype: object
1995
timestamp    2014-04-07 22:15:00
value                    11.4839
Name: 1995, dtype: object
1996
timestamp    2014-04-07 22:20:00
value                    10.8397
Name: 1996, dtype: object
1997
timestamp    2014-04-07 22:25:00
value                    8.41522
Name: 1997, dtype: object
1998
timestamp    2014-04-07 22:30:00
value                    14.4151
Name: 1998, dtype: object
1999
timestamp    2014-04-07 22:35:00
value                    10.5296
Name: 1999, dtype: object
2000
timestamp    2014-04-07 22:40:00
value                    9.62947
Name: 2000, dtype: object
2001
timestamp    2014-04-07 22:45:00
value                    15.1921

Name: 2001, dtype: object
2002
timestamp    2014-04-07 22:50:00
value                    15.4933
Name: 2002, dtype: object
2003
timestamp    2014-04-07 22:55:00
value                    16.2737
Name: 2003, dtype: object
2004
timestamp    2014-04-07 23:00:00
value                    13.5393
Name: 2004, dtype: object
2005
timestamp    2014-04-07 23:05:00
value                    17.8346
Name: 2005, dtype: object
2006
timestamp    2014-04-07 23:10:00
value                    18.2998
Name: 2006, dtype: object
2007
timestamp    2014-04-07 23:15:00
value                    16.8811
Name: 2007, dtype: object
2008
timestamp    2014-04-07 23:20:00
value                    14.9915
Name: 2008, dtype: object
2009
timestamp    2014-04-07 23:25:00
value                    11.3409
Name: 2009, dtype: object
2010
timestamp    2014-04-07 23:30:00
value                    18.8124
Name: 2010, dtype: object
2011
timestamp    2014-04-07 23:35:00
value                    11.0155
Name: 2011, dtype: object
2012
timestamp    2014-04-07 23:40:00
value                    10.2292
Name: 2012, dtype: object
2013
timestamp    2014-04-07 23:45:00
value                    12.8637
Name: 2013, dtype: object
2014
timestamp    2014-04-07 23:50:00
value                    8.62525
Name: 2014, dtype: object
2015
timestamp    2014-04-07 23:55:00
value                    18.7634
Name: 2015, dtype: object
2016
timestamp    2014-04-08 00:00:00
value                    14.4728
Name: 2016, dtype: object
2017
timestamp    2014-04-08 00:05:00
value                    14.1265
Name: 2017, dtype: object
2018
timestamp    2014-04-08 00:10:00
value                    15.2138
Name: 2018, dtype: object
2019
timestamp    2014-04-08 00:15:00
value                    13.4673
Name: 2019, dtype: object
2020
timestamp    2014-04-08 00:20:00
value                     8.3527
Name: 2020, dtype: object
2021
timestamp    2014-04-08 00:25:00
value                    14.7354
Name: 2021, dtype: object
2022
timestamp    2014-04-08 00:30:00
value                    15.8779
Name: 2022, dtype: object
2023
timestamp    2014-04-08 00:35:00
value                    12.5842
Name: 2023, dtype: object
2024
timestamp    2014-04-08 00:40:00
value                    16.3303
Name: 2024, dtype: object
2025
timestamp    2014-04-08 00:45:00
value                     10.497
Name: 2025, dtype: object
2026
timestamp    2014-04-08 00:50:00
value                     10.434
Name: 2026, dtype: object
2027
timestamp    2014-04-08 00:55:00
value                    9.77559
Name: 2027, dtype: object
2028
timestamp    2014-04-08 01:00:00
value                    12.0919
Name: 2028, dtype: object
2029
timestamp    2014-04-08 01:05:00
value                    17.3171
Name: 2029, dtype: object
2030
timestamp    2014-04-08 01:10:00
value                     17.107
Name: 2030, dtype: object
2031
timestamp    2014-04-08 01:15:00
value                    12.2111
Name: 2031, dtype: object
2032
timestamp    2014-04-08 01:20:00
value                    14.4803
Name: 2032, dtype: object
2033
timestamp    2014-04-08 01:25:00
value                     15.929
Name: 2033, dtype: object
2034
timestamp    2014-04-08 01:30:00
value                    10.6533
Name: 2034, dtype: object
2035
timestamp    2014-04-08 01:35:00
value                    9.84955
Name: 2035, dtype: object
2036
timestamp    2014-04-08 01:40:00
value                    18.6931
Name: 2036, dtype: object
2037
timestamp    2014-04-08 01:45:00
value                    14.7931
Name: 2037, dtype: object
2038
timestamp    2014-04-08 01:50:00
value                    18.7956
Name: 2038, dtype: object
2039
timestamp    2014-04-08 01:55:00
value                    11.7153
Name: 2039, dtype: object
2040
timestamp    2014-04-08 02:00:00
value                    15.7333
Name: 2040, dtype: object
2041
timestamp    2014-04-08 02:05:00
value                    10.4486
Name: 2041, dtype: object
2042
timestamp    2014-04-08 02:10:00
value                    10.8732
Name: 2042, dtype: object
2043
timestamp    2014-04-08 02:15:00
value                    13.6309
Name: 2043, dtype: object
2044
timestamp    2014-04-08 02:20:00
value                    11.5158
Name: 2044, dtype: object
2045
timestamp    2014-04-08 02:25:00
value                    9.84384
Name: 2045, dtype: object
2046
timestamp    2014-04-08 02:30:00
value                    10.8917
Name: 2046, dtype: object
2047
timestamp    2014-04-08 02:35:00
value                    8.39323
Name: 2047, dtype: object
2048
timestamp    2014-04-08 02:40:00
value                    15.7487
Name: 2048, dtype: object
2049
timestamp    2014-04-08 02:45:00
value                    13.4133
Name: 2049, dtype: object
2050
timestamp    2014-04-08 02:50:00
value                    9.03667
Name: 2050, dtype: object
2051
timestamp    2014-04-08 02:55:00
value                    9.88863
Name: 2051, dtype: object
2052
timestamp    2014-04-08 03:00:00
value                    9.12788
Name: 2052, dtype: object
2053
timestamp    2014-04-08 03:05:00
value                    14.7385
Name: 2053, dtype: object
2054
timestamp    2014-04-08 03:10:00
value                    9.03631
Name: 2054, dtype: object
2055
timestamp    2014-04-08 03:15:00
value                    16.2971
Name: 2055, dtype: object
2056
timestamp    2014-04-08 03:20:00
value                    8.22562
Name: 2056, dtype: object
2057
timestamp    2014-04-08 03:25:00
value                    10.7431
Name: 2057, dtype: object
2058
timestamp    2014-04-08 03:30:00
value                    17.7973
Name: 2058, dtype: object
2059
timestamp    2014-04-08 03:35:00
value                    15.9038
Name: 2059, dtype: object
2060
timestamp    2014-04-08 03:40:00
value                    8.80265
Name: 2060, dtype: object
2061
timestamp    2014-04-08 03:45:00
value                    17.0324
Name: 2061, dtype: object
2062
timestamp    2014-04-08 03:50:00
value                    13.4234
Name: 2062, dtype: object
2063
timestamp    2014-04-08 03:55:00
value                    17.3146
Name: 2063, dtype: object
2064
timestamp    2014-04-08 04:00:00
value                    14.6081
Name: 2064, dtype: object
2065
timestamp    2014-04-08 04:05:00
value                    15.5002
Name: 2065, dtype: object
2066
timestamp    2014-04-08 04:10:00
value                    18.9285
Name: 2066, dtype: object
2067
timestamp    2014-04-08 04:15:00
value                    10.5557
Name: 2067, dtype: object
2068
timestamp    2014-04-08 04:20:00
value                    14.8634
Name: 2068, dtype: object
2069
timestamp    2014-04-08 04:25:00
value                    13.0635
Name: 2069, dtype: object
2070
timestamp    2014-04-08 04:30:00
value                    8.43397
Name: 2070, dtype: object
2071
timestamp    2014-04-08 04:35:00
value                    8.15918
Name: 2071, dtype: object
2072
timestamp    2014-04-08 04:40:00
value                    9.31151
Name: 2072, dtype: object
2073
timestamp    2014-04-08 04:45:00
value                      15.14
Name: 2073, dtype: object
2074
timestamp    2014-04-08 04:50:00
value                    14.2388
Name: 2074, dtype: object
2075
timestamp    2014-04-08 04:55:00
value                    14.0877
Name: 2075, dtype: object
2076
timestamp    2014-04-08 05:00:00
value                    8.35042
Name: 2076, dtype: object
2077
timestamp    2014-04-08 05:05:00
value                    13.1623
Name: 2077, dtype: object
2078
timestamp    2014-04-08 05:10:00
value                    18.1709
Name: 2078, dtype: object
2079
timestamp    2014-04-08 05:15:00
value                    12.3735
Name: 2079, dtype: object
2080
timestamp    2014-04-08 05:20:00
value                    14.8741
Name: 2080, dtype: object
2081
timestamp    2014-04-08 05:25:00
value                     16.578
Name: 2081, dtype: object
2082
timestamp    2014-04-08 05:30:00
value                    16.6232
Name: 2082, dtype: object
2083
timestamp    2014-04-08 05:35:00
value                    13.7121
Name: 2083, dtype: object
2084
timestamp    2014-04-08 05:40:00
value                    17.4375
Name: 2084, dtype: object
2085
timestamp    2014-04-08 05:45:00
value                    12.3052
Name: 2085, dtype: object
2086
timestamp    2014-04-08 05:50:00
value                    17.7756
Name: 2086, dtype: object
2087
timestamp    2014-04-08 05:55:00
value                    10.6425
Name: 2087, dtype: object
2088
timestamp    2014-04-08 06:00:00
value                    11.0824
Name: 2088, dtype: object
2089
timestamp    2014-04-08 06:05:00
value                    8.58433
Name: 2089, dtype: object
2090
timestamp    2014-04-08 06:10:00
value                    16.7514
Name: 2090, dtype: object
2091
timestamp    2014-04-08 06:15:00
value                    12.5876
Name: 2091, dtype: object
2092
timestamp    2014-04-08 06:20:00
value                    10.5203
Name: 2092, dtype: object
2093
timestamp    2014-04-08 06:25:00
value                    10.5497
Name: 2093, dtype: object
2094
timestamp    2014-04-08 06:30:00
value                    17.9154
Name: 2094, dtype: object
2095
timestamp    2014-04-08 06:35:00
value                    17.1731
Name: 2095, dtype: object
2096
timestamp    2014-04-08 06:40:00
value                    14.0888
Name: 2096, dtype: object
2097
timestamp    2014-04-08 06:45:00
value                    14.7772
Name: 2097, dtype: object
2098
timestamp    2014-04-08 06:50:00
value                    13.2176
Name: 2098, dtype: object
2099
timestamp    2014-04-08 06:55:00
value                    12.3083
Name: 2099, dtype: object
2100
timestamp    2014-04-08 07:00:00
value                    18.0702
Name: 2100, dtype: object
2101
timestamp    2014-04-08 07:05:00
value                    9.38174
Name: 2101, dtype: object
2102
timestamp    2014-04-08 07:10:00
value                    12.6029
Name: 2102, dtype: object
2103
timestamp    2014-04-08 07:15:00
value                    11.7902
Name: 2103, dtype: object
2104
timestamp    2014-04-08 07:20:00
value                    13.4797
Name: 2104, dtype: object
2105
timestamp    2014-04-08 07:25:00
value                     13.034
Name: 2105, dtype: object
2106
timestamp    2014-04-08 07:30:00
value                    13.7078
Name: 2106, dtype: object
2107
timestamp    2014-04-08 07:35:00
value                    9.53911
Name: 2107, dtype: object
2108
timestamp    2014-04-08 07:40:00
value                    13.6446
Name: 2108, dtype: object
2109
timestamp    2014-04-08 07:45:00
value                    10.6666
Name: 2109, dtype: object
2110
timestamp    2014-04-08 07:50:00
value                    10.0276
Name: 2110, dtype: object
2111
timestamp    2014-04-08 07:55:00
value                    8.71318
Name: 2111, dtype: object
2112
timestamp    2014-04-08 08:00:00
value                    16.3892
Name: 2112, dtype: object
2113
timestamp    2014-04-08 08:05:00
value                    12.7019
Name: 2113, dtype: object
2114
timestamp    2014-04-08 08:10:00
value                    14.8931
Name: 2114, dtype: object
2115
timestamp    2014-04-08 08:15:00
value                    16.0035
Name: 2115, dtype: object
2116
timestamp    2014-04-08 08:20:00
value                    15.4725
Name: 2116, dtype: object
2117
timestamp    2014-04-08 08:25:00
value                    13.1755
Name: 2117, dtype: object
2118
timestamp    2014-04-08 08:30:00
value                    12.2669
Name: 2118, dtype: object
2119
timestamp    2014-04-08 08:35:00
value                    12.1356
Name: 2119, dtype: object
2120
timestamp    2014-04-08 08:40:00
value                    15.0405
Name: 2120, dtype: object
2121
timestamp    2014-04-08 08:45:00
value                    13.4427
Name: 2121, dtype: object
2122
timestamp    2014-04-08 08:50:00
value                    17.3405
Name: 2122, dtype: object
2123
timestamp    2014-04-08 08:55:00
value                    17.6217
Name: 2123, dtype: object
2124
timestamp    2014-04-08 09:00:00
value                    9.87616
Name: 2124, dtype: object
2125
timestamp    2014-04-08 09:05:00
value                    9.49857
Name: 2125, dtype: object
2126
timestamp    2014-04-08 09:10:00
value                    14.9344
Name: 2126, dtype: object
2127
timestamp    2014-04-08 09:15:00
value                    11.3135
Name: 2127, dtype: object
2128
timestamp    2014-04-08 09:20:00
value                    8.20428
Name: 2128, dtype: object
2129
timestamp    2014-04-08 09:25:00
value                    17.7751
Name: 2129, dtype: object
2130
timestamp    2014-04-08 09:30:00
value                    10.4959
Name: 2130, dtype: object
2131
timestamp    2014-04-08 09:35:00
value                    18.2221
Name: 2131, dtype: object
2132
timestamp    2014-04-08 09:40:00
value                    15.8918
Name: 2132, dtype: object
2133
timestamp    2014-04-08 09:45:00
value                    16.3892
Name: 2133, dtype: object
2134
timestamp    2014-04-08 09:50:00
value                    10.2161
Name: 2134, dtype: object
2135
timestamp    2014-04-08 09:55:00
value                    10.5761
Name: 2135, dtype: object
2136
timestamp    2014-04-08 10:00:00
value                    13.7339
Name: 2136, dtype: object
2137
timestamp    2014-04-08 10:05:00
value                     9.8931
Name: 2137, dtype: object
2138
timestamp    2014-04-08 10:10:00
value                    11.3597
Name: 2138, dtype: object
2139
timestamp    2014-04-08 10:15:00
value                    11.5361
Name: 2139, dtype: object
2140
timestamp    2014-04-08 10:20:00
value                    9.75593
Name: 2140, dtype: object
2141

timestamp    2014-04-08 10:25:00
value                     10.257
Name: 2141, dtype: object
2142
timestamp    2014-04-08 10:30:00
value                    16.6741
Name: 2142, dtype: object
2143
timestamp    2014-04-08 10:35:00
value                    9.83915
Name: 2143, dtype: object
2144
timestamp    2014-04-08 10:40:00
value                    8.31303
Name: 2144, dtype: object
2145
timestamp    2014-04-08 10:45:00
value                    14.9229
Name: 2145, dtype: object
2146
timestamp    2014-04-08 10:50:00
value                    18.7358
Name: 2146, dtype: object
2147
timestamp    2014-04-08 10:55:00
value                    11.6434
Name: 2147, dtype: object
2148
timestamp    2014-04-08 11:00:00
value                    9.30521
Name: 2148, dtype: object
2149
timestamp    2014-04-08 11:05:00
value                    14.2743
Name: 2149, dtype: object
2150
timestamp    2014-04-08 11:10:00
value                    17.9699
Name: 2150, dtype: object
2151
timestamp    2014-04-08 11:15:00
value                    16.6247
Name: 2151, dtype: object
2152
timestamp    2014-04-08 11:20:00
value                    14.8477
Name: 2152, dtype: object
2153
timestamp    2014-04-08 11:25:00
value                    11.4656
Name: 2153, dtype: object
2154
timestamp    2014-04-08 11:30:00
value                    13.9607
Name: 2154, dtype: object
2155
timestamp    2014-04-08 11:35:00
value                    9.00369
Name: 2155, dtype: object
2156
timestamp    2014-04-08 11:40:00
value                    15.4684
Name: 2156, dtype: object
2157
timestamp    2014-04-08 11:45:00
value                    15.9761
Name: 2157, dtype: object
2158
timestamp    2014-04-08 11:50:00
value                    18.6153
Name: 2158, dtype: object
2159
timestamp    2014-04-08 11:55:00
value                    10.8644
Name: 2159, dtype: object
2160
timestamp    2014-04-08 12:00:00
value                    8.20302
Name: 2160, dtype: object
2161
timestamp    2014-04-08 12:05:00
value                    14.0017
Name: 2161, dtype: object
2162
timestamp    2014-04-08 12:10:00
value                    15.7747
Name: 2162, dtype: object
2163
timestamp    2014-04-08 12:15:00
value                    16.6945
Name: 2163, dtype: object
2164
timestamp    2014-04-08 12:20:00
value                    10.1311
Name: 2164, dtype: object
2165
timestamp    2014-04-08 12:25:00
value                    10.8793
Name: 2165, dtype: object
2166
timestamp    2014-04-08 12:30:00
value                    13.6385
Name: 2166, dtype: object
2167
timestamp    2014-04-08 12:35:00
value                    11.6366
Name: 2167, dtype: object
2168
timestamp    2014-04-08 12:40:00
value                    17.4656
Name: 2168, dtype: object
2169
timestamp    2014-04-08 12:45:00
value                    13.2114
Name: 2169, dtype: object
2170
timestamp    2014-04-08 12:50:00
value                    16.7954
Name: 2170, dtype: object
2171
timestamp    2014-04-08 12:55:00
value                    14.3868
Name: 2171, dtype: object
2172
timestamp    2014-04-08 13:00:00
value                     16.504
Name: 2172, dtype: object
2173
timestamp    2014-04-08 13:05:00
value                    11.6594
Name: 2173, dtype: object
2174
timestamp    2014-04-08 13:10:00
value                    17.1456
Name: 2174, dtype: object
2175
timestamp    2014-04-08 13:15:00
value                    11.0203
Name: 2175, dtype: object
2176
timestamp    2014-04-08 13:20:00
value                    14.0071
Name: 2176, dtype: object
2177
timestamp    2014-04-08 13:25:00
value                    10.3541
Name: 2177, dtype: object
2178
timestamp    2014-04-08 13:30:00
value                    13.2308
Name: 2178, dtype: object
2179
timestamp    2014-04-08 13:35:00
value                    11.4999
Name: 2179, dtype: object
2180
timestamp    2014-04-08 13:40:00
value                    10.9337
Name: 2180, dtype: object
2181
timestamp    2014-04-08 13:45:00
value                    18.6368
Name: 2181, dtype: object
2182
timestamp    2014-04-08 13:50:00
value                    9.76082
Name: 2182, dtype: object
2183
timestamp    2014-04-08 13:55:00
value                    16.6606
Name: 2183, dtype: object
2184
timestamp    2014-04-08 14:00:00
value                    18.8258
Name: 2184, dtype: object
2185
timestamp    2014-04-08 14:05:00
value                    8.21892
Name: 2185, dtype: object
2186
timestamp    2014-04-08 14:10:00
value                    15.6893
Name: 2186, dtype: object
2187
timestamp    2014-04-08 14:15:00
value                     10.782
Name: 2187, dtype: object
2188
timestamp    2014-04-08 14:20:00
value                    8.44537
Name: 2188, dtype: object
2189
timestamp    2014-04-08 14:25:00
value                    12.4318
Name: 2189, dtype: object
2190
timestamp    2014-04-08 14:30:00
value                    18.2874
Name: 2190, dtype: object
2191
timestamp    2014-04-08 14:35:00
value                    8.12942
Name: 2191, dtype: object
2192
timestamp    2014-04-08 14:40:00
value                    14.4667
Name: 2192, dtype: object
2193
timestamp    2014-04-08 14:45:00
value                    13.5154
Name: 2193, dtype: object
2194
timestamp    2014-04-08 14:50:00
value                    17.6072
Name: 2194, dtype: object
2195
timestamp    2014-04-08 14:55:00
value                    8.92402
Name: 2195, dtype: object
2196
timestamp    2014-04-08 15:00:00
value                    15.4968
Name: 2196, dtype: object
2197
timestamp    2014-04-08 15:05:00
value                    15.4812
Name: 2197, dtype: object
2198
timestamp    2014-04-08 15:10:00
value                    15.3599
Name: 2198, dtype: object
2199
timestamp    2014-04-08 15:15:00
value                    18.3657
Name: 2199, dtype: object
2200
timestamp    2014-04-08 15:20:00
value                     17.054
Name: 2200, dtype: object
2201
timestamp    2014-04-08 15:25:00
value                     8.4617
Name: 2201, dtype: object
2202
timestamp    2014-04-08 15:30:00
value                    13.1819
Name: 2202, dtype: object
2203
timestamp    2014-04-08 15:35:00
value                    12.3775
Name: 2203, dtype: object
2204
timestamp    2014-04-08 15:40:00
value                    11.4116
Name: 2204, dtype: object
2205
timestamp    2014-04-08 15:45:00
value                    12.9647
Name: 2205, dtype: object
2206
timestamp    2014-04-08 15:50:00
value                    12.2261
Name: 2206, dtype: object
2207
timestamp    2014-04-08 15:55:00
value                    12.7557
Name: 2207, dtype: object
2208
timestamp    2014-04-08 16:00:00
value                    18.7719
Name: 2208, dtype: object
2209
timestamp    2014-04-08 16:05:00
value                    8.97496
Name: 2209, dtype: object
2210
timestamp    2014-04-08 16:10:00
value                    18.1445
Name: 2210, dtype: object
2211
timestamp    2014-04-08 16:15:00
value                    13.2826
Name: 2211, dtype: object
2212
timestamp    2014-04-08 16:20:00
value                    14.8612
Name: 2212, dtype: object
2213
timestamp    2014-04-08 16:25:00
value                     17.132
Name: 2213, dtype: object
2214
timestamp    2014-04-08 16:30:00
value                    11.9651
Name: 2214, dtype: object
2215
timestamp    2014-04-08 16:35:00
value                    12.7346
Name: 2215, dtype: object
2216
timestamp    2014-04-08 16:40:00
value                    12.5047
Name: 2216, dtype: object
2217
timestamp    2014-04-08 16:45:00
value                     12.122
Name: 2217, dtype: object
2218
timestamp    2014-04-08 16:50:00
value                    18.1808
Name: 2218, dtype: object
2219
timestamp    2014-04-08 16:55:00
value                    17.1182
Name: 2219, dtype: object
2220
timestamp    2014-04-08 17:00:00
value                      9.199
Name: 2220, dtype: object
2221
timestamp    2014-04-08 17:05:00
value                    9.18936
Name: 2221, dtype: object
2222
timestamp    2014-04-08 17:10:00
value                    12.7066
Name: 2222, dtype: object
2223
timestamp    2014-04-08 17:15:00
value                    9.08523
Name: 2223, dtype: object
2224
timestamp    2014-04-08 17:20:00
value                      14.81
Name: 2224, dtype: object
2225
timestamp    2014-04-08 17:25:00
value                    9.58061
Name: 2225, dtype: object
2226
timestamp    2014-04-08 17:30:00
value                    13.7461
Name: 2226, dtype: object
2227
timestamp    2014-04-08 17:35:00
value                    8.07942
Name: 2227, dtype: object
2228
timestamp    2014-04-08 17:40:00
value                    11.4826
Name: 2228, dtype: object
2229
timestamp    2014-04-08 17:45:00
value                    15.4491
Name: 2229, dtype: object
2230
timestamp    2014-04-08 17:50:00
value                    13.3244
Name: 2230, dtype: object
2231
timestamp    2014-04-08 17:55:00
value                     18.761
Name: 2231, dtype: object
2232
timestamp    2014-04-08 18:00:00
value                    17.6151
Name: 2232, dtype: object
2233
timestamp    2014-04-08 18:05:00
value                    11.9498
Name: 2233, dtype: object
2234
timestamp    2014-04-08 18:10:00
value                    8.50035
Name: 2234, dtype: object
2235
timestamp    2014-04-08 18:15:00
value                    17.3019
Name: 2235, dtype: object
2236
timestamp    2014-04-08 18:20:00
value                    18.0236
Name: 2236, dtype: object
2237
timestamp    2014-04-08 18:25:00
value                    17.0269
Name: 2237, dtype: object
2238
timestamp    2014-04-08 18:30:00
value                    9.40745
Name: 2238, dtype: object
2239
timestamp    2014-04-08 18:35:00
value                    18.9771
Name: 2239, dtype: object
2240
timestamp    2014-04-08 18:40:00
value                    10.8444
Name: 2240, dtype: object
2241
timestamp    2014-04-08 18:45:00
value                    15.9663
Name: 2241, dtype: object
2242
timestamp    2014-04-08 18:50:00
value                    17.9884
Name: 2242, dtype: object
2243
timestamp    2014-04-08 18:55:00
value                    10.5926
Name: 2243, dtype: object
2244
timestamp    2014-04-08 19:00:00
value                    17.9908
Name: 2244, dtype: object
2245
timestamp    2014-04-08 19:05:00
value                    11.4043
Name: 2245, dtype: object
2246
timestamp    2014-04-08 19:10:00
value                    18.7405
Name: 2246, dtype: object
2247
timestamp    2014-04-08 19:15:00
value                    11.0939
Name: 2247, dtype: object
2248
timestamp    2014-04-08 19:20:00
value                    18.4878
Name: 2248, dtype: object
2249
timestamp    2014-04-08 19:25:00
value                    8.58899
Name: 2249, dtype: object
2250
timestamp    2014-04-08 19:30:00
value                     15.802
Name: 2250, dtype: object
2251
timestamp    2014-04-08 19:35:00
value                    13.8532
Name: 2251, dtype: object
2252
timestamp    2014-04-08 19:40:00
value                    13.2566
Name: 2252, dtype: object
2253
timestamp    2014-04-08 19:45:00
value                    10.4584
Name: 2253, dtype: object
2254
timestamp    2014-04-08 19:50:00
value                    15.7616
Name: 2254, dtype: object
2255
timestamp    2014-04-08 19:55:00
value                    10.0989
Name: 2255, dtype: object
2256
timestamp    2014-04-08 20:00:00
value                    14.0813
Name: 2256, dtype: object
2257
timestamp    2014-04-08 20:05:00
value                    10.7857
Name: 2257, dtype: object
2258
timestamp    2014-04-08 20:10:00
value                    18.5118
Name: 2258, dtype: object
2259
timestamp    2014-04-08 20:15:00
value                    8.31494
Name: 2259, dtype: object
2260
timestamp    2014-04-08 20:20:00
value                     10.197
Name: 2260, dtype: object
2261
timestamp    2014-04-08 20:25:00
value                    10.6654
Name: 2261, dtype: object
2262
timestamp    2014-04-08 20:30:00
value                    12.5547
Name: 2262, dtype: object
2263
timestamp    2014-04-08 20:35:00
value                      10.56
Name: 2263, dtype: object
2264
timestamp    2014-04-08 20:40:00
value                    13.4048
Name: 2264, dtype: object
2265
timestamp    2014-04-08 20:45:00
value                    17.5971
Name: 2265, dtype: object
2266
timestamp    2014-04-08 20:50:00
value                    15.8327
Name: 2266, dtype: object
2267
timestamp    2014-04-08 20:55:00
value                    14.3796
Name: 2267, dtype: object
2268
timestamp    2014-04-08 21:00:00
value                    8.97903
Name: 2268, dtype: object
2269
timestamp    2014-04-08 21:05:00
value                    15.6339
Name: 2269, dtype: object
2270
timestamp    2014-04-08 21:10:00
value                    9.83056
Name: 2270, dtype: object
2271
timestamp    2014-04-08 21:15:00
value                      16.65
Name: 2271, dtype: object
2272
timestamp    2014-04-08 21:20:00
value                    10.7506
Name: 2272, dtype: object
2273
timestamp    2014-04-08 21:25:00
value                    12.5875
Name: 2273, dtype: object
2274
timestamp    2014-04-08 21:30:00
value                    11.8552
Name: 2274, dtype: object
2275
timestamp    2014-04-08 21:35:00
value                     17.447
Name: 2275, dtype: object
2276
timestamp    2014-04-08 21:40:00
value                    9.39199
Name: 2276, dtype: object
2277
timestamp    2014-04-08 21:45:00
value                    14.2221
Name: 2277, dtype: object
2278
timestamp    2014-04-08 21:50:00
value                    9.56268
Name: 2278, dtype: object
2279
timestamp    2014-04-08 21:55:00
value                    15.7528
Name: 2279, dtype: object
2280
timestamp    2014-04-08 22:00:00
value                    17.9559
Name: 2280, dtype: object
2281
timestamp    2014-04-08 22:05:00
value                    12.7807
Name: 2281, dtype: object
2282
timestamp    2014-04-08 22:10:00
value                     13.369
Name: 2282, dtype: object
2283
timestamp    2014-04-08 22:15:00
value                    18.2017
Name: 2283, dtype: object
2284
timestamp    2014-04-08 22:20:00
value                    13.7309
Name: 2284, dtype: object
2285
timestamp    2014-04-08 22:25:00
value                    13.3636
Name: 2285, dtype: object
2286
timestamp    2014-04-08 22:30:00
value                    14.3616
Name: 2286, dtype: object
2287
timestamp    2014-04-08 22:35:00
value                    15.5815
Name: 2287, dtype: object
2288
timestamp    2014-04-08 22:40:00
value                    9.17572
Name: 2288, dtype: object
2289
timestamp    2014-04-08 22:45:00
value                    17.0322
Name: 2289, dtype: object
2290
timestamp    2014-04-08 22:50:00
value                    12.7906
Name: 2290, dtype: object
2291
timestamp    2014-04-08 22:55:00
value                    8.79583
Name: 2291, dtype: object
2292
timestamp    2014-04-08 23:00:00
value                     16.648
Name: 2292, dtype: object
2293
timestamp    2014-04-08 23:05:00
value                    12.1464
Name: 2293, dtype: object
2294
timestamp    2014-04-08 23:10:00
value                    9.10404
Name: 2294, dtype: object
2295
timestamp    2014-04-08 23:15:00
value                    14.9716
Name: 2295, dtype: object
2296
timestamp    2014-04-08 23:20:00
value                    17.6814
Name: 2296, dtype: object
2297
timestamp    2014-04-08 23:25:00
value                    17.7653
Name: 2297, dtype: object
2298
timestamp    2014-04-08 23:30:00
value                    18.5343
Name: 2298, dtype: object

2299
timestamp    2014-04-08 23:35:00
value                    17.5448
Name: 2299, dtype: object
2300
timestamp    2014-04-08 23:40:00
value                    8.02355
Name: 2300, dtype: object
2301
timestamp    2014-04-08 23:45:00
value                    12.1827
Name: 2301, dtype: object
2302
timestamp    2014-04-08 23:50:00
value                     17.004
Name: 2302, dtype: object
2303
timestamp    2014-04-08 23:55:00
value                    12.0288
Name: 2303, dtype: object
2304
timestamp    2014-04-09 00:00:00
value                     14.617
Name: 2304, dtype: object
2305
timestamp    2014-04-09 00:05:00
value                    14.6695
Name: 2305, dtype: object
2306
timestamp    2014-04-09 00:10:00
value                    12.0153
Name: 2306, dtype: object
2307
timestamp    2014-04-09 00:15:00
value                    17.9492
Name: 2307, dtype: object
2308
timestamp    2014-04-09 00:20:00
value                    13.5355
Name: 2308, dtype: object
2309
timestamp    2014-04-09 00:25:00
value                    13.1126
Name: 2309, dtype: object
2310
timestamp    2014-04-09 00:30:00
value                    18.9727
Name: 2310, dtype: object
2311
timestamp    2014-04-09 00:35:00
value                    13.4285
Name: 2311, dtype: object
2312
timestamp    2014-04-09 00:40:00
value                    9.96238
Name: 2312, dtype: object
2313
timestamp    2014-04-09 00:45:00
value                    13.6438
Name: 2313, dtype: object
2314
timestamp    2014-04-09 00:50:00
value                    16.9542
Name: 2314, dtype: object
2315
timestamp    2014-04-09 00:55:00
value                    16.5455
Name: 2315, dtype: object
2316
timestamp    2014-04-09 01:00:00
value                    16.6744
Name: 2316, dtype: object
2317
timestamp    2014-04-09 01:05:00
value                    15.7883
Name: 2317, dtype: object
2318
timestamp    2014-04-09 01:10:00
value                    10.7964
Name: 2318, dtype: object
2319
timestamp    2014-04-09 01:15:00
value                    17.4829
Name: 2319, dtype: object
2320
timestamp    2014-04-09 01:20:00
value                    17.8279
Name: 2320, dtype: object
2321
timestamp    2014-04-09 01:25:00
value                    10.1357
Name: 2321, dtype: object
2322
timestamp    2014-04-09 01:30:00
value                    9.43501
Name: 2322, dtype: object
2323
timestamp    2014-04-09 01:35:00
value                    18.7317
Name: 2323, dtype: object
2324
timestamp    2014-04-09 01:40:00
value                    17.5516
Name: 2324, dtype: object
2325
timestamp    2014-04-09 01:45:00
value                    17.8256
Name: 2325, dtype: object
2326
timestamp    2014-04-09 01:50:00
value                    17.7501
Name: 2326, dtype: object
2327
timestamp    2014-04-09 01:55:00
value                    13.9586
Name: 2327, dtype: object
2328
timestamp    2014-04-09 02:00:00
value                    15.1104
Name: 2328, dtype: object
2329
timestamp    2014-04-09 02:05:00
value                     13.999
Name: 2329, dtype: object
2330
timestamp    2014-04-09 02:10:00
value                    8.56327
Name: 2330, dtype: object
2331
timestamp    2014-04-09 02:15:00
value                    16.2005
Name: 2331, dtype: object
2332
timestamp    2014-04-09 02:20:00
value                    13.5587
Name: 2332, dtype: object
2333
timestamp    2014-04-09 02:25:00
value                    15.1248
Name: 2333, dtype: object
2334
timestamp    2014-04-09 02:30:00
value                     13.529
Name: 2334, dtype: object
2335
timestamp    2014-04-09 02:35:00
value                    13.4099
Name: 2335, dtype: object
2336
timestamp    2014-04-09 02:40:00
value                    9.88968
Name: 2336, dtype: object
2337
timestamp    2014-04-09 02:45:00
value                    11.0659
Name: 2337, dtype: object
2338
timestamp    2014-04-09 02:50:00
value                    9.74738
Name: 2338, dtype: object
2339
timestamp    2014-04-09 02:55:00
value                    10.1523
Name: 2339, dtype: object
2340
timestamp    2014-04-09 03:00:00
value                    18.7028
Name: 2340, dtype: object
2341
timestamp    2014-04-09 03:05:00
value                    9.68425
Name: 2341, dtype: object
2342
timestamp    2014-04-09 03:10:00
value                     10.962
Name: 2342, dtype: object
2343
timestamp    2014-04-09 03:15:00
value                    14.4965
Name: 2343, dtype: object
2344
timestamp    2014-04-09 03:20:00
value                     14.712
Name: 2344, dtype: object
2345
timestamp    2014-04-09 03:25:00
value                    9.69372
Name: 2345, dtype: object
2346
timestamp    2014-04-09 03:30:00
value                    16.7309
Name: 2346, dtype: object
2347
timestamp    2014-04-09 03:35:00
value                    16.6372
Name: 2347, dtype: object
2348
timestamp    2014-04-09 03:40:00
value                    10.6105
Name: 2348, dtype: object
2349
timestamp    2014-04-09 03:45:00
value                    11.1753
Name: 2349, dtype: object
2350
timestamp    2014-04-09 03:50:00
value                    18.3179
Name: 2350, dtype: object
2351
timestamp    2014-04-09 03:55:00
value                    17.0824
Name: 2351, dtype: object
2352
timestamp    2014-04-09 04:00:00
value                    15.6758
Name: 2352, dtype: object
2353
timestamp    2014-04-09 04:05:00
value                    8.90457
Name: 2353, dtype: object
2354
timestamp    2014-04-09 04:10:00
value                    12.6009
Name: 2354, dtype: object
2355
timestamp    2014-04-09 04:15:00
value                    14.1523
Name: 2355, dtype: object
2356
timestamp    2014-04-09 04:20:00
value                    10.0615
Name: 2356, dtype: object
2357
timestamp    2014-04-09 04:25:00
value                    12.9305
Name: 2357, dtype: object
2358
timestamp    2014-04-09 04:30:00
value                    14.6113
Name: 2358, dtype: object
2359
timestamp    2014-04-09 04:35:00
value                    11.6011
Name: 2359, dtype: object
2360
timestamp    2014-04-09 04:40:00
value                    16.5904
Name: 2360, dtype: object
2361
timestamp    2014-04-09 04:45:00
value                    17.2449
Name: 2361, dtype: object
2362
timestamp    2014-04-09 04:50:00
value                    11.5597
Name: 2362, dtype: object
2363
timestamp    2014-04-09 04:55:00
value                    17.2252
Name: 2363, dtype: object
2364
timestamp    2014-04-09 05:00:00
value                    9.13934
Name: 2364, dtype: object
2365
timestamp    2014-04-09 05:05:00
value                     17.215
Name: 2365, dtype: object
2366
timestamp    2014-04-09 05:10:00
value                    9.68025
Name: 2366, dtype: object
2367
timestamp    2014-04-09 05:15:00
value                     8.9122
Name: 2367, dtype: object
2368
timestamp    2014-04-09 05:20:00
value                    15.0595
Name: 2368, dtype: object
2369
timestamp    2014-04-09 05:25:00
value                    13.1913
Name: 2369, dtype: object
2370
timestamp    2014-04-09 05:30:00
value                    17.9868
Name: 2370, dtype: object
2371
timestamp    2014-04-09 05:35:00
value                    11.9951
Name: 2371, dtype: object
2372
timestamp    2014-04-09 05:40:00
value                    11.1587
Name: 2372, dtype: object
2373
timestamp    2014-04-09 05:45:00
value                    13.5081
Name: 2373, dtype: object
2374
timestamp    2014-04-09 05:50:00
value                    13.0154
Name: 2374, dtype: object
2375
timestamp    2014-04-09 05:55:00
value                    11.7887
Name: 2375, dtype: object
2376
timestamp    2014-04-09 06:00:00
value                    15.6312
Name: 2376, dtype: object
2377
timestamp    2014-04-09 06:05:00
value                    16.3552
Name: 2377, dtype: object
2378
timestamp    2014-04-09 06:10:00
value                    17.3828
Name: 2378, dtype: object
2379
timestamp    2014-04-09 06:15:00
value                    18.7014
Name: 2379, dtype: object
2380
timestamp    2014-04-09 06:20:00
value                    10.9332
Name: 2380, dtype: object
2381
timestamp    2014-04-09 06:25:00
value                     15.877
Name: 2381, dtype: object
2382
timestamp    2014-04-09 06:30:00
value                    12.3368
Name: 2382, dtype: object
2383
timestamp    2014-04-09 06:35:00
value                    15.4479
Name: 2383, dtype: object
2384
timestamp    2014-04-09 06:40:00
value                    13.2358
Name: 2384, dtype: object
2385
timestamp    2014-04-09 06:45:00
value                    18.9315
Name: 2385, dtype: object
2386
timestamp    2014-04-09 06:50:00
value                    16.0179
Name: 2386, dtype: object
2387
timestamp    2014-04-09 06:55:00
value                    18.4774
Name: 2387, dtype: object
2388
timestamp    2014-04-09 07:00:00
value                    17.1847
Name: 2388, dtype: object
2389
timestamp    2014-04-09 07:05:00
value                    17.9319
Name: 2389, dtype: object
2390
timestamp    2014-04-09 07:10:00
value                    16.9586
Name: 2390, dtype: object
2391
timestamp    2014-04-09 07:15:00
value                    13.0508
Name: 2391, dtype: object
2392
timestamp    2014-04-09 07:20:00
value                    10.7697
Name: 2392, dtype: object
2393
timestamp    2014-04-09 07:25:00
value                    12.0735
Name: 2393, dtype: object
2394
timestamp    2014-04-09 07:30:00
value                     8.2226
Name: 2394, dtype: object
2395
timestamp    2014-04-09 07:35:00
value                    13.7639
Name: 2395, dtype: object
2396
timestamp    2014-04-09 07:40:00
value                    13.5556
Name: 2396, dtype: object
2397
timestamp    2014-04-09 07:45:00
value                    13.7778
Name: 2397, dtype: object
2398
timestamp    2014-04-09 07:50:00
value                    18.7143
Name: 2398, dtype: object
2399
timestamp    2014-04-09 07:55:00
value                     18.026
Name: 2399, dtype: object
2400
timestamp    2014-04-09 08:00:00
value                    9.77884
Name: 2400, dtype: object
2401
timestamp    2014-04-09 08:05:00
value                    12.0577
Name: 2401, dtype: object
2402
timestamp    2014-04-09 08:10:00
value                    12.6635
Name: 2402, dtype: object
2403
timestamp    2014-04-09 08:15:00
value                    11.9659
Name: 2403, dtype: object
2404
timestamp    2014-04-09 08:20:00
value                    16.7835
Name: 2404, dtype: object
2405
timestamp    2014-04-09 08:25:00
value                    13.7644
Name: 2405, dtype: object
2406
timestamp    2014-04-09 08:30:00
value                    14.2931
Name: 2406, dtype: object
2407
timestamp    2014-04-09 08:35:00
value                    17.3831
Name: 2407, dtype: object
2408
timestamp    2014-04-09 08:40:00
value                    16.8652
Name: 2408, dtype: object
2409
timestamp    2014-04-09 08:45:00
value                    9.45433
Name: 2409, dtype: object
2410
timestamp    2014-04-09 08:50:00
value                    15.8531
Name: 2410, dtype: object
2411
timestamp    2014-04-09 08:55:00
value                    12.7898
Name: 2411, dtype: object
2412
timestamp    2014-04-09 09:00:00
value                    11.2411
Name: 2412, dtype: object
2413
timestamp    2014-04-09 09:05:00
value                    8.55021
Name: 2413, dtype: object
2414
timestamp    2014-04-09 09:10:00
value                    13.3597
Name: 2414, dtype: object
2415
timestamp    2014-04-09 09:15:00
value                    11.9098
Name: 2415, dtype: object
2416
timestamp    2014-04-09 09:20:00
value                    10.7666
Name: 2416, dtype: object
2417
timestamp    2014-04-09 09:25:00
value                    15.6414
Name: 2417, dtype: object
2418
timestamp    2014-04-09 09:30:00
value                    16.4643
Name: 2418, dtype: object
2419
timestamp    2014-04-09 09:35:00
value                    10.6927
Name: 2419, dtype: object
2420
timestamp    2014-04-09 09:40:00
value                    8.54392
Name: 2420, dtype: object
2421
timestamp    2014-04-09 09:45:00
value                    17.3363
Name: 2421, dtype: object
2422
timestamp    2014-04-09 09:50:00
value                    8.10956
Name: 2422, dtype: object
2423
timestamp    2014-04-09 09:55:00
value                    18.3082
Name: 2423, dtype: object
2424
timestamp    2014-04-09 10:00:00
value                    14.9038
Name: 2424, dtype: object
2425
timestamp    2014-04-09 10:05:00
value                    11.5403
Name: 2425, dtype: object
2426
timestamp    2014-04-09 10:10:00
value                    10.7113
Name: 2426, dtype: object
2427
timestamp    2014-04-09 10:15:00
value                    8.09906
Name: 2427, dtype: object
2428
timestamp    2014-04-09 10:20:00
value                    10.5902
Name: 2428, dtype: object
2429
timestamp    2014-04-09 10:25:00
value                    9.51501
Name: 2429, dtype: object
2430
timestamp    2014-04-09 10:30:00
value                    14.7338
Name: 2430, dtype: object
2431
timestamp    2014-04-09 10:35:00
value                      9.832
Name: 2431, dtype: object
2432
timestamp    2014-04-09 10:40:00
value                    13.8149
Name: 2432, dtype: object
2433
timestamp    2014-04-09 10:45:00
value                    14.4913
Name: 2433, dtype: object
2434
timestamp    2014-04-09 10:50:00
value                    11.2785
Name: 2434, dtype: object

2435
timestamp    2014-04-09 10:55:00
value                    8.38571
Name: 2435, dtype: object
2436
timestamp    2014-04-09 11:00:00
value                    8.40979
Name: 2436, dtype: object
2437
timestamp    2014-04-09 11:05:00
value                    8.28982
Name: 2437, dtype: object
2438
timestamp    2014-04-09 11:10:00
value                    16.1304
Name: 2438, dtype: object
2439
timestamp    2014-04-09 11:15:00
value                    11.4981
Name: 2439, dtype: object
2440
timestamp    2014-04-09 11:20:00
value                    16.7593
Name: 2440, dtype: object
2441
timestamp    2014-04-09 11:25:00
value                    12.7491
Name: 2441, dtype: object
2442
timestamp    2014-04-09 11:30:00
value                     12.983
Name: 2442, dtype: object
2443
timestamp    2014-04-09 11:35:00
value                    13.6417
Name: 2443, dtype: object
2444
timestamp    2014-04-09 11:40:00
value                    15.8433
Name: 2444, dtype: object
2445
timestamp    2014-04-09 11:45:00
value                    11.0085
Name: 2445, dtype: object
2446
timestamp    2014-04-09 11:50:00
value                    9.33746
Name: 2446, dtype: object
2447
timestamp    2014-04-09 11:55:00
value                    14.1166
Name: 2447, dtype: object
2448
timestamp    2014-04-09 12:00:00
value                    11.5968
Name: 2448, dtype: object
2449
timestamp    2014-04-09 12:05:00
value                    12.8674
Name: 2449, dtype: object
2450
timestamp    2014-04-09 12:10:00
value                    15.1164
Name: 2450, dtype: object
2451
timestamp    2014-04-09 12:15:00
value                    13.4354
Name: 2451, dtype: object
2452
timestamp    2014-04-09 12:20:00
value                    14.8231
Name: 2452, dtype: object
2453
timestamp    2014-04-09 12:25:00
value                    13.9862
Name: 2453, dtype: object
2454
timestamp    2014-04-09 12:30:00
value                    16.1378
Name: 2454, dtype: object
2455
timestamp    2014-04-09 12:35:00
value                    15.7653
Name: 2455, dtype: object
2456
timestamp    2014-04-09 12:40:00
value                    13.8761
Name: 2456, dtype: object
2457
timestamp    2014-04-09 12:45:00
value                    15.4679
Name: 2457, dtype: object
2458
timestamp    2014-04-09 12:50:00
value                    17.6092
Name: 2458, dtype: object
2459
timestamp    2014-04-09 12:55:00
value                     12.755
Name: 2459, dtype: object
2460
timestamp    2014-04-09 13:00:00
value                    12.5404
Name: 2460, dtype: object
2461
timestamp    2014-04-09 13:05:00
value                    16.4067
Name: 2461, dtype: object
2462
timestamp    2014-04-09 13:10:00
value                    14.4081
Name: 2462, dtype: object
2463
timestamp    2014-04-09 13:15:00
value                    8.78107
Name: 2463, dtype: object
2464
timestamp    2014-04-09 13:20:00
value                    17.8132
Name: 2464, dtype: object
2465
timestamp    2014-04-09 13:25:00
value                    8.33861
Name: 2465, dtype: object
2466
timestamp    2014-04-09 13:30:00
value                    16.2324
Name: 2466, dtype: object
2467
timestamp    2014-04-09 13:35:00
value                    16.3467
Name: 2467, dtype: object
2468
timestamp    2014-04-09 13:40:00
value                    18.4842
Name: 2468, dtype: object
2469
timestamp    2014-04-09 13:45:00
value                    8.59548
Name: 2469, dtype: object
2470
timestamp    2014-04-09 13:50:00
value                    14.5654
Name: 2470, dtype: object
2471
timestamp    2014-04-09 13:55:00
value                    12.7062
Name: 2471, dtype: object
2472
timestamp    2014-04-09 14:00:00
value                     11.637
Name: 2472, dtype: object
2473
timestamp    2014-04-09 14:05:00
value                     8.9935
Name: 2473, dtype: object
2474
timestamp    2014-04-09 14:10:00
value                    14.1892
Name: 2474, dtype: object
2475
timestamp    2014-04-09 14:15:00
value                    13.2694
Name: 2475, dtype: object
2476
timestamp    2014-04-09 14:20:00
value                     9.1501
Name: 2476, dtype: object
2477
timestamp    2014-04-09 14:25:00
value                    14.7374
Name: 2477, dtype: object
2478
timestamp    2014-04-09 14:30:00
value                    16.1175
Name: 2478, dtype: object
2479
timestamp    2014-04-09 14:35:00
value                    16.4401
Name: 2479, dtype: object
2480
timestamp    2014-04-09 14:40:00
value                    17.9591
Name: 2480, dtype: object
2481
timestamp    2014-04-09 14:45:00
value                    12.5042
Name: 2481, dtype: object
2482
timestamp    2014-04-09 14:50:00
value                    18.4838
Name: 2482, dtype: object
2483
timestamp    2014-04-09 14:55:00
value                    17.5197
Name: 2483, dtype: object
2484
timestamp    2014-04-09 15:00:00
value                    11.2615
Name: 2484, dtype: object
2485
timestamp    2014-04-09 15:05:00
value                    9.75211
Name: 2485, dtype: object
2486
timestamp    2014-04-09 15:10:00
value                    12.7893
Name: 2486, dtype: object
2487
timestamp    2014-04-09 15:15:00
value                    12.4209
Name: 2487, dtype: object
2488
timestamp    2014-04-09 15:20:00
value                    14.3329
Name: 2488, dtype: object
2489
timestamp    2014-04-09 15:25:00
value                    14.4172
Name: 2489, dtype: object
2490
timestamp    2014-04-09 15:30:00
value                    16.2499
Name: 2490, dtype: object
2491
timestamp    2014-04-09 15:35:00
value                    13.6088
Name: 2491, dtype: object
2492
timestamp    2014-04-09 15:40:00
value                    9.15305
Name: 2492, dtype: object
2493
timestamp    2014-04-09 15:45:00
value                    17.4412
Name: 2493, dtype: object
2494
timestamp    2014-04-09 15:50:00
value                    11.4074
Name: 2494, dtype: object
2495
timestamp    2014-04-09 15:55:00
value                    18.6843
Name: 2495, dtype: object
2496
timestamp    2014-04-09 16:00:00
value                    9.29646
Name: 2496, dtype: object
2497
timestamp    2014-04-09 16:05:00
value                    18.5408
Name: 2497, dtype: object
2498
timestamp    2014-04-09 16:10:00
value                    9.00113
Name: 2498, dtype: object
2499
timestamp    2014-04-09 16:15:00
value                    10.5414
Name: 2499, dtype: object
2500
timestamp    2014-04-09 16:20:00
value                    8.51238
Name: 2500, dtype: object
2501
timestamp    2014-04-09 16:25:00
value                    15.7562
Name: 2501, dtype: object
2502
timestamp    2014-04-09 16:30:00
value                    17.3533
Name: 2502, dtype: object
2503
timestamp    2014-04-09 16:35:00
value                    12.7748
Name: 2503, dtype: object
2504
timestamp    2014-04-09 16:40:00
value                    18.2137
Name: 2504, dtype: object
2505
timestamp    2014-04-09 16:45:00
value                    14.4933
Name: 2505, dtype: object
2506
timestamp    2014-04-09 16:50:00
value                    14.9301
Name: 2506, dtype: object
2507
timestamp    2014-04-09 16:55:00
value                    17.2996
Name: 2507, dtype: object
2508
timestamp    2014-04-09 17:00:00
value                    11.2648
Name: 2508, dtype: object
2509
timestamp    2014-04-09 17:05:00
value                    11.8969
Name: 2509, dtype: object
2510
timestamp    2014-04-09 17:10:00
value                    17.9655
Name: 2510, dtype: object
2511
timestamp    2014-04-09 17:15:00
value                    17.9106
Name: 2511, dtype: object
2512
timestamp    2014-04-09 17:20:00
value                    18.7413
Name: 2512, dtype: object
2513
timestamp    2014-04-09 17:25:00
value                    17.9202
Name: 2513, dtype: object
2514
timestamp    2014-04-09 17:30:00
value                    9.40109
Name: 2514, dtype: object
2515
timestamp    2014-04-09 17:35:00
value                     17.061
Name: 2515, dtype: object
2516
timestamp    2014-04-09 17:40:00
value                    12.5082
Name: 2516, dtype: object
2517
timestamp    2014-04-09 17:45:00
value                    18.8988
Name: 2517, dtype: object
2518
timestamp    2014-04-09 17:50:00
value                    13.1951
Name: 2518, dtype: object
2519
timestamp    2014-04-09 17:55:00
value                    14.0922
Name: 2519, dtype: object
2520
timestamp    2014-04-09 18:00:00
value                    13.8275
Name: 2520, dtype: object
2521
timestamp    2014-04-09 18:05:00
value                    11.5391
Name: 2521, dtype: object
2522
timestamp    2014-04-09 18:10:00
value                    8.82524
Name: 2522, dtype: object
2523
timestamp    2014-04-09 18:15:00
value                    17.8522
Name: 2523, dtype: object
2524
timestamp    2014-04-09 18:20:00
value                    16.8294
Name: 2524, dtype: object
2525
timestamp    2014-04-09 18:25:00
value                    9.53479
Name: 2525, dtype: object
2526
timestamp    2014-04-09 18:30:00
value                    16.5445
Name: 2526, dtype: object
2527
timestamp    2014-04-09 18:35:00
value                    14.8843
Name: 2527, dtype: object
2528
timestamp    2014-04-09 18:40:00
value                    12.5006
Name: 2528, dtype: object
2529
timestamp    2014-04-09 18:45:00
value                    10.7942
Name: 2529, dtype: object
2530
timestamp    2014-04-09 18:50:00
value                     17.457
Name: 2530, dtype: object
2531
timestamp    2014-04-09 18:55:00
value                    15.7021
Name: 2531, dtype: object
2532
timestamp    2014-04-09 19:00:00
value                    14.0251
Name: 2532, dtype: object
2533
timestamp    2014-04-09 19:05:00
value                    14.7053
Name: 2533, dtype: object
2534
timestamp    2014-04-09 19:10:00
value                    9.00173
Name: 2534, dtype: object
2535
timestamp    2014-04-09 19:15:00
value                    13.2131
Name: 2535, dtype: object
2536
timestamp    2014-04-09 19:20:00
value                    10.1307
Name: 2536, dtype: object
2537
timestamp    2014-04-09 19:25:00
value                    10.2922
Name: 2537, dtype: object
2538
timestamp    2014-04-09 19:30:00
value                    15.2743
Name: 2538, dtype: object
2539
timestamp    2014-04-09 19:35:00
value                    18.0238
Name: 2539, dtype: object
2540
timestamp    2014-04-09 19:40:00
value                    12.4413
Name: 2540, dtype: object
2541
timestamp    2014-04-09 19:45:00
value                    10.2852
Name: 2541, dtype: object
2542
timestamp    2014-04-09 19:50:00
value                    15.1362
Name: 2542, dtype: object
2543
timestamp    2014-04-09 19:55:00
value                    17.5831
Name: 2543, dtype: object
2544
timestamp    2014-04-09 20:00:00
value                    16.2315
Name: 2544, dtype: object
2545
timestamp    2014-04-09 20:05:00
value                    17.5563
Name: 2545, dtype: object
2546
timestamp    2014-04-09 20:10:00
value                    13.9021
Name: 2546, dtype: object
2547
timestamp    2014-04-09 20:15:00
value                    16.2706
Name: 2547, dtype: object
2548
timestamp    2014-04-09 20:20:00
value                    9.54071
Name: 2548, dtype: object
2549
timestamp    2014-04-09 20:25:00
value                     11.831
Name: 2549, dtype: object
2550
timestamp    2014-04-09 20:30:00
value                     12.285
Name: 2550, dtype: object
2551
timestamp    2014-04-09 20:35:00
value                    13.6243
Name: 2551, dtype: object
2552
timestamp    2014-04-09 20:40:00
value                    18.2198
Name: 2552, dtype: object
2553
timestamp    2014-04-09 20:45:00
value                    17.6173
Name: 2553, dtype: object
2554
timestamp    2014-04-09 20:50:00
value                    9.47978
Name: 2554, dtype: object
2555
timestamp    2014-04-09 20:55:00
value                    9.90069
Name: 2555, dtype: object
2556
timestamp    2014-04-09 21:00:00
value                     11.934
Name: 2556, dtype: object
2557
timestamp    2014-04-09 21:05:00
value                    11.1982
Name: 2557, dtype: object
2558
timestamp    2014-04-09 21:10:00
value                    14.7625
Name: 2558, dtype: object
2559
timestamp    2014-04-09 21:15:00
value                    17.9305
Name: 2559, dtype: object
2560
timestamp    2014-04-09 21:20:00
value                    18.5852
Name: 2560, dtype: object
2561
timestamp    2014-04-09 21:25:00
value                    15.1896
Name: 2561, dtype: object
2562
timestamp    2014-04-09 21:30:00
value                    17.2198
Name: 2562, dtype: object
2563
timestamp    2014-04-09 21:35:00
value                    13.7772
Name: 2563, dtype: object
2564
timestamp    2014-04-09 21:40:00
value                    10.2916
Name: 2564, dtype: object
2565
timestamp    2014-04-09 21:45:00
value                    13.7716
Name: 2565, dtype: object
2566
timestamp    2014-04-09 21:50:00
value                    14.1059
Name: 2566, dtype: object
2567
timestamp    2014-04-09 21:55:00
value                     16.167
Name: 2567, dtype: object
2568
timestamp    2014-04-09 22:00:00
value                    10.4187
Name: 2568, dtype: object
2569
timestamp    2014-04-09 22:05:00
value                    12.0514
Name: 2569, dtype: object
2570
timestamp    2014-04-09 22:10:00
value                    12.0043
Name: 2570, dtype: object
2571
timestamp    2014-04-09 22:15:00
value                    18.5538
Name: 2571, dtype: object
2572
timestamp    2014-04-09 22:20:00
value                    12.8834
Name: 2572, dtype: object
2573
timestamp    2014-04-09 22:25:00
value                     16.306
Name: 2573, dtype: object
2574
timestamp    2014-04-09 22:30:00
value                    16.2589
Name: 2574, dtype: object
2575
timestamp    2014-04-09 22:35:00
value                     10.921
Name: 2575, dtype: object
2576
timestamp    2014-04-09 22:40:00
value                    14.2906
Name: 2576, dtype: object
2577
timestamp    2014-04-09 22:45:00
value                    17.8373
Name: 2577, dtype: object
2578
timestamp    2014-04-09 22:50:00
value                    13.2272
Name: 2578, dtype: object
2579
timestamp    2014-04-09 22:55:00
value                    18.3963
Name: 2579, dtype: object
2580
timestamp    2014-04-09 23:00:00
value                     10.359
Name: 2580, dtype: object
2581
timestamp    2014-04-09 23:05:00
value                    8.81575
Name: 2581, dtype: object
2582
timestamp    2014-04-09 23:10:00
value                     17.806
Name: 2582, dtype: object
2583
timestamp    2014-04-09 23:15:00
value                    17.3245
Name: 2583, dtype: object
2584
timestamp    2014-04-09 23:20:00
value                    18.9185
Name: 2584, dtype: object
2585
timestamp    2014-04-09 23:25:00
value                    15.4733

Name: 2585, dtype: object
2586
timestamp    2014-04-09 23:30:00
value                    18.3036
Name: 2586, dtype: object
2587
timestamp    2014-04-09 23:35:00
value                    17.0964
Name: 2587, dtype: object
2588
timestamp    2014-04-09 23:40:00
value                    17.2887
Name: 2588, dtype: object
2589
timestamp    2014-04-09 23:45:00
value                    14.2606
Name: 2589, dtype: object
2590
timestamp    2014-04-09 23:50:00
value                     12.206
Name: 2590, dtype: object
2591
timestamp    2014-04-09 23:55:00
value                    18.2801
Name: 2591, dtype: object
2592
timestamp    2014-04-10 00:00:00
value                    12.7533
Name: 2592, dtype: object
2593
timestamp    2014-04-10 00:05:00
value                     13.927
Name: 2593, dtype: object
2594
timestamp    2014-04-10 00:10:00
value                    12.9073
Name: 2594, dtype: object
2595
timestamp    2014-04-10 00:15:00
value                     14.213
Name: 2595, dtype: object
2596
timestamp    2014-04-10 00:20:00
value                    13.1756
Name: 2596, dtype: object
2597
timestamp    2014-04-10 00:25:00
value                    8.52764
Name: 2597, dtype: object
2598
timestamp    2014-04-10 00:30:00
value                    17.7025
Name: 2598, dtype: object
2599
timestamp    2014-04-10 00:35:00
value                    12.8883
Name: 2599, dtype: object
2600
timestamp    2014-04-10 00:40:00
value                    14.4784
Name: 2600, dtype: object
2601
timestamp    2014-04-10 00:45:00
value                    9.53107
Name: 2601, dtype: object
2602
timestamp    2014-04-10 00:50:00
value                    8.03727
Name: 2602, dtype: object
2603
timestamp    2014-04-10 00:55:00
value                    10.6982
Name: 2603, dtype: object
2604
timestamp    2014-04-10 01:00:00
value                    15.7504
Name: 2604, dtype: object
2605
timestamp    2014-04-10 01:05:00
value                    9.09114
Name: 2605, dtype: object
2606
timestamp    2014-04-10 01:10:00
value                    17.9978
Name: 2606, dtype: object
2607
timestamp    2014-04-10 01:15:00
value                    10.3652
Name: 2607, dtype: object
2608
timestamp    2014-04-10 01:20:00
value                    10.2505
Name: 2608, dtype: object
2609
timestamp    2014-04-10 01:25:00
value                    9.99659
Name: 2609, dtype: object
2610
timestamp    2014-04-10 01:30:00
value                     8.1538
Name: 2610, dtype: object
2611
timestamp    2014-04-10 01:35:00
value                    16.4899
Name: 2611, dtype: object
2612
timestamp    2014-04-10 01:40:00
value                    17.6254
Name: 2612, dtype: object
2613
timestamp    2014-04-10 01:45:00
value                    14.7558
Name: 2613, dtype: object
2614
timestamp    2014-04-10 01:50:00
value                    10.0702
Name: 2614, dtype: object
2615
timestamp    2014-04-10 01:55:00
value                    11.1381
Name: 2615, dtype: object
2616
timestamp    2014-04-10 02:00:00
value                    13.2352
Name: 2616, dtype: object
2617
timestamp    2014-04-10 02:05:00
value                    18.4978
Name: 2617, dtype: object
2618
timestamp    2014-04-10 02:10:00
value                    10.7209
Name: 2618, dtype: object
2619
timestamp    2014-04-10 02:15:00
value                    16.0481
Name: 2619, dtype: object
2620
timestamp    2014-04-10 02:20:00
value                    12.8339
Name: 2620, dtype: object
2621
timestamp    2014-04-10 02:25:00
value                    11.2763
Name: 2621, dtype: object
2622
timestamp    2014-04-10 02:30:00
value                    13.0151
Name: 2622, dtype: object
2623
timestamp    2014-04-10 02:35:00
value                    8.78327
Name: 2623, dtype: object
2624
timestamp    2014-04-10 02:40:00
value                    16.7856
Name: 2624, dtype: object
2625
timestamp    2014-04-10 02:45:00
value                    10.6763
Name: 2625, dtype: object
2626
timestamp    2014-04-10 02:50:00
value                    15.9795
Name: 2626, dtype: object
2627
timestamp    2014-04-10 02:55:00
value                    8.75183
Name: 2627, dtype: object
2628
timestamp    2014-04-10 03:00:00
value                    18.5061
Name: 2628, dtype: object
2629
timestamp    2014-04-10 03:05:00
value                    10.1232
Name: 2629, dtype: object
2630
timestamp    2014-04-10 03:10:00
value                    17.7102
Name: 2630, dtype: object
2631
timestamp    2014-04-10 03:15:00
value                    16.9042
Name: 2631, dtype: object
2632
timestamp    2014-04-10 03:20:00
value                    18.6465
Name: 2632, dtype: object
2633
timestamp    2014-04-10 03:25:00
value                    13.2568
Name: 2633, dtype: object
2634
timestamp    2014-04-10 03:30:00
value                    16.0014
Name: 2634, dtype: object
2635
timestamp    2014-04-10 03:35:00
value                    12.0778
Name: 2635, dtype: object
2636
timestamp    2014-04-10 03:40:00
value                    10.0281
Name: 2636, dtype: object
2637
timestamp    2014-04-10 03:45:00
value                    12.8738
Name: 2637, dtype: object
2638
timestamp    2014-04-10 03:50:00
value                    9.82324
Name: 2638, dtype: object
2639
timestamp    2014-04-10 03:55:00
value                    18.8025
Name: 2639, dtype: object
2640
timestamp    2014-04-10 04:00:00
value                    9.05871
Name: 2640, dtype: object
2641
timestamp    2014-04-10 04:05:00
value                    14.4813
Name: 2641, dtype: object
2642
timestamp    2014-04-10 04:10:00
value                    14.8911
Name: 2642, dtype: object
2643
timestamp    2014-04-10 04:15:00
value                    13.9189
Name: 2643, dtype: object
2644
timestamp    2014-04-10 04:20:00
value                     15.284
Name: 2644, dtype: object
2645
timestamp    2014-04-10 04:25:00
value                    9.27799
Name: 2645, dtype: object
2646
timestamp    2014-04-10 04:30:00
value                    14.1052
Name: 2646, dtype: object
2647
timestamp    2014-04-10 04:35:00
value                    11.1593
Name: 2647, dtype: object
2648
timestamp    2014-04-10 04:40:00
value                    18.3419
Name: 2648, dtype: object
2649
timestamp    2014-04-10 04:45:00
value                    16.3828
Name: 2649, dtype: object
2650
timestamp    2014-04-10 04:50:00
value                    18.6977
Name: 2650, dtype: object
2651
timestamp    2014-04-10 04:55:00
value                    8.41312
Name: 2651, dtype: object
2652
timestamp    2014-04-10 05:00:00
value                    11.1365
Name: 2652, dtype: object
2653
timestamp    2014-04-10 05:05:00
value                    10.1496
Name: 2653, dtype: object
2654
timestamp    2014-04-10 05:10:00
value                     8.1227
Name: 2654, dtype: object
2655
timestamp    2014-04-10 05:15:00
value                    10.6656
Name: 2655, dtype: object
2656
timestamp    2014-04-10 05:20:00
value                    15.4665
Name: 2656, dtype: object
2657
timestamp    2014-04-10 05:25:00
value                     10.542
Name: 2657, dtype: object
2658
timestamp    2014-04-10 05:30:00
value                     13.599
Name: 2658, dtype: object
2659
timestamp    2014-04-10 05:35:00
value                     17.766
Name: 2659, dtype: object
2660
timestamp    2014-04-10 05:40:00
value                    15.6313
Name: 2660, dtype: object
2661
timestamp    2014-04-10 05:45:00
value                    12.3409
Name: 2661, dtype: object
2662
timestamp    2014-04-10 05:50:00
value                    12.0972
Name: 2662, dtype: object
2663
timestamp    2014-04-10 05:55:00
value                    13.0131
Name: 2663, dtype: object
2664
timestamp    2014-04-10 06:00:00
value                    9.94746
Name: 2664, dtype: object
2665
timestamp    2014-04-10 06:05:00
value                     14.974
Name: 2665, dtype: object
2666
timestamp    2014-04-10 06:10:00
value                    12.0057
Name: 2666, dtype: object
2667
timestamp    2014-04-10 06:15:00
value                     17.376
Name: 2667, dtype: object
2668
timestamp    2014-04-10 06:20:00
value                    16.3221
Name: 2668, dtype: object
2669
timestamp    2014-04-10 06:25:00
value                    14.7156
Name: 2669, dtype: object
2670
timestamp    2014-04-10 06:30:00
value                    12.0062
Name: 2670, dtype: object
2671
timestamp    2014-04-10 06:35:00
value                    10.3093
Name: 2671, dtype: object
2672
timestamp    2014-04-10 06:40:00
value                    16.5377
Name: 2672, dtype: object
2673
timestamp    2014-04-10 06:45:00
value                    13.3505
Name: 2673, dtype: object
2674
timestamp    2014-04-10 06:50:00
value                    10.4723
Name: 2674, dtype: object
2675
timestamp    2014-04-10 06:55:00
value                    10.1469
Name: 2675, dtype: object
2676
timestamp    2014-04-10 07:00:00
value                    9.81941
Name: 2676, dtype: object
2677
timestamp    2014-04-10 07:05:00
value                    16.5488
Name: 2677, dtype: object
2678
timestamp    2014-04-10 07:10:00
value                    10.5189
Name: 2678, dtype: object
2679
timestamp    2014-04-10 07:15:00
value                    13.7931
Name: 2679, dtype: object
2680
timestamp    2014-04-10 07:20:00
value                     12.967
Name: 2680, dtype: object
2681
timestamp    2014-04-10 07:25:00
value                    14.3757
Name: 2681, dtype: object
2682
timestamp    2014-04-10 07:30:00
value                    17.6487
Name: 2682, dtype: object
2683
timestamp    2014-04-10 07:35:00
value                    17.5452
Name: 2683, dtype: object
2684
timestamp    2014-04-10 07:40:00
value                    12.9618
Name: 2684, dtype: object
2685
timestamp    2014-04-10 07:45:00
value                    8.16903
Name: 2685, dtype: object
2686
timestamp    2014-04-10 07:50:00
value                    12.6909
Name: 2686, dtype: object
2687
timestamp    2014-04-10 07:55:00
value                    14.6681
Name: 2687, dtype: object
2688
timestamp    2014-04-10 08:00:00
value                    14.1354
Name: 2688, dtype: object
2689
timestamp    2014-04-10 08:05:00
value                    15.1647
Name: 2689, dtype: object
2690
timestamp    2014-04-10 08:10:00
value                    9.69483
Name: 2690, dtype: object
2691
timestamp    2014-04-10 08:15:00
value                    15.1119
Name: 2691, dtype: object
2692
timestamp    2014-04-10 08:20:00
value                    10.0092
Name: 2692, dtype: object
2693
timestamp    2014-04-10 08:25:00
value                    16.2558
Name: 2693, dtype: object
2694
timestamp    2014-04-10 08:30:00
value                      11.73
Name: 2694, dtype: object
2695
timestamp    2014-04-10 08:35:00
value                    15.8088
Name: 2695, dtype: object
2696
timestamp    2014-04-10 08:40:00
value                    8.52652
Name: 2696, dtype: object
2697
timestamp    2014-04-10 08:45:00
value                    12.4865
Name: 2697, dtype: object
2698
timestamp    2014-04-10 08:50:00
value                    15.7554
Name: 2698, dtype: object
2699
timestamp    2014-04-10 08:55:00
value                    10.4956
Name: 2699, dtype: object
2700
timestamp    2014-04-10 09:00:00
value                    16.7482
Name: 2700, dtype: object
2701
timestamp    2014-04-10 09:05:00
value                    14.9386
Name: 2701, dtype: object
2702
timestamp    2014-04-10 09:10:00
value                    14.4632
Name: 2702, dtype: object
2703
timestamp    2014-04-10 09:15:00
value                     11.889
Name: 2703, dtype: object
2704
timestamp    2014-04-10 09:20:00
value                     13.307
Name: 2704, dtype: object
2705
timestamp    2014-04-10 09:25:00
value                    14.5708
Name: 2705, dtype: object
2706
timestamp    2014-04-10 09:30:00
value                    13.1971
Name: 2706, dtype: object
2707
timestamp    2014-04-10 09:35:00
value                    15.6814
Name: 2707, dtype: object
2708
timestamp    2014-04-10 09:40:00
value                    12.7707
Name: 2708, dtype: object
2709
timestamp    2014-04-10 09:45:00
value                     10.225
Name: 2709, dtype: object
2710
timestamp    2014-04-10 09:50:00
value                    10.3533
Name: 2710, dtype: object

2711
timestamp    2014-04-10 09:55:00
value                    8.06384
Name: 2711, dtype: object
2712
timestamp    2014-04-10 10:00:00
value                    11.3105
Name: 2712, dtype: object
2713
timestamp    2014-04-10 10:05:00
value                    16.2381
Name: 2713, dtype: object
2714
timestamp    2014-04-10 10:10:00
value                    16.7358
Name: 2714, dtype: object
2715
timestamp    2014-04-10 10:15:00
value                    10.2271
Name: 2715, dtype: object
2716
timestamp    2014-04-10 10:20:00
value                    18.5495
Name: 2716, dtype: object
2717
timestamp    2014-04-10 10:25:00
value                    13.5264
Name: 2717, dtype: object
2718
timestamp    2014-04-10 10:30:00
value                    18.0868
Name: 2718, dtype: object
2719
timestamp    2014-04-10 10:35:00
value                    15.7744
Name: 2719, dtype: object
2720
timestamp    2014-04-10 10:40:00
value                    15.9468
Name: 2720, dtype: object
2721
timestamp    2014-04-10 10:45:00
value                    8.93548
Name: 2721, dtype: object
2722
timestamp    2014-04-10 10:50:00
value                    10.4199
Name: 2722, dtype: object
2723
timestamp    2014-04-10 10:55:00
value                    8.09696
Name: 2723, dtype: object
2724
timestamp    2014-04-10 11:00:00
value                    15.8774
Name: 2724, dtype: object
2725
timestamp    2014-04-10 11:05:00
value                    11.7888
Name: 2725, dtype: object
2726
timestamp    2014-04-10 11:10:00
value                    16.6532
Name: 2726, dtype: object
2727
timestamp    2014-04-10 11:15:00
value                    11.7283
Name: 2727, dtype: object
2728
timestamp    2014-04-10 11:20:00
value                    17.0127
Name: 2728, dtype: object
2729
timestamp    2014-04-10 11:25:00
value                    9.43768
Name: 2729, dtype: object
2730
timestamp    2014-04-10 11:30:00
value                     9.9071
Name: 2730, dtype: object
2731
timestamp    2014-04-10 11:35:00
value                    11.7496
Name: 2731, dtype: object
2732
timestamp    2014-04-10 11:40:00
value                    12.4934
Name: 2732, dtype: object
2733
timestamp    2014-04-10 11:45:00
value                    11.8357
Name: 2733, dtype: object
2734
timestamp    2014-04-10 11:50:00
value                    16.4001
Name: 2734, dtype: object
2735
timestamp    2014-04-10 11:55:00
value                    9.06647
Name: 2735, dtype: object
2736
timestamp    2014-04-10 12:00:00
value                    11.8634
Name: 2736, dtype: object
2737
timestamp    2014-04-10 12:05:00
value                    17.2096
Name: 2737, dtype: object
2738
timestamp    2014-04-10 12:10:00
value                    8.73477
Name: 2738, dtype: object
2739
timestamp    2014-04-10 12:15:00
value                    18.3658
Name: 2739, dtype: object
2740
timestamp    2014-04-10 12:20:00
value                    18.8495
Name: 2740, dtype: object
2741
timestamp    2014-04-10 12:25:00
value                    8.97425
Name: 2741, dtype: object
2742
timestamp    2014-04-10 12:30:00
value                     11.204
Name: 2742, dtype: object
2743
timestamp    2014-04-10 12:35:00
value                    12.0964
Name: 2743, dtype: object
2744
timestamp    2014-04-10 12:40:00
value                    16.5403
Name: 2744, dtype: object
2745
timestamp    2014-04-10 12:45:00
value                    14.5552
Name: 2745, dtype: object
2746
timestamp    2014-04-10 12:50:00
value                     15.088
Name: 2746, dtype: object
2747
timestamp    2014-04-10 12:55:00
value                    16.3326
Name: 2747, dtype: object
2748
timestamp    2014-04-10 13:00:00
value                    9.29777
Name: 2748, dtype: object
2749
timestamp    2014-04-10 13:05:00
value                    17.1653
Name: 2749, dtype: object
2750
timestamp    2014-04-10 13:10:00
value                    15.7618
Name: 2750, dtype: object
2751
timestamp    2014-04-10 13:15:00
value                    14.3508
Name: 2751, dtype: object
2752
timestamp    2014-04-10 13:20:00
value                    17.7871
Name: 2752, dtype: object
2753
timestamp    2014-04-10 13:25:00
value                    15.7034
Name: 2753, dtype: object
2754
timestamp    2014-04-10 13:30:00
value                    10.2187
Name: 2754, dtype: object
2755
timestamp    2014-04-10 13:35:00
value                    12.7272
Name: 2755, dtype: object
2756
timestamp    2014-04-10 13:40:00
value                    13.4345
Name: 2756, dtype: object
2757
timestamp    2014-04-10 13:45:00
value                    8.60739
Name: 2757, dtype: object
2758
timestamp    2014-04-10 13:50:00
value                     18.501
Name: 2758, dtype: object
2759
timestamp    2014-04-10 13:55:00
value                    9.41435
Name: 2759, dtype: object
2760
timestamp    2014-04-10 14:00:00
value                    15.6721
Name: 2760, dtype: object
2761
timestamp    2014-04-10 14:05:00
value                    13.5685
Name: 2761, dtype: object
2762
timestamp    2014-04-10 14:10:00
value                    8.28195
Name: 2762, dtype: object
2763
timestamp    2014-04-10 14:15:00
value                    18.1722
Name: 2763, dtype: object
2764
timestamp    2014-04-10 14:20:00
value                    17.3702
Name: 2764, dtype: object
2765
timestamp    2014-04-10 14:25:00
value                    13.7668
Name: 2765, dtype: object
2766
timestamp    2014-04-10 14:30:00
value                    10.5184
Name: 2766, dtype: object
2767
timestamp    2014-04-10 14:35:00
value                    9.33785
Name: 2767, dtype: object
2768
timestamp    2014-04-10 14:40:00
value                    11.9973
Name: 2768, dtype: object
2769
timestamp    2014-04-10 14:45:00
value                    10.8097
Name: 2769, dtype: object
2770
timestamp    2014-04-10 14:50:00
value                    13.5736
Name: 2770, dtype: object
2771
timestamp    2014-04-10 14:55:00
value                    18.6305
Name: 2771, dtype: object
2772
timestamp    2014-04-10 15:00:00
value                    14.3245
Name: 2772, dtype: object
2773
timestamp    2014-04-10 15:05:00
value                    17.7892
Name: 2773, dtype: object
2774
timestamp    2014-04-10 15:10:00
value                    15.1597
Name: 2774, dtype: object
2775
timestamp    2014-04-10 15:15:00
value                    13.2277
Name: 2775, dtype: object
2776
timestamp    2014-04-10 15:20:00
value                    17.4007
Name: 2776, dtype: object
2777
timestamp    2014-04-10 15:25:00
value                     13.185
Name: 2777, dtype: object
2778
timestamp    2014-04-10 15:30:00
value                    17.5549
Name: 2778, dtype: object
2779
timestamp    2014-04-10 15:35:00
value                    11.2073
Name: 2779, dtype: object
2780
timestamp    2014-04-10 15:40:00
value                    9.41694
Name: 2780, dtype: object
2781
timestamp    2014-04-10 15:45:00
value                    17.4085
Name: 2781, dtype: object
2782
timestamp    2014-04-10 15:50:00
value                    14.4616
Name: 2782, dtype: object
2783
timestamp    2014-04-10 15:55:00
value                      17.78
Name: 2783, dtype: object
2784
timestamp    2014-04-10 16:00:00
value                    18.3161
Name: 2784, dtype: object
2785
timestamp    2014-04-10 16:05:00
value                    8.58991
Name: 2785, dtype: object
2786
timestamp    2014-04-10 16:10:00
value                    13.5107
Name: 2786, dtype: object
2787
timestamp    2014-04-10 16:15:00
value                    12.1246
Name: 2787, dtype: object
2788
timestamp    2014-04-10 16:20:00
value                    14.8844
Name: 2788, dtype: object
2789
timestamp    2014-04-10 16:25:00
value                    16.7295
Name: 2789, dtype: object
2790
timestamp    2014-04-10 16:30:00
value                    11.0865
Name: 2790, dtype: object
2791
timestamp    2014-04-10 16:35:00
value                    14.1248
Name: 2791, dtype: object
2792
timestamp    2014-04-10 16:40:00
value                     15.796
Name: 2792, dtype: object
2793
timestamp    2014-04-10 16:45:00
value                    9.47874
Name: 2793, dtype: object
2794
timestamp    2014-04-10 16:50:00
value                    16.9547
Name: 2794, dtype: object
2795
timestamp    2014-04-10 16:55:00
value                    14.6672
Name: 2795, dtype: object
2796
timestamp    2014-04-10 17:00:00
value                    18.4449
Name: 2796, dtype: object
2797
timestamp    2014-04-10 17:05:00
value                    11.7348
Name: 2797, dtype: object
2798
timestamp    2014-04-10 17:10:00
value                    9.18961
Name: 2798, dtype: object
2799
timestamp    2014-04-10 17:15:00
value                    13.5715
Name: 2799, dtype: object
2800
timestamp    2014-04-10 17:20:00
value                    8.94392
Name: 2800, dtype: object
2801
timestamp    2014-04-10 17:25:00
value                    18.6648
Name: 2801, dtype: object
2802
timestamp    2014-04-10 17:30:00
value                    8.42553
Name: 2802, dtype: object
2803
timestamp    2014-04-10 17:35:00
value                    16.2885
Name: 2803, dtype: object
2804
timestamp    2014-04-10 17:40:00
value                    13.7761
Name: 2804, dtype: object
2805
timestamp    2014-04-10 17:45:00
value                    12.0548
Name: 2805, dtype: object
2806
timestamp    2014-04-10 17:50:00
value                    8.72426
Name: 2806, dtype: object
2807
timestamp    2014-04-10 17:55:00
value                    14.8438
Name: 2807, dtype: object
2808
timestamp    2014-04-10 18:00:00
value                    14.4374
Name: 2808, dtype: object
2809
timestamp    2014-04-10 18:05:00
value                    11.0897
Name: 2809, dtype: object
2810
timestamp    2014-04-10 18:10:00
value                    18.0124
Name: 2810, dtype: object
2811
timestamp    2014-04-10 18:15:00
value                    11.3452
Name: 2811, dtype: object
2812
timestamp    2014-04-10 18:20:00
value                     12.947
Name: 2812, dtype: object
2813
timestamp    2014-04-10 18:25:00
value                    13.9814
Name: 2813, dtype: object
2814
timestamp    2014-04-10 18:30:00
value                    9.10255
Name: 2814, dtype: object
2815
timestamp    2014-04-10 18:35:00
value                    18.2538
Name: 2815, dtype: object
2816
timestamp    2014-04-10 18:40:00
value                    12.1199
Name: 2816, dtype: object
2817
timestamp    2014-04-10 18:45:00
value                    8.88857
Name: 2817, dtype: object
2818
timestamp    2014-04-10 18:50:00
value                    12.2602
Name: 2818, dtype: object
2819
timestamp    2014-04-10 18:55:00
value                    14.6022
Name: 2819, dtype: object
2820
timestamp    2014-04-10 19:00:00
value                    13.6502
Name: 2820, dtype: object
2821
timestamp    2014-04-10 19:05:00
value                      15.64
Name: 2821, dtype: object
2822
timestamp    2014-04-10 19:10:00
value                    8.61032
Name: 2822, dtype: object
2823
timestamp    2014-04-10 19:15:00
value                    11.1299
Name: 2823, dtype: object
2824
timestamp    2014-04-10 19:20:00
value                    17.0115
Name: 2824, dtype: object
2825
timestamp    2014-04-10 19:25:00
value                    8.87883
Name: 2825, dtype: object
2826
timestamp    2014-04-10 19:30:00
value                    17.4103
Name: 2826, dtype: object
2827
timestamp    2014-04-10 19:35:00
value                    9.01086
Name: 2827, dtype: object
2828
timestamp    2014-04-10 19:40:00
value                     17.179
Name: 2828, dtype: object
2829
timestamp    2014-04-10 19:45:00
value                    11.9687
Name: 2829, dtype: object
2830
timestamp    2014-04-10 19:50:00
value                    14.7343
Name: 2830, dtype: object
2831
timestamp    2014-04-10 19:55:00
value                    9.68176
Name: 2831, dtype: object
2832
timestamp    2014-04-10 20:00:00
value                    8.72786

Name: 2832, dtype: object
2833
timestamp    2014-04-10 20:05:00
value                    10.3753
Name: 2833, dtype: object
2834
timestamp    2014-04-10 20:10:00
value                    9.40639
Name: 2834, dtype: object
2835
timestamp    2014-04-10 20:15:00
value                    11.4365
Name: 2835, dtype: object
2836
timestamp    2014-04-10 20:20:00
value                    13.6582
Name: 2836, dtype: object
2837
timestamp    2014-04-10 20:25:00
value                    14.4764
Name: 2837, dtype: object
2838
timestamp    2014-04-10 20:30:00
value                    16.6885
Name: 2838, dtype: object
2839
timestamp    2014-04-10 20:35:00
value                    15.2186
Name: 2839, dtype: object
2840
timestamp    2014-04-10 20:40:00
value                    14.6963
Name: 2840, dtype: object
2841
timestamp    2014-04-10 20:45:00
value                    12.5296
Name: 2841, dtype: object
2842
timestamp    2014-04-10 20:50:00
value                    13.2119
Name: 2842, dtype: object
2843
timestamp    2014-04-10 20:55:00
value                    12.5597
Name: 2843, dtype: object
2844
timestamp    2014-04-10 21:00:00
value                    17.2638
Name: 2844, dtype: object
2845
timestamp    2014-04-10 21:05:00
value                      10.53
Name: 2845, dtype: object
2846
timestamp    2014-04-10 21:10:00
value                    8.06293
Name: 2846, dtype: object
2847
timestamp    2014-04-10 21:15:00
value                    15.1645
Name: 2847, dtype: object
2848
timestamp    2014-04-10 21:20:00
value                    10.2271
Name: 2848, dtype: object
2849
timestamp    2014-04-10 21:25:00
value                    17.7913
Name: 2849, dtype: object
2850
timestamp    2014-04-10 21:30:00
value                    17.4495
Name: 2850, dtype: object
2851
timestamp    2014-04-10 21:35:00
value                      8.844
Name: 2851, dtype: object
2852
timestamp    2014-04-10 21:40:00
value                    9.17027
Name: 2852, dtype: object
2853
timestamp    2014-04-10 21:45:00
value                    13.4469
Name: 2853, dtype: object
2854
timestamp    2014-04-10 21:50:00
value                    14.7014
Name: 2854, dtype: object
2855
timestamp    2014-04-10 21:55:00
value                     11.024
Name: 2855, dtype: object
2856
timestamp    2014-04-10 22:00:00
value                    15.8848
Name: 2856, dtype: object
2857
timestamp    2014-04-10 22:05:00
value                    14.5441
Name: 2857, dtype: object
2858
timestamp    2014-04-10 22:10:00
value                    11.5731
Name: 2858, dtype: object
2859
timestamp    2014-04-10 22:15:00
value                    8.27909
Name: 2859, dtype: object
2860
timestamp    2014-04-10 22:20:00
value                    16.2517
Name: 2860, dtype: object
2861
timestamp    2014-04-10 22:25:00
value                    10.3623
Name: 2861, dtype: object
2862
timestamp    2014-04-10 22:30:00
value                    17.1792
Name: 2862, dtype: object
2863
timestamp    2014-04-10 22:35:00
value                    12.6232
Name: 2863, dtype: object
2864
timestamp    2014-04-10 22:40:00
value                    14.3479
Name: 2864, dtype: object
2865
timestamp    2014-04-10 22:45:00
value                    17.6024
Name: 2865, dtype: object
2866
timestamp    2014-04-10 22:50:00
value                    17.4999
Name: 2866, dtype: object
2867
timestamp    2014-04-10 22:55:00
value                    12.0867
Name: 2867, dtype: object
2868
timestamp    2014-04-10 23:00:00
value                    10.2978
Name: 2868, dtype: object
2869
timestamp    2014-04-10 23:05:00
value                    16.5266
Name: 2869, dtype: object
2870
timestamp    2014-04-10 23:10:00
value                    12.7639
Name: 2870, dtype: object
2871
timestamp    2014-04-10 23:15:00
value                    10.1125
Name: 2871, dtype: object
2872
timestamp    2014-04-10 23:20:00
value                    17.9487
Name: 2872, dtype: object
2873
timestamp    2014-04-10 23:25:00
value                    10.1791
Name: 2873, dtype: object
2874
timestamp    2014-04-10 23:30:00
value                    8.28388
Name: 2874, dtype: object
2875
timestamp    2014-04-10 23:35:00
value                    8.22308
Name: 2875, dtype: object
2876
timestamp    2014-04-10 23:40:00
value                    14.8455
Name: 2876, dtype: object
2877
timestamp    2014-04-10 23:45:00
value                    15.2784
Name: 2877, dtype: object
2878
timestamp    2014-04-10 23:50:00
value                    11.4215
Name: 2878, dtype: object
2879
timestamp    2014-04-10 23:55:00
value                    11.5201
Name: 2879, dtype: object
2880
timestamp    2014-04-11 00:00:00
value                    11.7344
Name: 2880, dtype: object
2881
timestamp    2014-04-11 00:05:00
value                    15.4817
Name: 2881, dtype: object
2882
timestamp    2014-04-11 00:10:00
value                    8.63947
Name: 2882, dtype: object
2883
timestamp    2014-04-11 00:15:00
value                    18.2203
Name: 2883, dtype: object
2884
timestamp    2014-04-11 00:20:00
value                    10.4477
Name: 2884, dtype: object
2885
timestamp    2014-04-11 00:25:00
value                    18.9964
Name: 2885, dtype: object
2886
timestamp    2014-04-11 00:30:00
value                    9.88675
Name: 2886, dtype: object
2887
timestamp    2014-04-11 00:35:00
value                     16.487
Name: 2887, dtype: object
2888
timestamp    2014-04-11 00:40:00
value                    10.4575
Name: 2888, dtype: object
2889
timestamp    2014-04-11 00:45:00
value                    8.88931
Name: 2889, dtype: object
2890
timestamp    2014-04-11 00:50:00
value                    17.6243
Name: 2890, dtype: object
2891
timestamp    2014-04-11 00:55:00
value                    17.4463
Name: 2891, dtype: object
2892
timestamp    2014-04-11 01:00:00
value                    12.4393
Name: 2892, dtype: object
2893
timestamp    2014-04-11 01:05:00
value                    15.7264
Name: 2893, dtype: object
2894
timestamp    2014-04-11 01:10:00
value                    14.1277
Name: 2894, dtype: object
2895
timestamp    2014-04-11 01:15:00
value                    17.3825
Name: 2895, dtype: object
2896
timestamp    2014-04-11 01:20:00
value                    11.4656
Name: 2896, dtype: object
2897
timestamp    2014-04-11 01:25:00
value                    13.7604
Name: 2897, dtype: object
2898
timestamp    2014-04-11 01:30:00
value                    13.3391
Name: 2898, dtype: object
2899
timestamp    2014-04-11 01:35:00
value                     11.893
Name: 2899, dtype: object
2900
timestamp    2014-04-11 01:40:00
value                     17.806
Name: 2900, dtype: object
2901
timestamp    2014-04-11 01:45:00
value                    9.82466
Name: 2901, dtype: object
2902
timestamp    2014-04-11 01:50:00
value                     9.6446
Name: 2902, dtype: object
2903
timestamp    2014-04-11 01:55:00
value                     14.346
Name: 2903, dtype: object
2904
timestamp    2014-04-11 02:00:00
value                    15.2324
Name: 2904, dtype: object
2905
timestamp    2014-04-11 02:05:00
value                    10.1408
Name: 2905, dtype: object
2906
timestamp    2014-04-11 02:10:00
value                    12.2979
Name: 2906, dtype: object
2907
timestamp    2014-04-11 02:15:00
value                    18.4122
Name: 2907, dtype: object
2908
timestamp    2014-04-11 02:20:00
value                    10.7128
Name: 2908, dtype: object
2909
timestamp    2014-04-11 02:25:00
value                     15.352
Name: 2909, dtype: object
2910
timestamp    2014-04-11 02:30:00
value                    16.1416
Name: 2910, dtype: object
2911
timestamp    2014-04-11 02:35:00
value                    12.9294
Name: 2911, dtype: object
2912
timestamp    2014-04-11 02:40:00
value                    18.3128
Name: 2912, dtype: object
2913
timestamp    2014-04-11 02:45:00
value                    16.1032
Name: 2913, dtype: object
2914
timestamp    2014-04-11 02:50:00
value                    13.0372
Name: 2914, dtype: object
2915
timestamp    2014-04-11 02:55:00
value                    14.2627
Name: 2915, dtype: object
2916
timestamp    2014-04-11 03:00:00
value                    15.6187
Name: 2916, dtype: object
2917
timestamp    2014-04-11 03:05:00
value                    14.5141
Name: 2917, dtype: object
2918
timestamp    2014-04-11 03:10:00
value                    17.6657
Name: 2918, dtype: object
2919
timestamp    2014-04-11 03:15:00
value                    11.9258
Name: 2919, dtype: object
2920
timestamp    2014-04-11 03:20:00
value                    11.2987
Name: 2920, dtype: object
2921
timestamp    2014-04-11 03:25:00
value                    10.3522
Name: 2921, dtype: object
2922
timestamp    2014-04-11 03:30:00
value                    8.41561
Name: 2922, dtype: object
2923
timestamp    2014-04-11 03:35:00
value                    8.47315
Name: 2923, dtype: object
2924
timestamp    2014-04-11 03:40:00
value                    17.5706
Name: 2924, dtype: object
2925
timestamp    2014-04-11 03:45:00
value                    15.4623
Name: 2925, dtype: object
2926
timestamp    2014-04-11 03:50:00
value                    15.2659
Name: 2926, dtype: object
2927
timestamp    2014-04-11 03:55:00
value                    14.7611
Name: 2927, dtype: object
2928
timestamp    2014-04-11 04:00:00
value                    17.3414
Name: 2928, dtype: object
2929
timestamp    2014-04-11 04:05:00
value                    13.2829
Name: 2929, dtype: object
2930
timestamp    2014-04-11 04:10:00
value                    17.5745
Name: 2930, dtype: object
2931
timestamp    2014-04-11 04:15:00
value                    11.9539
Name: 2931, dtype: object
2932
timestamp    2014-04-11 04:20:00
value                    18.1938
Name: 2932, dtype: object
2933
timestamp    2014-04-11 04:25:00
value                    15.6852
Name: 2933, dtype: object
2934
timestamp    2014-04-11 04:30:00
value                    10.8289
Name: 2934, dtype: object
2935
timestamp    2014-04-11 04:35:00
value                    14.2049
Name: 2935, dtype: object
2936
timestamp    2014-04-11 04:40:00
value                    13.8633
Name: 2936, dtype: object
2937
timestamp    2014-04-11 04:45:00
value                    9.51689
Name: 2937, dtype: object
2938
timestamp    2014-04-11 04:50:00
value                    14.5037
Name: 2938, dtype: object
2939
timestamp    2014-04-11 04:55:00
value                    11.4626
Name: 2939, dtype: object
2940
timestamp    2014-04-11 05:00:00
value                    8.57584
Name: 2940, dtype: object
2941
timestamp    2014-04-11 05:05:00
value                    18.4352
Name: 2941, dtype: object
2942
timestamp    2014-04-11 05:10:00
value                    15.0564
Name: 2942, dtype: object
2943
timestamp    2014-04-11 05:15:00
value                    17.6461
Name: 2943, dtype: object
2944
timestamp    2014-04-11 05:20:00
value                    15.4366
Name: 2944, dtype: object
2945
timestamp    2014-04-11 05:25:00
value                    11.9268
Name: 2945, dtype: object
2946
timestamp    2014-04-11 05:30:00
value                    13.6396
Name: 2946, dtype: object
2947
timestamp    2014-04-11 05:35:00
value                    15.4332
Name: 2947, dtype: object
2948
timestamp    2014-04-11 05:40:00
value                    18.5628
Name: 2948, dtype: object
2949
timestamp    2014-04-11 05:45:00
value                    10.7904
Name: 2949, dtype: object
2950
timestamp    2014-04-11 05:50:00
value                    17.6247
Name: 2950, dtype: object
2951
timestamp    2014-04-11 05:55:00
value                    18.1649
Name: 2951, dtype: object
2952
timestamp    2014-04-11 06:00:00
value                    15.3746
Name: 2952, dtype: object
2953
timestamp    2014-04-11 06:05:00
value                    18.2439
Name: 2953, dtype: object
2954
timestamp    2014-04-11 06:10:00
value                    12.3767
Name: 2954, dtype: object
2955
timestamp    2014-04-11 06:15:00
value                    18.4832
Name: 2955, dtype: object
2956
timestamp    2014-04-11 06:20:00
value                    15.7306
Name: 2956, dtype: object
2957
timestamp    2014-04-11 06:25:00
value                    8.46206
Name: 2957, dtype: object
2958
timestamp    2014-04-11 06:30:00
value                    17.9756
Name: 2958, dtype: object
2959
timestamp    2014-04-11 06:35:00
value                    13.3292
Name: 2959, dtype: object
2960
timestamp    2014-04-11 06:40:00
value                    13.0636
Name: 2960, dtype: object
2961
timestamp    2014-04-11 06:45:00
value                    14.2311
Name: 2961, dtype: object
2962
timestamp    2014-04-11 06:50:00
value                    9.64323
Name: 2962, dtype: object
2963
timestamp    2014-04-11 06:55:00
value                    13.1608
Name: 2963, dtype: object
2964
timestamp    2014-04-11 07:00:00
value                    17.1424
Name: 2964, dtype: object
2965
timestamp    2014-04-11 07:05:00
value                    8.17031
Name: 2965, dtype: object
2966
timestamp    2014-04-11 07:10:00
value                    11.0021
Name: 2966, dtype: object
2967
timestamp    2014-04-11 07:15:00
value                      8.027
Name: 2967, dtype: object
2968
timestamp    2014-04-11 07:20:00
value                    12.5728
Name: 2968, dtype: object
2969

timestamp    2014-04-11 07:25:00
value                    16.0115
Name: 2969, dtype: object
2970
timestamp    2014-04-11 07:30:00
value                    16.7865
Name: 2970, dtype: object
2971
timestamp    2014-04-11 07:35:00
value                    18.3971
Name: 2971, dtype: object
2972
timestamp    2014-04-11 07:40:00
value                    14.6936
Name: 2972, dtype: object
2973
timestamp    2014-04-11 07:45:00
value                    10.8009
Name: 2973, dtype: object
2974
timestamp    2014-04-11 07:50:00
value                    18.1656
Name: 2974, dtype: object
2975
timestamp    2014-04-11 07:55:00
value                    16.5285
Name: 2975, dtype: object
2976
timestamp    2014-04-11 08:00:00
value                    14.3187
Name: 2976, dtype: object
2977
timestamp    2014-04-11 08:05:00
value                     15.652
Name: 2977, dtype: object
2978
timestamp    2014-04-11 08:10:00
value                    18.1675
Name: 2978, dtype: object
2979
timestamp    2014-04-11 08:15:00
value                    15.8363
Name: 2979, dtype: object
2980
timestamp    2014-04-11 08:20:00
value                    12.0521
Name: 2980, dtype: object
2981
timestamp    2014-04-11 08:25:00
value                    15.8433
Name: 2981, dtype: object
2982
timestamp    2014-04-11 08:30:00
value                    8.44306
Name: 2982, dtype: object
2983
timestamp    2014-04-11 08:35:00
value                    12.2506
Name: 2983, dtype: object
2984
timestamp    2014-04-11 08:40:00
value                    12.4696
Name: 2984, dtype: object
2985
timestamp    2014-04-11 08:45:00
value                    9.83522
Name: 2985, dtype: object
2986
timestamp    2014-04-11 08:50:00
value                    8.25394
Name: 2986, dtype: object
2987
timestamp    2014-04-11 08:55:00
value                    9.46719
Name: 2987, dtype: object
2988
timestamp    2014-04-11 09:00:00
value                    15.2008
Name: 2988, dtype: object
2989
timestamp    2014-04-11 09:05:00
value                    16.8252
Name: 2989, dtype: object
2990
timestamp    2014-04-11 09:10:00
value                    18.8702
Name: 2990, dtype: object
2991
timestamp    2014-04-11 09:15:00
value                      11.81
Name: 2991, dtype: object
2992
timestamp    2014-04-11 09:20:00
value                    14.5932
Name: 2992, dtype: object
2993
timestamp    2014-04-11 09:25:00
value                    18.3086
Name: 2993, dtype: object
2994
timestamp    2014-04-11 09:30:00
value                    9.83746
Name: 2994, dtype: object
2995
timestamp    2014-04-11 09:35:00
value                    15.8941
Name: 2995, dtype: object
2996
timestamp    2014-04-11 09:40:00
value                    16.3048
Name: 2996, dtype: object
2997
timestamp    2014-04-11 09:45:00
value                    8.97873
Name: 2997, dtype: object
2998
timestamp    2014-04-11 09:50:00
value                    17.4737
Name: 2998, dtype: object
2999
timestamp    2014-04-11 09:55:00
value                    16.9442
Name: 2999, dtype: object
3000
timestamp    2014-04-11 10:00:00
value                    8.36743
Name: 3000, dtype: object
3001
timestamp    2014-04-11 10:05:00
value                    9.00193
Name: 3001, dtype: object
3002
timestamp    2014-04-11 10:10:00
value                     8.5404
Name: 3002, dtype: object
3003
timestamp    2014-04-11 10:15:00
value                    11.6822
Name: 3003, dtype: object
3004
timestamp    2014-04-11 10:20:00
value                    13.6022
Name: 3004, dtype: object
3005
timestamp    2014-04-11 10:25:00
value                    13.8558
Name: 3005, dtype: object
3006
timestamp    2014-04-11 10:30:00
value                    10.9443
Name: 3006, dtype: object
3007
timestamp    2014-04-11 10:35:00
value                    18.0276
Name: 3007, dtype: object
3008
timestamp    2014-04-11 10:40:00
value                    12.0509
Name: 3008, dtype: object
3009
timestamp    2014-04-11 10:45:00
value                    8.50105
Name: 3009, dtype: object
3010
timestamp    2014-04-11 10:50:00
value                    11.3025
Name: 3010, dtype: object
3011
timestamp    2014-04-11 10:55:00
value                    13.8422
Name: 3011, dtype: object
3012
timestamp    2014-04-11 11:00:00
value                    12.4904
Name: 3012, dtype: object
3013
timestamp    2014-04-11 11:05:00
value                    11.0123
Name: 3013, dtype: object
3014
timestamp    2014-04-11 11:10:00
value                    9.44456
Name: 3014, dtype: object
3015
timestamp    2014-04-11 11:15:00
value                    17.0108
Name: 3015, dtype: object
3016
timestamp    2014-04-11 11:20:00
value                    18.9576
Name: 3016, dtype: object
3017
timestamp    2014-04-11 11:25:00
value                     11.625
Name: 3017, dtype: object
3018
timestamp    2014-04-11 11:30:00
value                    12.1978
Name: 3018, dtype: object
3019
timestamp    2014-04-11 11:35:00
value                    14.7984
Name: 3019, dtype: object
3020
timestamp    2014-04-11 11:40:00
value                    15.9029
Name: 3020, dtype: object
3021
timestamp    2014-04-11 11:45:00
value                    12.3123
Name: 3021, dtype: object
3022
timestamp    2014-04-11 11:50:00
value                    17.9542
Name: 3022, dtype: object
3023
timestamp    2014-04-11 11:55:00
value                      14.16
Name: 3023, dtype: object
3024
timestamp    2014-04-11 12:00:00
value                    12.9543
Name: 3024, dtype: object
3025
timestamp    2014-04-11 12:05:00
value                    15.1134
Name: 3025, dtype: object
3026
timestamp    2014-04-11 12:10:00
value                    18.4808
Name: 3026, dtype: object
3027
timestamp    2014-04-11 12:15:00
value                    16.7401
Name: 3027, dtype: object
3028
timestamp    2014-04-11 12:20:00
value                    8.44014
Name: 3028, dtype: object
3029
timestamp    2014-04-11 12:25:00
value                    11.6554
Name: 3029, dtype: object
3030
timestamp    2014-04-11 12:30:00
value                     13.176
Name: 3030, dtype: object
3031
timestamp    2014-04-11 12:35:00
value                    11.4597
Name: 3031, dtype: object
3032
timestamp    2014-04-11 12:40:00
value                    15.7021
Name: 3032, dtype: object
3033
timestamp    2014-04-11 12:45:00
value                     17.089
Name: 3033, dtype: object
3034
timestamp    2014-04-11 12:50:00
value                    16.0448
Name: 3034, dtype: object
3035
timestamp    2014-04-11 12:55:00
value                    18.8827
Name: 3035, dtype: object
3036
timestamp    2014-04-11 13:00:00
value                     10.998
Name: 3036, dtype: object
3037
timestamp    2014-04-11 13:05:00
value                    17.6249
Name: 3037, dtype: object
3038
timestamp    2014-04-11 13:10:00
value                    16.4328
Name: 3038, dtype: object
3039
timestamp    2014-04-11 13:15:00
value                     11.984
Name: 3039, dtype: object
3040
timestamp    2014-04-11 13:20:00
value                    16.0754
Name: 3040, dtype: object
3041
timestamp    2014-04-11 13:25:00
value                    9.14484
Name: 3041, dtype: object
3042
timestamp    2014-04-11 13:30:00
value                    16.6827
Name: 3042, dtype: object
3043
timestamp    2014-04-11 13:35:00
value                    13.8556
Name: 3043, dtype: object
3044
timestamp    2014-04-11 13:40:00
value                    11.2152
Name: 3044, dtype: object
3045
timestamp    2014-04-11 13:45:00
value                    15.2136
Name: 3045, dtype: object
3046
timestamp    2014-04-11 13:50:00
value                    15.0578
Name: 3046, dtype: object
3047
timestamp    2014-04-11 13:55:00
value                    10.3043
Name: 3047, dtype: object
3048
timestamp    2014-04-11 14:00:00
value                    8.33437
Name: 3048, dtype: object
3049
timestamp    2014-04-11 14:05:00
value                    12.7698
Name: 3049, dtype: object
3050
timestamp    2014-04-11 14:10:00
value                    14.2646
Name: 3050, dtype: object
3051
timestamp    2014-04-11 14:15:00
value                    17.6427
Name: 3051, dtype: object
3052
timestamp    2014-04-11 14:20:00
value                    18.2104
Name: 3052, dtype: object
3053
timestamp    2014-04-11 14:25:00
value                    13.8169
Name: 3053, dtype: object
3054
timestamp    2014-04-11 14:30:00
value                    16.2918
Name: 3054, dtype: object
3055
timestamp    2014-04-11 14:35:00
value                    12.8323
Name: 3055, dtype: object
3056
timestamp    2014-04-11 14:40:00
value                    16.2069
Name: 3056, dtype: object
3057
timestamp    2014-04-11 14:45:00
value                    10.2528
Name: 3057, dtype: object
3058
timestamp    2014-04-11 14:50:00
value                    12.0817
Name: 3058, dtype: object
3059
timestamp    2014-04-11 14:55:00
value                    14.9765
Name: 3059, dtype: object
3060
timestamp    2014-04-11 15:00:00
value                    8.19974
Name: 3060, dtype: object
3061
timestamp    2014-04-11 15:05:00
value                    15.9471
Name: 3061, dtype: object
3062
timestamp    2014-04-11 15:10:00
value                    17.1909
Name: 3062, dtype: object
3063
timestamp    2014-04-11 15:15:00
value                    12.3906
Name: 3063, dtype: object
3064
timestamp    2014-04-11 15:20:00
value                    12.9274
Name: 3064, dtype: object
3065
timestamp    2014-04-11 15:25:00
value                    17.3641
Name: 3065, dtype: object
3066
timestamp    2014-04-11 15:30:00
value                    16.5322
Name: 3066, dtype: object
3067
timestamp    2014-04-11 15:35:00
value                    11.1696
Name: 3067, dtype: object
3068
timestamp    2014-04-11 15:40:00
value                    11.5637
Name: 3068, dtype: object
3069
timestamp    2014-04-11 15:45:00
value                    15.4677
Name: 3069, dtype: object
3070
timestamp    2014-04-11 15:50:00
value                    14.1952
Name: 3070, dtype: object
3071
timestamp    2014-04-11 15:55:00
value                    9.78453
Name: 3071, dtype: object
3072
timestamp    2014-04-11 16:00:00
value                    11.4092
Name: 3072, dtype: object
3073
timestamp    2014-04-11 16:05:00
value                    17.8998
Name: 3073, dtype: object
3074
timestamp    2014-04-11 16:10:00
value                    15.5699
Name: 3074, dtype: object
3075
timestamp    2014-04-11 16:15:00
value                    18.8457
Name: 3075, dtype: object
3076
timestamp    2014-04-11 16:20:00
value                    16.4371
Name: 3076, dtype: object
3077
timestamp    2014-04-11 16:25:00
value                    18.3617
Name: 3077, dtype: object
3078
timestamp    2014-04-11 16:30:00
value                    10.3781
Name: 3078, dtype: object
3079
timestamp    2014-04-11 16:35:00
value                    16.4863
Name: 3079, dtype: object
3080
timestamp    2014-04-11 16:40:00
value                    8.22239
Name: 3080, dtype: object
3081
timestamp    2014-04-11 16:45:00
value                    15.3784
Name: 3081, dtype: object
3082
timestamp    2014-04-11 16:50:00
value                    13.1621
Name: 3082, dtype: object
3083
timestamp    2014-04-11 16:55:00
value                    11.8144
Name: 3083, dtype: object
3084
timestamp    2014-04-11 17:00:00
value                    17.4864
Name: 3084, dtype: object

3085
timestamp    2014-04-11 17:05:00
value                    17.3969
Name: 3085, dtype: object
3086
timestamp    2014-04-11 17:10:00
value                    8.24532
Name: 3086, dtype: object
3087
timestamp    2014-04-11 17:15:00
value                    14.7046
Name: 3087, dtype: object
3088
timestamp    2014-04-11 17:20:00
value                    12.0462
Name: 3088, dtype: object
3089
timestamp    2014-04-11 17:25:00
value                    12.5723
Name: 3089, dtype: object
3090
timestamp    2014-04-11 17:30:00
value                    17.1524
Name: 3090, dtype: object
3091
timestamp    2014-04-11 17:35:00
value                    11.4082
Name: 3091, dtype: object
3092
timestamp    2014-04-11 17:40:00
value                    18.3735
Name: 3092, dtype: object
3093
timestamp    2014-04-11 17:45:00
value                    9.97597
Name: 3093, dtype: object
3094
timestamp    2014-04-11 17:50:00
value                    15.2899
Name: 3094, dtype: object
3095
timestamp    2014-04-11 17:55:00
value                    15.3932
Name: 3095, dtype: object
3096
timestamp    2014-04-11 18:00:00
value                    10.7741
Name: 3096, dtype: object
3097
timestamp    2014-04-11 18:05:00
value                    11.5723
Name: 3097, dtype: object
3098
timestamp    2014-04-11 18:10:00
value                    17.1828
Name: 3098, dtype: object
3099
timestamp    2014-04-11 18:15:00
value                    16.3799
Name: 3099, dtype: object
3100
timestamp    2014-04-11 18:20:00
value                    11.6201
Name: 3100, dtype: object
3101
timestamp    2014-04-11 18:25:00
value                    13.8735
Name: 3101, dtype: object
3102
timestamp    2014-04-11 18:30:00
value                    8.67848
Name: 3102, dtype: object
3103
timestamp    2014-04-11 18:35:00
value                    10.2962
Name: 3103, dtype: object
3104
timestamp    2014-04-11 18:40:00
value                     13.344
Name: 3104, dtype: object
3105
timestamp    2014-04-11 18:45:00
value                    8.94571
Name: 3105, dtype: object
3106
timestamp    2014-04-11 18:50:00
value                    17.2767
Name: 3106, dtype: object
3107
timestamp    2014-04-11 18:55:00
value                    15.8981
Name: 3107, dtype: object
3108
timestamp    2014-04-11 19:00:00
value                      18.38
Name: 3108, dtype: object
3109
timestamp    2014-04-11 19:05:00
value                    15.6281
Name: 3109, dtype: object
3110
timestamp    2014-04-11 19:10:00
value                    18.3444
Name: 3110, dtype: object
3111
timestamp    2014-04-11 19:15:00
value                    14.0996
Name: 3111, dtype: object
3112
timestamp    2014-04-11 19:20:00
value                    14.6024
Name: 3112, dtype: object
3113
timestamp    2014-04-11 19:25:00
value                    18.7467
Name: 3113, dtype: object
3114
timestamp    2014-04-11 19:30:00
value                    15.0634
Name: 3114, dtype: object
3115
timestamp    2014-04-11 19:35:00
value                    8.33865
Name: 3115, dtype: object
3116
timestamp    2014-04-11 19:40:00
value                    15.9618
Name: 3116, dtype: object
3117
timestamp    2014-04-11 19:45:00
value                    17.9602
Name: 3117, dtype: object
3118
timestamp    2014-04-11 19:50:00
value                    16.7514
Name: 3118, dtype: object
3119
timestamp    2014-04-11 19:55:00
value                    14.4222
Name: 3119, dtype: object
3120
timestamp    2014-04-11 20:00:00
value                    15.3843
Name: 3120, dtype: object
3121
timestamp    2014-04-11 20:05:00
value                    18.8921
Name: 3121, dtype: object
3122
timestamp    2014-04-11 20:10:00
value                    8.99728
Name: 3122, dtype: object
3123
timestamp    2014-04-11 20:15:00
value                    15.3397
Name: 3123, dtype: object
3124
timestamp    2014-04-11 20:20:00
value                    11.1174
Name: 3124, dtype: object
3125
timestamp    2014-04-11 20:25:00
value                     15.041
Name: 3125, dtype: object
3126
timestamp    2014-04-11 20:30:00
value                    14.6839
Name: 3126, dtype: object
3127
timestamp    2014-04-11 20:35:00
value                    9.68803
Name: 3127, dtype: object
3128
timestamp    2014-04-11 20:40:00
value                    10.2742
Name: 3128, dtype: object
3129
timestamp    2014-04-11 20:45:00
value                    14.8379
Name: 3129, dtype: object
3130
timestamp    2014-04-11 20:50:00
value                    9.41053
Name: 3130, dtype: object
3131
timestamp    2014-04-11 20:55:00
value                     10.917
Name: 3131, dtype: object
3132
timestamp    2014-04-11 21:00:00
value                    17.1877
Name: 3132, dtype: object
3133
timestamp    2014-04-11 21:05:00
value                     11.598
Name: 3133, dtype: object
3134
timestamp    2014-04-11 21:10:00
value                    13.3687
Name: 3134, dtype: object
3135
timestamp    2014-04-11 21:15:00
value                    18.3525
Name: 3135, dtype: object
3136
timestamp    2014-04-11 21:20:00
value                    10.4986
Name: 3136, dtype: object
3137
timestamp    2014-04-11 21:25:00
value                    12.2859
Name: 3137, dtype: object
3138
timestamp    2014-04-11 21:30:00
value                     14.671
Name: 3138, dtype: object
3139
timestamp    2014-04-11 21:35:00
value                    16.3087
Name: 3139, dtype: object
3140
timestamp    2014-04-11 21:40:00
value                    17.9182
Name: 3140, dtype: object
3141
timestamp    2014-04-11 21:45:00
value                    18.0702
Name: 3141, dtype: object
3142
timestamp    2014-04-11 21:50:00
value                     16.543
Name: 3142, dtype: object
3143
timestamp    2014-04-11 21:55:00
value                    10.5116
Name: 3143, dtype: object
3144
timestamp    2014-04-11 22:00:00
value                     8.2729
Name: 3144, dtype: object
3145
timestamp    2014-04-11 22:05:00
value                    12.2215
Name: 3145, dtype: object
3146
timestamp    2014-04-11 22:10:00
value                    9.55704
Name: 3146, dtype: object
3147
timestamp    2014-04-11 22:15:00
value                    15.8143
Name: 3147, dtype: object
3148
timestamp    2014-04-11 22:20:00
value                    15.2724
Name: 3148, dtype: object
3149
timestamp    2014-04-11 22:25:00
value                    8.48369
Name: 3149, dtype: object
3150
timestamp    2014-04-11 22:30:00
value                    17.2025
Name: 3150, dtype: object
3151
timestamp    2014-04-11 22:35:00
value                    10.7362
Name: 3151, dtype: object
3152
timestamp    2014-04-11 22:40:00
value                    12.7545
Name: 3152, dtype: object
3153
timestamp    2014-04-11 22:45:00
value                    15.3473
Name: 3153, dtype: object
3154
timestamp    2014-04-11 22:50:00
value                    12.7236
Name: 3154, dtype: object
3155
timestamp    2014-04-11 22:55:00
value                    12.8542
Name: 3155, dtype: object
3156
timestamp    2014-04-11 23:00:00
value                    8.72191
Name: 3156, dtype: object
3157
timestamp    2014-04-11 23:05:00
value                    12.4159
Name: 3157, dtype: object
3158
timestamp    2014-04-11 23:10:00
value                    16.4133
Name: 3158, dtype: object
3159
timestamp    2014-04-11 23:15:00
value                    18.0669
Name: 3159, dtype: object
3160
timestamp    2014-04-11 23:20:00
value                    12.5485
Name: 3160, dtype: object
3161
timestamp    2014-04-11 23:25:00
value                    12.6594
Name: 3161, dtype: object
3162
timestamp    2014-04-11 23:30:00
value                    15.7289
Name: 3162, dtype: object
3163
timestamp    2014-04-11 23:35:00
value                    18.3705
Name: 3163, dtype: object
3164
timestamp    2014-04-11 23:40:00
value                    10.9377
Name: 3164, dtype: object
3165
timestamp    2014-04-11 23:45:00
value                    12.8416
Name: 3165, dtype: object
3166
timestamp    2014-04-11 23:50:00
value                    16.7557
Name: 3166, dtype: object
3167
timestamp    2014-04-11 23:55:00
value                    14.7066
Name: 3167, dtype: object
3168
timestamp    2014-04-12 00:00:00
value                    9.21645
Name: 3168, dtype: object
3169
timestamp    2014-04-12 00:05:00
value                    14.9051
Name: 3169, dtype: object
3170
timestamp    2014-04-12 00:10:00
value                    10.0542
Name: 3170, dtype: object
3171
timestamp    2014-04-12 00:15:00
value                    13.6124
Name: 3171, dtype: object
3172
timestamp    2014-04-12 00:20:00
value                    13.8201
Name: 3172, dtype: object
3173
timestamp    2014-04-12 00:25:00
value                    17.6382
Name: 3173, dtype: object
3174
timestamp    2014-04-12 00:30:00
value                    13.0874
Name: 3174, dtype: object
3175
timestamp    2014-04-12 00:35:00
value                    11.0739
Name: 3175, dtype: object
3176
timestamp    2014-04-12 00:40:00
value                    10.5406
Name: 3176, dtype: object
3177
timestamp    2014-04-12 00:45:00
value                    17.6168
Name: 3177, dtype: object
3178
timestamp    2014-04-12 00:50:00
value                    9.88112
Name: 3178, dtype: object
3179
timestamp    2014-04-12 00:55:00
value                    12.6846
Name: 3179, dtype: object
3180
timestamp    2014-04-12 01:00:00
value                    10.0589
Name: 3180, dtype: object
3181
timestamp    2014-04-12 01:05:00
value                    16.5063
Name: 3181, dtype: object
3182
timestamp    2014-04-12 01:10:00
value                    13.2181
Name: 3182, dtype: object
3183
timestamp    2014-04-12 01:15:00
value                    11.8626
Name: 3183, dtype: object
3184
timestamp    2014-04-12 01:20:00
value                    11.9721
Name: 3184, dtype: object
3185
timestamp    2014-04-12 01:25:00
value                    17.3744
Name: 3185, dtype: object
3186
timestamp    2014-04-12 01:30:00
value                    14.0915
Name: 3186, dtype: object
3187
timestamp    2014-04-12 01:35:00
value                    15.8965
Name: 3187, dtype: object
3188
timestamp    2014-04-12 01:40:00
value                    17.8674
Name: 3188, dtype: object
3189
timestamp    2014-04-12 01:45:00
value                    17.9192
Name: 3189, dtype: object
3190
timestamp    2014-04-12 01:50:00
value                    11.6136
Name: 3190, dtype: object
3191
timestamp    2014-04-12 01:55:00
value                     18.477
Name: 3191, dtype: object
3192
timestamp    2014-04-12 02:00:00
value                    8.27363
Name: 3192, dtype: object
3193
timestamp    2014-04-12 02:05:00
value                    12.1452
Name: 3193, dtype: object
3194
timestamp    2014-04-12 02:10:00
value                    17.8538
Name: 3194, dtype: object
3195
timestamp    2014-04-12 02:15:00
value                     11.021
Name: 3195, dtype: object
3196
timestamp    2014-04-12 02:20:00
value                    11.0039
Name: 3196, dtype: object
3197
timestamp    2014-04-12 02:25:00
value                    11.3288
Name: 3197, dtype: object
3198
timestamp    2014-04-12 02:30:00
value                    14.7354
Name: 3198, dtype: object
3199
timestamp    2014-04-12 02:35:00
value                    12.8217
Name: 3199, dtype: object
3200
timestamp    2014-04-12 02:40:00
value                    15.9941
Name: 3200, dtype: object
3201
timestamp    2014-04-12 02:45:00
value                     17.844
Name: 3201, dtype: object
3202
timestamp    2014-04-12 02:50:00
value                    15.4162
Name: 3202, dtype: object
3203
timestamp    2014-04-12 02:55:00
value                    10.2491
Name: 3203, dtype: object
3204
timestamp    2014-04-12 03:00:00
value                    18.2595
Name: 3204, dtype: object
3205
timestamp    2014-04-12 03:05:00
value                    10.9094
Name: 3205, dtype: object
3206
timestamp    2014-04-12 03:10:00
value                    9.64884
Name: 3206, dtype: object
3207
timestamp    2014-04-12 03:15:00
value                    8.98964
Name: 3207, dtype: object
3208
timestamp    2014-04-12 03:20:00
value                    14.1972
Name: 3208, dtype: object
3209
timestamp    2014-04-12 03:25:00
value                    9.25139
Name: 3209, dtype: object
3210
timestamp    2014-04-12 03:30:00
value                    9.52653
Name: 3210, dtype: object
3211
timestamp    2014-04-12 03:35:00
value                    11.3003
Name: 3211, dtype: object
3212
timestamp    2014-04-12 03:40:00
value                    11.0982
Name: 3212, dtype: object
3213
timestamp    2014-04-12 03:45:00
value                    14.6466
Name: 3213, dtype: object
3214
timestamp    2014-04-12 03:50:00
value                    16.9842
Name: 3214, dtype: object
3215
timestamp    2014-04-12 03:55:00
value                    16.3748
Name: 3215, dtype: object
3216
timestamp    2014-04-12 04:00:00
value                    10.8873
Name: 3216, dtype: object
3217
timestamp    2014-04-12 04:05:00
value                    10.6984
Name: 3217, dtype: object
3218
timestamp    2014-04-12 04:10:00
value                    18.6237
Name: 3218, dtype: object
3219
timestamp    2014-04-12 04:15:00
value                     8.0906
Name: 3219, dtype: object
3220
timestamp    2014-04-12 04:20:00
value                    17.6769
Name: 3220, dtype: object
3221
timestamp    2014-04-12 04:25:00
value                     10.197
Name: 3221, dtype: object
3222
timestamp    2014-04-12 04:30:00
value                    18.4201
Name: 3222, dtype: object
3223
timestamp    2014-04-12 04:35:00
value                    11.7654
Name: 3223, dtype: object
3224
timestamp    2014-04-12 04:40:00
value                    12.8439
Name: 3224, dtype: object
3225
timestamp    2014-04-12 04:45:00
value                    15.7783
Name: 3225, dtype: object
3226
timestamp    2014-04-12 04:50:00
value                    14.4644
Name: 3226, dtype: object
3227
timestamp    2014-04-12 04:55:00
value                    11.4973
Name: 3227, dtype: object
3228
timestamp    2014-04-12 05:00:00
value                    14.0921
Name: 3228, dtype: object
3229
timestamp    2014-04-12 05:05:00
value                    16.0378
Name: 3229, dtype: object
3230
timestamp    2014-04-12 05:10:00
value                    8.46568
Name: 3230, dtype: object
3231
timestamp    2014-04-12 05:15:00
value                    8.12319
Name: 3231, dtype: object
3232
timestamp    2014-04-12 05:20:00
value                    13.0387
Name: 3232, dtype: object
3233
timestamp    2014-04-12 05:25:00
value                     9.4502
Name: 3233, dtype: object
3234
timestamp    2014-04-12 05:30:00
value                    15.3078
Name: 3234, dtype: object
3235
timestamp    2014-04-12 05:35:00
value                    10.3546
Name: 3235, dtype: object
3236
timestamp    2014-04-12 05:40:00
value                    12.7614
Name: 3236, dtype: object
3237
timestamp    2014-04-12 05:45:00
value                    10.1744
Name: 3237, dtype: object
3238
timestamp    2014-04-12 05:50:00
value                    14.0333
Name: 3238, dtype: object
3239
timestamp    2014-04-12 05:55:00
value                    9.27659
Name: 3239, dtype: object
3240
timestamp    2014-04-12 06:00:00
value                    8.25418

Name: 3240, dtype: object
3241
timestamp    2014-04-12 06:05:00
value                    8.56245
Name: 3241, dtype: object
3242
timestamp    2014-04-12 06:10:00
value                    18.4968
Name: 3242, dtype: object
3243
timestamp    2014-04-12 06:15:00
value                    9.56515
Name: 3243, dtype: object
3244
timestamp    2014-04-12 06:20:00
value                    15.7933
Name: 3244, dtype: object
3245
timestamp    2014-04-12 06:25:00
value                    8.74719
Name: 3245, dtype: object
3246
timestamp    2014-04-12 06:30:00
value                    9.18976
Name: 3246, dtype: object
3247
timestamp    2014-04-12 06:35:00
value                    13.5976
Name: 3247, dtype: object
3248
timestamp    2014-04-12 06:40:00
value                    13.1136
Name: 3248, dtype: object
3249
timestamp    2014-04-12 06:45:00
value                    18.4674
Name: 3249, dtype: object
3250
timestamp    2014-04-12 06:50:00
value                    18.3932
Name: 3250, dtype: object
3251
timestamp    2014-04-12 06:55:00
value                    16.5757
Name: 3251, dtype: object
3252
timestamp    2014-04-12 07:00:00
value                    14.6231
Name: 3252, dtype: object
3253
timestamp    2014-04-12 07:05:00
value                    13.0046
Name: 3253, dtype: object
3254
timestamp    2014-04-12 07:10:00
value                     11.918
Name: 3254, dtype: object
3255
timestamp    2014-04-12 07:15:00
value                     18.418
Name: 3255, dtype: object
3256
timestamp    2014-04-12 07:20:00
value                     14.632
Name: 3256, dtype: object
3257
timestamp    2014-04-12 07:25:00
value                    14.3698
Name: 3257, dtype: object
3258
timestamp    2014-04-12 07:30:00
value                    10.5509
Name: 3258, dtype: object
3259
timestamp    2014-04-12 07:35:00
value                    8.51368
Name: 3259, dtype: object
3260
timestamp    2014-04-12 07:40:00
value                    18.3971
Name: 3260, dtype: object
3261
timestamp    2014-04-12 07:45:00
value                    11.4511
Name: 3261, dtype: object
3262
timestamp    2014-04-12 07:50:00
value                    12.8685
Name: 3262, dtype: object
3263
timestamp    2014-04-12 07:55:00
value                    9.26104
Name: 3263, dtype: object
3264
timestamp    2014-04-12 08:00:00
value                    17.2062
Name: 3264, dtype: object
3265
timestamp    2014-04-12 08:05:00
value                    8.30395
Name: 3265, dtype: object
3266
timestamp    2014-04-12 08:10:00
value                    17.1739
Name: 3266, dtype: object
3267
timestamp    2014-04-12 08:15:00
value                    9.54314
Name: 3267, dtype: object
3268
timestamp    2014-04-12 08:20:00
value                    17.7522
Name: 3268, dtype: object
3269
timestamp    2014-04-12 08:25:00
value                    16.0275
Name: 3269, dtype: object
3270
timestamp    2014-04-12 08:30:00
value                    9.81137
Name: 3270, dtype: object
3271
timestamp    2014-04-12 08:35:00
value                     14.224
Name: 3271, dtype: object
3272
timestamp    2014-04-12 08:40:00
value                    11.4392
Name: 3272, dtype: object
3273
timestamp    2014-04-12 08:45:00
value                    9.96056
Name: 3273, dtype: object
3274
timestamp    2014-04-12 08:50:00
value                     17.451
Name: 3274, dtype: object
3275
timestamp    2014-04-12 08:55:00
value                    12.4388
Name: 3275, dtype: object
3276
timestamp    2014-04-12 09:00:00
value                     12.384
Name: 3276, dtype: object
3277
timestamp    2014-04-12 09:05:00
value                    9.86875
Name: 3277, dtype: object
3278
timestamp    2014-04-12 09:10:00
value                    12.2137
Name: 3278, dtype: object
3279
timestamp    2014-04-12 09:15:00
value                    17.5878
Name: 3279, dtype: object
3280
timestamp    2014-04-12 09:20:00
value                    11.9944
Name: 3280, dtype: object
3281
timestamp    2014-04-12 09:25:00
value                    18.4676
Name: 3281, dtype: object
3282
timestamp    2014-04-12 09:30:00
value                    18.4094
Name: 3282, dtype: object
3283
timestamp    2014-04-12 09:35:00
value                    9.59389
Name: 3283, dtype: object
3284
timestamp    2014-04-12 09:40:00
value                    9.95042
Name: 3284, dtype: object
3285
timestamp    2014-04-12 09:45:00
value                    17.4894
Name: 3285, dtype: object
3286
timestamp    2014-04-12 09:50:00
value                    12.3204
Name: 3286, dtype: object
3287
timestamp    2014-04-12 09:55:00
value                    8.04811
Name: 3287, dtype: object
3288
timestamp    2014-04-12 10:00:00
value                    11.0126
Name: 3288, dtype: object
3289
timestamp    2014-04-12 10:05:00
value                    14.5739
Name: 3289, dtype: object
3290
timestamp    2014-04-12 10:10:00
value                    16.7919
Name: 3290, dtype: object
3291
timestamp    2014-04-12 10:15:00
value                    9.46727
Name: 3291, dtype: object
3292
timestamp    2014-04-12 10:20:00
value                    9.21596
Name: 3292, dtype: object
3293
timestamp    2014-04-12 10:25:00
value                     18.143
Name: 3293, dtype: object
3294
timestamp    2014-04-12 10:30:00
value                    16.2626
Name: 3294, dtype: object
3295
timestamp    2014-04-12 10:35:00
value                    14.4876
Name: 3295, dtype: object
3296
timestamp    2014-04-12 10:40:00
value                    16.4611
Name: 3296, dtype: object
3297
timestamp    2014-04-12 10:45:00
value                    12.7174
Name: 3297, dtype: object
3298
timestamp    2014-04-12 10:50:00
value                     16.343
Name: 3298, dtype: object
3299
timestamp    2014-04-12 10:55:00
value                    12.0898
Name: 3299, dtype: object
3300
timestamp    2014-04-12 11:00:00
value                     10.685
Name: 3300, dtype: object
3301
timestamp    2014-04-12 11:05:00
value                    16.0191
Name: 3301, dtype: object
3302
timestamp    2014-04-12 11:10:00
value                    12.6164
Name: 3302, dtype: object
3303
timestamp    2014-04-12 11:15:00
value                    18.7951
Name: 3303, dtype: object
3304
timestamp    2014-04-12 11:20:00
value                    11.8443
Name: 3304, dtype: object
3305
timestamp    2014-04-12 11:25:00
value                     18.139
Name: 3305, dtype: object
3306
timestamp    2014-04-12 11:30:00
value                    18.2626
Name: 3306, dtype: object
3307
timestamp    2014-04-12 11:35:00
value                    10.6604
Name: 3307, dtype: object
3308
timestamp    2014-04-12 11:40:00
value                    16.7804
Name: 3308, dtype: object
3309
timestamp    2014-04-12 11:45:00
value                    12.7638
Name: 3309, dtype: object
3310
timestamp    2014-04-12 11:50:00
value                    18.0928
Name: 3310, dtype: object
3311
timestamp    2014-04-12 11:55:00
value                    12.9514
Name: 3311, dtype: object
3312
timestamp    2014-04-12 12:00:00
value                    16.1873
Name: 3312, dtype: object
3313
timestamp    2014-04-12 12:05:00
value                    13.1366
Name: 3313, dtype: object
3314
timestamp    2014-04-12 12:10:00
value                    10.5058
Name: 3314, dtype: object
3315
timestamp    2014-04-12 12:15:00
value                    10.1929
Name: 3315, dtype: object
3316
timestamp    2014-04-12 12:20:00
value                    12.6797
Name: 3316, dtype: object
3317
timestamp    2014-04-12 12:25:00
value                    16.3104
Name: 3317, dtype: object
3318
timestamp    2014-04-12 12:30:00
value                    14.6558
Name: 3318, dtype: object
3319
timestamp    2014-04-12 12:35:00
value                    15.5749
Name: 3319, dtype: object
3320
timestamp    2014-04-12 12:40:00
value                    11.1056
Name: 3320, dtype: object
3321
timestamp    2014-04-12 12:45:00
value                    13.2958
Name: 3321, dtype: object
3322
timestamp    2014-04-12 12:50:00
value                    8.48835
Name: 3322, dtype: object
3323
timestamp    2014-04-12 12:55:00
value                    16.9929
Name: 3323, dtype: object
3324
timestamp    2014-04-12 13:00:00
value                    18.8888
Name: 3324, dtype: object
3325
timestamp    2014-04-12 13:05:00
value                    12.4757
Name: 3325, dtype: object
3326
timestamp    2014-04-12 13:10:00
value                     8.1206
Name: 3326, dtype: object
3327
timestamp    2014-04-12 13:15:00
value                    9.86772
Name: 3327, dtype: object
3328
timestamp    2014-04-12 13:20:00
value                    15.1778
Name: 3328, dtype: object
3329
timestamp    2014-04-12 13:25:00
value                    14.7329
Name: 3329, dtype: object
3330
timestamp    2014-04-12 13:30:00
value                    16.6665
Name: 3330, dtype: object
3331
timestamp    2014-04-12 13:35:00
value                    10.7927
Name: 3331, dtype: object
3332
timestamp    2014-04-12 13:40:00
value                       16.4
Name: 3332, dtype: object
3333
timestamp    2014-04-12 13:45:00
value                    15.5678
Name: 3333, dtype: object
3334
timestamp    2014-04-12 13:50:00
value                     11.551
Name: 3334, dtype: object
3335
timestamp    2014-04-12 13:55:00
value                    14.0004
Name: 3335, dtype: object
3336
timestamp    2014-04-12 14:00:00
value                    9.62001
Name: 3336, dtype: object
3337
timestamp    2014-04-12 14:05:00
value                    12.9782
Name: 3337, dtype: object
3338
timestamp    2014-04-12 14:10:00
value                    17.6932
Name: 3338, dtype: object
3339
timestamp    2014-04-12 14:15:00
value                    12.6331
Name: 3339, dtype: object
3340
timestamp    2014-04-12 14:20:00
value                    17.2352
Name: 3340, dtype: object
3341
timestamp    2014-04-12 14:25:00
value                    14.4928
Name: 3341, dtype: object
3342
timestamp    2014-04-12 14:30:00
value                    10.1106
Name: 3342, dtype: object
3343
timestamp    2014-04-12 14:35:00
value                    14.3922
Name: 3343, dtype: object
3344
timestamp    2014-04-12 14:40:00
value                    13.5658
Name: 3344, dtype: object
3345
timestamp    2014-04-12 14:45:00
value                    12.3851
Name: 3345, dtype: object
3346
timestamp    2014-04-12 14:50:00
value                    9.31593
Name: 3346, dtype: object
3347
timestamp    2014-04-12 14:55:00
value                    12.5838
Name: 3347, dtype: object
3348
timestamp    2014-04-12 15:00:00
value                    8.80039
Name: 3348, dtype: object
3349
timestamp    2014-04-12 15:05:00
value                    9.08646
Name: 3349, dtype: object
3350
timestamp    2014-04-12 15:10:00
value                    12.5751
Name: 3350, dtype: object
3351
timestamp    2014-04-12 15:15:00
value                    11.3592
Name: 3351, dtype: object
3352
timestamp    2014-04-12 15:20:00
value                     18.181
Name: 3352, dtype: object
3353
timestamp    2014-04-12 15:25:00
value                    12.1328
Name: 3353, dtype: object
3354
timestamp    2014-04-12 15:30:00
value                    16.3364
Name: 3354, dtype: object
3355
timestamp    2014-04-12 15:35:00
value                    13.8327
Name: 3355, dtype: object
3356
timestamp    2014-04-12 15:40:00
value                    15.7449
Name: 3356, dtype: object
3357
timestamp    2014-04-12 15:45:00
value                    10.8613
Name: 3357, dtype: object
3358
timestamp    2014-04-12 15:50:00
value                     18.361
Name: 3358, dtype: object
3359
timestamp    2014-04-12 15:55:00
value                     13.831
Name: 3359, dtype: object
3360
timestamp    2014-04-12 16:00:00
value                    17.1446
Name: 3360, dtype: object
3361
timestamp    2014-04-12 16:05:00
value                    12.0155
Name: 3361, dtype: object
3362
timestamp    2014-04-12 16:10:00
value                    9.10232
Name: 3362, dtype: object
3363
timestamp    2014-04-12 16:15:00
value                    15.4108
Name: 3363, dtype: object
3364
timestamp    2014-04-12 16:20:00
value                    8.08536
Name: 3364, dtype: object
3365
timestamp    2014-04-12 16:25:00
value                    13.2282
Name: 3365, dtype: object
3366
timestamp    2014-04-12 16:30:00
value                    10.1208
Name: 3366, dtype: object
3367
timestamp    2014-04-12 16:35:00
value                    14.9011
Name: 3367, dtype: object
3368
timestamp    2014-04-12 16:40:00
value                    18.7736
Name: 3368, dtype: object
3369
timestamp    2014-04-12 16:45:00
value                    13.1084
Name: 3369, dtype: object
3370
timestamp    2014-04-12 16:50:00
value                    16.9925
Name: 3370, dtype: object
3371
timestamp    2014-04-12 16:55:00
value                    13.5856
Name: 3371, dtype: object
3372
timestamp    2014-04-12 17:00:00
value                    13.4542
Name: 3372, dtype: object
3373
timestamp    2014-04-12 17:05:00
value                    18.2347
Name: 3373, dtype: object
3374
timestamp    2014-04-12 17:10:00
value                    17.7896
Name: 3374, dtype: object
3375
timestamp    2014-04-12 17:15:00
value                    16.6438
Name: 3375, dtype: object
3376
timestamp    2014-04-12 17:20:00
value                    11.2588
Name: 3376, dtype: object
3377
timestamp    2014-04-12 17:25:00
value                    13.9951
Name: 3377, dtype: object
3378
timestamp    2014-04-12 17:30:00
value                    10.4629
Name: 3378, dtype: object
3379
timestamp    2014-04-12 17:35:00
value                    12.8831
Name: 3379, dtype: object
3380
timestamp    2014-04-12 17:40:00
value                    13.3263
Name: 3380, dtype: object
3381
timestamp    2014-04-12 17:45:00
value                     17.148
Name: 3381, dtype: object
3382
timestamp    2014-04-12 17:50:00
value                    17.8563
Name: 3382, dtype: object
3383
timestamp    2014-04-12 17:55:00
value                    12.5608
Name: 3383, dtype: object
3384
timestamp    2014-04-12 18:00:00
value                    8.19475
Name: 3384, dtype: object
3385
timestamp    2014-04-12 18:05:00
value                    17.4795
Name: 3385, dtype: object
3386
timestamp    2014-04-12 18:10:00
value                    9.91707
Name: 3386, dtype: object
3387
timestamp    2014-04-12 18:15:00
value                    14.8407
Name: 3387, dtype: object
3388
timestamp    2014-04-12 18:20:00
value                    8.27468
Name: 3388, dtype: object
3389
timestamp    2014-04-12 18:25:00
value                    12.3946
Name: 3389, dtype: object
3390
timestamp    2014-04-12 18:30:00
value                    18.8456
Name: 3390, dtype: object
3391
timestamp    2014-04-12 18:35:00
value                    9.10763
Name: 3391, dtype: object

3392
timestamp    2014-04-12 18:40:00
value                    12.6606
Name: 3392, dtype: object
3393
timestamp    2014-04-12 18:45:00
value                    11.3786
Name: 3393, dtype: object
3394
timestamp    2014-04-12 18:50:00
value                     17.956
Name: 3394, dtype: object
3395
timestamp    2014-04-12 18:55:00
value                    17.5627
Name: 3395, dtype: object
3396
timestamp    2014-04-12 19:00:00
value                    10.6147
Name: 3396, dtype: object
3397
timestamp    2014-04-12 19:05:00
value                    8.89307
Name: 3397, dtype: object
3398
timestamp    2014-04-12 19:10:00
value                    14.8985
Name: 3398, dtype: object
3399
timestamp    2014-04-12 19:15:00
value                    11.7001
Name: 3399, dtype: object
3400
timestamp    2014-04-12 19:20:00
value                    15.3929
Name: 3400, dtype: object
3401
timestamp    2014-04-12 19:25:00
value                    8.35332
Name: 3401, dtype: object
3402
timestamp    2014-04-12 19:30:00
value                    9.46739
Name: 3402, dtype: object
3403
timestamp    2014-04-12 19:35:00
value                    15.5501
Name: 3403, dtype: object
3404
timestamp    2014-04-12 19:40:00
value                    10.3361
Name: 3404, dtype: object
3405
timestamp    2014-04-12 19:45:00
value                    17.4335
Name: 3405, dtype: object
3406
timestamp    2014-04-12 19:50:00
value                     8.6445
Name: 3406, dtype: object
3407
timestamp    2014-04-12 19:55:00
value                    10.3703
Name: 3407, dtype: object
3408
timestamp    2014-04-12 20:00:00
value                    18.9842
Name: 3408, dtype: object
3409
timestamp    2014-04-12 20:05:00
value                    12.7638
Name: 3409, dtype: object
3410
timestamp    2014-04-12 20:10:00
value                    15.7326
Name: 3410, dtype: object
3411
timestamp    2014-04-12 20:15:00
value                    10.0093
Name: 3411, dtype: object
3412
timestamp    2014-04-12 20:20:00
value                    14.7086
Name: 3412, dtype: object
3413
timestamp    2014-04-12 20:25:00
value                    15.9872
Name: 3413, dtype: object
3414
timestamp    2014-04-12 20:30:00
value                    11.4592
Name: 3414, dtype: object
3415
timestamp    2014-04-12 20:35:00
value                    17.1179
Name: 3415, dtype: object
3416
timestamp    2014-04-12 20:40:00
value                    14.6376
Name: 3416, dtype: object
3417
timestamp    2014-04-12 20:45:00
value                    12.2804
Name: 3417, dtype: object
3418
timestamp    2014-04-12 20:50:00
value                    14.1341
Name: 3418, dtype: object
3419
timestamp    2014-04-12 20:55:00
value                    14.3444
Name: 3419, dtype: object
3420
timestamp    2014-04-12 21:00:00
value                    9.82089
Name: 3420, dtype: object
3421
timestamp    2014-04-12 21:05:00
value                    12.4301
Name: 3421, dtype: object
3422
timestamp    2014-04-12 21:10:00
value                    11.7777
Name: 3422, dtype: object
3423
timestamp    2014-04-12 21:15:00
value                    12.4099
Name: 3423, dtype: object
3424
timestamp    2014-04-12 21:20:00
value                    16.3722
Name: 3424, dtype: object
3425
timestamp    2014-04-12 21:25:00
value                    13.3079
Name: 3425, dtype: object
3426
timestamp    2014-04-12 21:30:00
value                    18.3435
Name: 3426, dtype: object
3427
timestamp    2014-04-12 21:35:00
value                    11.2304
Name: 3427, dtype: object
3428
timestamp    2014-04-12 21:40:00
value                    12.5727
Name: 3428, dtype: object
3429
timestamp    2014-04-12 21:45:00
value                    16.6565
Name: 3429, dtype: object
3430
timestamp    2014-04-12 21:50:00
value                    14.0063
Name: 3430, dtype: object
3431
timestamp    2014-04-12 21:55:00
value                    14.0173
Name: 3431, dtype: object
3432
timestamp    2014-04-12 22:00:00
value                    8.58674
Name: 3432, dtype: object
3433
timestamp    2014-04-12 22:05:00
value                    12.3846
Name: 3433, dtype: object
3434
timestamp    2014-04-12 22:10:00
value                    10.9781
Name: 3434, dtype: object
3435
timestamp    2014-04-12 22:15:00
value                    18.9927
Name: 3435, dtype: object
3436
timestamp    2014-04-12 22:20:00
value                    11.3919
Name: 3436, dtype: object
3437
timestamp    2014-04-12 22:25:00
value                    17.7295
Name: 3437, dtype: object
3438
timestamp    2014-04-12 22:30:00
value                    15.4386
Name: 3438, dtype: object
3439
timestamp    2014-04-12 22:35:00
value                    11.7501
Name: 3439, dtype: object
3440
timestamp    2014-04-12 22:40:00
value                    13.9789
Name: 3440, dtype: object
3441
timestamp    2014-04-12 22:45:00
value                    17.2459
Name: 3441, dtype: object
3442
timestamp    2014-04-12 22:50:00
value                    17.7171
Name: 3442, dtype: object
3443
timestamp    2014-04-12 22:55:00
value                    9.76433
Name: 3443, dtype: object
3444
timestamp    2014-04-12 23:00:00
value                    11.7353
Name: 3444, dtype: object
3445
timestamp    2014-04-12 23:05:00
value                    11.6875
Name: 3445, dtype: object
3446
timestamp    2014-04-12 23:10:00
value                    8.46249
Name: 3446, dtype: object
3447
timestamp    2014-04-12 23:15:00
value                    14.5806
Name: 3447, dtype: object
3448
timestamp    2014-04-12 23:20:00
value                     17.403
Name: 3448, dtype: object
3449
timestamp    2014-04-12 23:25:00
value                    12.1973
Name: 3449, dtype: object
3450
timestamp    2014-04-12 23:30:00
value                    16.1404
Name: 3450, dtype: object
3451
timestamp    2014-04-12 23:35:00
value                    14.9047
Name: 3451, dtype: object
3452
timestamp    2014-04-12 23:40:00
value                    12.1321
Name: 3452, dtype: object
3453
timestamp    2014-04-12 23:45:00
value                    9.55166
Name: 3453, dtype: object
3454
timestamp    2014-04-12 23:50:00
value                    15.8026
Name: 3454, dtype: object
3455
timestamp    2014-04-12 23:55:00
value                    17.4002
Name: 3455, dtype: object
3456
timestamp    2014-04-13 00:00:00
value                    15.5444
Name: 3456, dtype: object
3457
timestamp    2014-04-13 00:05:00
value                    8.19666
Name: 3457, dtype: object
3458
timestamp    2014-04-13 00:10:00
value                    10.3786
Name: 3458, dtype: object
3459
timestamp    2014-04-13 00:15:00
value                    8.76428
Name: 3459, dtype: object
3460
timestamp    2014-04-13 00:20:00
value                    14.2742
Name: 3460, dtype: object
3461
timestamp    2014-04-13 00:25:00
value                    16.3213
Name: 3461, dtype: object
3462
timestamp    2014-04-13 00:30:00
value                    9.21637
Name: 3462, dtype: object
3463
timestamp    2014-04-13 00:35:00
value                    17.2217
Name: 3463, dtype: object
3464
timestamp    2014-04-13 00:40:00
value                    14.1106
Name: 3464, dtype: object
3465
timestamp    2014-04-13 00:45:00
value                    15.5897
Name: 3465, dtype: object
3466
timestamp    2014-04-13 00:50:00
value                    18.6854
Name: 3466, dtype: object
3467
timestamp    2014-04-13 00:55:00
value                    8.92049
Name: 3467, dtype: object
3468
timestamp    2014-04-13 01:00:00
value                    17.9135
Name: 3468, dtype: object
3469
timestamp    2014-04-13 01:05:00
value                    9.38713
Name: 3469, dtype: object
3470
timestamp    2014-04-13 01:10:00
value                    12.3225
Name: 3470, dtype: object
3471
timestamp    2014-04-13 01:15:00
value                    17.3658
Name: 3471, dtype: object
3472
timestamp    2014-04-13 01:20:00
value                    17.9688
Name: 3472, dtype: object
3473
timestamp    2014-04-13 01:25:00
value                    13.5701
Name: 3473, dtype: object
3474
timestamp    2014-04-13 01:30:00
value                    14.5352
Name: 3474, dtype: object
3475
timestamp    2014-04-13 01:35:00
value                    15.7896
Name: 3475, dtype: object
3476
timestamp    2014-04-13 01:40:00
value                    17.1603
Name: 3476, dtype: object
3477
timestamp    2014-04-13 01:45:00
value                    9.33662
Name: 3477, dtype: object
3478
timestamp    2014-04-13 01:50:00
value                    16.9108
Name: 3478, dtype: object
3479
timestamp    2014-04-13 01:55:00
value                     13.294
Name: 3479, dtype: object
3480
timestamp    2014-04-13 02:00:00
value                    12.9569
Name: 3480, dtype: object
3481
timestamp    2014-04-13 02:05:00
value                    12.6629
Name: 3481, dtype: object
3482
timestamp    2014-04-13 02:10:00
value                    13.6013
Name: 3482, dtype: object
3483
timestamp    2014-04-13 02:15:00
value                    18.3956
Name: 3483, dtype: object
3484
timestamp    2014-04-13 02:20:00
value                    14.0302
Name: 3484, dtype: object
3485
timestamp    2014-04-13 02:25:00
value                     18.485
Name: 3485, dtype: object
3486
timestamp    2014-04-13 02:30:00
value                    9.98319
Name: 3486, dtype: object
3487
timestamp    2014-04-13 02:35:00
value                    15.9655
Name: 3487, dtype: object
3488
timestamp    2014-04-13 02:40:00
value                    16.9346
Name: 3488, dtype: object
3489
timestamp    2014-04-13 02:45:00
value                    15.4704
Name: 3489, dtype: object
3490
timestamp    2014-04-13 02:50:00
value                    14.6761
Name: 3490, dtype: object
3491
timestamp    2014-04-13 02:55:00
value                    14.2129
Name: 3491, dtype: object
3492
timestamp    2014-04-13 03:00:00
value                    17.4702
Name: 3492, dtype: object
3493
timestamp    2014-04-13 03:05:00
value                    17.0381
Name: 3493, dtype: object
3494
timestamp    2014-04-13 03:10:00
value                    9.34518
Name: 3494, dtype: object
3495
timestamp    2014-04-13 03:15:00
value                    17.3345
Name: 3495, dtype: object
3496
timestamp    2014-04-13 03:20:00
value                    12.5548
Name: 3496, dtype: object
3497
timestamp    2014-04-13 03:25:00
value                    10.7907
Name: 3497, dtype: object
3498
timestamp    2014-04-13 03:30:00
value                    17.5675
Name: 3498, dtype: object
3499
timestamp    2014-04-13 03:35:00
value                    12.7523
Name: 3499, dtype: object
3500
timestamp    2014-04-13 03:40:00
value                     16.892
Name: 3500, dtype: object
3501
timestamp    2014-04-13 03:45:00
value                    10.8974
Name: 3501, dtype: object
3502
timestamp    2014-04-13 03:50:00
value                    8.04322
Name: 3502, dtype: object
3503
timestamp    2014-04-13 03:55:00
value                    13.4501
Name: 3503, dtype: object
3504
timestamp    2014-04-13 04:00:00
value                    9.10251
Name: 3504, dtype: object
3505
timestamp    2014-04-13 04:05:00
value                    16.2981
Name: 3505, dtype: object
3506
timestamp    2014-04-13 04:10:00
value                    11.0368
Name: 3506, dtype: object
3507
timestamp    2014-04-13 04:15:00
value                    12.8801
Name: 3507, dtype: object
3508
timestamp    2014-04-13 04:20:00
value                    8.95737
Name: 3508, dtype: object
3509
timestamp    2014-04-13 04:25:00
value                    11.1533
Name: 3509, dtype: object
3510
timestamp    2014-04-13 04:30:00
value                    16.5964
Name: 3510, dtype: object
3511
timestamp    2014-04-13 04:35:00
value                    9.66747
Name: 3511, dtype: object
3512
timestamp    2014-04-13 04:40:00
value                    15.1188
Name: 3512, dtype: object
3513
timestamp    2014-04-13 04:45:00
value                    18.0917
Name: 3513, dtype: object
3514
timestamp    2014-04-13 04:50:00
value                    15.4782
Name: 3514, dtype: object
3515
timestamp    2014-04-13 04:55:00
value                    16.9212
Name: 3515, dtype: object
3516
timestamp    2014-04-13 05:00:00
value                    9.19869
Name: 3516, dtype: object
3517
timestamp    2014-04-13 05:05:00
value                    10.7581
Name: 3517, dtype: object
3518
timestamp    2014-04-13 05:10:00
value                    17.8399
Name: 3518, dtype: object
3519
timestamp    2014-04-13 05:15:00
value                    15.8662
Name: 3519, dtype: object
3520
timestamp    2014-04-13 05:20:00
value                    15.0351
Name: 3520, dtype: object
3521
timestamp    2014-04-13 05:25:00
value                    15.3014
Name: 3521, dtype: object
3522
timestamp    2014-04-13 05:30:00
value                    12.5562
Name: 3522, dtype: object
3523
timestamp    2014-04-13 05:35:00
value                    8.49012
Name: 3523, dtype: object
3524
timestamp    2014-04-13 05:40:00
value                    16.6289
Name: 3524, dtype: object
3525
timestamp    2014-04-13 05:45:00
value                    15.4658
Name: 3525, dtype: object
3526
timestamp    2014-04-13 05:50:00
value                    13.2008
Name: 3526, dtype: object
3527
timestamp    2014-04-13 05:55:00
value                    17.8974
Name: 3527, dtype: object
3528
timestamp    2014-04-13 06:00:00
value                    11.6978
Name: 3528, dtype: object
3529
timestamp    2014-04-13 06:05:00
value                    11.2375
Name: 3529, dtype: object
3530
timestamp    2014-04-13 06:10:00
value                    17.6008
Name: 3530, dtype: object
3531
timestamp    2014-04-13 06:15:00
value                    16.7669
Name: 3531, dtype: object
3532
timestamp    2014-04-13 06:20:00
value                    13.6648

Name: 3532, dtype: object
3533
timestamp    2014-04-13 06:25:00
value                    9.43808
Name: 3533, dtype: object
3534
timestamp    2014-04-13 06:30:00
value                    10.3658
Name: 3534, dtype: object
3535
timestamp    2014-04-13 06:35:00
value                    15.2185
Name: 3535, dtype: object
3536
timestamp    2014-04-13 06:40:00
value                    12.2355
Name: 3536, dtype: object
3537
timestamp    2014-04-13 06:45:00
value                    17.2012
Name: 3537, dtype: object
3538
timestamp    2014-04-13 06:50:00
value                    18.4495
Name: 3538, dtype: object
3539
timestamp    2014-04-13 06:55:00
value                     16.862
Name: 3539, dtype: object
3540
timestamp    2014-04-13 07:00:00
value                     12.153
Name: 3540, dtype: object
3541
timestamp    2014-04-13 07:05:00
value                    16.6756
Name: 3541, dtype: object
3542
timestamp    2014-04-13 07:10:00
value                    11.8659
Name: 3542, dtype: object
3543
timestamp    2014-04-13 07:15:00
value                     9.8381
Name: 3543, dtype: object
3544
timestamp    2014-04-13 07:20:00
value                    8.36733
Name: 3544, dtype: object
3545
timestamp    2014-04-13 07:25:00
value                    12.2429
Name: 3545, dtype: object
3546
timestamp    2014-04-13 07:30:00
value                    17.9392
Name: 3546, dtype: object
3547
timestamp    2014-04-13 07:35:00
value                    10.6289
Name: 3547, dtype: object
3548
timestamp    2014-04-13 07:40:00
value                    10.2716
Name: 3548, dtype: object
3549
timestamp    2014-04-13 07:45:00
value                     18.668
Name: 3549, dtype: object
3550
timestamp    2014-04-13 07:50:00
value                    8.27505
Name: 3550, dtype: object
3551
timestamp    2014-04-13 07:55:00
value                    16.6436
Name: 3551, dtype: object
3552
timestamp    2014-04-13 08:00:00
value                    11.5351
Name: 3552, dtype: object
3553
timestamp    2014-04-13 08:05:00
value                    8.41237
Name: 3553, dtype: object
3554
timestamp    2014-04-13 08:10:00
value                    18.0958
Name: 3554, dtype: object
3555
timestamp    2014-04-13 08:15:00
value                    9.53607
Name: 3555, dtype: object
3556
timestamp    2014-04-13 08:20:00
value                    14.0696
Name: 3556, dtype: object
3557
timestamp    2014-04-13 08:25:00
value                    11.0146
Name: 3557, dtype: object
3558
timestamp    2014-04-13 08:30:00
value                    8.71712
Name: 3558, dtype: object
3559
timestamp    2014-04-13 08:35:00
value                    8.54915
Name: 3559, dtype: object
3560
timestamp    2014-04-13 08:40:00
value                    9.27112
Name: 3560, dtype: object
3561
timestamp    2014-04-13 08:45:00
value                    8.78504
Name: 3561, dtype: object
3562
timestamp    2014-04-13 08:50:00
value                    16.3661
Name: 3562, dtype: object
3563
timestamp    2014-04-13 08:55:00
value                    13.3412
Name: 3563, dtype: object
3564
timestamp    2014-04-13 09:00:00
value                    11.7718
Name: 3564, dtype: object
3565
timestamp    2014-04-13 09:05:00
value                    12.6021
Name: 3565, dtype: object
3566
timestamp    2014-04-13 09:10:00
value                    18.2184
Name: 3566, dtype: object
3567
timestamp    2014-04-13 09:15:00
value                    18.0183
Name: 3567, dtype: object
3568
timestamp    2014-04-13 09:20:00
value                    15.8724
Name: 3568, dtype: object
3569
timestamp    2014-04-13 09:25:00
value                    17.7315
Name: 3569, dtype: object
3570
timestamp    2014-04-13 09:30:00
value                    11.5161
Name: 3570, dtype: object
3571
timestamp    2014-04-13 09:35:00
value                    12.1922
Name: 3571, dtype: object
3572
timestamp    2014-04-13 09:40:00
value                    14.7508
Name: 3572, dtype: object
3573
timestamp    2014-04-13 09:45:00
value                    14.8599
Name: 3573, dtype: object
3574
timestamp    2014-04-13 09:50:00
value                    13.2987
Name: 3574, dtype: object
3575
timestamp    2014-04-13 09:55:00
value                    12.4072
Name: 3575, dtype: object
3576
timestamp    2014-04-13 10:00:00
value                     18.848
Name: 3576, dtype: object
3577
timestamp    2014-04-13 10:05:00
value                    17.0324
Name: 3577, dtype: object
3578
timestamp    2014-04-13 10:10:00
value                    12.7848
Name: 3578, dtype: object
3579
timestamp    2014-04-13 10:15:00
value                    16.0002
Name: 3579, dtype: object
3580
timestamp    2014-04-13 10:20:00
value                    10.9652
Name: 3580, dtype: object
3581
timestamp    2014-04-13 10:25:00
value                    9.10186
Name: 3581, dtype: object
3582
timestamp    2014-04-13 10:30:00
value                    11.8767
Name: 3582, dtype: object
3583
timestamp    2014-04-13 10:35:00
value                    12.4327
Name: 3583, dtype: object
3584
timestamp    2014-04-13 10:40:00
value                    8.18191
Name: 3584, dtype: object
3585
timestamp    2014-04-13 10:45:00
value                    16.9627
Name: 3585, dtype: object
3586
timestamp    2014-04-13 10:50:00
value                    11.9511
Name: 3586, dtype: object
3587
timestamp    2014-04-13 10:55:00
value                    14.3846
Name: 3587, dtype: object
3588
timestamp    2014-04-13 11:00:00
value                     8.8136
Name: 3588, dtype: object
3589
timestamp    2014-04-13 11:05:00
value                    9.92497
Name: 3589, dtype: object
3590
timestamp    2014-04-13 11:10:00
value                    17.7866
Name: 3590, dtype: object
3591
timestamp    2014-04-13 11:15:00
value                    14.6956
Name: 3591, dtype: object
3592
timestamp    2014-04-13 11:20:00
value                    18.4531
Name: 3592, dtype: object
3593
timestamp    2014-04-13 11:25:00
value                    18.9863
Name: 3593, dtype: object
3594
timestamp    2014-04-13 11:30:00
value                    12.0905
Name: 3594, dtype: object
3595
timestamp    2014-04-13 11:35:00
value                    11.2868
Name: 3595, dtype: object
3596
timestamp    2014-04-13 11:40:00
value                    17.4419
Name: 3596, dtype: object
3597
timestamp    2014-04-13 11:45:00
value                    18.9847
Name: 3597, dtype: object
3598
timestamp    2014-04-13 11:50:00
value                    14.9261
Name: 3598, dtype: object
3599
timestamp    2014-04-13 11:55:00
value                    16.7465
Name: 3599, dtype: object
3600
timestamp    2014-04-13 12:00:00
value                    16.5992
Name: 3600, dtype: object
3601
timestamp    2014-04-13 12:05:00
value                    11.9087
Name: 3601, dtype: object
3602
timestamp    2014-04-13 12:10:00
value                     14.317
Name: 3602, dtype: object
3603
timestamp    2014-04-13 12:15:00
value                    17.1636
Name: 3603, dtype: object
3604
timestamp    2014-04-13 12:20:00
value                    15.5693
Name: 3604, dtype: object
3605
timestamp    2014-04-13 12:25:00
value                     8.2328
Name: 3605, dtype: object
3606
timestamp    2014-04-13 12:30:00
value                    11.7038
Name: 3606, dtype: object
3607
timestamp    2014-04-13 12:35:00
value                    9.58923
Name: 3607, dtype: object
3608
timestamp    2014-04-13 12:40:00
value                    10.5627
Name: 3608, dtype: object
3609
timestamp    2014-04-13 12:45:00
value                    17.9604
Name: 3609, dtype: object
3610
timestamp    2014-04-13 12:50:00
value                    8.40583
Name: 3610, dtype: object
3611
timestamp    2014-04-13 12:55:00
value                    10.4178
Name: 3611, dtype: object
3612
timestamp    2014-04-13 13:00:00
value                    11.4053
Name: 3612, dtype: object
3613
timestamp    2014-04-13 13:05:00
value                    14.7857
Name: 3613, dtype: object
3614
timestamp    2014-04-13 13:10:00
value                    13.8751
Name: 3614, dtype: object
3615
timestamp    2014-04-13 13:15:00
value                     10.401
Name: 3615, dtype: object
3616
timestamp    2014-04-13 13:20:00
value                    9.80665
Name: 3616, dtype: object
3617
timestamp    2014-04-13 13:25:00
value                    10.6048
Name: 3617, dtype: object
3618
timestamp    2014-04-13 13:30:00
value                    13.5278
Name: 3618, dtype: object
3619
timestamp    2014-04-13 13:35:00
value                     10.983
Name: 3619, dtype: object
3620
timestamp    2014-04-13 13:40:00
value                    18.4236
Name: 3620, dtype: object
3621
timestamp    2014-04-13 13:45:00
value                    13.1025
Name: 3621, dtype: object
3622
timestamp    2014-04-13 13:50:00
value                    8.64676
Name: 3622, dtype: object
3623
timestamp    2014-04-13 13:55:00
value                    16.0219
Name: 3623, dtype: object
3624
timestamp    2014-04-13 14:00:00
value                    11.6173
Name: 3624, dtype: object
3625
timestamp    2014-04-13 14:05:00
value                    15.1884
Name: 3625, dtype: object
3626
timestamp    2014-04-13 14:10:00
value                    11.0755
Name: 3626, dtype: object
3627
timestamp    2014-04-13 14:15:00
value                    14.2782
Name: 3627, dtype: object
3628
timestamp    2014-04-13 14:20:00
value                    16.4937
Name: 3628, dtype: object
3629
timestamp    2014-04-13 14:25:00
value                    18.2081
Name: 3629, dtype: object
3630
timestamp    2014-04-13 14:30:00
value                    10.8724
Name: 3630, dtype: object
3631
timestamp    2014-04-13 14:35:00
value                    11.6834
Name: 3631, dtype: object
3632
timestamp    2014-04-13 14:40:00
value                    13.1069
Name: 3632, dtype: object
3633
timestamp    2014-04-13 14:45:00
value                    18.1989
Name: 3633, dtype: object
3634
timestamp    2014-04-13 14:50:00
value                    17.9153
Name: 3634, dtype: object
3635
timestamp    2014-04-13 14:55:00
value                    8.98866
Name: 3635, dtype: object
3636
timestamp    2014-04-13 15:00:00
value                    9.45123
Name: 3636, dtype: object
3637
timestamp    2014-04-13 15:05:00
value                    13.4506
Name: 3637, dtype: object
3638
timestamp    2014-04-13 15:10:00
value                    9.17281
Name: 3638, dtype: object
3639
timestamp    2014-04-13 15:15:00
value                    11.8014
Name: 3639, dtype: object
3640
timestamp    2014-04-13 15:20:00
value                    9.63224
Name: 3640, dtype: object
3641
timestamp    2014-04-13 15:25:00
value                    14.9964
Name: 3641, dtype: object
3642
timestamp    2014-04-13 15:30:00
value                    18.4444
Name: 3642, dtype: object
3643
timestamp    2014-04-13 15:35:00
value                    18.9641
Name: 3643, dtype: object
3644
timestamp    2014-04-13 15:40:00
value                    12.1277
Name: 3644, dtype: object
3645
timestamp    2014-04-13 15:45:00
value                    14.5891
Name: 3645, dtype: object
3646
timestamp    2014-04-13 15:50:00
value                    17.4189
Name: 3646, dtype: object
3647
timestamp    2014-04-13 15:55:00
value                    9.29208
Name: 3647, dtype: object
3648
timestamp    2014-04-13 16:00:00
value                    15.5852
Name: 3648, dtype: object
3649
timestamp    2014-04-13 16:05:00
value                    12.4973
Name: 3649, dtype: object
3650
timestamp    2014-04-13 16:10:00
value                    10.2676
Name: 3650, dtype: object
3651
timestamp    2014-04-13 16:15:00
value                    12.4303
Name: 3651, dtype: object
3652
timestamp    2014-04-13 16:20:00
value                    8.83556
Name: 3652, dtype: object
3653

timestamp    2014-04-13 16:25:00
value                    15.6495
Name: 3653, dtype: object
3654
timestamp    2014-04-13 16:30:00
value                    10.7802
Name: 3654, dtype: object
3655
timestamp    2014-04-13 16:35:00
value                    11.4255
Name: 3655, dtype: object
3656
timestamp    2014-04-13 16:40:00
value                    9.33189
Name: 3656, dtype: object
3657
timestamp    2014-04-13 16:45:00
value                    17.5113
Name: 3657, dtype: object
3658
timestamp    2014-04-13 16:50:00
value                    13.4279
Name: 3658, dtype: object
3659
timestamp    2014-04-13 16:55:00
value                    14.2936
Name: 3659, dtype: object
3660
timestamp    2014-04-13 17:00:00
value                    14.2638
Name: 3660, dtype: object
3661
timestamp    2014-04-13 17:05:00
value                    12.5154
Name: 3661, dtype: object
3662
timestamp    2014-04-13 17:10:00
value                    10.1178
Name: 3662, dtype: object
3663
timestamp    2014-04-13 17:15:00
value                    16.1965
Name: 3663, dtype: object
3664
timestamp    2014-04-13 17:20:00
value                    9.39762
Name: 3664, dtype: object
3665
timestamp    2014-04-13 17:25:00
value                    9.14261
Name: 3665, dtype: object
3666
timestamp    2014-04-13 17:30:00
value                    15.8116
Name: 3666, dtype: object
3667
timestamp    2014-04-13 17:35:00
value                    10.2972
Name: 3667, dtype: object
3668
timestamp    2014-04-13 17:40:00
value                    11.3745
Name: 3668, dtype: object
3669
timestamp    2014-04-13 17:45:00
value                    13.2275
Name: 3669, dtype: object
3670
timestamp    2014-04-13 17:50:00
value                    12.9429
Name: 3670, dtype: object
3671
timestamp    2014-04-13 17:55:00
value                    15.7944
Name: 3671, dtype: object
3672
timestamp    2014-04-13 18:00:00
value                    14.8577
Name: 3672, dtype: object
3673
timestamp    2014-04-13 18:05:00
value                    15.0884
Name: 3673, dtype: object
3674
timestamp    2014-04-13 18:10:00
value                    15.8546
Name: 3674, dtype: object
3675
timestamp    2014-04-13 18:15:00
value                    11.2187
Name: 3675, dtype: object
3676
timestamp    2014-04-13 18:20:00
value                    11.5457
Name: 3676, dtype: object
3677
timestamp    2014-04-13 18:25:00
value                     12.818
Name: 3677, dtype: object
3678
timestamp    2014-04-13 18:30:00
value                    11.3821
Name: 3678, dtype: object
3679
timestamp    2014-04-13 18:35:00
value                    18.8343
Name: 3679, dtype: object
3680
timestamp    2014-04-13 18:40:00
value                    16.9546
Name: 3680, dtype: object
3681
timestamp    2014-04-13 18:45:00
value                     9.8112
Name: 3681, dtype: object
3682
timestamp    2014-04-13 18:50:00
value                    8.06154
Name: 3682, dtype: object
3683
timestamp    2014-04-13 18:55:00
value                    8.47062
Name: 3683, dtype: object
3684
timestamp    2014-04-13 19:00:00
value                    10.6847
Name: 3684, dtype: object
3685
timestamp    2014-04-13 19:05:00
value                     9.2572
Name: 3685, dtype: object
3686
timestamp    2014-04-13 19:10:00
value                    13.8667
Name: 3686, dtype: object
3687
timestamp    2014-04-13 19:15:00
value                    17.4379
Name: 3687, dtype: object
3688
timestamp    2014-04-13 19:20:00
value                    16.1043
Name: 3688, dtype: object
3689
timestamp    2014-04-13 19:25:00
value                    10.3717
Name: 3689, dtype: object
3690
timestamp    2014-04-13 19:30:00
value                    12.3923
Name: 3690, dtype: object
3691
timestamp    2014-04-13 19:35:00
value                    13.5868
Name: 3691, dtype: object
3692
timestamp    2014-04-13 19:40:00
value                    16.9123
Name: 3692, dtype: object
3693
timestamp    2014-04-13 19:45:00
value                    17.2303
Name: 3693, dtype: object
3694
timestamp    2014-04-13 19:50:00
value                    18.0069
Name: 3694, dtype: object
3695
timestamp    2014-04-13 19:55:00
value                    13.6017
Name: 3695, dtype: object
3696
timestamp    2014-04-13 20:00:00
value                     15.637
Name: 3696, dtype: object
3697
timestamp    2014-04-13 20:05:00
value                     9.2298
Name: 3697, dtype: object
3698
timestamp    2014-04-13 20:10:00
value                    14.2182
Name: 3698, dtype: object
3699
timestamp    2014-04-13 20:15:00
value                    10.7356
Name: 3699, dtype: object
3700
timestamp    2014-04-13 20:20:00
value                    12.7489
Name: 3700, dtype: object
3701
timestamp    2014-04-13 20:25:00
value                    14.9746
Name: 3701, dtype: object
3702
timestamp    2014-04-13 20:30:00
value                    10.8268
Name: 3702, dtype: object
3703
timestamp    2014-04-13 20:35:00
value                    8.57404
Name: 3703, dtype: object
3704
timestamp    2014-04-13 20:40:00
value                    8.11257
Name: 3704, dtype: object
3705
timestamp    2014-04-13 20:45:00
value                    8.24375
Name: 3705, dtype: object
3706
timestamp    2014-04-13 20:50:00
value                    8.09185
Name: 3706, dtype: object
3707
timestamp    2014-04-13 20:55:00
value                    9.21391
Name: 3707, dtype: object
3708
timestamp    2014-04-13 21:00:00
value                    10.6344
Name: 3708, dtype: object
3709
timestamp    2014-04-13 21:05:00
value                    10.4334
Name: 3709, dtype: object
3710
timestamp    2014-04-13 21:10:00
value                    18.8548
Name: 3710, dtype: object
3711
timestamp    2014-04-13 21:15:00
value                    11.3661
Name: 3711, dtype: object
3712
timestamp    2014-04-13 21:20:00
value                    9.40163
Name: 3712, dtype: object
3713
timestamp    2014-04-13 21:25:00
value                    14.0012
Name: 3713, dtype: object
3714
timestamp    2014-04-13 21:30:00
value                    17.4375
Name: 3714, dtype: object
3715
timestamp    2014-04-13 21:35:00
value                    15.4587
Name: 3715, dtype: object
3716
timestamp    2014-04-13 21:40:00
value                    11.2569
Name: 3716, dtype: object
3717
timestamp    2014-04-13 21:45:00
value                    14.1778
Name: 3717, dtype: object
3718
timestamp    2014-04-13 21:50:00
value                    15.8634
Name: 3718, dtype: object
3719
timestamp    2014-04-13 21:55:00
value                    16.0091
Name: 3719, dtype: object
3720
timestamp    2014-04-13 22:00:00
value                    15.3319
Name: 3720, dtype: object
3721
timestamp    2014-04-13 22:05:00
value                    17.5789
Name: 3721, dtype: object
3722
timestamp    2014-04-13 22:10:00
value                    17.5712
Name: 3722, dtype: object
3723
timestamp    2014-04-13 22:15:00
value                    14.3683
Name: 3723, dtype: object
3724
timestamp    2014-04-13 22:20:00
value                    12.7284
Name: 3724, dtype: object
3725
timestamp    2014-04-13 22:25:00
value                    15.0573
Name: 3725, dtype: object
3726
timestamp    2014-04-13 22:30:00
value                    17.0003
Name: 3726, dtype: object
3727
timestamp    2014-04-13 22:35:00
value                    8.06217
Name: 3727, dtype: object
3728
timestamp    2014-04-13 22:40:00
value                     18.912
Name: 3728, dtype: object
3729
timestamp    2014-04-13 22:45:00
value                    10.0118
Name: 3729, dtype: object
3730
timestamp    2014-04-13 22:50:00
value                    13.1727
Name: 3730, dtype: object
3731
timestamp    2014-04-13 22:55:00
value                    17.5923
Name: 3731, dtype: object
3732
timestamp    2014-04-13 23:00:00
value                    10.4754
Name: 3732, dtype: object
3733
timestamp    2014-04-13 23:05:00
value                    13.2447
Name: 3733, dtype: object
3734
timestamp    2014-04-13 23:10:00
value                     9.4584
Name: 3734, dtype: object
3735
timestamp    2014-04-13 23:15:00
value                    12.3458
Name: 3735, dtype: object
3736
timestamp    2014-04-13 23:20:00
value                    9.94849
Name: 3736, dtype: object
3737
timestamp    2014-04-13 23:25:00
value                    11.9999
Name: 3737, dtype: object
3738
timestamp    2014-04-13 23:30:00
value                    12.1081
Name: 3738, dtype: object
3739
timestamp    2014-04-13 23:35:00
value                    18.9249
Name: 3739, dtype: object
3740
timestamp    2014-04-13 23:40:00
value                    18.9429
Name: 3740, dtype: object
3741
timestamp    2014-04-13 23:45:00
value                    9.26265
Name: 3741, dtype: object
3742
timestamp    2014-04-13 23:50:00
value                    15.9857
Name: 3742, dtype: object
3743
timestamp    2014-04-13 23:55:00
value                     8.5692
Name: 3743, dtype: object
3744
timestamp    2014-04-14 00:00:00
value                    8.33211
Name: 3744, dtype: object
3745
timestamp    2014-04-14 00:05:00
value                    9.15867
Name: 3745, dtype: object
3746
timestamp    2014-04-14 00:10:00
value                    18.6203
Name: 3746, dtype: object
3747
timestamp    2014-04-14 00:15:00
value                    18.3495
Name: 3747, dtype: object
3748
timestamp    2014-04-14 00:20:00
value                    10.1332
Name: 3748, dtype: object
3749
timestamp    2014-04-14 00:25:00
value                     9.7784
Name: 3749, dtype: object
3750
timestamp    2014-04-14 00:30:00
value                    10.6459
Name: 3750, dtype: object
3751
timestamp    2014-04-14 00:35:00
value                     13.671
Name: 3751, dtype: object
3752
timestamp    2014-04-14 00:40:00
value                    14.2668
Name: 3752, dtype: object
3753
timestamp    2014-04-14 00:45:00
value                    10.4375
Name: 3753, dtype: object
3754
timestamp    2014-04-14 00:50:00
value                    16.3229
Name: 3754, dtype: object
3755
timestamp    2014-04-14 00:55:00
value                    11.4051
Name: 3755, dtype: object
3756
timestamp    2014-04-14 01:00:00
value                    18.1434
Name: 3756, dtype: object
3757
timestamp    2014-04-14 01:05:00
value                    15.2239
Name: 3757, dtype: object
3758
timestamp    2014-04-14 01:10:00
value                    12.7999
Name: 3758, dtype: object
3759
timestamp    2014-04-14 01:15:00
value                     16.689
Name: 3759, dtype: object
3760
timestamp    2014-04-14 01:20:00
value                    16.9971
Name: 3760, dtype: object
3761
timestamp    2014-04-14 01:25:00
value                    11.1953
Name: 3761, dtype: object
3762
timestamp    2014-04-14 01:30:00
value                    11.7369
Name: 3762, dtype: object
3763
timestamp    2014-04-14 01:35:00
value                    18.2955
Name: 3763, dtype: object
3764
timestamp    2014-04-14 01:40:00
value                    9.81215
Name: 3764, dtype: object
3765
timestamp    2014-04-14 01:45:00
value                    8.46365
Name: 3765, dtype: object
3766
timestamp    2014-04-14 01:50:00
value                    12.9946
Name: 3766, dtype: object
3767
timestamp    2014-04-14 01:55:00
value                    16.8133
Name: 3767, dtype: object
3768
timestamp    2014-04-14 02:00:00
value                    16.4883
Name: 3768, dtype: object
3769
timestamp    2014-04-14 02:05:00
value                    18.1148
Name: 3769, dtype: object
3770
timestamp    2014-04-14 02:10:00
value                    13.8652
Name: 3770, dtype: object
3771
timestamp    2014-04-14 02:15:00
value                    9.10071
Name: 3771, dtype: object
3772
timestamp    2014-04-14 02:20:00
value                    14.4756
Name: 3772, dtype: object
3773
timestamp    2014-04-14 02:25:00
value                    16.5624
Name: 3773, dtype: object
3774

timestamp    2014-04-14 02:30:00
value                    9.02661
Name: 3774, dtype: object
3775
timestamp    2014-04-14 02:35:00
value                    9.89923
Name: 3775, dtype: object
3776
timestamp    2014-04-14 02:40:00
value                     8.1352
Name: 3776, dtype: object
3777
timestamp    2014-04-14 02:45:00
value                    14.5302
Name: 3777, dtype: object
3778
timestamp    2014-04-14 02:50:00
value                    17.7541
Name: 3778, dtype: object
3779
timestamp    2014-04-14 02:55:00
value                    15.3773
Name: 3779, dtype: object
3780
timestamp    2014-04-14 03:00:00
value                    18.8024
Name: 3780, dtype: object
3781
timestamp    2014-04-14 03:05:00
value                    8.69337
Name: 3781, dtype: object
3782
timestamp    2014-04-14 03:10:00
value                     17.933
Name: 3782, dtype: object
3783
timestamp    2014-04-14 03:15:00
value                    16.9548
Name: 3783, dtype: object
3784
timestamp    2014-04-14 03:20:00
value                    11.4567
Name: 3784, dtype: object
3785
timestamp    2014-04-14 03:25:00
value                    18.7088
Name: 3785, dtype: object
3786
timestamp    2014-04-14 03:30:00
value                    11.1673
Name: 3786, dtype: object
3787
timestamp    2014-04-14 03:35:00
value                    17.7824
Name: 3787, dtype: object
3788
timestamp    2014-04-14 03:40:00
value                    17.6882
Name: 3788, dtype: object
3789
timestamp    2014-04-14 03:45:00
value                    16.3342
Name: 3789, dtype: object
3790
timestamp    2014-04-14 03:50:00
value                    14.1982
Name: 3790, dtype: object
3791
timestamp    2014-04-14 03:55:00
value                    9.32003
Name: 3791, dtype: object
3792
timestamp    2014-04-14 04:00:00
value                    13.8517
Name: 3792, dtype: object
3793
timestamp    2014-04-14 04:05:00
value                    11.9248
Name: 3793, dtype: object
3794
timestamp    2014-04-14 04:10:00
value                    16.7144
Name: 3794, dtype: object
3795
timestamp    2014-04-14 04:15:00
value                    16.3394
Name: 3795, dtype: object
3796
timestamp    2014-04-14 04:20:00
value                    18.0167
Name: 3796, dtype: object
3797
timestamp    2014-04-14 04:25:00
value                    8.16313
Name: 3797, dtype: object
3798
timestamp    2014-04-14 04:30:00
value                    16.9001
Name: 3798, dtype: object
3799
timestamp    2014-04-14 04:35:00
value                    18.3231
Name: 3799, dtype: object
3800
timestamp    2014-04-14 04:40:00
value                    16.6823
Name: 3800, dtype: object
3801
timestamp    2014-04-14 04:45:00
value                    9.43214
Name: 3801, dtype: object
3802
timestamp    2014-04-14 04:50:00
value                    8.89407
Name: 3802, dtype: object
3803
timestamp    2014-04-14 04:55:00
value                     8.2293
Name: 3803, dtype: object
3804
timestamp    2014-04-14 05:00:00
value                    14.9162
Name: 3804, dtype: object
3805
timestamp    2014-04-14 05:05:00
value                    14.9264
Name: 3805, dtype: object
3806
timestamp    2014-04-14 05:10:00
value                    18.8561
Name: 3806, dtype: object
3807
timestamp    2014-04-14 05:15:00
value                    12.3785
Name: 3807, dtype: object
3808
timestamp    2014-04-14 05:20:00
value                     11.651
Name: 3808, dtype: object
3809
timestamp    2014-04-14 05:25:00
value                    14.8687
Name: 3809, dtype: object
3810
timestamp    2014-04-14 05:30:00
value                    17.0817
Name: 3810, dtype: object
3811
timestamp    2014-04-14 05:35:00
value                    18.3045
Name: 3811, dtype: object
3812
timestamp    2014-04-14 05:40:00
value                    16.8344
Name: 3812, dtype: object
3813
timestamp    2014-04-14 05:45:00
value                    12.6934
Name: 3813, dtype: object
3814
timestamp    2014-04-14 05:50:00
value                    14.9841
Name: 3814, dtype: object
3815
timestamp    2014-04-14 05:55:00
value                    17.4193
Name: 3815, dtype: object
3816
timestamp    2014-04-14 06:00:00
value                    13.3967
Name: 3816, dtype: object
3817
timestamp    2014-04-14 06:05:00
value                    10.3836
Name: 3817, dtype: object
3818
timestamp    2014-04-14 06:10:00
value                    9.86696
Name: 3818, dtype: object
3819
timestamp    2014-04-14 06:15:00
value                    8.00174
Name: 3819, dtype: object
3820
timestamp    2014-04-14 06:20:00
value                    15.9006
Name: 3820, dtype: object
3821
timestamp    2014-04-14 06:25:00
value                    9.22207
Name: 3821, dtype: object
3822
timestamp    2014-04-14 06:30:00
value                    10.6822
Name: 3822, dtype: object
3823
timestamp    2014-04-14 06:35:00
value                    11.2766
Name: 3823, dtype: object
3824
timestamp    2014-04-14 06:40:00
value                    14.1642
Name: 3824, dtype: object
3825
timestamp    2014-04-14 06:45:00
value                    12.3775
Name: 3825, dtype: object
3826
timestamp    2014-04-14 06:50:00
value                    15.4214
Name: 3826, dtype: object
3827
timestamp    2014-04-14 06:55:00
value                    8.61203
Name: 3827, dtype: object
3828
timestamp    2014-04-14 07:00:00
value                    9.36333
Name: 3828, dtype: object
3829
timestamp    2014-04-14 07:05:00
value                    13.4913
Name: 3829, dtype: object
3830
timestamp    2014-04-14 07:10:00
value                    11.7066
Name: 3830, dtype: object
3831
timestamp    2014-04-14 07:15:00
value                    11.2539
Name: 3831, dtype: object
3832
timestamp    2014-04-14 07:20:00
value                    8.73731
Name: 3832, dtype: object
3833
timestamp    2014-04-14 07:25:00
value                    17.8529
Name: 3833, dtype: object
3834
timestamp    2014-04-14 07:30:00
value                      15.61
Name: 3834, dtype: object
3835
timestamp    2014-04-14 07:35:00
value                     9.3378
Name: 3835, dtype: object
3836
timestamp    2014-04-14 07:40:00
value                    8.71551
Name: 3836, dtype: object
3837
timestamp    2014-04-14 07:45:00
value                    18.7236
Name: 3837, dtype: object
3838
timestamp    2014-04-14 07:50:00
value                    15.4929
Name: 3838, dtype: object
3839
timestamp    2014-04-14 07:55:00
value                     12.592
Name: 3839, dtype: object
3840
timestamp    2014-04-14 08:00:00
value                     15.719
Name: 3840, dtype: object
3841
timestamp    2014-04-14 08:05:00
value                    16.3196
Name: 3841, dtype: object
3842
timestamp    2014-04-14 08:10:00
value                    16.5796
Name: 3842, dtype: object
3843
timestamp    2014-04-14 08:15:00
value                    13.2567
Name: 3843, dtype: object
3844
timestamp    2014-04-14 08:20:00
value                    12.7287
Name: 3844, dtype: object
3845
timestamp    2014-04-14 08:25:00
value                    8.12131
Name: 3845, dtype: object
3846
timestamp    2014-04-14 08:30:00
value                    18.1921
Name: 3846, dtype: object
3847
timestamp    2014-04-14 08:35:00
value                    14.6364
Name: 3847, dtype: object
3848
timestamp    2014-04-14 08:40:00
value                    10.2347
Name: 3848, dtype: object
3849
timestamp    2014-04-14 08:45:00
value                    18.1156
Name: 3849, dtype: object
3850
timestamp    2014-04-14 08:50:00
value                    18.0643
Name: 3850, dtype: object
3851
timestamp    2014-04-14 08:55:00
value                     18.881
Name: 3851, dtype: object
3852
timestamp    2014-04-14 09:00:00
value                    17.6146
Name: 3852, dtype: object
3853
timestamp    2014-04-14 09:05:00
value                    18.9756
Name: 3853, dtype: object
3854
timestamp    2014-04-14 09:10:00
value                    10.6915
Name: 3854, dtype: object
3855
timestamp    2014-04-14 09:15:00
value                    17.2647
Name: 3855, dtype: object
3856
timestamp    2014-04-14 09:20:00
value                    17.0533
Name: 3856, dtype: object
3857
timestamp    2014-04-14 09:25:00
value                    10.5403
Name: 3857, dtype: object
3858
timestamp    2014-04-14 09:30:00
value                    9.08281
Name: 3858, dtype: object
3859
timestamp    2014-04-14 09:35:00
value                    18.7736
Name: 3859, dtype: object
3860
timestamp    2014-04-14 09:40:00
value                    11.2563
Name: 3860, dtype: object
3861
timestamp    2014-04-14 09:45:00
value                    17.5798
Name: 3861, dtype: object
3862
timestamp    2014-04-14 09:50:00
value                     8.0454
Name: 3862, dtype: object
3863
timestamp    2014-04-14 09:55:00
value                    8.23127
Name: 3863, dtype: object
3864
timestamp    2014-04-14 10:00:00
value                    13.1246
Name: 3864, dtype: object
3865
timestamp    2014-04-14 10:05:00
value                    10.6259
Name: 3865, dtype: object
3866
timestamp    2014-04-14 10:10:00
value                    15.5883
Name: 3866, dtype: object
3867
timestamp    2014-04-14 10:15:00
value                    14.2212
Name: 3867, dtype: object
3868
timestamp    2014-04-14 10:20:00
value                    8.85234
Name: 3868, dtype: object
3869
timestamp    2014-04-14 10:25:00
value                    9.78891
Name: 3869, dtype: object
3870
timestamp    2014-04-14 10:30:00
value                    12.2685
Name: 3870, dtype: object
3871
timestamp    2014-04-14 10:35:00
value                    10.0416
Name: 3871, dtype: object
3872
timestamp    2014-04-14 10:40:00
value                    16.7144
Name: 3872, dtype: object
3873
timestamp    2014-04-14 10:45:00
value                    12.5768
Name: 3873, dtype: object
3874
timestamp    2014-04-14 10:50:00
value                    9.02775
Name: 3874, dtype: object
3875
timestamp    2014-04-14 10:55:00
value                    13.3278
Name: 3875, dtype: object
3876
timestamp    2014-04-14 11:00:00
value                    8.99922
Name: 3876, dtype: object
3877
timestamp    2014-04-14 11:05:00
value                    9.41831
Name: 3877, dtype: object
3878
timestamp    2014-04-14 11:10:00
value                    10.6357
Name: 3878, dtype: object
3879
timestamp    2014-04-14 11:15:00
value                    17.4548
Name: 3879, dtype: object
3880
timestamp    2014-04-14 11:20:00
value                    18.1707
Name: 3880, dtype: object
3881
timestamp    2014-04-14 11:25:00
value                    17.0888
Name: 3881, dtype: object
3882
timestamp    2014-04-14 11:30:00
value                    11.6748
Name: 3882, dtype: object
3883
timestamp    2014-04-14 11:35:00
value                    10.9969
Name: 3883, dtype: object
3884
timestamp    2014-04-14 11:40:00
value                    14.0407
Name: 3884, dtype: object
3885
timestamp    2014-04-14 11:45:00
value                    15.9404
Name: 3885, dtype: object
3886
timestamp    2014-04-14 11:50:00
value                    18.9271
Name: 3886, dtype: object
3887
timestamp    2014-04-14 11:55:00
value                    9.44728
Name: 3887, dtype: object
3888
timestamp    2014-04-14 12:00:00
value                    8.54221
Name: 3888, dtype: object
3889
timestamp    2014-04-14 12:05:00
value                    15.6379
Name: 3889, dtype: object
3890
timestamp    2014-04-14 12:10:00
value                    17.1545

Name: 3890, dtype: object
3891
timestamp    2014-04-14 12:15:00
value                    17.3098
Name: 3891, dtype: object
3892
timestamp    2014-04-14 12:20:00
value                    15.4631
Name: 3892, dtype: object
3893
timestamp    2014-04-14 12:25:00
value                    18.4942
Name: 3893, dtype: object
3894
timestamp    2014-04-14 12:30:00
value                    13.6211
Name: 3894, dtype: object
3895
timestamp    2014-04-14 12:35:00
value                     18.052
Name: 3895, dtype: object
3896
timestamp    2014-04-14 12:40:00
value                    18.6459
Name: 3896, dtype: object
3897
timestamp    2014-04-14 12:45:00
value                    17.3187
Name: 3897, dtype: object
3898
timestamp    2014-04-14 12:50:00
value                    11.4073
Name: 3898, dtype: object
3899
timestamp    2014-04-14 12:55:00
value                    10.1584
Name: 3899, dtype: object
3900
timestamp    2014-04-14 13:00:00
value                    14.0293
Name: 3900, dtype: object
3901
timestamp    2014-04-14 13:05:00
value                    12.9832
Name: 3901, dtype: object
3902
timestamp    2014-04-14 13:10:00
value                    17.6553
Name: 3902, dtype: object
3903
timestamp    2014-04-14 13:15:00
value                    9.10035
Name: 3903, dtype: object
3904
timestamp    2014-04-14 13:20:00
value                    10.8351
Name: 3904, dtype: object
3905
timestamp    2014-04-14 13:25:00
value                    16.2698
Name: 3905, dtype: object
3906
timestamp    2014-04-14 13:30:00
value                    9.04485
Name: 3906, dtype: object
3907
timestamp    2014-04-14 13:35:00
value                    11.5284
Name: 3907, dtype: object
3908
timestamp    2014-04-14 13:40:00
value                    12.2587
Name: 3908, dtype: object
3909
timestamp    2014-04-14 13:45:00
value                    14.8485
Name: 3909, dtype: object
3910
timestamp    2014-04-14 13:50:00
value                    9.73946
Name: 3910, dtype: object
3911
timestamp    2014-04-14 13:55:00
value                    17.4666
Name: 3911, dtype: object
3912
timestamp    2014-04-14 14:00:00
value                     12.923
Name: 3912, dtype: object
3913
timestamp    2014-04-14 14:05:00
value                    18.0872
Name: 3913, dtype: object
3914
timestamp    2014-04-14 14:10:00
value                    13.1466
Name: 3914, dtype: object
3915
timestamp    2014-04-14 14:15:00
value                    11.0254
Name: 3915, dtype: object
3916
timestamp    2014-04-14 14:20:00
value                    9.56012
Name: 3916, dtype: object
3917
timestamp    2014-04-14 14:25:00
value                     8.0412
Name: 3917, dtype: object
3918
timestamp    2014-04-14 14:30:00
value                    13.8537
Name: 3918, dtype: object
3919
timestamp    2014-04-14 14:35:00
value                    9.17872
Name: 3919, dtype: object
3920
timestamp    2014-04-14 14:40:00
value                     12.309
Name: 3920, dtype: object
3921
timestamp    2014-04-14 14:45:00
value                     14.482
Name: 3921, dtype: object
3922
timestamp    2014-04-14 14:50:00
value                    11.0325
Name: 3922, dtype: object
3923
timestamp    2014-04-14 14:55:00
value                    9.92747
Name: 3923, dtype: object
3924
timestamp    2014-04-14 15:00:00
value                    16.5219
Name: 3924, dtype: object
3925
timestamp    2014-04-14 15:05:00
value                    18.4147
Name: 3925, dtype: object
3926
timestamp    2014-04-14 15:10:00
value                    9.10484
Name: 3926, dtype: object
3927
timestamp    2014-04-14 15:15:00
value                    9.71149
Name: 3927, dtype: object
3928
timestamp    2014-04-14 15:20:00
value                    18.5601
Name: 3928, dtype: object
3929
timestamp    2014-04-14 15:25:00
value                    8.41563
Name: 3929, dtype: object
3930
timestamp    2014-04-14 15:30:00
value                     18.754
Name: 3930, dtype: object
3931
timestamp    2014-04-14 15:35:00
value                    8.05109
Name: 3931, dtype: object
3932
timestamp    2014-04-14 15:40:00
value                    17.6104
Name: 3932, dtype: object
3933
timestamp    2014-04-14 15:45:00
value                    11.3806
Name: 3933, dtype: object
3934
timestamp    2014-04-14 15:50:00
value                    18.3245
Name: 3934, dtype: object
3935
timestamp    2014-04-14 15:55:00
value                    11.4864
Name: 3935, dtype: object
3936
timestamp    2014-04-14 16:00:00
value                    15.1974
Name: 3936, dtype: object
3937
timestamp    2014-04-14 16:05:00
value                    8.88036
Name: 3937, dtype: object
3938
timestamp    2014-04-14 16:10:00
value                    10.6656
Name: 3938, dtype: object
3939
timestamp    2014-04-14 16:15:00
value                    16.5105
Name: 3939, dtype: object
3940
timestamp    2014-04-14 16:20:00
value                    13.8155
Name: 3940, dtype: object
3941
timestamp    2014-04-14 16:25:00
value                    18.2077
Name: 3941, dtype: object
3942
timestamp    2014-04-14 16:30:00
value                    12.7163
Name: 3942, dtype: object
3943
timestamp    2014-04-14 16:35:00
value                    17.5679
Name: 3943, dtype: object
3944
timestamp    2014-04-14 16:40:00
value                    12.9385
Name: 3944, dtype: object
3945
timestamp    2014-04-14 16:45:00
value                    18.7717
Name: 3945, dtype: object
3946
timestamp    2014-04-14 16:50:00
value                    18.5582
Name: 3946, dtype: object
3947
timestamp    2014-04-14 16:55:00
value                    11.6205
Name: 3947, dtype: object
3948
timestamp    2014-04-14 17:00:00
value                    17.7452
Name: 3948, dtype: object
3949
timestamp    2014-04-14 17:05:00
value                    17.3237
Name: 3949, dtype: object
3950
timestamp    2014-04-14 17:10:00
value                    10.3175
Name: 3950, dtype: object
3951
timestamp    2014-04-14 17:15:00
value                    14.8672
Name: 3951, dtype: object
3952
timestamp    2014-04-14 17:20:00
value                    8.79951
Name: 3952, dtype: object
3953
timestamp    2014-04-14 17:25:00
value                    17.2038
Name: 3953, dtype: object
3954
timestamp    2014-04-14 17:30:00
value                       9.92
Name: 3954, dtype: object
3955
timestamp    2014-04-14 17:35:00
value                    8.77896
Name: 3955, dtype: object
3956
timestamp    2014-04-14 17:40:00
value                    12.4024
Name: 3956, dtype: object
3957
timestamp    2014-04-14 17:45:00
value                    14.3461
Name: 3957, dtype: object
3958
timestamp    2014-04-14 17:50:00
value                    17.4041
Name: 3958, dtype: object
3959
timestamp    2014-04-14 17:55:00
value                    18.7167
Name: 3959, dtype: object
3960
timestamp    2014-04-14 18:00:00
value                    12.8344
Name: 3960, dtype: object
3961
timestamp    2014-04-14 18:05:00
value                    8.66492
Name: 3961, dtype: object
3962
timestamp    2014-04-14 18:10:00
value                    16.2403
Name: 3962, dtype: object
3963
timestamp    2014-04-14 18:15:00
value                    14.2169
Name: 3963, dtype: object
3964
timestamp    2014-04-14 18:20:00
value                    12.9268
Name: 3964, dtype: object
3965
timestamp    2014-04-14 18:25:00
value                     11.402
Name: 3965, dtype: object
3966
timestamp    2014-04-14 18:30:00
value                    13.5264
Name: 3966, dtype: object
3967
timestamp    2014-04-14 18:35:00
value                    11.7255
Name: 3967, dtype: object
3968
timestamp    2014-04-14 18:40:00
value                    16.3271
Name: 3968, dtype: object
3969
timestamp    2014-04-14 18:45:00
value                    13.9828
Name: 3969, dtype: object
3970
timestamp    2014-04-14 18:50:00
value                    17.6453
Name: 3970, dtype: object
3971
timestamp    2014-04-14 18:55:00
value                     13.979
Name: 3971, dtype: object
3972
timestamp    2014-04-14 19:00:00
value                    10.6209
Name: 3972, dtype: object
3973
timestamp    2014-04-14 19:05:00
value                     17.362
Name: 3973, dtype: object
3974
timestamp    2014-04-14 19:10:00
value                    14.1294
Name: 3974, dtype: object
3975
timestamp    2014-04-14 19:15:00
value                    10.2753
Name: 3975, dtype: object
3976
timestamp    2014-04-14 19:20:00
value                    14.8586
Name: 3976, dtype: object
3977
timestamp    2014-04-14 19:25:00
value                    11.9349
Name: 3977, dtype: object
3978
timestamp    2014-04-14 19:30:00
value                    17.2885
Name: 3978, dtype: object
3979
timestamp    2014-04-14 19:35:00
value                    12.9863
Name: 3979, dtype: object
3980
timestamp    2014-04-14 19:40:00
value                    15.9909
Name: 3980, dtype: object
3981
timestamp    2014-04-14 19:45:00
value                     9.0509
Name: 3981, dtype: object
3982
timestamp    2014-04-14 19:50:00
value                    12.3563
Name: 3982, dtype: object
3983
timestamp    2014-04-14 19:55:00
value                    18.8157
Name: 3983, dtype: object
3984
timestamp    2014-04-14 20:00:00
value                    16.8931
Name: 3984, dtype: object
3985
timestamp    2014-04-14 20:05:00
value                    9.75935
Name: 3985, dtype: object
3986
timestamp    2014-04-14 20:10:00
value                    11.0554
Name: 3986, dtype: object
3987
timestamp    2014-04-14 20:15:00
value                     11.628
Name: 3987, dtype: object
3988
timestamp    2014-04-14 20:20:00
value                     15.154
Name: 3988, dtype: object
3989
timestamp    2014-04-14 20:25:00
value                    16.3269
Name: 3989, dtype: object
3990
timestamp    2014-04-14 20:30:00
value                    16.2448
Name: 3990, dtype: object
3991
timestamp    2014-04-14 20:35:00
value                    13.6086
Name: 3991, dtype: object
3992
timestamp    2014-04-14 20:40:00
value                     16.919
Name: 3992, dtype: object
3993
timestamp    2014-04-14 20:45:00
value                    12.8079
Name: 3993, dtype: object
3994
timestamp    2014-04-14 20:50:00
value                    9.36269
Name: 3994, dtype: object
3995
timestamp    2014-04-14 20:55:00
value                    14.2089
Name: 3995, dtype: object
3996
timestamp    2014-04-14 21:00:00
value                    18.4753
Name: 3996, dtype: object
3997
timestamp    2014-04-14 21:05:00
value                    16.7229
Name: 3997, dtype: object
3998
timestamp    2014-04-14 21:10:00
value                    14.3657
Name: 3998, dtype: object
3999
timestamp    2014-04-14 21:15:00
value                    15.1149
Name: 3999, dtype: object
4000
timestamp    2014-04-14 21:20:00
value                    18.2362
Name: 4000, dtype: object
4001
timestamp    2014-04-14 21:25:00
value                    12.7118
Name: 4001, dtype: object
4002
timestamp    2014-04-14 21:30:00
value                    11.6453
Name: 4002, dtype: object
4003
timestamp    2014-04-14 21:35:00
value                    18.7497
Name: 4003, dtype: object
4004
timestamp    2014-04-14 21:40:00
value                    17.4979
Name: 4004, dtype: object
4005
timestamp    2014-04-14 21:45:00
value                    11.5535
Name: 4005, dtype: object
4006
timestamp    2014-04-14 21:50:00
value                    13.1016
Name: 4006, dtype: object
4007
timestamp    2014-04-14 21:55:00
value                    12.5659
Name: 4007, dtype: object
4008
timestamp    2014-04-14 22:00:00
value                    9.64005
Name: 4008, dtype: object
4009
timestamp    2014-04-14 22:05:00
value                     18.536
Name: 4009, dtype: object
4010
timestamp    2014-04-14 22:10:00
value                    12.4474

Name: 4010, dtype: object
4011
timestamp    2014-04-14 22:15:00
value                    17.6286
Name: 4011, dtype: object
4012
timestamp    2014-04-14 22:20:00
value                    10.0829
Name: 4012, dtype: object
4013
timestamp    2014-04-14 22:25:00
value                    14.0266
Name: 4013, dtype: object
4014
timestamp    2014-04-14 22:30:00
value                    8.26358
Name: 4014, dtype: object
4015
timestamp    2014-04-14 22:35:00
value                    16.4064
Name: 4015, dtype: object
4016
timestamp    2014-04-14 22:40:00
value                    14.3901
Name: 4016, dtype: object
4017
timestamp    2014-04-14 22:45:00
value                    14.8815
Name: 4017, dtype: object
4018
timestamp    2014-04-14 22:50:00
value                    8.56893
Name: 4018, dtype: object
4019
timestamp    2014-04-14 22:55:00
value                    10.3214
Name: 4019, dtype: object
4020
timestamp    2014-04-14 23:00:00
value                    8.81764
Name: 4020, dtype: object
4021
timestamp    2014-04-14 23:05:00
value                    11.1781
Name: 4021, dtype: object
4022
timestamp    2014-04-14 23:10:00
value                    14.9018
Name: 4022, dtype: object
4023
timestamp    2014-04-14 23:15:00
value                     14.228
Name: 4023, dtype: object
4024
timestamp    2014-04-14 23:20:00
value                    14.7336
Name: 4024, dtype: object
4025
timestamp    2014-04-14 23:25:00
value                    14.0418
Name: 4025, dtype: object
4026
timestamp    2014-04-14 23:30:00
value                    11.0033
Name: 4026, dtype: object
4027
timestamp    2014-04-14 23:35:00
value                    10.6896
Name: 4027, dtype: object
4028
timestamp    2014-04-14 23:40:00
value                    9.50766
Name: 4028, dtype: object
4029
timestamp    2014-04-14 23:45:00
value                    17.3398
Name: 4029, dtype: object
4030
timestamp    2014-04-14 23:50:00
value                    14.7813
Name: 4030, dtype: object
4031
timestamp    2014-04-14 23:55:00
value                    10.0516
Name: 4031, dtype: object

In [11]:
inputData #dictionary

{'timestamp': Timestamp('2014-04-14 23:55:00'), 'value': 10.0516211375}

## Create Model

from **cluster_params.py**

In [12]:
import numpy as np

def _rangeGen(data, std=1):
  """
  Return reasonable min/max values to use given the data.
  """
  dataStd = np.std(data)
  if dataStd == 0:
    dataStd = 1
  minval = np.min(data) -  std * dataStd
  maxval = np.max(data) +  std * dataStd
  return minval, maxval

In [13]:
_rangeGen(dataSets[0].data['value'])

(-7.9508824900404171, 107.95085177004042)

In [14]:
import pixiedust

Pixiedust database opened successfully

In [15]:
import json
import os
from pkg_resources import resource_stream

def getScalarMetricWithTimeOfDayAnomalyParams(metricData,
                                              minVal=None,
                                              maxVal=None,
                                              minResolution=None,
                                              tmImplementation = "cpp"):
  
  # Default values
  if minResolution is None:
    minResolution = 0.001

  # Compute min and/or max from the data if not specified
  if minVal is None or maxVal is None:
    compMinVal, compMaxVal = _rangeGen(metricData)
    if minVal is None:
      minVal = compMinVal
    if maxVal is None:
      maxVal = compMaxVal

  # Handle the corner case where the incoming min and max are the same
  if minVal == maxVal:
    maxVal = minVal + 1

  # Load model parameters and update encoder params
  if (tmImplementation is "cpp"):
    paramFileRelativePath = os.path.join(
      "anomaly_params_random_encoder",
      "best_single_metric_anomaly_params_cpp.json")
  elif (tmImplementation is "tm_cpp"):
    paramFileRelativePath = os.path.join(
      "anomaly_params_random_encoder",
      "best_single_metric_anomaly_params_tm_cpp.json")
  else:
    raise ValueError("Invalid string for tmImplementation. Try cpp or tm_cpp")

  with resource_stream(__name__, paramFileRelativePath) as infile:
    paramSet = json.load(infile)

  _fixupRandomEncoderParams(paramSet, minVal, maxVal, minResolution)

  return paramSet

In [16]:
import os
paramFileRelativePath = os.path.join("anomaly_params_random_encoder", "best_single_metric_anomaly_params_tm_cpp.json")
print paramFileRelativePath

anomaly_params_random_encoder/best_single_metric_anomaly_params_tm_cpp.json

In [17]:
#%%pixie_debugger
getScalarMetricWithTimeOfDayAnomalyParams(dataSets[0].data['value'], tmImplementation = "cpp")

IOError: [Errno 2] No such file or directory: 'anomaly_params_random_encoder/best_single_metric_anomaly_params_cpp.json'

NameError: name 'params' is not defined